<br>
<p class="header-macro-section">Immagini e WebCam - Meteo Campoli</p>
<br>
<mat-tab-group [selectedIndex]="id">
  <mat-tab label="IMMAGINI">
    <br>
    <ng-template matTabContent>
      <immagini></immagini>
    </ng-template>
  </mat-tab>
  <mat-tab label="WEBCAM MONTAGNA">
    <br>
    <ng-template matTabContent>
      <webcam-montagna></webcam-montagna>
    </ng-template>
  </mat-tab>
  <mat-tab label="WEBCAM LIMITROFE">
    <br>
    <ng-template matTabContent>
      <webcam-limitrofe></webcam-limitrofe>
    </ng-template>
  </mat-tab>
</mat-tab-group>
