<p class="title-micro-section">Cliccare sulle immagini per ingrandirle</p>
<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
<div class="row">
  <div class="col-md-5 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/dolina-neve-min.jpg" class="thumbnail">
      <p></p>
      <img src="../../assets/img/dolina-neve-min.jpg" alt="dolina campoli appennino" style="width:557px;height:246px"
           [hidden]="imageLoader" (load)="imageLoader = false;">
    </a>
  </div>
  <div class="col-md-5 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/campoli-vallata.png" class="thumbnail">
      <p></p>
      <img src="../../assets/img/campoli-vallata.png" alt="campoli foto vallata" style="width:557px;height:246px">
    </a>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/campoli-verde-min.jpg" class="thumbnail">
      <p></p>
      <img src="../../assets/img/campoli-verde-min.jpg" alt="campoli appennino" style="width:557px;height:246px">
    </a>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-5 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/albero-neve-2012.png" class="thumbnail">
      <p></p>
      <img src="../../assets/img/albero-neve-2012.png" alt="Neve 2012" style="width:507px;height:246px">
    </a>
  </div>
  <div class="col-md-5 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/campoli-appennini.png" class="thumbnail">
      <p></p>
      <img src="../../assets/img/campoli-appennini.png" alt="Campoli vista appennini" style="width:507px;height:246px">
    </a>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/lacerno.png" class="thumbnail">
      <p></p>
      <img src="../../assets/img/lacerno.png" alt="Canyon Lacerno Campoli" style="width:507px;height:246px">
    </a>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-5 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/dolina-alto-min.jpg" class="thumbnail">
      <p></p>
      <img src="../../assets/img/dolina-alto-min.jpg" alt="Dolina campoli dall'alto" style="width:507px;height:246px">
    </a>
  </div>
  <div class="col-md-5 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/campoli-innevata.png" class="thumbnail">
      <p></p>
      <img src="../../assets/img/campoli-innevata.png" alt="Campoli Innevata" style="width:507px;height:246px">
    </a>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <a href="../../assets/img/cascata-lacerno.png" class="thumbnail">
      <p></p>
      <img src="../../assets/img/cascata-lacerno.png" alt="Cascata Lacerno Campoli" style="width:507px;height:246px">
    </a>
  </div>
</div>
</div>
