<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd057" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd057/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Aritzo  " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd036" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd036/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Bitti "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd061" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd061/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Desulo - Bruncu su Pranu - Desulo " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd111" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd111/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Macomer"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd104" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd104/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Siniscola " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd068" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd068/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Orosei"/></a></span>
    </td>
  </tr>
</table>
<hr>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd046" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd046/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Valledoria" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd131" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd131/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Ardara"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd158" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd158/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di via anglona - Bulzi " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd100" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd100/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Ossoni - Castelsardo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd133" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd133/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Martis  " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd115" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd115/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Pozzomaggiore"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd089" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd089/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Ozieri  " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd138" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd138/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di sassari"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd109" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd109/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Villanova Monteleone  " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd072" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd072/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di osilo"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd079" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd079/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pula " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd074" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd074/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Monte San Vittoria - Esterzilli "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd064" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd064/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di S. Nicolu00f2 Gerrei - Pranu San - San Nicolò Gerrei " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd124" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd124/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Senorbi "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd098" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd098/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Mandas " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd073" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd073/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Punta Sebera - Teulada "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd041" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd041/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Cagliari " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd147" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd147/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Escalaplano "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd048" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd048/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Villaputzu " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd136" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd136/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di San Priamo - San Vito "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd040" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd040/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Geremeas Maracalagonis  " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd052" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd052/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Domus De Maria "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd034" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd034/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Poggio dei Pini - Capoterra" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd080" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd080/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Pula "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd058" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd058/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Assemini" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd121" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd121/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Ballao "/></a></span>
    </td>
  </tr>
</table>
<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd107" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd107/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Alà dei Sardi" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd140" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd140/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Padru"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd134" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd134/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di La Maddalena" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd118" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd118/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Golfo Aranci"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd152" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd152/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Laconi" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd108" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd108/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Samugheo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd159" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd159/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Busachi" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd010" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd010/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Oristano"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd039" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd039/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Barumini" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd055" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd055/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Capo Frasca Orbus"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd096" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd096/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Santa Maria di Neapolis" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd050" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd050/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Segariu"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd025" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd025/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Iglesias" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd077" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd077/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Flumentepido - Carbonia"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd093" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd093/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Santadi" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd078" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd078/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Porto Pino"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd122" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd122/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Tertenia" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd056" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd056/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Capo Bellavista - Tortolì"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd113" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd113/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Bau Mandara - Villagrande Strisaili" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd145" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd145/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Urzulei"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/srd063" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd063/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Osini - Punta su Scrau" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/srd114" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/srd114/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Punta Tricoli - Gairo"/></a></span>
    </td>
  </tr>
</table>
