<h1 class="header-macro-section">Statistiche Meteo - Temperature Mare</h1>

<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader" class="center">
  <br>
  <br>
  <h2 class="title-micro-section">Temperature superficiali Mare - Europa</h2>
  <img class="previsioni-frame" width="95%" height="650" alt="temperatura superficiale mar mediterraneo" rel="noreferrer"
       src="https://www.meteociel.fr/obs/sst/world/sstEurope_2022-07-30.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>

  <h2 class="title-micro-section">Anomalia di temperature superficiali Mare - Europa</h2>
  <img class="previsioni-frame" width="95%" height="650" alt="anomalia temperature mar mediterraneo" rel="noreferrer"
       src="https://www.meteociel.fr/obs/sst/world/sstEurope_anom_2022-07-30.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <h2 class="title-micro-section">Temperature globali superficiali dei Mari</h2>
  <img class="previsioni-frame" width="95%" height="650"
       src="https://www.esrl.noaa.gov/psd/map/images/sst/sst.daily.gif"
       alt="temperature globabali mare" rel="noreferrer"
       (load)="imageLoader = false;" (click)="toggleClass($event,'zoomed')"/><br/>
  <img class="previsioni-frame" width="95%" height="650" alt="temperature globabali superficiali mare" rel="noreferrer"
       src="https://www.ssec.wisc.edu/data/sst/latest_sst.gif"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <h2 class="title-micro-section">Media Temperature Mare Ultima Settimana - Europa</h2>
  <img class="previsioni-frame" width="95%" height="650" alt="media 7 giorni temperatura mare europa" rel="noreferrer"
       src="http://www.lamma.rete.toscana.it/previ/ita/sst_msg/msg_ave_7gg.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <h2 class="title-micro-section">Anomalia di temperature superficiali Mare - Mondo</h2>
  <img class="previsioni-frame" width="95%" height="650" alt="anomalia temperatura mare mondo" rel="noreferrer"
       src="https://www.meteociel.fr/cartes_obs/sstMonde_anom.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>

</div>
