<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl119" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl119/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Acquaviva delle Fonti" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl226" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl226/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Altamura centro"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl047" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl047/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Torre a Mare - Bari" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl168" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl168/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Bitonto"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl098" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl098/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Bitritto" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl250" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl250/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Zona artigianale - Locorotondo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl198" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl198/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Casamassima" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl199" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl199/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Giovinazzo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl025" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl025/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Mola di Bari" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl187" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl187/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Monopoli"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl025" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl025/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Mola di Bari" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl187" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl187/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Monopoli"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl045" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl045/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Noci" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl125" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl125/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Palo del Colle"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl231" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl231/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Polignano a Mare" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl249" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl249/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Putignano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl221" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl221/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Rutigliano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl104" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl104/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Santeramo in Colle"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl005" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl005/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Terlizzi" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl072" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl072/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Valenzano"/></a></span>
    </td>
  </tr>
</table>
<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl080" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl080/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Lecce centro" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl191" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl191/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Gallipoli Alta - Ospedale"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl197" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl197/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Via Roma - Ortelle" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl167" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl167/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Nardò Contrada Pagani"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl178" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl178/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Alessano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl241" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl241/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Aradeo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl067" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl067/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Castrignano de' Greci" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl188" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl188/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Castrignano del Capo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl094" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl094/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Cavallino" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl140" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl140/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Collepasso"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl141" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl141/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Galatina" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl139" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl139/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Galatone"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl242" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl242/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Giurdignano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl164" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl164/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Melendugno"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl266" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl266/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Minervino di Lecce" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl031" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl031/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Morciano di Leuca"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl239" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl239/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Otranto" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl245" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl245/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Porto Cesareo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl194" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl194/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Salice Salentino" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl192" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl192/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Sannicola"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl222" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl222/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Santa Cesarea Terme" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl020" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl020/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Soleto"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl227" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl227/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Specchia" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl118" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl118/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Spongano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl216" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl216/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Squinzano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl118" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl118/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Spongano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl012" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl012/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Supersano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl142" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl142/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Taurisano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl251" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl251/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Lucugnano - Tricase" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl036" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl036/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Tuglie"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl149" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl149/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Veglie " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl224" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl224/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Ugento"/></a></span>
    </td>
  </tr>
</table>
<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl131" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl131/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Brindisi" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl015" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl015/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Cisternino Pico"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl169" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl169/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Fasano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl186" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl186/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Francavilla Fontana"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl240" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl240/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Ostuni" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl176" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl176/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di San Pancrazio Salentino"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl111" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl111/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Cagnano Varano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl247" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl247/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Cerignola"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl008" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl008/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Foggia " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl248" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl248/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Lucera"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl195" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl195/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Manfredonia" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl126" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl126/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Foresta Umbra - Monte Sant'Angelo"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl218" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl218/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Roseto Valfortore" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl060" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl060/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di San Giovanni Rotondo"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl218" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl218/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Roseto Valfortore" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl124" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl124/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di San Marco in Lamis "/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl171" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl171/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Barletta" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl190" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl190/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Bisceglie"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl107" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl107/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di San Ferdinando di Puglia" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl228" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl228/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Spinazzola"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl262" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl262/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Trani" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl206" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl206/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Trinitapoli"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
        <td><span><a href="https://my.meteonetwork.it/station/pgl230" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl230/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Manduria"/></a></span>
    </td>
    <td><span><a href="https://my.meteonetwork.it/station/pgl214" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl214/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione di Maruggio"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl092" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl092/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Martina Franca" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl132" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl132/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Crispiano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/pgl128" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/pgl128/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Taranto" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
  </tr>
</table>

