

<div id="ident">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <div id="logo">
        <h2><a href="#" id="metamorph" title="descrizione">Campoli Appennino , Frosinone, Italia, Stazione Meteo Via Treo</a></h2>
      </div>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="margin-top: 38px;">
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      </script>
     <!-- <g:plusone></g:plusone> -->
    </div>
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="margin-top: 38px;">
      <!-- <a href="https://twitter.com/cdany1900" title="twitter meteo campoli" class="twitter-follow-button" data-show-count="false" data-lang="it" data-show-screen-name="false">Segui @cdany1900</a> -->
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
      <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="margin-top: 38px;">
      <div class="fb-like" data-href="http://meteocampoli.altervista.org/index.htm" data-send="true"  data-layout="button" ></div>
    </div>
  </div>
  <a name="fb_share" title="facebook meteo campoli" type="icon_link" share_url="http://meteocampoli.altervista.org/index.htm" href="http://www.facebook.com/sharer.php">
  </a>

</div>
