<div class="center">
  <!-- <ng-adsense
     [adClient]="'ca-pub-6215193089819382'"
     [adSlot]="9724605079"
     [display]="'inline-block'"
     [width]="728"
     [height]="90"></ng-adsense>-->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6215193089819382"
       data-ad-slot="8116714156"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<br>
