<ng2-adsense *ngIf="!isMobile"
             [adClient]="'ca-pub-6215193089819382'"
             [adSlot]="7409641293"
             [adFormat]="'inline'"
             [display]="'block'"
             [height]="380"
             [fullWidthResponsive]="true">
</ng2-adsense>
<ng2-adsense *ngIf="isMobile"
             [adClient]="'ca-pub-6215193089819382'"
             [adFormat]="'inline'"
             [height]="260"
             [display]="'block'"
             [adSlot]="7040002445">
</ng2-adsense>
