<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<table border="0">
  <tr>
    <td> <span> <a alt="Stazione meteo di Avezzano" href="http://my.meteonetwork.it/station/abr007" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr007/sticker-oriz1"
      class="meteonetwork-sticker" [hidden]="imageLoader" (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a alt="Stazione meteo di L'Aquila" href="http://my.meteonetwork.it/station/abr034" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr034/sticker-oriz1"
      class="meteonetwork-sticker"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a alt="Stazione meteo di Pizzoli" href="http://my.meteonetwork.it/station/abr086" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr086/sticker-oriz1"
      class="meteonetwork-sticker"/></a>
</span></td>
    <td><span><a alt="Stazione meteo di Fara San Martino" href="http://my.meteonetwork.it/station/abr063"
                 target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/abr063/sticker-oriz1"
                                      class="meteonetwork-sticker"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a alt="Stazione meteo di Chieti" href="http://my.meteonetwork.it/station/abr053" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr053/sticker-oriz1"
      class="meteonetwork-sticker"/></a>
</span></td>
    <td><span><a alt="Stazione meteo di Fara San Martino" href="http://my.meteonetwork.it/station/abr063"
                 target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/abr063/sticker-oriz1"
                                      class="meteonetwork-sticker"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a alt="Stazione meteo di San Salvo" href="http://my.meteonetwork.it/station/abr050" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr050/sticker-oriz1"
      class="meteonetwork-sticker"/></a>
</span></td>
    <td><span><a alt="Stazione meteo di Fara San Martino" href="http://my.meteonetwork.it/station/abr063"
                 target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/abr063/sticker-oriz1"
                                      class="meteonetwork-sticker"/></a></span>
    <td></td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a alt="Stazione meteo di Controguerra" href="http://my.meteonetwork.it/station/abr030"
                  target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/abr030/sticker-oriz1"
                                       class="meteonetwork-sticker"/></a>
</span></td>
    <td><span><a alt="Stazione meteo di Nereto" href="http://my.meteonetwork.it/station/abr052" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr052/sticker-oriz1"
      class="meteonetwork-sticker"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a alt="Stazione meteo di Tortoreto" href="http://my.meteonetwork.it/station/abr032" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr032/sticker-oriz1"
      class="meteonetwork-sticker"/></a>
</span></td>
    <td><span><a alt="Stazione meteo di Tortoreto" href="http://my.meteonetwork.it/station/abr105" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr105/sticker-oriz1"
      class="meteonetwork-sticker"/></a></span>
    <td></td>
  </tr>
</table>


<hr>

<table border="0">
  <tr>
    <td> <span><a alt="Stazione meteo di Loreto Aprutino" href="http://my.meteonetwork.it/station/abr106"
                  target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/abr106/sticker-oriz1"
                                       class="meteonetwork-sticker"/></a>
</span></td>
    <td><span><a alt="Stazione meteo di Pescara" href="http://my.meteonetwork.it/station/abr047" target="_blank"><img
      style="border:none;" src="http://my.meteonetwork.it/station/abr047/sticker-oriz1"
      class="meteonetwork-sticker"/></a></span>
    <td></td>
  </tr>
</table>
<br>
<br>
<button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
