<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/abr007" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr007/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Avezzano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr034" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr034/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di L'Aquila"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/abr086" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr086/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pizzoli"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr063"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/abr063/sticker-oriz1"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Fara San Martino"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/abr053" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr053/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Chieti"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr063"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/abr063/sticker-oriz1"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Fara San Martino"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/abr050" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr050/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di San Salvo"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr063"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/abr063/sticker-oriz1"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Fara San Martino"/></a></span>
    <td></td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/abr030"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/abr030/sticker-oriz1"
                                                      class="meteonetwork-sticker" width="524" height="155"
                                                      alt="Stazione meteo di Controguerra"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr052" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr052/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Nereto"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/abr032" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr032/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Tortoreto"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr105" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr105/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Tortoreto"/></a></span>
    <td></td>
  </tr>
</table>


<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/abr106"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/abr106/sticker-oriz1"
                                                      class="meteonetwork-sticker" width="524" height="155"
                                                      alt="Stazione meteo di Loreto Aprutino"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr047" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr047/sticker-oriz1"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pescara"/></a></span>
    <td></td>
  </tr>
</table>

