<div id="ident">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <div id="logo">
        <h2><a href="#" id="metamorph" title="descrizione">Campoli Appennino , Frosinone, Italia, Stazione Meteo Via
          Treo</a></h2>
      </div>
    </div>
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="margin-top: 38px;">
    </div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v5.0"></script>
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="margin-top: 38px;">
      <div class="fb-share-button" data-layout="button" data-size="small"><a target="_blank"
                                                                             href="https://www.facebook.com/plugins/share_button.php?href=https://www.facebook.com/Meteocampoli/"
                                                                             class="fb-xfbml-parse-ignore">Condividi</a>
      </div>
    </div>
  </div>
</div>
