<div class="footer">
  <span class="footer-desc"> Stazione Meteo Amatoriale VIA TREO - CAMPOLI APPENNINO - FROSINONE - ITALIA </span>
  <br>
  <br>
  <a href="https://www.iubenda.com/privacy-policy/89567827"
     class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy " rel="noreferrer">Privacy Policy</a>
  &nbsp; - &nbsp;
  <a href="https://www.iubenda.com/privacy-policy/89567827/cookie-policy"
     class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy " rel="noreferrer">Cookie Policy</a>
</div>
