<div class="footer">
  <span class="footer-desc"> Stazione Meteo Amatoriale VIA TREO - CAMPOLI APPENNINO - FROSINONE - ITALIA </span>
</div>
<div class="hidden-element">
  <a href="https://www.iubenda.com/privacy-policy/90562100" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy
    Policy</a>
  <script type="text/javascript">(function (w, d) {
    var loader = function () {
      var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
      s.src = "https://cdn.iubenda.com/iubenda.js";
      tag.parentNode.insertBefore(s, tag);
    };
    if (w.addEventListener) {
      w.addEventListener("load", loader, false);
    } else if (w.attachEvent) {
      w.attachEvent("onload", loader);
    } else {
      w.onload = loader;
    }
  })(window, document);</script>
</div>
