<br>
<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
  <div class="center">
    <p class="header-macro-section">Stazioni Rete Meteo - Dati Nazionali</p>
    <br>
    <p class="title-micro-section">Clicca sulle icone a sinistra della mappa per cambiare modalità di
      visualizzazione</p>
    <br>
    <br>
    <iframe class="radar" src="http://retemeteo.lineameteo.it/index.php" [hidden]="imageLoader"
            (load)="imageLoader = false;"></iframe>
    <br>
    <button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>
</div>
