
<br>

<br>
<br>
<div>
  <h2 class="title-micro-section">Radar Precipitazioni Italia</h2>
  <iframe class="radar-italia-windy"
          src="https://embed.windy.com/embed2.html?lat=42.00&lon=12.40&zoom=6.4&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=42.00&detailLon=12.40&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite pecipitazioni italia"></iframe>
</div>
<br>
<br>
<div>
  <h2 class="title-micro-section">Radar Precipitazioni Italia - Protezione Civile</h2>
  <iframe class="radar-protezione-civile"
          src="https://www.ilmeteo.it/altro/radar-italia-rainviewer.html#0"
          frameborder="0" title="pecipitazioni italia"></iframe>
</div>
<br>
<br>

<satellite [titleImgRadar]="'Totale Precipitazioni Italia - Giornaliere'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/realtime_prec_italia.png?' + preventCache"
           [infoAlt]="'totale precipitazioni italia'"
           [class]="'radar-meteonetwork'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Totale Precipitazioni Italia - Animazione Ultime 24 Ore'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/animazioni/italia/prec/mov_prec_italia.gif?v=1638446096?v=1638446096?' + preventCache"
           [infoAlt]="'totale precipitazioni italia in movimento'"
           [class]="'radar-meteonetwork'"></satellite>
<br>
<br>
<h2 class="title-micro-section">Temperature In Tempo Reale Italia </h2>
<br>
<satellite [titleImgRadar]="''"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/realtime_temp_italia.png?v=' + preventCache"
           [infoAlt]="'temperature live italia'"
           [class]="'radar-zoomed-centro'"
           [zoom]="1.2"></satellite>

<br>
<br>
<br>
<br>
<satellite [titleImgRadar]="'Temperature Giornaliere Italia - Animazione Ultime 24 Ore'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/animazioni/italia/temp/mov_temp_italia.gif?v=1638446096?v=' + preventCache"
           [infoAlt]="'temperature giornaliere italia in movimento'"
           [class]="'radar-meteonetwork'"
           [zoom]="1.2"></satellite>

<br>
<!--
<div>
  <h2 class="title-micro-section">Radar precipitazioni animato in tempo reale</h2>
  <iframe class="radar-sud" scrolling="No" frameborder="no"
          src="http://media.ilmeteo.it/radar/radar-ita-650.gif?8275574?Tue Aug 03 2021 21:04:29 GMT+0200 (Ora legale dell’Europa centrale)"
          height="800" width="800"
          title="radar pecipitazioni sud italia"></iframe>
</div>
-->
