<!--
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
-->
<br>
<!--<div >
<h2 class="title-micro-section">Radar Protezione Civile</h2>
  <div class="center">
    <iframe class="radar-protezione-civile"
            src="https://radar.protezionecivile.it/radar-dpc/#/pages/dashboard"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
             title="satellite protezione civile"></iframe>
  </div>
</div>-->
<br>
<br>
<div>
  <h2 class="title-micro-section">Satellite Precipitazioni in movimento - Italia</h2>
  <iframe class="radar-italia-windy"
          src="https://embed.windy.com/embed2.html?lat=42.00&lon=12.40&zoom=6.4&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=42.00&detailLon=12.40&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite pecipitazioni italia"></iframe>
</div>
<br>
<br>
<div>
  <h2 class="title-micro-section">Radar Precipitazioni - Italia</h2>
  <iframe class="radar-protezione-civile"
          src="https://www.ilmeteo.it/altro/radar-italia-rainviewer.html#0"
          frameborder="0" title="pecipitazioni italia"></iframe>
</div>
<br>
<br>
<div>
  <h2 class="title-micro-section">Radar precipitazioni animato in tempo reale</h2>
  <iframe class="radar-sud" scrolling="No" frameborder="no"
          src="http://media.ilmeteo.it/radar/radar-ita-650.gif?8275574?Tue Aug 03 2021 21:04:29 GMT+0200 (Ora legale dell’Europa centrale)"
          height="800" width="800"
          title="radar pecipitazioni sud italia"></iframe>
</div>
