<div class="center">
  <webcam-pistoia></webcam-pistoia>
  <br>
  <hr>
  <webcam-firenze></webcam-firenze>
  <br>
  <hr>
  <webcam-grosseto></webcam-grosseto>
  <br>
  <hr>
  <webcam-arezzo></webcam-arezzo>
  <br>
  <hr>
  <webcam-siena></webcam-siena>
  <br>
  <hr>
  <webcam-arezzo></webcam-arezzo>
  <hr>
  <p class="title-micro-section">Provincia di Massa Carrara</p>
  <webcam [luogo]="'MONTE BOSTA (MS)'"
          [altitudine]="'870 '"
          [urlSite]="'www.meteoapuane.it'"
          [urlWebcam]="'https://www.meteoapuane.it/webcam/montebosta.jpg'"
  ></webcam>
  <br>
</div>

