<br>
<h1 class="header-macro-section">Teleconnessioni - Previsioni Meteo</h1>

<br>
<div  class="center">

  <em class="title-micro-section">Indici Climatici - Teleconnessioni Troposferiche &nbsp;<a
    href="https://meteotaranto.org/wxnao-ao.php" title="Info indici climatici e teleconnessioni"
    target="_blank" rel="noreferrer">Info</a></em>
  <p class="testo-articoli">
    <b>L'indice AO</b> (Arctic Oscillation), detto anche Northern Annular Mode e' calcolato dalla differenza di
    pressione tra
    l'artico e le basse latitudini, generalmente comprese tra il 37esimo ed il 45esimo parallelo.
    <br>
    In presenza di <b>indice AO negativo</b> si avranno formazioni di robusti anticicloni in area artica con conseguente
    <b>indebolimento del vortice polare</b> che, rallentando il suo movimento, consentirebbe alle <b>correnti fredde</b>
    di penetrare attraverso il Midwest degli Stati
    Uniti ed <b>Europa meridionale</b>, generando forti piogge e temporali in area mediterranea.
    <br>
    In presenza di <b>indice positivo</b>
    invece si avranno <b>condizioni opposte</b> ovvero tempeste e forti piogge verso latitudini superiori (Alaska,
    Scozia e
    Scandinavia) e <b>correnti secche</b> verso California ed <b>Europa meridionale</b>.
    <br>Negli ultimi anni si e' notato che l'indice
    AO ha avuto un magior numero di fasi positive caratterizzate da modeste fasi piovose in sede mediterranea.
    <br>
    <img class="previsioni-frame" width="95%" height="650"
         src="https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/ao.sprd2.gif"
         alt="indice climatico ao" rel="noreferrer"/>
  </p>
  <br>
  <p class="testo-articoli">
    Generalmente, in presenza di <b>indice NAO positivo</b> nella stagione <b>estiva</b> si verifica l'espansione verso
    l'Europa
    dell'Anticiclone subtropicale africano che genera <b>onde di calore sull'Italia</b> e sull'Europa
    centro-meridionale,
    fondendosi talvolta con l'alta pressione delle Azzorre. Nella <b>stagione invernale</b>, invece, l'indice positivo
    e'
    responsabile di ciclogenesi sull'Europa sud-occidentale e nell'area meridionale del bacino del Mediterraneo per
    <b>richiamo di aria polare o subpolare</b>.
    <br>
    L'indice <b>NAO negativo</b> e' responsabile, invece, di limitate interazioni tra depressione d'Islanda e
    anticiclone delle
    Azzorre, con una conseguente prevalenza del <b>flusso occidentale</b> che puo' generare, nei periodi in cui si
    verifica,
    depressioni atlantiche moderate e molto estese arealmente, in grado di giungere e stazionare fino al
    <b>Mediterraneo</b>.
    <img class="previsioni-frame" width="95%" height="650"
         src="https://www.cpc.ncep.noaa.gov/products/precip/CWlink/pna/nao.sprd2.gif"
         alt="indice climatico nao" rel="noreferrer">
  </p>
  <br>
  <p class="testo-articoli">
    <b>L'indice PNA</b> è legato alle altezze di geopotenziale sul Pacifico e sull'America del Nord.
    <br>
    Generalmente, in presenza di <b>indice PNA positivo</b> è legata la formazione di un forte anticiclone di blocco in
    Atlantico settentrionale, con conseguente <b>discesa di aria artica sull'Europa centro-meridionale</b> con
    traiettoria nord-sud (esempio gennaio 1981).
    <br>
    <b>PNA negativi</b> sono invece associati ad intensa attività depressionaria in Atlantico che non consente
    formazione di alta pressione stabile, dunque <b>discese fredde in genere assenti in Italia</b>.
    <img class="previsioni-frame" width="95%" height="650"
         src="https://www.cpc.ncep.noaa.gov/products/precip/CWlink/pna/pna.sprd2.gif"
         alt="indice climatico aao" rel="noreferrer">
  </p>
  <br>
  <p class="testo-articoli">
    Lo <b>Scandinavian Pattern</b>, è un indice troposferico che riguarda solo la regione Scandinava.
    <br>
    Generalmente, in presenza di <b>indice SCAND positivo (SCAND+)</b> la Scandinavia viene interessata da una vasta
    area anticiclonica, lungo il cui bordo orientale e meridionale scivolano le gelide correnti d'estrazione
    artico-marittima o artico-continentale, responsabili delle <b>grandi ondate di freddo sul Mediterraneo</b>.
    <br>In corrispondenza di tali eventi l'aria umida atlantica richiamata dalla bassa pressione sull'Europa
    occidentale, favorisce abbondanti nevicate sul nord-Italia, anche a quote di pianura, come capitato il 26-28 Gennaio
    2006.
    Viceversa, in presenza di <b>indice SCAND negativo (SCAND-)</b>, ed è associato ad una circolazione maggiormente
    improntata sulle aree depressionarie, segno di <b>un'attività piuttosto intensa del Vortice Polare</b> in questo
    contesto diminuisce notevolmente la possibilità di irruzioni fredde sulla nostra penisola.
    <img class="previsioni-frame" width="95%" height="650"
         src="https://www.cpc.ncep.noaa.gov/data/teledoc/scand.timeseries.gif"
         alt="indice climatico SCAND" rel="noreferrer">
  </p>
  <br>

  <p class="testo-articoli">
    Generalmente, in presenza di <b>indice AAO positivo</b> c'è una forte antizonalità nel nord emisfero, per l'italia
    le <b>discese fredde sono poco probabili</b>.
    <br>
    L'indice <b>AOO negativo</b> vicersa, è piu <b>favorevole alle discese fredde</b> in sede mediterranea.
    <img class="previsioni-frame" width="95%" height="650"
         src="https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/aao/aao.sprd2.gif"
         alt="indice climatico aao" rel="noreferrer">
  </p>
  <br>
  <p class="testo-articoli">
    L' <b>INDICE MJO</b> (Madden-Julian Oscillation), è un indice di teleconnessione tropicale.
    <br>
    Indica la posizione e la <b>potenza</b> dell'attività <b>temporalesca in zona tropicale</b>.
    <br>Può influenzare la meridianizzazione delle correnti alle medie latitudini.
    <br>
    Il movimento antiorario indica un segnale che si propaga verso est attraverso 8 fasi, dall'Oceano Indiano all'Oceano Pacifico ed in seguito sull'emisfero occidentale.
    <br>I colori delle linee indicano mesi differenti, e le date sono annotate.
    <br>Più ci si allontana dal centro del cerchio e maggiore è il MJO. Un <b>alto valore di MJO ha effetti su scala planetaria</b>.
    <br>Qui sotto sono mostrati i valori previsti di MJO utilizzando gli ensemble di GFS.
    Il diagramma di fase mostra l'evoluzione degli ultimi 40 giorni di osservazioni insieme alla previsione ensemble di GFS a 15 giorni.
    <br>Le linee gialle sono i venti ensemble e la linea verde è la media di essi (settimana 1 linea spessa, settimana 2 linea sottile).
    <br>L'ombreggiatura grigio scuro rappresenta il 90% delle linee che cadono in quest'area e l'ombreggiatura grigio chiaro indica il 50%.
    <br>
    <img class="previsioni-frame" width="95%" height="650"
         src="https://www.cpc.ncep.noaa.gov/products/precip/CWlink/MJO/ensplume_full.gif"
         alt="indice climatico MJO" rel="noreferrer">
  </p>
  <br>
  <p class="testo-articoli">
    Il <b>NAM</b> (North Annular Mode), è un <b>Indice Climatico</b> (Teleconnessione) che monitora le "anomalie geopotenziali" e per conseguenza anche "termiche" a tutte le quote Tropo-Stratosferiche, per <b>individuarela "tenuta" o il "cedimento" del Vortice Polare Troposferico nel lungo termine</b> .
    <br>
    Alla 1000 hPa il NAM coincide con l'AO.
    <br>Se in <b>Stratosfera</b>, alla quota isobarica di <b>10 hPa</b>, il NAM raggiunge un valore in scala di <b>-3</b>, si ha un' anomalia positiva di geopotenziale (rappresentata però col segno meno) e un conseguente <b>warming (riscaldamento) stratosferico</b>.
    <br>
    In questo caso, si andrà incontro ad una forte <b>destabilizzazione del Vortice Polare Stratosferico</b>, che si propagherà in un periodo medio di <b>7/10 giorni</b>, ma variabile secondo gli ultimi studi scientifici da una e tre settimane, al sottostante Vortice Polare Troposferico.
    Tale destabilizzazione del Vortice Polare Troposferico, sarà evidenziata da <b>AO</b> (Arctic Oscillation) con valore <b>fortemente negativo</b> e l'insorgenza di fenomenologie perturbate, talvolta anche gelide, possibili sino alle medie e basse latitudini, per un periodo temporale che potrà raggiungere i 60 giorni.
    <br>
    <img class="previsioni-frame" width="95%" height="650"
         src="https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/hgt.ao.cdas.gif"
         alt="indice climatico NAM" rel="noreferrer">
    <img  width="50%" height="450"
         src="https://www.meteoportaleitalia.it/images/stories/teleconnessioni/NAM%20negativo%20mpi%20ter.jpg"
         alt="indice climatico NAM negativo" rel="noreferrer">
    <img  width="50%" height="450"
          src="https://www.meteoportaleitalia.it/images/stories/teleconnessioni/NAM%20positivo%20mpi.png"
          alt="indice climatico NAM positivo" rel="noreferrer">
  </p>
  <br>
  <p class="testo-articoli">
    <b>Combinazioni positive per il freddo e l'instabilità sull'Italia sono:</b>
    <br>
   <br>
    <b>*AO- NAO neutro/ </b>- pattern ATH/EUL/EA-
    <br>
    <b>*AO neutro/- NAO-/neutro</b> pattern ATH/EUL/EA--
    <br>
      <b>*AO--/NAO</b>- stile febbraio '05 pattern SCAND+/EUL
    <br>
        <b>*AO---/NAO--</b> (-)stile '85, '56,'29 pattern SCAND+ ma anche rischio,come quest'anno, per la presenza del NINO di esasperazione del tripolo negativo ATL/EUL con moti antizonali, sparati alle medio-alte latitudini e conseguente, flusso umido, mite instabile
    <br>
    <b>*AO neutro/ debolmente + NAO neutro/ deb.</b> - pattern BLN/EUL
    <br> <b>AO neutro/ debolmente + NAO debolmente +/ neutro</b> con pattern EA-- o almeno EA- e PNA+ o debolmente positivo... pattern EUL/SCAND+
    <br>
  </p>
</div>
