<h2 class="title-micro-section">Provincia di Avellino</h2>
<webcam [luogo]="'MERCOGLIANO - OSSERVATORIO DI MONTEVERGINE (AV)'"
        [altitudine]="'1477'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/90/1550494390/current/full/1550494390.jpg'"
>
</webcam>
<webcam [luogo]="'BAGNOLI IRPINO - LACENO (AV)'"
        [altitudine]="'1079'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/65/1651044265/current/full/1651044265.jpg'"
>
</webcam>
<webcam [luogo]="'ARIANO IRPINO (AV)'"
        [altitudine]="'626'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/37/1378470737/current/full/1378470737.jpg'"
>
</webcam>
<webcam [luogo]="'PATERNOPOLI (AV)'"
        [altitudine]="'490'"
        [urlSite]="'meteopaternopoli.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/95/1549803895/current/full/1549803895.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Benevento</h2>
<webcam [luogo]="'CAMPOLI DEL MONTE TABURNO (BV)'"
        [altitudine]="'432'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/12/1623669812/current/full/1623669812.jpg'"
>
</webcam>
<webcam [luogo]="'SAN BARTOLOMEO IN GALDO (BV)'"
        [altitudine]="'607'"
        [urlSite]="'sanbartolomeo.info'"
        [urlWebcam]="'https://images-webcams.windy.com/58/1544993958/current/full/1544993958.jpg'"
>
</webcam>
<webcam [luogo]="'BENEVENTO (BV)'"
        [altitudine]="'117'"
        [urlSite]="'www.sanniowebtv.it'"
        [urlWebcam]="'https://images-webcams.windy.com/80/1661341280/current/full/1661341280.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Salerno</h2>
<webcam [luogo]="'PADULA (SA)'"
        [altitudine]="'690'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1494437733/current/full/1494437733.jpg'"
>
</webcam>
<webcam [luogo]="'ALBURNI (SA)'"
        [altitudine]="'410'"
        [urlSite]="'meteoquadrivio.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/90/1623531490/current/full/1623531490.jpg'"
>
</webcam>
<webcam [luogo]="'ALTAVILLA SALENTINA (SA)'"
        [altitudine]="'309'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/82/1631623282/current/full/1631623282.jpg'"
>
</webcam>

