<h2 class="title-micro-section">Provincia di Avellino</h2>
<webcam [luogo]="'MONTE VALLATRONE (AV)'"
        [altitudine]="'1524'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montetavola/montevallatrone.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE TAVOLA - PARTENIO - FAGGETA (AV)'"
        [altitudine]="'1500'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montetavola/monteparteniopostazione.jpg'"
>
</webcam>
<webcam [luogo]="'MERCOGLIANO - OSSERVATORIO DI MONTEVERGINE (AV)'"
        [altitudine]="'1477'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/90/1550494390/current/full/1550494390.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE VERGINE (AV)'"
        [altitudine]="'1280'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montevergine/montevergine.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE PIZZONE (AV)'"
        [altitudine]="'1106'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/monteforte/pizzoneovest.jpg'"
>
</webcam>
<webcam [luogo]="'BAGNOLI IRPINO - LACENO (AV)'"
        [altitudine]="'1079'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/65/1651044265/current/full/1651044265.jpg'"
>
</webcam>
<webcam [luogo]="'OSPEDALETTO D\'ALPINOLO - VISTA PARTENIO (AV)'"
        [altitudine]="'1079'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/ospedaletto/ospedaletto.jpg'"
>
</webcam>
<webcam [luogo]="'MONTEFORTE IRPINO (AV)'"
        [altitudine]="'800'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/monteforte/monteforteirpino.jpg'"
>
</webcam>
<webcam [luogo]="'MONTAGUTO (AV)'"
        [altitudine]="'730'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montaguto/montaguto.jpg'"
>
</webcam>
<webcam [luogo]="'SUMMONTE (AV)'"
        [altitudine]="'720'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/summonte/summonte.jpg'"
>
</webcam>
<webcam [luogo]="'ARIANO IRPINO (AV)'"
        [altitudine]="'626'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/37/1378470737/current/full/1378470737.jpg'"
>
</webcam>
<webcam [luogo]="'MONTELLA (AV)'"
        [altitudine]="'580'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montella/montella.jpg'"
>
</webcam>
<webcam [luogo]="'MERCOGLIANO - CENTRO STORICO (AV)'"
        [altitudine]="'550'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/mercogliano/paese/mercogliano.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE TROCCHIO (AV)'"
        [altitudine]="'550'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/mercogliano/trocchio/cimatrocchio.jpg'"
>
</webcam>
<webcam [luogo]="'SAN SOSSIO (AV)'"
        [altitudine]="'545'"
        [urlSite]="'www.autostrade.it'"
        [urlWebcam]="'https://images-webcams.windy.com/99/1668236999/current/full/1668236999.jpg'"
>
</webcam>
<webcam [luogo]="'PATERNOPOLI (AV)'"
        [altitudine]="'490'"
        [urlSite]="'meteopaternopoli.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/95/1549803895/current/full/1549803895.jpg'"
>
</webcam>
<!--<webcam [luogo]="'AVELLINO (AV)'"
        [altitudine]="'351'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/88/1550492988/current/full/1550492988.jpg'"
>
</webcam>-->
<br>
<hr>
<h2 class="title-micro-section">Provincia di Benevento</h2>
<webcam [luogo]="'MONTE PARTENIO - OASI DI PANNARANO (BV)'"
        [altitudine]="'1185'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/pannarano/pannarano.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPOLI DEL MONTE TABURNO (BV)'"
        [altitudine]="'432'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://images-webcams.windy.com/12/1623669812/current/full/1623669812.jpg'"
>
</webcam>
<webcam [luogo]="'SAN BARTOLOMEO IN GALDO (BV)'"
        [altitudine]="'607'"
        [urlSite]="'sanbartolomeo.info'"
        [urlWebcam]="'https://images-webcams.windy.com/58/1544993958/current/full/1544993958.jpg'"
>
</webcam>
<!--<webcam [luogo]="'PAGO VEIANO (BV)'"
        [altitudine]="'585'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/pagoveiano/pagoveiano.jpg'"
>
</webcam>-->
<!--<webcam [luogo]="'CERVINARA - VISTA MONTE TABURNO (1394) (BV)'"
        [altitudine]="'320'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montetaburno/montetaburno.jpg'"
>
</webcam>-->
<webcam [luogo]="'BENEVENTO (BV)'"
        [altitudine]="'117'"
        [urlSite]="'www.sanniowebtv.it'"
        [urlWebcam]="'https://images-webcams.windy.com/80/1661341280/current/full/1661341280.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Salerno</h2>
<webcam [luogo]="'PADULA (SA)'"
        [altitudine]="'690'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1494437733/current/full/1494437733.jpg'"
>
</webcam>
<webcam [luogo]="'ALBURNI (SA)'"
        [altitudine]="'410'"
        [urlSite]="'meteoquadrivio.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/90/1623531490/current/full/1623531490.jpg'"
>
</webcam>
<webcam [luogo]="'ALTAVILLA SALENTINA (SA)'"
        [altitudine]="'309'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/82/1631623282/current/full/1631623282.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Napoli</h2>
<webcam [luogo]="'NAPOLI - VISTA VESUVIO (NA)'"
        [altitudine]="'84'"
        [urlSite]="'www.ariasana.org'"
        [urlWebcam]="'https://images-webcams.windy.com/00/1423408800/current/full/1423408800.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Caserta</h2>
<webcam [luogo]="'PIGNATARO MAGGIORE (CE)'"
        [altitudine]="'340'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/pignataromaggiore/pignataromaggiore.jpg'"
>
</webcam>
<webcam [luogo]="'MONDRAGONE (CE)'"
        [altitudine]="'10'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/mondragone/mondragonemare.jpg'"
>
</webcam>

