<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/trn235" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn235/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di badia" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn226" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn226/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di corno di renon barbiano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn236" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn236/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Cima Pisciadù - Corvara in Badia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn228"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn228/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Cima Undici - Curon Venosta"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn306" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn306/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di alpe cavallo braies"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn245"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn245/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di ladurns brennero"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn259" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn259/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di plose bressanone"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn023"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn023/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di marebbe bolzano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn258" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn258/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di riva tures"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn263"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn263/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di brunico"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn282" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn282/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Fiè allo Sciliar"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn272"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn272/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di Le Cave - Fortezza"/></a></span>
    </td>
  </tr>
</table>

<hr>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt489" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt489/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Auronzo di cadore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt344"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt344/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di belluno aereoporto"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt133" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt133/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Alleghe"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt288"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt288/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di Agordo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt567" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt567/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di borca di cadore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt490"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt490/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Passo Monte Croce CMT - Comelico Superiore"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt457" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt457/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Canale d'Agordo"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt397"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt397/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Cesiomaggiore"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt614" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt614/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Chies d'Alpago"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt296"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt296/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Domegge di Cadore"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt092" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt092/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di  Cortina d'Ampezzo"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt292"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt292/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Domegge di rifugio lagazuoi"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt339" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt339/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di falcade"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt374"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt374/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Domegge di feltre"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt245" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt245/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Fonzaso"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt294"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt294/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Domegge di Zoldo "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt235" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt235/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Livinallongo del Col di Lana"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt491"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt491/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Perarolo di Cadore"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt291" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt291/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Rocca Pietore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt491"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt491/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Perarolo di Cadore"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt371" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt371/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di san giustina"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt104"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt104/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san tommaso agordino"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt295" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt295/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Santo Stefano di Cadore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt475"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt475/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Soverzene"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt492" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt492/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di valle di Cadore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt449"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt449/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di tambre"/></a></span>
    </td>
  </tr>
</table>
<br>
<h2 class="red">{{ utilityService.messageStazioni }}</h2>
