<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/trn235" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn235/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di badia" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn226" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn226/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di corno di renon barbiano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn236" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn236/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Cima Pisciadù - Corvara in Badia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn228"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn228/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Cima Undici - Curon Venosta"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn306" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn306/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di alpe cavallo braies"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn245"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn245/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di ladurns brennero"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn259" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn259/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di plose bressanone"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn023"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn023/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di marebbe bolzano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn258" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn258/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di riva tures"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn263"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn263/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di brunico"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/trn282" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/trn282/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Fiè allo Sciliar"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/trn272"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/trn272/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di Le Cave - Fortezza"/></a></span>
    </td>
  </tr>
</table>

<hr>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt489" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt489/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Auronzo di cadore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt344"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt344/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di belluno aereoporto"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt133" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt133/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Alleghe"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt288"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt288/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di san virgilio di Agordo"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/vnt567" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/vnt567/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di borca di cadore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/vnt490"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/vnt490/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Passo Monte Croce CMT - Comelico Superiore"/></a></span>
    </td>
  </tr>
</table>
<br>
<h2 class="red">{{ utilityService.messageStazioni }}</h2>
