<p class="title-micro-section">Sicilia</p>
<webcam [luogo]="'ETNA - CRATERI SOMMINALI (CT)'"
        [altitudine]="'2505'"
        [urlSite]="'www.neveitalia.it'"
        [urlWebcam]="'https://www.neveitalia.it/cache/mod/Webcam/500/490.jpg'"
>
</webcam>
<webcam [luogo]="'ETNA - PIAZZALE RIFUGIO PAZIENZA (CT)'"
        [altitudine]="'1910'"
        [urlSite]="'www.skylinewebcams.com'"
        [urlWebcam]="'https://weather-cams.visioray.com/snap/1376.jpg'"
>
</webcam>
<webcam [luogo]="'PANORAMICA ETNA (CT)'"
        [altitudine]="'1910'"
        [urlSite]="'www.etnatech.com'"
        [urlWebcam]="'https://www.etnatech.com/camupload/etnasud.jpg'"
>
</webcam>
<webcam [luogo]="'PEDARA NORD (CT)'"
        [altitudine]="'698'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/20/1379510020/current/full/1379510020.jpg'"
>
</webcam>
<webcam [luogo]="'PIANO BATTAGLIA - PARCO DELLE MADONIE (PA)'"
        [altitudine]="'1570'"
        [urlSite]="'www.weathersicily.it'"
        [urlWebcam]="'https://www.weathersicily.it/Services/Webcam/getImageLow.php?id=67&1663166243'"
>
</webcam>
<webcam [luogo]="'MONTAGNA LONGA (PA)'"
        [altitudine]="'975'"
        [urlSite]="'www.weathersicily.it'"
        [urlWebcam]="'https://www.weathersicily.it/Services/Webcam/getImageLow.php?id=68&1663166243'"
>
</webcam>
<webcam [luogo]="'PIZZO PANALFO (PA)'"
        [altitudine]="'750'"
        [urlSite]="'www.weathersicily.it'"
        [urlWebcam]="'https://www.weathersicily.it/Services/Webcam/getImageLow.php?id=76&1663166243'"
>
</webcam>
<webcam [luogo]="'COLLINE DI ALIA (PA)'"
        [altitudine]="'700'"
        [urlSite]="'www.weathersicily.it'"
        [urlWebcam]="'https://www.weathersicily.it/Services/Webcam/getImageLow.php?id=13&1663166243'"
>
</webcam>
<webcam [luogo]="'CIMINNA (PA)'"
        [altitudine]="'600'"
        [urlSite]="'www.weathersicily.it'"
        [urlWebcam]="'https://www.weathersicily.it/Services/Webcam/getImageLow.php?id=6&1663166243'"
>
</webcam>
<webcam [luogo]="'MONTE PELLEGRINO (PA)'"
        [altitudine]="'450'"
        [urlSite]="'www.weathersicily.it'"
        [urlWebcam]="'https://www.weathersicily.it/Services/Webcam/getImageLow.php?id=10&1663166243'"
>
</webcam>
<webcam [luogo]="'AGIRA EST (EN)'"
        [altitudine]="'750'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/42/1630295342/current/full/1630295342.jpg'"
>
</webcam>
<webcam [luogo]="'CAMMARATA  (AG)'"
        [altitudine]="'883'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/56/1402750956/current/full/1402750956.jpg'"
>
</webcam>

