<div style="height:15px"></div>
<!-- header ends -->
<div class="header_top"></div>
<div class="header">
  <div id="wrapper">
    <div id="slider-wrapper">
      <div id="slider" class="nivoSlider">
        <img src="images/campoli-verde-min.jpg" alt="slide campoli 1" />
        <img src="images/campoli-neve-min.jpg" alt="slide campoli 2"/>
        <img src="images/dolina-orso-min.jpg" alt="slide campoli 3" />
        <img src="images/dolina-alto-min.jpg" alt="slide campoli 4" />
        <img src="images/tartufi-min.jpg" alt="slide campoli 5" />
        <img src="images/dolina-neve-min.jpg" alt="slide campoli 6" />
      </div>
    </div>
  </div>

  <script type="text/javascript" src="lib/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="lib/slider-min.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider();
    });
  </script>
</div>
<div class="header_bot"></div>
<div style="height:15px"></div>
