<br>
<table>
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr038"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr038/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Castiglione del Lago"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr046" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/mbr046/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155"
      alt="Stazione meteo di Città di Castello"/></a></span>
    </td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr001"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr001/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Gualdo Tadino"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr006"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr006/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Marsciano"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr048"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr048/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Perugia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr037"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr037/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Piegaro"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr072"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr072/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Perugia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr047"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr047/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Deruta"/></a></span>
    <td></td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr100"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr100/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Gubbio"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr092"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr092/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="mbr092"/></a></span>
    <td></td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr045"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr045/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Fabro"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr028"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr028/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Orvieto"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr059"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr059/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di San Gemini"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr050"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr050/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Fabro"/></a></span>
    <td></td>
  </tr>
</table>


