<h1 class="header-macro-section">Previsioni Meteo - Monitoraggio Indici Climatici</h1>

<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader" class="center">
  <br>
  <br>
  <h2 class="title-micro-section">Meteogramma Campoli Appennino</h2>
  <img class="previsioni-frame" width="95%" height="650"
       src="https://my.meteoblue.com/visimage/meteogram_web_hd?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&temperature=C&windspeed=kmh&precipitationamount=mm&winddirection=3char&city=Campoli+Appennino&iso2=it&lat=41.7354&lon=13.6833&asl=650&tz=Europe%2FRome&lang=it&sig=1be2d034299438e91d58e3781c53787f"
       alt="meteogramma" rel="noreferrer"
       (load)="imageLoader = false;" (click)="toggleClass($event,'zoomed')"/><br/>

  <br>
  <em class="title-micro-section">Spaghi modello GFS Campoli Appennino, clicca <a [href]="linkEcmwf" target="_blank" rel="noreferrer" metarget="_blank"><b>
    QUI</b></a> per spaghi ECMWF</em>
  <br>
  <img class="previsioni-spaghi" rel="noreferrer" width="95%" height="100" alt="spaghi"
       [src]="runGfs | safe"
       (click)="toggleClass($event,'zoomed')"/><br/>

  <br>
  <em class="title-micro-section">Pioggia modello MOLOCH prossime 24H</em>
  <br>
  <img class="previsioni-frame" width="95%" height="650" alt="pioggia moloch 24 h" rel="noreferrer"
       src="https://www.meteoinmolise.com/cnr/molise7-prp24h.png?t=62e6447143a67"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <em class="title-micro-section">Pioggia modello ECMWF prossime 72H</em>
  <br>
  <img class="previsioni-no-heigth" width="95%" height="650" alt="pioggia ecmwf 72h" rel="noreferrer"
       src="https://services.meteored.com/img/models/ecmwf/ECMWF_072_IT_APC_es-ES_es.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <em class="title-micro-section">Pioggia modello GFS prossime 72H</em>
  <br>
  <img class="previsioni-no-heigth" width="95%" height="650" alt="pioggia gfs 72h" rel="noreferrer"
       src="https://www.wetterzentrale.de/maps/GFSOPIT00_72_18.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <em class="title-micro-section">Pioggia modello UKMO prossime 72H</em>
  <br>
  <img class="previsioni-no-heigth" width="95%" height="650" alt="pioggia ukmo 72h" rel="noreferrer"
       src="https://www.wetterzentrale.de/maps/UKMHDOPIT00_72_18.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <em class="title-micro-section">Pioggia modello GEM prossime 72H</em>
  <br>
  <img class="previsioni-no-heigth" width="95%" height="650" alt="pioggia gem 72h" rel="noreferrer"
       src="https://www.wetterzentrale.de/maps/GEMOPIT00_72_18.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <em class="title-micro-section">Pioggia modello ICON prossime 72H</em>
  <br>
  <img class="previsioni-no-heigth" width="95%" height="650" alt="pioggia icon 72h" rel="noreferrer"
       src="https://www.wetterzentrale.de/maps/ICOOPIT00_72_18.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <em class="title-micro-section">Previsioni 9 giorni GFS - Mosaico</em>
  <br>
  <img class="previsioni-no-heigth" width="95%" height="650" alt="mosaico gfs 7 giorni" rel="noreferrer"
       src="https://www.wetterzentrale.de/maps/GFSPANELOPEU00_1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>
  <h2 class="title-micro-section">Previsioni 5 Giorni Campoli Appennino ilMeteo</h2>
  <iframe width="1070" height="799" scrolling="no" frameborder="no" title="previsioni campoli appennino IlMeteo" rel="noreferrer" noresize="noresize" src="https://www.ilmeteo.it/box/previsioni.php?citta=1194&type=tri1&width=999&ico=4&lang=ita&days=6&font=Arial&fontsize=17&bg=FFFFFF&fg=000000&bgtitle=0099FF&fgtitle=FFFFFF&bgtab=F0F0F0&fglink=1773C2"></iframe>
  <br>
  <br>
  <br>
  <br>
  <h2 class="title-micro-section">Previsioni 7 Giorni Campoli Appennino 3bMeteo</h2>
  <iframe src="https://www.3bmeteo.com/moduli_esterni/localita_7_giorni_orario/1194/ffffff/286fe2/d02525/ffffff/it"
          width=1030 height=650 frameborder="0" title="previsioni campoli 3bMeteo" rel="preload" ></iframe>
  <br>
  <br>
  <h2 class="title-micro-section">Previsioni Campoli Appennino MeteoGiuliacci </h2>
  <div><iframe rel="noreferrer" src="https://www.meteogiuliacci.it/previsioni/widget_comunali.php?staz=Campoli Appennino"  title="previsioni campoli meteogiuliacci" width="1030"  height="700" scrolling="no" border="0" rel='preload' as='font' type='font/woff' crossorigin></iframe></div>
  <br>
  <h2 class="title-micro-section">Anomalie termiche ultimi 10 giorni</h2>
  <img class="previsioni-frame" width="95%" height="650" alt="anomalie termiche"
       src="https://www.cpc.ncep.noaa.gov/products/CFSv2/imagesInd3/glbT850MonInd1.gif"
       title="Anomalie termiche ultimi 10 giorni" rel="noreferrer"
       (click)="toggleClass($event,'zoomed')"/>

  <br>
  <br>

  <indici-climatici></indici-climatici>

  <br>
  <h2 class="title-micro-section">Previsioni Meteo Lazio 6 Giorni</h2>
  <a href="https://www.ilmeteo.it/Lazio" title="Meteo Piemonte" target="_blank" rel="noreferrer"><img
    src="https://www.ilmeteo.it/cartine2/0.LAZ.png" alt="Meteo Lazio" width="315" height="315" border="0" rel="noreferrer"/></a>
  <a href="https://www.ilmeteo.it/Lazio" title="Meteo Piemonte" target="_blank" rel="noreferrer"><img
    src="https://www.ilmeteo.it/cartine2/1.LAZ.png" alt="Meteo Lazio" width="315" height="315" border="0" rel="noreferrer"/></a>
  <a href="https://www.ilmeteo.it/Lazio" title="Meteo Piemonte" target="_blank" rel="noreferrer"><img
    src="https://www.ilmeteo.it/cartine2/2.LAZ.png" alt="Meteo Lazio" width="315" height="315" border="0" rel="noreferrer"/></a>
  <a href="https://www.ilmeteo.it/Lazio" title="Meteo Piemonte" target="_blank" rel="noreferrer"><img
    src="https://www.ilmeteo.it/cartine2/3.LAZ.png" alt="Meteo Lazio" width="315" height="315" border="0" rel="noreferrer"/></a>
  <a href="https://www.ilmeteo.it/Lazio" title="Meteo Piemonte" target="_blank" rel="noreferrer"><img
    src="https://www.ilmeteo.it/cartine2/4.LAZ.png" alt="Meteo Lazio" width="315" height="315" border="0" rel="noreferrer"/></a>
  <a href="https://www.ilmeteo.it/LAzio" title="Meteo Piemonte" target="_blank" rel="noreferrer"><img
    src="https://www.ilmeteo.it/cartine2/5.LAZ.png" alt="Meteo Lazio" width="315" height="315" border="0" rel="noreferrer"/></a>
</div>

