<h1 class="header-macro-section">
  <button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()">&laquo; CURIOSITA</button>
  Ondata Caldo Storica 2017
</h1>
<br>
<br>
<div class="testo-articoli center">
  <h1>Estremi Temperature Massime - Abruzzo</h1>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Altopiano delle Cinque Miglia 1250 metri" href="http://www.caputfrigoris.it/rete-meteo/5miglia.htm">
        <h4 class="bold">Altopiano delle Cinque Miglia</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">35.2°</span> <span class="date-ondata-caldo"> il 4/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1250 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Avezzano est" href="http://www.fabriziolombardi.altervista.org/FL/avezzano_est.htm">
        <h4 class="bold">Avezzano est</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">38.9°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>700 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campo felice" href="http://www.caputfrigoris.it/rete-meteo/campo_felice/">
        <h4 class="bold">Campo Felice</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">31,6°</span><span class="date-ondata-caldo">il 2/8/17</span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1538 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Capestrano" href="http://www.caputfrigoris.it/rete-meteo/capestrano.htm">
        <h4 class="bold">Capestrano (S.Pelagia)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>394 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Carsoli" href="http://www.caputfrigoris.it/rete-meteo/carsoli.htm">
        <h4 class="bold">Carsoli</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">37.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>605 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Castel del Monte" href="http://www.caputfrigoris.it/rete-meteo/cdm.htm">
        <h4 class="bold">Castel del Monte</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">35.5°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1325 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Altopiano delle Cinque Miglia 1250 metri" href="/rete-meteo/5miglia.htm">
        <h4 class="bold">Carsoli</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">37.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>605 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="L'aquila torretta" href="http://www.laquilameteo.altervista.org/aquilaest.htm">
        <h4 class="bold">L'Aquila Torretta</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.6°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>700 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Luco dei Marsi" href="http://www.caputfrigoris.it/rete-meteo/luco.htm">
        <h4 class="bold">Luco dei Marsi</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.2°</span> <span class="date-ondata-caldo"> il 5/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>660 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Marsia" href="http://www.caputfrigoris.it/rete-meteo/marsia/">
        <h4 class="bold">Marsia</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">31,5°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1410 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Lago di Campotosto" href="http://www.caputfrigoris.it/rete-meteo/campotosto/">
        <h4 class="bold">Lago di Campotosto</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">33.0°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1410 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Pescasseroli" href="http://www.caputfrigoris.it/rete-meteo/pescasseroli.htm">
        <h4 class="bold">Pescasseroli</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">34.7°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1170 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Passo Godi" href="http://www.caputfrigoris.it/rete-meteo/passogodi.htm">
        <h4 class="bold">Passo Godi</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">30.8°</span> <span class="date-ondata-caldo"> il 5/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1560 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Ovindoli" href="http://www.caputfrigoris.it/rete-meteo/ovindoli.htm">
        <h4 class="bold">Ovindoli</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">32.7°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1390 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Navelli" href="http://www.caputfrigoris.it/rete-meteo/navelli.htm">
        <h4 class="bold">Navelli (Civitaretenga)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">44.1°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>723 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Monte Genzana" href="http://www.caputfrigoris.it/rete-meteo/genzana.htm">
        <h4 class="bold">Monte Genzana</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">27.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1980 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Piani di Pezza" href="http://www.caputfrigoris.it/rete-meteo/pezza/pezza.htm">
        <h4 class="bold">Piani di Pezza</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">32.9°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1450 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Pizzoli" href="http://www.pizzolimeteo.it/index.html">
        <h4 class="bold">Pizzoli</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">38.2°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>740 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Rifugio Fioretti" href="http://www.caputfrigoris.it/rete-meteo/fioretti/">
        <h4 class="bold">Rifugio Fioretti</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">30.4°</span> <span class="date-ondata-caldo"> il 2/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1500 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Roccacalascio" href="http://www.caputfrigoris.it/rete-meteo/roccacalascio.htm">
        <h4 class="bold">Rocca Calascio</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">33.0°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">1450 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Rocca di Cambio" href="http://www.caputfrigoris.it/rete-meteo/rdc/">
        <h4 class="bold">Rocca di Cambio</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">32.9°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">1400 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Rocca di Mezza" href="http://www.caputfrigoris.it/rete-meteo/roccadimezzo.htm">
        <h4 class="bold">Rocca di Mezzo</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">33.9°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">1280 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Scanno" href="http://www.caputfrigoris.it/rete-meteo/scanno.htm">
        <h4 class="bold">Scanno</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">38.0°</span> <span class="date-ondata-caldo"> il 4/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1050 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Scoppito" href="http://www.flameobservatory.it/caputfrig/scoppito.htm">
        <h4 class="bold">Scoppito</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">38.2°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">730 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Chieti" href="http://my.meteonetwork.it/station/abr070/statistiche">
        <h4 class="bold">Chieti</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">39.7°</span> <span class="date-ondata-caldo"> il 2/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>270 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Lucoli" href="http://my.meteonetwork.it/station/abr088/statistiche">
        <h4 class="bold">Lucoli</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">37.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">935 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Tollo" href="http://my.meteonetwork.it/station/abr054/statistiche">
        <h4 class="bold">Tollo (CH)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">43.5°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>165 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Valle di Tufo" href="http://my.meteonetwork.it/station/abr063/">
        <h4 class="bold">Fara San Martino (CH)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">39.2°</span> <span class="date-ondata-caldo"> il 3/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>462 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Tagliacozzo Poggetello" href="http://www.caputfrigoris.it/rete-meteo/poggetello/">
        <h4 class="bold">Tagliacozzo (Poggetello)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">38.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>750 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Valle di Tufo" href="http://www.kappu86.altervista.org/provarasp/">
        <h4 class="bold">Valle di Tufo</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.1°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">650 metri</h4>
    </div>
  </div>


  <h1>Estremi Temperature Massime - Lazio</h1>
  <h2 class="title-micro-section center">Frosinone - Valle di Comino</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campoli Appennino" href="http://meteocampoli.altervista.org/riepilogo.htm">
        <h4 class="bold">Campoli Appennino Treo</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.3°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>500 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campoli Appennino San Pancrazio" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Campoli Appennino San Panc (dati ogni 30 minuti)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>680 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Sora" href="http://my.meteonetwork.it/station/laz039/statistiche">
        <h4 class="bold">Sora</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.9°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>300 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Isola del Liri" href="http://my.meteonetwork.it/station/laz041/statistiche">
        <h4 class="bold">Isola del Liri</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.1°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">269 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Arpino Vigne Piane"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR03SPE03">
        <h4 class="bold">Arpino (Vigne Piane)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.0°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>525 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Alvito"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR13SIE03">
        <h4 class="bold">Alvito</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.1° </span> <span class="date-ondata-caldo">il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">391 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Alvito" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Atina</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.4°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>338 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Settefrati" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Settefrati (dati ogni 30 minuti)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>700 metri</h4>
    </div>
  </div>
  <br>
  <h2 class="title-micro-section center">Frosinone - Provincia</h2>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Boville Ernica"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR11SIE03">
        <h4 class="bold">Boville Ernica (Sasso)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">43.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>217 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campoli Appennino San Pancrazio" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Filettino (dati ogni 30 minuti)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">35.8°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1060 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Anagni" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Anagni</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>325 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Isola del Liri" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Alatri (dubbia)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">45.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>440 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Piglio"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR06SPE03">
        <h4 class="bold">Piglio</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.7°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>400 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="S. Elia"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR09SIE03">
        <h4 class="bold">S. Elia Fiumerapido</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.3°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>160 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Pastena"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR08SPE03">
        <h4 class="bold">Pastena</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.3°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>205 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Vallecorsa"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR12SIE03">
        <h4 class="bold">Vallecorsa</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.4°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>470 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Esperia"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR04SPE03">
        <h4 class="bold">Esperia</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">43.6°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>138 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Vallecorsa"
         href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D4_ca.asp?Centralina=FR05SPE03">
        <h4 class="bold">San Giorgio a Liri</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.1°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>30 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Ferentino" href="http://my.meteonetwork.it/station/laz036/statistiche">
        <h4 class="bold">Ferentino</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>375 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campocatino" href="http://my.meteonetwork.it/station/laz042/statistiche">
        <h4 class="bold">Campocatino</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">29.1°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1802 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Frosinone" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Frosinone</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">43.1°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>300 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Colfelice" href="http://meteocolfelice.altervista.org/stat/rapporto-annuo.php">
        <h4 class="bold">Colfelice</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.2°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>470 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Ceprano" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Ceprano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>104 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Ceccano" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Ceccano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.6°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>130 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Veroli" href="http://www.idrografico.roma.it/annali/">
        <h4 class="bold">Veroli (dati ogni 30 minuti)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>N.D. (300 metri)</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Tecchiena" href="http://my.meteonetwork.it/station/laz136/statistiche">
        <h4 class="bold">Tecchiena</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>243 metri</h4>
    </div>
  </div>

  <h2 class="title-micro-section center">Roma - Provincia</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Anguillara" href="http://my.meteonetwork.it/station/laz179/">
        <h4 class="bold">Anguillara</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.9°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>180 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Morlupo" href="http://my.meteonetwork.it/station/laz173/">
        <h4 class="bold">Morlupo</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>250 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Monterotondo" href="http://my.meteonetwork.it/station/laz168/">
        <h4 class="bold">Monterotondo</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.9°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>155 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Olevano" href="http://my.meteonetwork.it/station/laz176/">
        <h4 class="bold">Olevano Romano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>598 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Palombara" href="http://my.meteonetwork.it/station/laz231/">
        <h4 class="bold">Palombara Sabina (RM)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.6°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>130 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Tivoli" href="http://my.meteonetwork.it/station/laz177/">
        <h4 class="bold">Tivoli</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>253 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Roma est" href="http://my.meteonetwork.it/station/laz230/">
        <h4 class="bold">Roma est</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.5°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>80 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Roma nomentana" href="http://my.meteonetwork.it/station/laz183/">
        <h4 class="bold">Roma Nomentana</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>70 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Colle Prenestino" href="http://my.meteonetwork.it/station/laz215/">
        <h4 class="bold">Colle Prenestino</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.5°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>61 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Tivoli" href="http://my.meteonetwork.it/station/laz198/">
        <h4 class="bold">Osteria nuova(RM)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.2°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>148 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Montelibretti" href="http://my.meteonetwork.it/station/laz222/">
        <h4 class="bold">Montelibretti</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">43.2°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>26 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Guidonia" href="http://my.meteonetwork.it/station/laz156/">
        <h4 class="bold">Guidonia</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.1°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>113 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Genazzano" href="http://my.meteonetwork.it/station/laz135/">
        <h4 class="bold">Genazzano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.9°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>375 metri</h4>
    </div>
  </div>

  <h2 class="title-micro-section center">Viterbo - Rieti</h2>
  <br>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Tuscia" href="http://my.meteonetwork.it/station/laz182/">
        <h4 class="bold">San Giovanni Tuscia(VT)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.3°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>350 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Ronciglione" href="http://my.meteonetwork.it/station/laz172/">
        <h4 class="bold">Ronciglione(VT)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.4°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>575 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Amatrice" href="http://my.meteonetwork.it/station/laz201/statistiche">
        <h4 class="bold">Amatrice(RI)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">34.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1025 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Contigliano" href="http://my.meteonetwork.it/station/laz166/">
        <h4 class="bold">Contigliano(RI)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.9°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>530 metri</h4>
    </div>
  </div>


  <h1>Estremi Temperature Massime - Umbria</h1>
  <h2 class="title-micro-section center">Provincia di Perugia</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Gualdo Tadino" href="http://my.meteonetwork.it/station/mbr001/">
        <h4 class="bold">Gualdo Tadino</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.7°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>455 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Marsciano" href="http://my.meteonetwork.it/station/mbr006/">
        <h4 class="bold">Marsciano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.4°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>300 metri</h4>
    </div>
  </div>

  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Piegaro" href="http://my.meteonetwork.it/station/mbr037/">
        <h4 class="bold">Piegaro</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.1°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>269 metri</h4>
    </div>
  </div>

  <h2 class="title-micro-section center">Provincia di Terni</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Orvieto" href="http://my.meteonetwork.it/station/mbr026/">
        <h4 class="bold">Orvieto</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">41.5°</span> <span class="date-ondata-caldo"> il 2/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>350 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Stroncone" href="http://my.meteonetwork.it/station/mbr015/">
        <h4 class="bold">Stroncone</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.7°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">330 metri</h4>
    </div>
  </div>

  <h1>Estremi Temperature Massime - Marche</h1>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Cingoli" href="http://my.meteonetwork.it/station/mrc034/">
        <h4 class="bold">Cingoli (MC)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">37°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">631 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Montecalvo in Foglia (PU)" href="http://my.meteonetwork.it/station/mrc028/">
        <h4>Montecalvo in Foglia (PU)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">41.2°</span> <span class="date-ondata-caldo"> il 4/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>140 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Montefelcino" href="http://my.meteonetwork.it/station/mbr026/">
        <h4 class="bold">Montefelcino (PU)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.6°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>96 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Montelabbate" href="http://my.meteonetwork.it/station/mrc029/">
        <h4 class="bold">Montelabbate (PU)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>60 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Fabriano" href="http://my.meteonetwork.it/station/mrc047/">
        <h4 class="bold">Fabriano (AN)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.8°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>606 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Jesi" href="http://my.meteonetwork.it/station/mrc043/">
        <h4 class="bold">Jesi (AN)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">43.6°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>330 metri</h4>
    </div>
  </div>


  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Jesi 2" href="http://my.meteonetwork.it/station/mrc041/">
        <h4 class="bold">Jesi (AN)</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">43.0°</span> <span class="date-ondata-caldo"> il 2/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>130 metri</h4>
    </div>
  </div>
  <h1>Estremi Temperature Massime - Molise</h1>
  <h2 class="title-micro-section center">Provincia di Campobasso</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Baranello" href="http://my.meteonetwork.it/station/mls007/">
        <h4 class="bold">Baranello</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.4°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>610 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Marsciano" href="http://my.meteonetwork.it/station/mls006/">
        <h4 class="bold">Campitello Matese</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">30.9°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1420 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campobasso" href="http://my.meteonetwork.it/station/mls013/">
        <h4 class="bold">Campobasso</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.8°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>733 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campodipietra" href="http://my.meteonetwork.it/station/mls014/">
        <h4 class="bold">Campodipietra</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.3°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>510 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Castropignano" href="http://my.meteonetwork.it/station/mls015/">
        <h4 class="bold">Castropignano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.6°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>350 metri</h4>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
    </div>
  </div>
  <h1>Estremi Temperature Massime - Molise</h1>
  <h2 class="title-micro-section center">Provincia di Isernia</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Capracotta" href="http://my.meteonetwork.it/station/mls012/">
        <h4 class="bold">Capracotta</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">33.4°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>1421 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Isernia" href="http://my.meteonetwork.it/station/mls010/">
        <h4 class="bold">Isernia</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">40.1°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>362 metri</h4>
    </div>
  </div>
  <h2 class="title-micro-section center">Provincia di Campobasso</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Gualdo Tadino" href="http://my.meteonetwork.it/station/mbr001/">
        <h4 class="bold">Gualdo Tadino</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">39.7°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>455 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Marsciano" href="http://my.meteonetwork.it/station/mbr006/">
        <h4 class="bold">Marsciano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.4°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>300 metri</h4>
    </div>
  </div>
  <h1>Estremi Temperature Massime - Toscana</h1>
  <h2 class="title-micro-section center">Provincia di Firenze</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campi Bisenzio" href="http://my.meteonetwork.it/station/mls012/">
        <h4 class="bold">Campi Bisenzio</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.6°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>45 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Capraia e Limite" href="http://my.meteonetwork.it/station/tsc128/">
        <h4 class="bold">Capraia e Limite</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.1°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>28 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Campo Marte" href="http://my.meteonetwork.it/station/tsc147/">
        <h4 class="bold">Campo Marte</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.1°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>76 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Gavinana" href="http://my.meteonetwork.it/station/tsc007/">
        <h4 class="bold">Gavinana</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.7°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4 class="bold">55 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Pontassieve " href="http://my.meteonetwork.it/station/tsc101/">
        <h4>Pontassieve</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">41.3°</span> <span class="date-ondata-caldo"> il 4/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>120 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Leccio" href="http://my.meteonetwork.it/station/tsc137/">
        <h4>Leccio</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4 class="bold"><span class="temp-ondata-caldo">41.7°</span> <span class="date-ondata-caldo"> il 3/8/17 </span>
      </h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>140 metri</h4>
    </div>
  </div>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Rignano" href="http://my.meteonetwork.it/station/tsc009/">
        <h4 class="bold">Rignano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.4°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>150 metri</h4>
    </div>
  </div>

  <h2 class="title-micro-section center">Provincia di Siena</h2>
  <br>
  <div class="row bod">
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Montepulciano" href="http://my.meteonetwork.it/station/tsc157/">
        <h4 class="bold">Montepulciano</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">41.7°</span> <span class="date-ondata-caldo"> il 4/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>295 metri</h4>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
      <a title="Torrita di Siena" href="http://my.meteonetwork.it/station/tsc092/">
        <h4 class="bold">Torrita di Siena</h4></a>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
      <h4><span class="temp-ondata-caldo">42.0°</span> <span class="date-ondata-caldo"> il 3/8/17 </span></h4>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
      <h4>350 metri</h4>
    </div>
  </div>
</div>
<br>
<br>
<button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()">&laquo; INDIETRO</button>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
