<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="500Hpa">
    <br>
    <ng-template matTabContent>
      <br>
      <modelli-confronto [modello]="modello"></modelli-confronto>
    </ng-template>
  </mat-tab>
  <mat-tab label="850Hpa">
    <br>
    <ng-template matTabContent>
      <br>
      <modelli-confronto [modello]="modello"></modelli-confronto>
    </ng-template>
  </mat-tab>
  <mat-tab label="PRECIPITAZIONI">
    <br>
    <ng-template matTabContent>
      <br>
      <modelli-confronto [modello]="modello"></modelli-confronto>
    </ng-template>
  </mat-tab>
</mat-tab-group>
