<p class="title-micro-section">Provincia di Pesaro-urbino</p>
<webcam [luogo]="'RIFUGIO CORSINI (PU)'"
        [altitudine]="'1290'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/montenerone/image.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE NERONE (PU)'"
        [altitudine]="'1290'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/sciovie-montenerone/image.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE CARPEGNA (PU)'"
        [altitudine]="'1280'"
        [urlSite]="'www.meteoplanet.it'"
        [urlWebcam]="'https://www.meteoplanet.it/layout/webcam/view/?url=https://www.eremomontecarpegna.it/public/webcam/air2.jpg'"
>
</webcam>
<webcam [luogo]="'FRONTINO (PU)'"
        [altitudine]="'512'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fftp.comune.frontino.pu.it%2Ffrontino.jpg&w=630'"
>
</webcam>
