<div class="center">
  <br>
  <p class="testo-articoli">In geofisica i terremoti (dal latino: terrae motus, che vuol dire "movimento della terra"),
    detti
    anche sismi o
      scosse telluriche (dal latino Tellus, dea romana della Terra), sono vibrazioni o assestamenti improvvisi della
      crosta terrestre, provocati dallo spostamento improvviso di una massa rocciosa nel sottosuolo.

      Tale spostamento e' generato dalle forze di natura tettonica che agiscono costantemente all'interno della crosta
      terrestre provocando la liberazione di energia in una zona interna della Terra detta ipocentro, tipicamente
      localizzato al di sopra di fratture preesistenti della crosta dette faglie; a partire dalla frattura creatasi una
      serie di onde elastiche, dette "onde sismiche", si propaga in tutte le direzioni dall'ipocentro, dando vita al
      fenomeno osservato in superficie. Il luogo della superficie terrestre posto sulla verticale dell'ipocentro si
      chiama
      epicentro ed e' generalmente quello piu interessato dal fenomeno. La branca della geofisica che studia questi
      fenomeni e' la sismologia.

      Quasi tutti i terremoti che avvengono sulla superficie terrestre sono concentrati in zone ben precise, ossia in
      prossimita' dei confini tra due placche tettoniche dove il contatto e' costituito da faglie: queste sono infatti
      le
      aree tettonicamente attive, ossia dove le placche si muovono piu o meno "sfregando" o "cozzando" le une rispetto
      alle altre, generando cosi i terremoti d'interplacca. Piu raramente i terremoti avvengono lontano dalle zone di
      confine tra placche, per riassestamenti tettonici. Terremoti localizzati e di minor intensita' sono registrabili
      in
      aree vulcaniche per effetto del movimento di masse magmatiche in profondita'.

      Secondo il modello della tettonica delle placche il movimento delle placche e' lento, costante e impercettibile
      (se
      non con strumenti appositi), e modella e distorce le rocce sia in superficie che nel sottosuolo. Tuttavia in
      alcuni
      momenti e in alcune aree, a causa delle forze interne (pressioni, tensioni e attriti) tra le masse rocciose, tali
      modellamenti si arrestano e la superficie coinvolta accumula tensione ed energia per decine o centinaia di anni
      fino
      a che, al raggiungimento del carico di rottura, l'energia accumulata e' sufficiente a superare le forze resistenti
      causando l'improvviso e repentino spostamento della massa rocciosa coinvolta. Tale movimento improvviso, che in
      pochi secondi rilascia energia accumulata per decine o centinaia di anni, genera cosi le onde sismiche e il
    terremoto associato. </p>
  </div>
