mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}

#logout-button {
  color: white;
  background-color: #16163f;
  border: 1px solid black;
}

#delete-product-button {
  color: white;
  background-color: #145214;
  border: 1px solid black;
}

.thumbnail {
  display: block;
  /* padding: 4px; */
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  /* border-radius: 100px; */
  /* border-radius: 30px; */
  border: 15px;
  border-style: solid;
  border-color: #ffffff;
  margin-right: 35px;
}
