<br>
<h2 class="title-micro-section">Cliccare sulle immagini per ingrandirle</h2>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
  <div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/dolina-neve-min.jpg')" class="thumbnail">
        <p></p>
        <img src="./assets/img/dolina-neve-min.jpg" alt="dolina campoli appennino"
             class="image-gallery" width="100%" height="246"
             (load)="imageLoader = false;">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/campoli-vallata.png')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/campoli-vallata.png" alt="campoli foto vallata" class="image-gallery" width="100%"
             height="246">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/campoli-appennino-verde.png')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/campoli-appennino-verde.png" alt="campoli appennino" class="image-gallery"
             width="100%" height="246">
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/albero-neve-2012.png')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/albero-neve-2012.png" alt="Neve 2012" class="image-gallery" width="100%"
             height="246">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/campoli-appennini.png')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/campoli-appennini.png" alt="Campoli vista appennini"
             class="image-gallery" width="100%" height="246">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/lacerno.png')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/lacerno.png" alt="Canyon Lacerno Campoli" class="image-gallery" width="100%"
             height="246">
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/dolina-alto-min.jpg')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/dolina-alto-min.jpg" alt="Dolina campoli dall'alto"
             class="image-gallery" width="100%" height="246">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/campoli-innevata.png')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/campoli-innevata.png" alt="Campoli Innevata" class="image-gallery" width="100%"
             height="246">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <a (click)="openModal('./assets/img/cascata-lacerno.png')" class="thumbnail">
        <p></p>
        <img src="../../../assets/img/cascata-lacerno.png" alt="Cascata Lacerno Campoli"
             class="image-gallery" width="100%" height="246">
      </a>
    </div>
  </div>
  <br>
  <br>
  <button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
          (click)="scrollToTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>
