mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}

#logout-button {
  color: white;
  background-color: #16163f;
  border: 1px solid black;
}

#delete-product-button {
  color: white;
  background-color: #145214;
  border: 1px solid black;
}
