<em><h1>Radar Precipitazioni - Satellite</h1></em>

<br>

  <a type="button" class="btn btn-primary" href="http://meteocampoli.altervista.org/satellite-centro.html" title="Radar Centro Italia" >RADAR CENTRO ITALIA </a>
  <a type="button" class="btn btn-primary" href="http://meteocampoli.altervista.org/satellite-nord.html" title="Radar Nord Italia" >RADAR NORD ITALIA  </a>
  <a type="button" class="btn btn-primary" href="http://meteocampoli.altervista.org/satellite-sud.html" title="Radar Sud Italia" >RADAR SUD ITALIA </a>

<br>
<br>
<em ><b><h3 (click)="toggle()">{{buttonName}} Temperatura 2m in tempo reale  </h3></b></em>
<img class="flex" *ngIf="show" src="http://img.meteo.it/forecastimg/realtime/12/today_temperatura.jpg" width="920" height="630" alt="temperature suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />
<br>
<br>
