<figure>
  <figcaption>
    <strong>CARAMANICO TERME  (PE) 650 Mt</strong>
    <span>locandadelbarone.it</span>

  </figcaption>
  <a href="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2F82.104.87.176%2Fcgi-bin%2Fimage.jpg&w=630"  ><img src="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2F82.104.87.176%2Fcgi-bin%2Fimage.jpg&w=630" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>



  <figure>
    <figcaption>
      <strong>ROCCACARAMANICO (PE) 867 mt</strong>
      <span>www.associazioneroccacaramanico.it/</span>

    </figcaption>
    <a href="http://www.associazioneroccacaramanico.it/images/webcam/camroccacaramanico_1.jpg"  ><img src="http://www.associazioneroccacaramanico.it/images/webcam/camroccacaramanico_1.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
  </figure>
