<br>
<h1 class="header-macro-section">Riepilogo Stazione Meteo Campoli Appennino - 500 MT</h1>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
<br>
<br>
<iframe class="riepilogo-frame" id="riepilogoFrame"
        src="https://www.meteocampoliappennino.altervista.org/rapporto-mensile.php"
        (load)="imageLoader = false;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        title="riepilogo dati stazione"></iframe>
  <br>
</div>
