/*::ng-deep html ::ng-deep{
  zoom: 1 !important;
}*/

::ng-deep .scelta-rapporto ::ng-deep{
  font-size: 18pt;
}

::ng-deep select ::ng-deep{
  font-size: 20pt;
}

input{
  font-size: 20pt;
}

a{
  font-size: 16pt;
}

p{
  font-size: 16pt;
}

td{
  font-size: 13pt;
}

option{
  font-size: 13pt;
}

.button-esegui{
  font-size: 14pt;
}

table{
  font-size: 14pt;
}

.storico-accordion {
  max-width: 1000px;
  margin: 2rem auto;
}

mat-panel-title{
  font-size: 25px;
}

.mat-expansion-panel-header {
  min-height: 70px; /* ✅ aumenta l’altezza */
  padding: 0 24px; /* ✅ aggiunge spazio interno */
  font-size: 1.2rem; /* ✅ testo più grande */
  display: flex;
  align-items: center;
}

.mat-panel-title {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.mat-panel-description {
  font-size: 1rem;
  color: #e2e2e2;
}

.mat-expansion-panel {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.iframe-container {
  padding: 1rem;
  background: #f8f9fa;
}

.riepilogo-frame {
  width: 100%;
  height: 1200px;
  border: none;
  border-radius: 8px;
}

::ng-deep .mat-expansion-indicator {
  font-size: 28px; /* ✅ aumenta la dimensione */
  transform: scale(1.5); /* opzionale: zoom */
}


@media screen and (max-width: 890px) {
  .scelta-rapporto{
    font-size: 17pt !important;
  }

  select{
    font-size: 17pt !important;
  }

  input{
    font-size: 17pt !important;
  }

  option{
    font-size: 17pt !important;
  }

  .button-esegui{
    font-size: 18pt !important;
  }

  table{
    font-size: 18pt;
  }
}

