<br>
<h1 class="header-macro-section">Riepilogo Stazione Meteo Campoli Appennino - 500 MT</h1>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
<br>
<br>
<iframe class="riepilogo-frame" id="riepilogoFrame"
        src="http://meteocampoliapp.altervista.org/rapporto-mensile.php"
        (load)="imageLoader = false;"></iframe>
  <br>
  <br>
  <button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>
