<p class="header-macro-section">
  <button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()" aria-label="bottone-indietro">
    &laquo; ARTICOLI
  </button>
  <br>
  Vite - Come prendersene cura - Info Utili
</p>
<br>
<br>
<div class="testo-articoli">
  <h2 class="title-micro-section center"><b>Informazioni generali</b></h2>
  La vite è una <b>pianta arborea rampicante</b> che per crescere si attacca a dei sostegni (tutori) mediante i viticci;
  se la pianta non viene potata può raggiungere larghezze ed altezze notevoli attaccandosi agli alberi, su pareti
  rocciose, o coprendo il suolo. <br>
  È dotata di un <b>apparato radicale molto sviluppato</b>, che può superare anche i 10 metri di lunghezza. <br>
  I frutti sono delle bacche (acini) di forma e colore variabile: gialli, viola o bluastri, raggruppati in grappoli.
  <br>
  Le <b>viti</b> sono <b>tutte innestate</b>, spesso su altre specie di vitacee. <br>
  L’apparato radicale si approfondisce abbastanza nel suolo, ma la maggior parte delle radici resta nel primo metro di
  profondità. <br>
  La vite è una <b>specie mediterranea</b> con elevate <b>esigenze di temperatura</b>. La vite cresce bene nei nostri
  territori del sud, centro, ma anche nord Italia. <br>
  Ama le <b>temperature miti e il sole</b>, ma resiste anche al freddo non eccessivo. <br>
  Una <b>ventilazione moderata è positiva</b> per garantire il giusto arieggiamento, che riduce il rischio di patologie
  fungine.<br>
  Per <b>piantare</b> una pianta di vite è opportuno scegliere una <b>posizione ben soleggiata</b>. <br>
  Il <b>periodo</b> adatto per l’<b>impianto</b> è quello del riposo vegetativo, <b>tra l’autunno e la fine
  dell’inverno</b>, evitando i momenti di gelate. <br>
  Per il trapianto bisogna scavare una buca sufficientemente profonda e mettervi dentro la pianta ben diritta,
  aggiungendo del buon composto o letame come concimazione di fondo. <br>
  La vite è una <b>pianta aridoresistente</b>, ma le piante giovani con radici ancora poco sviluppate sono più
  vulnerabili, ed è importante garantire loro il giusto approvvigionamento di acqua. <br>
  <hr>
  <p class="title-micro-section center">Potatura</p>
  La <b>potatura</b> per la vite è fondamentale per assicurare un <b>equilibrio vegeto-produttivo</b>, per la qualità
  dei frutti e per la <b>salubrità della pianta</b>. <br>
  In generale la quantità di gemme da lasciare alla pianta dopo ogni potatura determina la quantità e la qualità di uva
  prodotta: se si lasciano <b>tante gemme</b> la <b>produzione sarà abbondante</b> ma con un <b>grado zuccherino
  basso</b> e una bassa concentrazione di composti aromatici. <br>
  Nei territori del centro-nord dove sussiste il rischio di gelate primaverili, per la potatura è meglio attendere la
  <b>fine dell’inverno</b>, e quindi febbraio-marzo, perché un vigneto <b>potato presto</b>, cioè nel tardo
  autunno-inizio inverno, in genere il <b>germogliamento tende ad anticipare</b>. <br>
</div>
<br>
<button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()" aria-label="bottone-indietro">
  &laquo; INDIETRO
</button>

