<p class="header-macro-section">
  <button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()">&laquo; ARTICOLI</button>
  Pesco - Come prendersene cura - Info Utili
</p>
<br>
<br>
<div class="testo-articoli">
  <h2 class="title-micro-section center"><b>Informazioni generali</b></h2>
  Il pesco è un albero originario della Cina, dove fu considerato simbolo d'immortalità. <br>
  Dall'oriente il pesco giunse in Persia, donde giunse in Europa; dalla Persia deriva quindi il nome della specie. <br>
  Il pesco è un albero che può raggiungere <b>un'altezza di 4-8 metri</b>, con corteccia leggermente scabra di colore
  marrone. <br>
  La coltivazione del pesco di solito viene avviata partendo da piante già innestate di un anno di età (astoni),
  acquistate presso i vivaisti.
  Tuttavia è possibile riprodurre questa pianta attraverso il seme anche se la qualità e le caratteristiche dei frutti
  saranno piuttosto imprevedibili. <br>
  Il pesco dovrebbe essere piantato in <b>pieno sole in un'area moderatamente ventilata</b> per attutire i rigori delle
  gelate invernali e delle arsure estive.<br>
  Per una crescita ottimale il pesco richiede <b>un'irrigazione regolare</b> da aumentare durante la fioritura e
  l'allegagione, diminuendola solo successivamente.<br>
  Il pesco è una pianta autoimpollinante perciò ha una percentuale di allegagione elevata, è importante avere un <b>rapporto
  equilibrato fra numero dei frutti e vigore vegetativo della pianta</b>. <br>
  Un eccessivo numero di pesche porta alla formazione di frutti piccoli, poveri di zuccheri e poco saporiti.<br>
  Il pesco <b>soffre facilmente le avversità di natura biologica</b>. I parassiti animali più importanti sono senz'altro
  gli insetti, ma anche virosi (es. la Sharka) ed i funghi. <br>
  <hr>
  <p class="title-micro-section center">Potatura</p>
  Con la <b>potatura</b> del pesco arriviamo a togliere il <b>50% e oltre dei rami</b> di una pianta adulta e in buone
  condizioni, si tratta quindi di un intervento molto energico. <br>
  La potatura è una pratica essenziale per il perseguimento di vari obiettivi importanti e collegati tra loro: l’<b>equilibrio
  vegeto-produttivo</b> della pianta, l’<b>eliminazione di polloni e succhioni</b>, ovvero rami vegetativi a crescita
  verticale che si sviluppano rispettivamente dalla base della pianta e da branche, e il <b>ringiovanimento</b> costante
  delle formazioni fruttifere.<br>
  La <b>potatura</b> avviene <b>da ottobre in poi</b>, comunque dopo il raccolto.<br>
  In zone a <b>clima mite</b> la potatura può essere <b>praticata in autunno</b>, potando in concomitanza della caduta
  delle foglie, senza rimandare oltre, è possibile evitare la tipica emissione di gomme dai tagli. <br>
  In ambienti caratterizzati da <b>inverni freddi</b> è invece meglio <b>attendere la fine dell’inverno</b>. <br>
  Normalmente la finestra ideale è nei mesi di gennaio e febbraio, avendo cura di evitare i periodi molto umidi o di
  freddo intenso. <br>
  La <b>potatura estiva</b> normalmente si effettua in un periodo compreso tra <b>giugno e luglio</b>. <br>
  È importante <b>eliminare i rami secchi e in generale le parti sofferenti della pianta</b>. Queste operazioni si
  effettuano durante il <b>riposo vegetativo</b> del pesco. <br>
  E' importante aumentare la <b>luce e il circolo d’aria</b> all’interno della chioma. Inoltre bisogna tener conto che
  il pesco è un albero che ha <b>produzioni alternate</b>: dopo un anno particolarmente ricco di frutti, fa seguito
  un'annata dal raccolto scarso.
  Se si effettua una buona operazione di potatura, insieme al diradamento dei frutticini, è possibile riequilibrare le
  produzioni e dare costanza al raccolto. <br>
  Dopo il raccolto, in inverno, si devono <b>eliminare</b> tutte le <b>parti improduttive</b> della pianta, tutti i rami
  che si orientano in verticale, che partono dal fusto, che si trovano troppo in basso o quelli che partono dalla
  terminazione delle branche principali sono da eliminare. <br>
  Tra una pianta e l’altra è meglio <b>disinfettare gli attrezzi</b>, per evitare di trasmettere malattie fungine o
  batteri.

</div>
<br>
<br>
<button class="btn btn-primary button-indietro" aria-label="bottone-indietro" title="Indietro" (click)="indietro()">
  &laquo; INDIETRO
</button>
