<strong><h3>Provincia Chieti</h3></strong>

<figure>
  <figcaption>
    <strong>Maiella Rif. Macchia di Taranta (CH) 1703 mT</strong>
    <span>www.caputfrigoris.it</span>

  </figcaption>
  <a href="http://www.caputfrigoris.it/webcam/maiella/webcam1/webcam.php" data-rel="prettyPhoto"  ><img src="http://www.caputfrigoris.it/webcam/maiella/webcam1/webcam.php" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>Maiella Rifugio Pomilio dir NE (CH) 1940 mT</strong>
    <span>www.pescarameteo.net</span>

  </figcaption>
  <a href="http://www.pescarameteo.net/maiella2/webcam.php" data-rel="prettyPhoto"  ><img src="http://www.pescarameteo.net/maiella2/webcam.php" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

