<br>
<p class="title-micro-section">Provincia Chieti</p>
<webcam [luogo]="'PASSO LANCIANO (CH) - RISTORO LA BAITA'"
        [altitudine]="'1340'"
        [urlSite]="'www.ristorolabaita.com'"
        [urlWebcam]="'https://www.ristorolabaita.com/webcam/LaBaitaWebcam/LaBaitaWebcam.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO POMILIO DIR NE (CH)'"
        [altitudine]="'1890'"
        [urlSite]="'www.torrevecchiameteo.it'"
        [urlWebcam]="'https://www.torrevecchiameteo.it/pomilio/cam.jpg?t=1661873570'"
>
</webcam>
