<br>
<table border="0">
  <tr><td> <span><a alt="Stazione meteo di Sora" href="http://my.meteonetwork.it/station/laz039" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz039/sticker-oriz1"  width=455 height=155  scrolling="No" /></a>
</span></td><td> <span><a alt="Stazione meteo di Isola del Liri" href="http://my.meteonetwork.it/station/laz041" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz041/sticker-oriz1" width=455 height=155  scrolling="No" /> </a></span><td></td></tr>
</table>

<table border="0">
  <tr><td> <span><a alt="Stazione meteo di Ferentino" href="http://my.meteonetwork.it/station/laz036" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz036/sticker-oriz1"  width=455 height=155  scrolling="No" /></a>
</span></td>
    <td> <span><a alt="Stazione meteo di San Giovanni Incarico" href="http://my.meteonetwork.it/station/laz165" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz165/sticker-oriz1" width=455 height=155  scrolling="No" /></a></span><td></td></tr>
</table>


  <table border="0">
    <tr><td> <span><a alt="Stazione meteo di Capracotta" href="http://my.meteonetwork.it/station/mls012" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/mls012/sticker-oriz1"  width=455 height=155  scrolling="No" /></a>
</span></td>
      <td> <span><a alt="Stazione meteo di Guarcino" href="http://my.meteonetwork.it/station/laz042" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz042/sticker-oriz1" width=455 height=155  scrolling="No" /></a></span><td></td></tr>
  </table>



  <table border="0">
    <tr><td> <span><a alt="Stazione meteo di Ariccia" href="http://my.meteonetwork.it/station/laz169" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz169/sticker-oriz1"  width=455 height=155  scrolling="No" /></a>
</span></td><td> <span><a alt="Stazione meteo di Rocca Priora" href="http://my.meteonetwork.it/station/laz110" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz110/sticker-oriz1"  width=455 height=155  scrolling="No" /></a></span><td></td></tr>
  </table>


  <table border="0">
    <tr><td> <span>     <a alt="Stazione meteo di Anagni" href="http://my.meteonetwork.it/station/laz054" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz054/sticker-oriz1"   width=455 height=155  scrolling="No" /> </a>
</span></td><td> <span><a alt="Stazione meteo di Alatri" href="http://my.meteonetwork.it/station/laz136" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz136/sticker-oriz1" width=455 height=155  scrolling="No" /></a></span><td></td></tr>
  </table>

  <table border="0">
    <tr><td> <span> <a alt="Stazione meteo di Anzio" href="http://my.meteonetwork.it/station/laz049" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz049/sticker-oriz1" width=455 height=155  scrolling="No" /></a>
</span></td><td> <span><a alt="Stazione meteo di Roma" href="http://my.meteonetwork.it/station/laz056" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz056/sticker-oriz1" width=455 height=155  scrolling="No" /></a></span><td></td></tr>
  </table>

  <table border="0">
    <tr><td> <span><a alt="Stazione meteo di Caprarola" href="http://my.meteonetwork.it/station/laz126" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz126/sticker-oriz1" width=455 height=155  scrolling="No" /></a>
</span></td><td> <span><a alt="Stazione meteo di Caprarola" href="http://my.meteonetwork.it/station/laz126" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz126/sticker-oriz1" width=455 height=155  scrolling="No" /></a></span><td></td></tr>
  </table>

  <table border="0">
    <tr><td> <span><a alt="Stazione meteo di Pescorocchiano" href="http://my.meteonetwork.it/station/laz184" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz184/sticker-oriz1" width=455 height=155  scrolling="No" /></a>
</span></td><td> <span><a alt="Stazione meteo di Contigliano" href="http://my.meteonetwork.it/station/laz166" target="_blank"><img style="border:none;" src="http://my.meteonetwork.it/station/laz166/sticker-oriz1" width=455 height=155  scrolling="No" /></a></span><td></td></tr>
  </table>


  <br>
