<tab-sat></tab-sat>

<em ><b><h3 (click)="toggle()">{{buttonName}} Temperatura 2m in tempo reale  </h3></b></em>
<img class="flex" *ngIf="show" src="http://img.meteo.it/forecastimg/realtime/12/today_temperatura.jpg" width="920" height="630" alt="temperature suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />
<br>
<br>

<br>
<br>
<!--
Satellite Infrarossi in movimento
<img src="http://www.meteo60.fr/satellites/animation-satellite-ir-france.gif" width="920" height="630" alt="satellite infrarossi movimento" style="padding:5px; border:2px solid #5DB4D9;" /><br />
Satellite Fulminazioni Europa
<img src="http://images.blitzortung.org/Images/image_b_eu.png?t=22640732" width="920" height="630" alt="satellite fulminazioni" style="padding:5px; border:2px solid #5DB4D9" /><br />

Monitoraggio Fulminazioni Europa in movimento
<img src="http://www.meteociel.fr/obs/foudre/anim_it.gif" width="920" height="630" alt="satellite fulminazioni europa movimento" style="padding:5px; border:2px solid #5DB4D9" /><br />

Monitoraggio Fulminazioni Centro Italia
<img src="http://radarweb.aquila.infn.it/cetempsite/fulmini.png" width="920" height="630" alt="satellite fulminazioni centro italia" style="padding:5px; border:2px solid #5DB4D9" /><br />

Satellite Precipitazioni
<center><h4><span style="color: red;"> &nbsp &nbsp Se l immagine sottostante non si aggiorna premere F5 o CTRL+F5 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Orario Italia UTC+1</span></h4></center>
<img src="http://www.protezionecivile.gov.it/images/rete_radar/VMI/VMI.JPEG" width="920" height="630" alt="satellite precipitazioni" style="padding:5px; border:2px solid #5DB4D9" /><br />

Satellite Meteosat Immagine Italia
<img src="http://www.sat24.com/image.ashx?country=it&0.6041513127274811" width="920" height="630" alt="satellite meteosat immagine" style="padding:5px; border:2px solid #5DB4D9"/><br />

<br>
Sinottica al suolo (aggiornamento orario)
<img src="http://meteocentre.com/analyse/local/eur.gif" width="920" height="630" alt="sinottica suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />

<br>
Sinottica in quota [500 Hpa] (aggiornamento step 12/H)
<img src="http://meteocentre.com/analyses/local/eur_500.gif?1422238524" width="920" height="630" alt="sinottica quota" style="padding:5px; border:2px solid #5DB4D9"/><br />

<br>
<br>
Temperatura 2m in tempo reale
<img src="http://img.meteo.it/forecastimg/realtime/12/today_temperatura.jpg" width="920" height="630" alt="temperature suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />

<!--
<br>
<br>
<font color="#23252C"><em><b><h3><center>Satellite Meteosat Italia</center></h3></b></em></font>
<iframe src="test-2m-zoom.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"></iframe>
-->

<br>
<br>
Radar Precipitazioni Lazio
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://img.meteo.it/forecastimg/realtime/12/today_pioggia.jpg" width="920" height="630" alt="radar precipitazioni lazio" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>




<br>
<br>
Radar Precipitazioni Ultime 3 ore
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://satollo.aquila.infn.it/midia/ref/ultimo_srt3h_noclass.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">
<br>
<br>
Radar Precipitazioni Ultime 6 ore
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://satollo.aquila.infn.it/midia/ref/ultimo_srt6h_noclass.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>
Radar Precipitazioni Ultime 24 ore
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://satollo.aquila.infn.it/midia/ref/ultimo_srt24h_giornaliero_cetcest_noclass.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>



Radar Precipitazioni Live
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://radarweb.aquila.infn.it/imgmm/ultimo_vmi_120km.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>



<!--
<font color="#23252C"><em><b><h3><center>Radar precipitazioni ultime 24H Zoom</center></h3></b></em></font>
<center><iframe src="http://www.vallemuricana.it/radarStimaH24.php" width="825" height="615" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"></iframe><center>

<br>
<br>
<br>
<br>
-->

Radar precipitazioni in tempo reale Zoom<
<iframe src="radar_zoom.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"></iframe>

<br>
<br>
Radar precipitazioni 24h Zoom
<iframe src="radar_zoom_24h.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"></iframe>


