/* You can add global styles to this file, and also import other style files */
body {
/*  */
  /*  background-color: #006aff; */
 font: 10pt Arial, Helvetica, sans-serif;

 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 14px;
 line-height: 1.42857143;
 color: #333;
}

#img-body{
/*background: url(assets/img/bg_clouds.jpg) top center no-repeat; */
}



#main {
  max-width: 1000px;
  margin: 0px auto;
}

.btn-pulup{
  color:#fff;
  background-color:#2d65c4;
  border-color:#2d65c4;
  font-size: 19px;
}
.btn-puldown
 { color:#fff;
  background-color:#2d65c4;
  border-color:#2d65c4;
  height:30px;
}

.dropdown-menu{
  color:#fff;
  border-color:#026960;
}

.dropdown-menu>li>a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  font-weight: bold;
  color: white ;
  white-space: nowrap;
  background-color: #2d65c4;
  height: 31px;
  font-size: 17px; }

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
  color:#fff;text-decoration:none;background-color:#0F75CF;}

.dropdown-menu .divider{
  height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;}

.footer-desc{width:100%;font-family:helvetica;font-size:12px;color:#fff }

.webcam{width: 700px;height: 480px; max-width: 700px;}

.hidden{display: none;}

.center{
  text-align:center;
}

.flex {max-width: 100%}
