<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="SUD">
    <br>
    <ng-template matTabContent>
      <br>
      <satellite-sud></satellite-sud>
    </ng-template>
  </mat-tab>
  <mat-tab label="SARDEGNA">
    <br>
    <ng-template matTabContent>
      <br>
      <satellite-sardegna></satellite-sardegna>
    </ng-template>
  </mat-tab>
  <mat-tab label="SICILIA">
    <br>
    <ng-template matTabContent>
      <br>
      <satellite-sicilia></satellite-sicilia>
    </ng-template>
  </mat-tab>
</mat-tab-group>
