<br>
<!--<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <span><b class="title-molise-sticker"><h2>1573mt</h2></b><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/rete-meteo-molise/stazione-meteo-di-capracotta-prato-gentile.html"
      target="_blank" rel="noopener"><img
      [src]="'http://www.centrometeomolise.it/pratogentile/banner/specchietto.php?v=' + preventCache"
      alt="Meteo Capracotta Prato Gentile"
      class="molise-sticker" width="190" height="100%"/></a></span>
  <br>
  <br>
</div>-->
<table>
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls012"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls012/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Capracotta"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls036" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/mls036/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155"
      alt="Stazione meteo di San Pietro Avellana"/></a></span>
    </td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls026"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls026/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Agnone"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls027"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls027/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Castel San Vincenzo"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls049"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls049/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Roccamandolfi"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls058"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls058/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Fornelli"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls025"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls025/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Frosolone"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls010"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls010/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Isernia"/></a></span>
    <td></td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls044"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls044/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Pietrabbondante"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls040"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls040/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Santa Maria del Molise"/></a></span>
    <td></td>
  </tr>
</table>


<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls001"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls001/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Campobasso"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls006"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls006/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Campitello Matese"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls030"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls030/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Cercemaggiore"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls014"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls014/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Campodipietra"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls007"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls007/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Baranello"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls011"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls011/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Colletorto"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls051"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls051/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Gambatesa"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls048"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls048/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Castelmauro"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls039"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls039/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Riccia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls028"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls028/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Ripalimosani"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls024"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls024/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Trivento"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls034"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls034/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Vinchiaturo"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls020"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls020/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Petacciato"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls069"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls069/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Melanico"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls022"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mls022/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Ururi"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls017"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mls017/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Termoli"/></a></span>
    <td></td>
  </tr>
</table>




