<!-- <mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner> -->
<br>
<div class="row">
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>1573mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/rete-meteo-molise/stazione-meteo-di-capracotta-prato-gentile.html"
      target="_blank"><img src="http://www.centrometeomolise.it/pratogentile/banner/specchietto.php"
                           alt="Meteo Capracotta Prato Gentile" longdesc="Capracotta Prato Gentile"
                           class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>1500mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/fuori-regione/roccaraso-aremogna.html"
      target="_blank"><img src="http://www.centrometeomolise.it/roccaraso/banner/specchietto.php"
                           alt="Meteo Roccaraso Aremogna" longdesc="Meteo Roccaraso Aremogna"
                           class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>1433mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/rete-meteo-molise/campitello-matese-1433-slm.html"
      target="_blank"><img src="http://www.centrometeomolise.it/campitello/banner/specchietto.php"
                           alt="Meteo Campitello Matese" longdesc="Meteo Campitello Matese" class="molise-sticker"/></a></span>
  </div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>1395mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/fuori-regione/bocca-della-selva-bn-1450-slm.html"
      target="_blank"><img src="http://www.centrometeomolise.it/boccadellaselva/banner/specchietto.php"
                           alt="Meteo Bocca Della Selva" longdesc="Meteo Bocca Della Selva" class="molise-sticker"/></a></span>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>1050mt</h3></em><a
      href="http://www.meteoisernia.net/rete-di-monitoraggio/meteo-rionero-sannitico.html" target="_blank"><img
      src="http://www.meteoisernia.net/stazioni/rionero/banner/specchietto.php" alt="Meteo Rionero"
      longdesc="Meteo Venafro" class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>811mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/fuori-regione/stazione-meteo-di-castel-di-sangro-aq-metri-811-slm.html"
      target="_blank"><img src="http://www.centrometeomolise.it/casteldisangro/banner/specchietto.php"
                           alt="Meteo Castel di Sangro" longdesc="Meteo Castel Di Sangro"
                           class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>800mt</h3></em><a href="http://www.meteoisernia.net/rete-di-monitoraggio/miranda.html"
                                    target="_blank"><img
      src="http://www.meteoisernia.net/stazioni/miranda/banner/specchietto.php" alt="Meteo Miranda Isernia"
      longdesc="Meteo Miranda Isernia" class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>766mt</h3></em><a href="http://www.meteoisernia.net/rete-di-monitoraggio/ferrazzano-cb.html"
                                    target="_blank"><img
      src="http://meteoisernia.net/stazioni/ferrazzano/banner/specchietto.php" alt="Meteo Ferrazzano"
      longdesc="Meteo Ferrazzano" class="molise-sticker"/></a></span></div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>759mt</h3></em><a
      href="http://www.meteoisernia.net/rete-di-monitoraggio/parco-nazionale-abruzzo-lazio-e-molise/cerro-al-volturno-zona-preparco.html"
      target="_blank"><img src="http://www.centrometeomolise.it/cerro/banner/specchietto.php"
                           alt="Meteo Cerro Al Volturno" longdesc="Meteo Cerro Al Volturno" class="molise-sticker"/></a></span>
  </div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>751mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/rete-meteo-molise/campobasso-zona-industriale.html"
      target="_blank"><img src="http://www.centrometeomolise.it/campobasso/banner/specchietto.php"
                           alt="Meteo Campobasso" longdesc="Campobasso" class="molise-sticker"/></a></span>
  </div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>612mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/fuori-regione/san-bartolomeo-in-galdo-bn.html"
      target="_blank"><img src="http://www.centrometeomolise.it/sbgaldo-kjhfv/banner/specchietto.php"
                           alt="Meteo San Bartolomeo In Galdo" longdesc="Meteo San Bartolomeo In Galdo"
                           class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>611mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/parco-nazionale-abruzzo-lazio-e-molise/scapoli-parco-nazionale.html"
      target="_blank"><img src="http://www.centrometeomolise.it/scapoli/banner/specchietto.php" alt="Meteo Scapoli"
                           longdesc="Meteo Scapoli" class="molise-sticker"/></a></span></div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>611mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/rete-meteo-molise/vandra-2-valico-frana-macerone.html"
      target="_blank"><img src="http://www.centrometeomolise.it/vandra2/banner/specchietto.php"
                           alt="Meteo Vandra Valico Frana Macerone" longdesc="Meteo Vandra Valico Frana Macerone"
                           class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>480mt</h3></em><a
      href="http://www.meteoisernia.net/rete-di-monitoraggio/isernia-s-lazzaro-urbana.html" target="_blank"><img
      src="http://www.meteoisernia.net/stazioni/slazzaro/banner/specchietto.php" alt="Meteo Isernia Widget"
      longdesc="Meteo Isernia Widget" class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>284mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/fuori-regione/cerreto-sannita-bn.html"
      target="_blank"><img src="http://www.centrometeomolise.it/cerreto/banner/specchietto.php"
                           alt="Meteo Cerreto Sannita" longdesc="Meteo Cerreto Sannita"
                           class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>242mt</h3></em><a
      href="http://www.meteoisernia.net/rete-di-monitoraggio/monteroduni-localita-sant-eusanio.html"
      target="_blank"><img src="http://www.centrometeomolise.it/monteroduni/banner/specchietto.php"
                           alt="Meteo Monteroduni" longdesc="Meteo Venafro" class="molise-sticker"/></a></span></div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>222mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/rete-meteo-molise/stazione-meteo-di-venafro.html"
      target="_blank"><img src="http://meteoisernia.net/stazioni/venafro/banner/specchietto.php" alt="Meteo Venafro"
                           longdesc="Meteo Venafro" class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>180mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/fuori-regione/vasto-castello-aragona.html"
      target="_blank"><img src="http://www.centrometeomolise.it/vasto/banner/specchietto.php" alt="Meteo Vasto"
                           longdesc="Meteo Vasto" class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>100mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/fuori-regione/san-salvo-ch.html" target="_blank"><img
      src="http://www.centrometeomolise.it/ssalvo/banner/specchietto.php" alt="Meteo San Salvo"
      longdesc="Meteo San Salvo" class="molise-sticker"/></a></span></div>
  <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
    <span><em><h3>0mt</h3></em><a
      href="https://www.meteoisernia.net/rete-di-monitoraggio/rete-meteo-molise/stazione-meteo-di-termoli.html"
      target="_blank"><img src="http://www.centrometeomolise.it/termoli/banner/specchietto.php" alt="Meteo Termoli"
                           longdesc="Meteo Termoli Panfilo" class="molise-sticker"/></a></span></div>
</div>
<br>
<button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
