<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "Organization",
"name": "Meteo Campoli",
"author": "Daniele Conflitti",
"image" : "http://meteocampoli.altervista.org",
"description": "Stazione meteo Campoli",
"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": "5",
"bestRating": "5",
"worstRating": "1",
"ratingCount": "4"
}
}




</script>

<script>
  document.getElementById('frame').contentWindow.location.reload(true);
  // Use an off-screen image to load the next frame.
  var img = new Image();

  // When it is loaded...
  img.addEventListener("load", function () {

    // Set the on-screen image to the same source. This should be instant because
    // it is already loaded.
    document.getElementById("frame").src = img.src;

    // Schedule loading the next frame.
    setTimeout(function () {
      img.src = "http://meteocampoliappennino.altervista.org/grafico.png?" + (new Date).getTime();
    }, 1000 / 15); // 15 FPS (more or less)
  })

  // Start the loading process.
  img.src = "http://meteocampoliappennino.altervista.org/grafico.png?" + (new Date).getTime();
</script>


<div class="center">

  <p class="header-macro-section">Meteo Campoli - Monitoraggio Meteo</p>
  <br>
  <p class="title-micro-section">L'immagine si aggiorna automaticamente dopo qualche istante</p>
  <a href="http://meteocampoliappennino.altervista.org/grafico.png?v=' + Math.random()"
     title="stazione meteo campoli monitoraggio"><img
    class="grafico-stazione" id="frame"
    [src]="path"
    alt="Stazione meteo grafico"></a><br>
</div>
<br>

<p class="title-micro-section">Clicca <a href="http://meteocampoliappennino.altervista.org/MyGWStats.php?&link=Full.xml"
                                         title="riepilogo dati old" target="_blank">qui</a> per visualizzare l'archivio
  dati nativo della stazione meteo di Campoli Via Treo </p>
<p class="title-micro-section">Clicca su <a href="https://www.ilmeteo.it/meteo/Campoli+Appennino"
                                            title="link ilmeteo.it" target="_blank"><img title="Link"
                                                                                         style="border: 0px solid ; width: 120px; height: 40px;"
                                                                                         alt="ilmeteo"
                                                                                         src="http://sacilemeteo.altervista.org/h/ilmeteo.jpg"></a>
  per accedere alle previsioni meteo dettagliate di Campoli App.</p>
<p class="title-micro-section">Clicca su <a
  href="http://forum.meteonetwork.it/nowcasting-e-discussioni-climatiche-italia-centrale/"
  title="link forum meteonetwork" target="_blank"><img title="Link MeteoNetwork"
                                                       style="border: 0px solid ; width: 150px; height: 38px;" alt="nmw"
                                                       src="http://sacilemeteo.altervista.org/h/mnw.jpg"></a>
  per accedere al forum di monitoraggio meteo del centro italia </p>
<p class="title-micro-section">Clicca su <a href="http://www.meteoliri.it/" title="sito meteo liri" target="_blank"><img
  title="Link" style="border: 0px solid ; width: 140px; height: 45px;" alt="meteoliri" src="http://www.meteoliri.it/logostyle.png
"></a> per accedere a MeteoLiri, il sito meteo della Media valle del Liri </p>
<br>
