<div class="center">
  <h1>Stazione Meteo Via treo - Monitoraggio Meteo </h1>
  <br>
  <!-- <h2 class="title-micro-section">L'immagine si aggiorna automaticamente dopo qualche istante</h2> -->
  <a href="https://www.meteocampoliappennino.altervista.org/grafico.png?v{{utilityService.preventCache}}"
     target="_blank"
     rel="noopener"><img
    title="stazione meteo campoli monitoraggio"
    class="grafico-stazione"
    [src]="path"
    alt="Stazione meteo grafico" id="refresh" width="1080" height="980" fetchpriority="high"></a><br>

  <iframe class="grafici-noaa" id="graficiNoaaMese"
          src="https://meteocampoliappennino.altervista.org/noaa/NOAA_test.php"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          title="grafico noaa stazione mese corrente" rel="noreferrer"></iframe>
  <iframe class="grafici-noaa" id="graficiNoaaAnno"
          [src] = "linkRapportoAnnuale | safe"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          title="grafico noaa stazione anno corrente" rel="noreferrer"></iframe>
</div>
<br>
<a href="https://www.meteocampoliappennino.altervista.org/MyGWStats.php?&link=Full.xml"
   title="riepilogo dati old" target="_blank" rel="noopener"></a>
<a href="https://www.ilmeteo.it/meteo/Campoli+Appennino"
   title="link ilmeteo.it" target="_blank" rel="noopener"><img title="Link"
                                                               alt="ilmeteo"
                                                               src="./assets/img/ilmeteo.jpg"
                                                               class="siti-preferiti" width="311" height="131"></a>
<a
  href="https://forum.meteonetwork.it/nowcasting-e-discussioni-climatiche-italia-centrale/"
  title="link forum meteonetwork" target="_blank" rel="noopener"><img title="Link MeteoNetwork"
                                                                      alt="nmw"
                                                                      src="./assets/img/mnw.jpg"
                                                                      class="siti-preferiti" width="311"
                                                                      height="131"></a>
<a href="http://www.meteoliri.it/" title="sito meteo liri" target="_blank" rel="noopener"><img
  title="Link" alt="meteoliri" src="./assets/img/meteoliri.png" class="siti-preferiti" width="311" height="131"></a>
<a href="https://www.meteoregionelazio.it/" title="sito meteo lazio" target="_blank" rel="noopener"><img
  title="Link" alt="meteo lazio" src="./assets/img/meteo-lazio.webp" class="siti-preferiti" width="311" height="131"></a>
<br>
