<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "name": "Meteo Campoli",
    "author": "Daniele Conflitti",
    "image": "http://meteocampoli.altervista.org",
    "description": "Stazione meteo Campoli",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "bestRating": "5",
      "worstRating": "1",
      "ratingCount": "4"
    }
  }

</script>
<div class="center">
  <h1>Meteo Campoli - Stazione Meteo</h1>
  <br>
  <!-- <h2 class="title-micro-section">L'immagine si aggiorna automaticamente dopo qualche istante</h2> -->
  <a href="http://www.meteocampoliapp.altervista.org/grafico.png?v=' + Math.random()" target="_blank"><img
    title="stazione meteo campoli monitoraggio"
    class="grafico-stazione"
    [src]="path"
    alt="Stazione meteo grafico" id="refresh"></a><br>
</div>
<br>
<a href="http://meteocampoli.altervista.org/MyGWStats.php?&link=Full.xml"
   title="riepilogo dati old" target="_blank"></a>
<a href="https://www.ilmeteo.it/meteo/Campoli+Appennino"
   title="link ilmeteo.it" target="_blank"><img title="Link"
                                                alt="ilmeteo"
                                                src="http://sacilemeteo.altervista.org/h/ilmeteo.jpg"
                                                class="siti-preferiti"></a>
<a
  href="http://forum.meteonetwork.it/nowcasting-e-discussioni-climatiche-italia-centrale/"
  title="link forum meteonetwork" target="_blank"><img title="Link MeteoNetwork"
                                                       alt="nmw"
                                                       src="http://sacilemeteo.altervista.org/h/mnw.jpg"
                                                       class="siti-preferiti"></a>
<a href="http://www.meteoliri.it/" title="sito meteo liri" target="_blank"><img
  title="Link" alt="meteoliri" src="http://www.meteoliri.it/logostyle.png" class="siti-preferiti"></a>
<a href="https://www.meteoregionelazio.it/" title="sito meteo lazio" target="_blank"><img
  title="Link" alt="meteo lazio" src="./assets/img/meteo-lazio.png" class="siti-preferiti"></a>
<br>
