<p class="title-micro-section">Provincia di Modena</p>
<webcam [luogo]="'MONTE  CIMONE (MO)'"
        [altitudine]="'2165'"
        [urlSite]="'cimone.isac.cnr.it'"
        [urlWebcam]="'https://cimone.isac.cnr.it/sites/cimone/files/webcam/webcam.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE  CIMONE (MO)'"
        [altitudine]="'2165'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.cimonesci.it%2Fcams%2Fpanorama.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'BUCA DEL CIMONE (MO)'"
        [altitudine]="'2000'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/cimone.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO CROCE ARCANA (MO)'"
        [altitudine]="'1749'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/crocearcana.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPIGNA - MONTE FALCO (MO)'"
        [altitudine]="'1630'"
        [urlSite]="'www.arezzometeo.com'"
        [urlWebcam]="'https://www.arezzometeo.cloud/campigna/skilift/webcam.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO MARIOTTI - LAGO SANTO PARMENSE (MO)'"
        [altitudine]="'1507'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/lagosanto/webcam2.php'"
>
</webcam>
<webcam [luogo]="'GIARDINO ESPERIA - SESTOLA (MO)'"
        [altitudine]="'1505'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/esperia/esperia.jpg'"
>
</webcam>
<webcam [luogo]="'LAGO SANTO MODENESE (MO)'"
        [altitudine]="'1501'"
        [urlSite]="'www.xposta.it'"
        [urlWebcam]="'https://www.xposta.it/parco/lagosanto/datiwebcam/lagosanto.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE FALCO - RIFUGIO LA CAPANNA (MO)'"
        [altitudine]="'1488'"
        [urlSite]="'www.arezzometeo.com'"
        [urlWebcam]="'https://www.arezzometeo.cloud/campigna/rifugio/webcam.jpg'"
>
</webcam>
<webcam [luogo]="'S.ANNA PELAGO (MO)'"
        [altitudine]="'1250'"
        [urlSite]="'www.campingpoggiolo.it'"
        [urlWebcam]="'https://www.campingpoggiolo.it/captureok.jpg'"
>
</webcam>
<webcam [luogo]="'CANEVARE (MO)'"
        [altitudine]="'1220'"
        [urlSite]="'www.agriturismodelcimone.it'"
        [urlWebcam]="'https://www.agriturismodelcimone.it/meteo/cam5.jpg'"
>
</webcam>
<webcam [luogo]="'SESTOLA (MO)'"
        [altitudine]="'1030'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/sestola.jpg'"
>
</webcam>
<webcam [luogo]="'FELLICAROLO (MO)'"
        [altitudine]="'922'"
        [urlSite]="'www.fellicarolo.it'"
        [urlWebcam]="'https://www.fellicarolo.it/images/webcam/Fellicarolo.jpg'"
>
</webcam>
<webcam [luogo]="'FRIGNANO (MO)'"
        [altitudine]="'684'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/pavullo1/pavullo.jpg'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Reggio Emilia</p>
<webcam [luogo]="'MONTE CUSNA (RE)'"
        [altitudine]="'2057'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/cusna/cusna.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO DEL CERRETO - ALPE DI SUCCISO (RE)'"
        [altitudine]="'2016'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/sorgentisecchia/sorgentisecchia.jpg?1365535523355'"
>
</webcam>
<webcam [luogo]="'CERRETO - MONTE NUDA (RE)'"
        [altitudine]="'1895'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/valleinferno/valleinferno.jpg?1365536690018'"
>
</webcam>
<webcam [luogo]="'CERRETO LAGHI (RE)'"
        [altitudine]="'1345'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/cerretolaghi/cerretolaghi.jpg'"
>
</webcam>
<webcam [luogo]="'PIETRA DI BISMANTOVA (RE)'"
        [altitudine]="'1041'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/bismantova/pietra.jpg?1365536804759'"
>
</webcam>
<webcam [luogo]="'FELINA (RE)'"
        [altitudine]="'665'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/felina/felina.jpg?1365537426414'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Pistoia</p>
<webcam [luogo]="'ABETONE (PT)'"
        [altitudine]="'1892'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/abetone/abetone.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO DELLA RATICOSA (PT)'"
        [altitudine]="'968'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/passoraticosa.jpg'"
>
</webcam>

<hr>
<p class="title-micro-section">Provincia di Parma</p>
<webcam [luogo]="'LAGO SANTO PARMENSE (PR)'"
        [altitudine]="'1507'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/lagosanto/webcam2.php'"
>
</webcam>
<webcam [luogo]="'PRATOSPILLA (PR)'"
        [altitudine]="'1350'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/pratospilla/webcam/webcam.php'"
>
</webcam>
<webcam [luogo]="'RIFUGIO LAGDEI (PR)'"
        [altitudine]="'1250'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/lagdei/webcam.php'"
>
</webcam>
<webcam [luogo]="'SCHIA - MONTE CAIO (PR)'"
        [altitudine]="'1230'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/schia/webcam1.php'"
>
</webcam>
<webcam [luogo]="'BORE (PR)'"
        [altitudine]="'830'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.meteoparma.com/webcamftp/bore/bore.jpg'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Forlì-Cesena</p>
<webcam [luogo]="'PRATI DELLA BURRAIA (FC)'"
        [altitudine]="'1490'"
        [urlSite]="'www.meteo-pedemontanaforlivese.it'"
        [urlWebcam]="'https://www.meteo-pedemontanaforlivese.it/webcam/rifugioburraia/burraia.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO CHALET BURRAIA (FC)'"
        [altitudine]="'1360'"
        [urlSite]="'www.meteo-pedemontanaforlivese.it'"
        [urlWebcam]="'https://www.meteo-pedemontanaforlivese.it/webcam/burraia.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE FUMAIOLO (FC)'"
        [altitudine]="'1146'"
        [urlSite]="'www.meteosantalberico.it'"
        [urlWebcam]="'https://www.meteosantalberico.it/webcam/current.jpg'"
>
</webcam>
<webcam [luogo]="'BAGNO DI ROMAGNA (FC)'"
        [altitudine]="'460'"
        [urlSite]="'www.lacrocina.net'"
        [urlWebcam]="'https://www.lacrocina.net/photo/current.jpg?time=1404027970'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Prato</p>
<webcam [luogo]="'MIGLIANA CANTAGALLO (PO)'"
        [altitudine]="'600'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.valbisenziometeo.it/cam_migliana/webcam.jpg'"
>
</webcam>
<webcam [luogo]="'LATORDICELLA - CASTEL DEL RIO (PO)'"
        [altitudine]="'510'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/casteldelrio/casteldelrio.jpg'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Bologna</p>
<webcam [luogo]="'CASTEL D\'AIANO (BO)'"
        [altitudine]="'875'"
        [urlSite]="'www.montefenaro.com'"
        [urlWebcam]="'https://www.montefenaro.com/webcam/current.jpg'"
>
</webcam>
<webcam [luogo]="'LATORDICELLA - CASTEL DEL RIO (PO)'"
        [altitudine]="'510'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/casteldelrio/casteldelrio.jpg'"
>
</webcam>




