<p class="title-micro-section">Emilia Romagna</p>
<webcam [luogo]="'BUCA DEL CIMONE (MO)'"
        [altitudine]="'2000'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/cimone.jpg'"
>
</webcam>
<webcam [luogo]="'ABETONE (PT)'"
        [altitudine]="'1892'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/abetone/abetone.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO CROCE ARCANA (MO)'"
        [altitudine]="'1749'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/crocearcana.jpg'"
>
</webcam>
<webcam [luogo]="'SESTOLA (MO)'"
        [altitudine]="'1030'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/sestola.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO DELLA RATICOSA (PT)'"
        [altitudine]="'968'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/passoraticosa.jpg'"
>
</webcam>
