<p class="title-micro-section">Emilia Romagna</p>
<webcam [luogo]="'MONTE CUSNA (RE)'"
        [altitudine]="'2057'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/cusna/cusna.jpg'"
>
</webcam>
<webcam [luogo]="'BUCA DEL CIMONE (MO)'"
        [altitudine]="'2000'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/cimone.jpg'"
>
</webcam>
<webcam [luogo]="'ABETONE (PT)'"
        [altitudine]="'1892'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/abetone/abetone.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO CROCE ARCANA (MO)'"
        [altitudine]="'1749'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/crocearcana.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPIGNA - MONTE FALCO (MO)'"
        [altitudine]="'1630'"
        [urlSite]="'www.onthesnow.com'"
        [urlWebcam]="'https://www.onthesnow.com/webcams/3672/7338/2022-09-19_0937/xl.jpg'"
>
</webcam>
<webcam [luogo]="'PRATOSPILLA (PR)'"
        [altitudine]="'1350'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/pratospilla/webcam/webcam.php'"
>
</webcam>
<webcam [luogo]="'RIFUGIO MARIOTTI - LAGO SANTO PARMENSE (MO)'"
        [altitudine]="'1507'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/lagosanto/webcam2.php'"
>
</webcam>
<webcam [luogo]="'CERRETO LAGHI (RE)'"
        [altitudine]="'1345'"
        [urlSite]="'www.reggioemiliameteo.it'"
        [urlWebcam]="'https://www.reggioemiliameteo.it/webcam/cerretolaghi/cerretolaghi.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO LAGDEI (PR)'"
        [altitudine]="'1250'"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'https://www.bitlineftp.com/lagdei/webcam.php'"
>
</webcam>
<webcam [luogo]="'SESTOLA (MO)'"
        [altitudine]="'1030'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/sestola.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO DELLA RATICOSA (PT)'"
        [altitudine]="'968'"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/passoraticosa.jpg'"
>
</webcam>
