<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "Organization",
"name": "Meteo Campoli",
"author": "Daniele Conflitti",
"image" : "http://meteocampoli.altervista.org",
"description": "Stazione meteo Campoli",
"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": "5",
"bestRating": "5",
"worstRating": "1",
"ratingCount": "4"
}
}
</script>

<div class="center">

  <em class="title-section">Meteo Campoli - Monitoraggio Meteo</em>


<br>
<h6><i class="title-micro-section"> <img src="src/assets/img/new.gif"  alt="nuova sezione">&nbsp; Dal 1 novembre 2017 la stazione e' online 24h/24. <img src="src/assets/img/new.gif" alt="nuova sezione"></i></h6>
<h6><i class="title-micro-section">L'immagine si aggiorna automaticamente dopo qualche istante</i></h6>


 <a href="http://meteocampoli.altervista.org/grafico.png" title="stazione meteo campoli monitoraggio"><img  style=" width: 100%; height: 880px;"  id="frame" src="http://meteocampoliappennino.altervista.org/grafico.png"  alt="Stazione meteo grafico"></a><br>
</div>
