<div class="menu">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup" routerLink="dati-attuali" title="Dati Attuali">Dati Attuali</a>
      <button type="button" class="btn btn-puldown" aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a routerLink="dati-attuali" title="stazione meteo via treo">Stazione Meteo Treo Bassa (500mt)</a></li>
        <li class="divider"></li>
        <li>
          <a href="https://www.meteoregionelazio.it/stazioni/forca_acero/forca_acero.php" target="_blank"
             rel="noreferrer"
             title="stazione meteo valico forca d'acero" rel="noreferrer">Stazione Meteo Forca D'Acero
            (1538mt)&nbsp;<img
              src="../../assets/img/new.gif" alt="nuova sezione" class="img-new" width="28" height="11"></a></li>
        <li class="divider"></li>
        <li>
          <a href="http://sre.altervista.org/" rel="noreferrer" target="_blank" title="stazioni meteo arpino">Stazione
            Meteo Arpino
            (460mt)</a></li>
        <li class="divider"></li>
        <li>
          <a routerLink="dati-attuali/radio-sondaggi" title="radio sondaggi attuali">RadioSondaggi</a></li>
      </ul>
    </div>

    <!-- Large button group -->
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup" routerLink="riepilogo"
         title="Statistiche Complessive">Statistiche</a>
      <button type="button" class="btn btn-puldown" aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a routerLink="riepilogo" title="statistiche stazione meteo treo">Statistiche Campoli Treo bassa (500mt)</a>
        </li>
        <li class="divider"></li>
        <li><a href="https://www.meteocampoliappennino.altervista.org/MyGWStats.php?&link=Full.xml"
               title="statistiche stazione full"
               target="_blank" rel="noreferrer">Statistiche Stazione Totali</a></li>
        <li class="divider"></li>
        <li><a href="http://sre.altervista.org/records/"
               title="statistiche stazione meteo arpino" target="_blank" rel="noreferrer">Statistiche Arpino (525mt)</a>
        </li>
        <li class="divider"></li>
        <li><a href="http://www.arsial.regione.lazio.it/portalearsial/agrometeo/D3.asp?anno=16&codice=FR13SIE&misura=8"
               title="statistiche stazione meteo alvito" target="_blank" rel="noreferrer">Statistiche Alvito (391mt)</a>
        </li>
        <li class="divider"></li>
        <li><a href="http://www.meteonetwork.it/rete/" rel="noreferrer" title="statistiche stazioni meteonetwork"
               target="_blank" rel="noreferrer">Statistiche
          Giornaliere Italia</a></li>
      </ul>
    </div>


    <!-- Large button group -->
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup " [routerLink]="['/stazioni-meteo/generale']"
         title="Temperature Limitrofe">Temperature </a>
      <button type="button" class="btn btn-puldown" aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a [routerLink]="['/stazioni-meteo/generale']" title="temperature principali">Temperature Limitrofe</a></li>
        <li class="divider"></li>
        <li><a [routerLink]="['/stazioni-meteo/lazio']" title="stazioni meteo lazio">Temperature Lazio</a></li>
        <li class="divider"></li>
        <li><a [routerLink]="['/stazioni-meteo/abruzzo']" title="stazioni meteo abruzzo">Temperature Abruzzo</a></li>
        <li class="divider"></li>
        <li><a [routerLink]="['/stazioni-meteo/molise']" title="stazioni meteo molise">Temperature Molise</a></li>
        <li class="divider"></li>
        <li><a [routerLink]="['/stazioni-meteo/rete-meteo']" title="retemeteo">Rete Meteo</a></li>
        <li class="divider"></li>
        <li><a href="http://www.caputfrigoris.it/rete-meteo.htm" title="stazioni meteo caputfrigoris" target="_blank"
               rel="noreferrer">Temperature
          Montagne</a></li>
      </ul>
    </div>


    <!-- Large button group -->
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup " routerLink="previsioni" title="Previsioni Meteo">Previsioni </a>
      <button type="button" class="btn btn-puldown " aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a routerLink="previsioni" title="previsioni meteo campoli">Previsioni Base</a></li>
        <li class="divider"></li>
        <li><a href="https://www.lamma.toscana.it/modelli/atmo/mappe/atmosfera2?model=mol02ecm"
               title="previsioni meteo lamma" target="_blank" rel="noreferrer">Previsioni
          Lamma</a></li>
        <li class="divider"></li>
        <li><a href="http://www.isac.cnr.it/dinamica/projects/forecasts/moloch/"
               title="previsioni meteo moloch carte meteo" target="_blank" rel="noreferrer">Previsioni Moloch</a></li>
        <li class="divider"></li>
        <li><a href="https://www.meteonetwork.it/models/?id=55&h=048"
               title="previsioni meteonetowrk carte meteo" target="_blank" rel="noreferrer">Previsioni Meteonetwork</a>
        </li>
        <li class="divider"></li>
        <li><a href="https://www.meteociel.fr/modeles/wrfnmm.php?ech=3&mode=16&map=6" title="previsioni WRF carte meteo"
               target="_blank" rel="noreferrer">Previsioni WRF NMM</a></li>
        <li class="divider"></li>
        <li><a href="https://www.ventusky.com/?p=46.2;19.8;3&l=temperature-2m&m=gfs" title="previsioni ventusky mappa"
               target="_blank" rel="noreferrer">Previsioni Ventusky &nbsp;<img src="../../assets/img/new.gif"
                                                                               alt="nuova sezione" class="img-new"
                                                                               width="28" height="11"></a>
        </li>
        <li class="divider"></li>
        <li><a href="https://www.meteociel.fr/modeles/gfse_cartes.php?ech=6&code=0&mode=1"
               title="previsioni meteociel carte" target="_blank" rel="noreferrer">Previsioni Meteociel</a></li>
      </ul>
    </div>

    <!-- Large button group -->
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup " routerLink="webcam/immagini" title="Immagini & WebCam">WebCam</a>
      <button type="button" class="btn btn-puldown " aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a routerLink="webcam/immagini" title="immagini e webcam">Immagini & WebCam</a></li>
        <li class="divider"></li>
        <li><a routerLink="webcam/limitrofe" title="webcam limitrofe">WebCam Limitrofe</a></li>
        <li class="divider"></li>
        <li><a routerLink="webcam/montagna/lazio" title="webcam montagna centro italia">WebCam Montagna</a></li>
      </ul>
    </div>

    <!-- Large button group -->
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup " routerLink="satellite/generale" title="Satellite">Satellite</a>
      <button type="button" class="btn btn-puldown " aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a routerLink="satellite/generale" title="monitoraggio satelliti e radar generale">Satellite Generale</a>
        </li>
        <li class="divider"></li>
        <li><a routerLink="satellite/centro-italia" title="monitoraggio satelliti e radar centro italia">Radar Centro
          Italia</a></li>
        <li class="divider"></li>
        <li><a routerLink="satellite/nord-italia" title="monitoraggio satelliti e radar nord italia">Radar Nord
          Italia</a></li>
        <li class="divider"></li>
        <li><a routerLink="satellite/sud-italia" title="monitoraggio satelliti e radar sud italia">Radar Sud Italia</a>
        </li>
        <li class="divider"></li>
        <li><a routerLink="satellite/protezione-civile" title="monitoraggio protezione civile">Radar Protezione
          Civile</a>
        </li>
      </ul>
    </div>

    <!-- Large button group -->
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup " routerLink="terremoti/italia" title="Terremoti">Terremoti</a>
      <button type="button" class="btn btn-puldown" aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a routerLink="terremoti/italia" title="lista terremoti italia">Terremoti Italia</a></li>
        <li class="divider"></li>
        <li><a href="terremoti/mondo" title="mappa terremoti mondo">Terremoti Mondo</a></li>
        <li class="divider"></li>
        <li><a href="terremoti/informazioni" title="terremoti informazioni">Terremoti Informazioni</a></li>
      </ul>
    </div>

    <!-- Large button group -->
    <div class="btn-group-vertical">
      <a type="button" class="btn btn-pulup " routerLink="info/articoli/meteo"
         title="Info & Curiosita">Curiosita</a>
      <button type="button" class="btn btn-puldown " aria-label="dropdown" data-toggle="dropdown">
        <i class="fa fa-caret-down arrow"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a routerLink="info/articoli/meteo" title="articoli meteo"> Articoli</a></li>
        <li class="divider"></li>
        <li><a routerLink="info/curiosita" title="curiosita meteo">Curiosita</a></li>
        <li class="divider"></li>
        <li><a routerLink="info/effemeridi" title="orari alba tramonto">Effemeridi </a></li>
      </ul>
    </div>
  </div>
</div>
