<h2 class="title-micro-section">Provincia di Potenza</h2>
<webcam [luogo]="'MONTE SIRINO (PZ)'"
        [altitudine]="'2050'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montagna/sirino/sirino.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE PAPA (PZ)'"
        [altitudine]="'1890'"
        [urlSite]="'www.campanialive.it'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montagna/sirino/sirinomontepapa.jpg'"
>
</webcam>
<webcam [luogo]="'LAGONEGRO (PZ)'"
        [altitudine]="'1659'"
        [urlSite]="'pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/49/1642144849/current/full/1642144849.jpg'"
>
</webcam>
<webcam [luogo]="'LAGONEGRO - LAGO LAUDEMIO (PZ)'"
        [altitudine]="'1563'"
        [urlSite]="'pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/31/1640249931/current/full/1640249931.jpg'"
>
</webcam>
<webcam [luogo]="'LATRONICO (PZ)'"
        [altitudine]="'1443'"
        [urlSite]="'pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/31/1642145231/current/full/1642145231.jpg'"
>
</webcam>
<webcam [luogo]="'LAURIA (PZ)'"
        [altitudine]="'1413'"
        [urlSite]="'meteosirino.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/44/1639082444/current/full/1639082444.jpg'"
>
</webcam>
<webcam [luogo]="'CASTELSARACENO (PZ)'"
        [altitudine]="'1255'"
        [urlSite]="'pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/54/1642143754/current/full/1642143754.jpg'"
>
</webcam>
<webcam [luogo]="'MARSICOVETERE (PZ)'"
        [altitudine]="'1016'"
        [urlSite]="'www.pergolameteo.it'"
        [urlWebcam]="'https://images-webcams.windy.com/09/1644083109/current/full/1644083109.jpg'"
>
</webcam>
<webcam [luogo]="'PIGNOLA (PZ)'"
        [altitudine]="'926'"
        [urlSite]="'pignolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/14/1605616014/current/full/1605616014.jpg'"
>
</webcam>
<webcam [luogo]="'PERGOLA (PZ)'"
        [altitudine]="'888'"
        [urlSite]="'www.pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/16/1494613416/current/full/1494613416.jpg'"
>
</webcam>
<webcam [luogo]="'MOLITERNO (PZ)'"
        [altitudine]="'864'"
        [urlSite]="'www.pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/55/1642519055/current/full/1642519055.jpg'"
>
</webcam>
<webcam [luogo]="'CASTELMEZZANO (PZ)'"
        [altitudine]="'812'"
        [urlSite]="'pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/70/1638786670/current/full/1638786670.jpg'"
>
</webcam>
<webcam [luogo]="'FORENZA (PZ)'"
        [altitudine]="'806'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/01/1383615001/current/full/1383615001.jpg'"
>
</webcam>
<webcam [luogo]="'CHIAROMONTE (PZ)'"
        [altitudine]="'760'"
        [urlSite]="'www.stigliano.net'"
        [urlWebcam]="'https://images-webcams.windy.com/50/1638786550/current/full/1638786550.jpg'"
>
</webcam>
<webcam [luogo]="'MARSICO NUOVO (PZ)'"
        [altitudine]="'738'"
        [urlSite]="'www.comune.marsiconuovo.pz'"
        [urlWebcam]="'https://images-webcams.windy.com/61/1635723661/current/full/1635723661.jpg'"
>
</webcam>
<webcam [luogo]="'OPPIDO LUCANO (PZ)'"
        [altitudine]="'716'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/29/1495374629/current/full/1495374629.jpg'"
>
</webcam>
<webcam [luogo]="'PADULA (PZ)'"
        [altitudine]="'690'"
        [urlSite]="'padulafoto.it'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1494437733/current/full/1494437733.jpg'"
>
</webcam>
<webcam [luogo]="'BELLA (PZ)'"
        [altitudine]="'676'"
        [urlSite]="'www.associazionefilemone.it'"
        [urlWebcam]="'https://images-webcams.windy.com/79/1660131479/current/full/1660131479.jpg'"
>
</webcam>
<webcam [luogo]="'RIONERO IN VULTURE (PZ)'"
        [altitudine]="'656'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/28/1614327828/current/full/1614327828.jpg'"
>
</webcam>
<webcam [luogo]="'CALVERA (PZ)'"
        [altitudine]="'603'"
        [urlSite]="'pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/07/1647427907/current/full/1647427907.jpg'"
>
</webcam>
<webcam [luogo]="'TRAMUTOLA (PZ)'"
        [altitudine]="'583'"
        [urlSite]="'pergolameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/40/1642143540/current/full/1642143540.jpg'"
>
</webcam>
<webcam [luogo]="'MELFI - VISTA SUD - MONTE VULTURE (PZ)'"
        [altitudine]="'483'"
        [urlSite]="'www.meteolucania.it'"
        [urlWebcam]="'https://images-webcams.windy.com/05/1424281105/current/full/1424281105.jpg'"
>
</webcam>
<webcam [luogo]="'VENOSA (PZ)'"
        [altitudine]="'415'"
        [urlSite]="'www.omlmeteo.it'"
        [urlWebcam]="'https://images-webcams.windy.com/37/1581882537/current/full/1581882537.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Matera</h2>
<webcam [luogo]="'STIGLIANO (MT)'"
        [altitudine]="'910'"
        [urlSite]="'www.stigliano.net'"
        [urlWebcam]="'https://images-webcams.windy.com/26/1647515126/current/full/1647515126.jpg'"
>
</webcam>
<webcam [luogo]="'GRASSANO (MT)'"
        [altitudine]="'518'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/73/1413459673/current/full/1413459673.jpg'"
>
</webcam>
<br>
<hr>

