<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz039" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz039/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Sora" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz041" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz041/sticker-oriz1"
      alt="Stazione meteo di Isola del Liri" class="meteonetwork-sticker"/> </a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz036" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz036/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Ferentino"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz056" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz056/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Roma"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz258" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz258/sticker-oriz1"
      alt="Stazione meteo di Guarcino"
      class="meteonetwork-sticker"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz042" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz042/sticker-oriz1"
      alt="Stazione meteo di Guarcino"
      class="meteonetwork-sticker"/></a> </span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls012"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/mls012/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Capracotta"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz277" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz277/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Guarcino"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls006"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/mls006/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Campitello Matese"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls012" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/mls012/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Capracotta"/></a> </span>
    <td></td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz169" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz169/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Ariccia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz110"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/laz110/sticker-oriz1"
                                                     class="meteonetwork-sticker" alt="Stazione meteo di Rocca Priora"/></a></span>
    <td></td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span>     <a href="https://my.meteonetwork.it/station/laz054"
                       target="_blank" rel="noopener"><img style="border:none;"
                                                           src="https://my.meteonetwork.it/station/laz054/sticker-oriz1"
                                                           class="meteonetwork-sticker" alt="Stazione meteo di Anagni"/> </a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz136" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz136/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Alatri"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz216"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/laz216/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Pontecorvo"/></a>
</span>
    <td><span> <a href="https://my.meteonetwork.it/station/laz269"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/laz269/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Roccasecca"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/laz200" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz200/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Lariano"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz176" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz176/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Olevano Romano"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/laz248" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz248/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Cave"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz177" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz177/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Tivoli"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz166"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/laz166/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Contigliano"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz201" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz201/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Amatrice"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span>     <a href="https://my.meteonetwork.it/station/laz172"
                       target="_blank" rel="noopener"><img style="border:none;"
                                                           src="https://my.meteonetwork.it/station/laz172/sticker-oriz1"
                                                           class="meteonetwork-sticker"
                                                           alt="Stazione meteo di Ronciglione"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz090"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/laz090/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di San Lorenzo Nuovo"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz286"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/laz286/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Cisterna di Latina"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz276" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz276/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Latina"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/laz270" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz270/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Priverno"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/laz211" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/laz211/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Sezze"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/abr007" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr007/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Avezzano"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr034" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr034/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di L'Aquila"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/abr086" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/abr086/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Pizzoli"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/abr063"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/abr063/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di Fara San Martino"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls001"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/mls001/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Campobasso"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls014"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/mls014/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di Campodipietra"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls027"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      src="https://my.meteonetwork.it/station/mls027/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Castel San Vincenzo"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls025" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/mls025/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Frosolone"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mls010" target="_blank" rel="noopener"><img
      style="border:none;" src="https://my.meteonetwork.it/station/mls010/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Isernia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mls036"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     src="https://my.meteonetwork.it/station/mls036/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di San Pietro Avellana"/></a></span>
    <td></td>
  </tr>
</table>
<br>
<br>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
