<em class="title-section">Info e Curiosita</em>

<br>

<!--
	<br>
<br>
<center><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps/ms?msid=209896682570047544223.0004ce8a71ca07ae6bc90&amp;msa=0&amp;ie=UTF8&amp;t=f&amp;ll=41.719696,13.688021&amp;spn=0.005606,0.00912&amp;z=16&amp;ecpose=41.71552831,13.688021,957.92,0,44.996,0&amp;output=embed"></iframe></center>
	-->

<a type="button" class="btn btn-primary"  href="ondata-caldo-2017.html" title="Ondata Caldo Storica" >ONDATA CALDO 2017 STORICA<img src="/images/new.gif"></a> <!-- verde -->
  <i>&emsp;&emsp;&emsp;&emsp;<a type="button" class="btn btn-primary"  href="http://freddofili.it/" target="_blank"><img src="http://meteocampoliappennino.altervista.org/images/aria.jpg" border="1" width="60" height="60">
    Curiosita Freddofili</a></i>


<br>
<div class="row">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <h3><i><a type="button" class="btn btn-primary" href="http://meteocampoli.altervista.org/sole-monitoraggio.html"><img src="http://meteocampoliappennino.altervista.org/images/sole.png" border="1" width="60" height="60">
      Monitor Sole</a></i></h3></div>

  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <h3><i><a type="button" class="btn btn-primary" href="http://pumpkin.aquila.infn.it/forechem/index_it.html" target="_blank"><img src="http://meteocampoliappennino.altervista.org/images/aria.jpg" border="1" width="60" height="60">
      Qualita Aria</a></i></h3></div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <h3><i><a type="button" class="btn btn-primary" href="http://meteocampoli.altervista.org/effemeridi.htm"><img src="http://meteocampoli.altervista.org/images/sole-luna.JPG" border="1" width="60" height="60">
      Effemeridi</a></i></h3></div>


</div>
<br>
<br>
