<p class="title-micro-section">Provincia Isernia</p>
<webcam [luogo]="'CAPRACOTTA (IS)'"
        [altitudine]="'1421'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E92391B/snap/webcam.php'"
>

</webcam>
<webcam [luogo]="'SAN PIETRO AVELLANA (IS)'"
        [altitudine]="'1000'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900EP_00626ED82870/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'VENAFRO (IS) '"
        [altitudine]="'222'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E863EB1/snap/webcam.php'"
>
</webcam>
