<p class="title-micro-section">Provincia Isernia</p>
<webcam [luogo]="'CAPRACOTTA - PIAZZA FALCONI(IS)'"
        [altitudine]="'1376'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'https://images-webcams.windy.com/57/1200498757/current/full/1200498757.jpg'"
>
</webcam>
<webcam [luogo]="'CAPRACOTTA - VISTA OVEST (IS)'"
        [altitudine]="'1399'"
        [urlSite]="'www.neveappennino.it'"
        [urlWebcam]="'http://www.neveappennino.it/foscam2/FI9800P_00626E8580B0/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'SAN PIETRO AVELLANA (IS)'"
        [altitudine]="'1000'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900EP_00626ED82870/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'CASTEL DEL GIUDICE (IS)'"
        [altitudine]="'800'"
        [urlSite]="'comune.casteldelgiudice.is.it'"
        [urlWebcam]="'https://w1.cdgwebcam.it/webcam.jpg'"
>
</webcam>

<webcam [luogo]="'CASTEL SAN VINCENZO (IS)'"
        [altitudine]="'730'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9901EP_00626E708459/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'SANT ANGELO IN GROTTE (IS)'"
        [altitudine]="'970'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam//FI9900P_00626E863E71/snap/webcam.php'"
>
</webcam>

<webcam [luogo]="'SANT ANGELO DEL PESCO (IS)'"
        [altitudine]="'789'"
        [urlSite]="'www.meteoplanet.it'"
        [urlWebcam]="'https://images-webcams.windy.com/30/1267919030/current/full/1267919030.jpg'"
>
</webcam>

<webcam [luogo]="'BAGNOLI DEL TRIGNO (IS)'"
        [altitudine]="'681'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E86664D/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'VENAFRO (IS) '"
        [altitudine]="'222'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E863EB1/snap/webcam.php'"
>
</webcam>
