<p class="title-micro-section">Provincia Isernia</p>
<webcam [luogo]="'CAPRACOTTA (IS)'"
        [altitudine]="'1421'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E92391B/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'CAPRACOTTA - VISTA EST (IS)'"
        [altitudine]="'1421'"
        [urlSite]="'www.neveappennino.it'"
        [urlWebcam]="'https://www.neveappennino.it/foscam5/FoscamCamera_00626EEC631D/snap/webcam2.php'"
>
</webcam>
<webcam [luogo]="'SAN PIETRO AVELLANA (IS)'"
        [altitudine]="'1000'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900EP_00626ED82870/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'CASTEL SAN VINCENZO (IS)'"
        [altitudine]="'730'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9901EP_00626E708459/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'SANT ANGELO IN GROTTE (IS)'"
        [altitudine]="'970'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam//FI9900P_00626E863E71/snap/webcam.php'"
>
</webcam>

<webcam [luogo]="'BAGNOLI DEL TRIGNO (IS)'"
        [altitudine]="'681'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E86664D/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'VENAFRO (IS) '"
        [altitudine]="'222'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E863EB1/snap/webcam.php'"
>
</webcam>
