@media only screen and (max-width: 1025px) and (orientation: portrait) {

  /*html {
    zoom: 1 !important;
    -moz-transform: scale(1.0) !important;
    -webkit-transform: scale(1.0) !important;
    -ms-transform: scale(1.0) !important;
    -o-transform: scale(1.0) !important;
    transform: scale(1.0) !important;
  } */
  html {
    zoom: 1.0 !important;
  }

  /*iframe#aswift_1 {
    width: 1070px!important;
    margin-left: 5px;
  }*/

  .content {
    background-color: #2d65c4 !important;
    min-height: 1277px !important;
    background: url(~assets/img/content.png)!important;
  }


  .bg_clouds {
    width: 1123px;
  }

  h1 {
    color: #337ab7 !important;
    font-style: italic !important;
    font-size: 38px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 22px !important;
  }

  h5 {
    font-size: 24px;
  }

  strong {
    font-size: 18px !important;
  }

  .logo {
    font-family: unset !important;
    font-size: 24px !important;
  }

  .dropdown-menu {
    min-width: 0 !important;
  }

  .dropdown-menu > li > a {
    display: block;
    /*padding: 3px 20px;*/
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    font-weight: bold;
    color: #f5f5f5;
    white-space: nowrap;
    background-color: #2d65c4;
    height: 40px;
    font-size: 25.5px !important;
  }

  .divider {
    margin: 9px 0 !important;
  }

  .row {
    margin-right: 0px !important;
  }

  .header-webcam {
    height: 139px !important;
  }

  .webcam {
    width: 90% !important;
    max-height: 600px !important;
  }

  .fonte-webcam {
    font-size: 20px !important;
  }

  .content-webcam-principal {
    font-size: 26px !important;
  }

  .btn-puldown {
    /*padding-top: 16px;*/
  }

  .btn-pulup {
    height: 65px !important;
    font-size: 24px !important;
  }

  .last-element-menu {
    left: -130% !important;
  }

  .first-element-menu {
    left: -15px !important;
  }

  .small-left-dropdown {
    left: -15% !important;
  }

  .webcam-script-header {
    font-size: 27px !important;
    width: 80% !important;
    /*margin-left: 125px !important; */
  }

  .arrow {
    font-size: 33px !important;
  }

  .btn-lg {
    font-size: 19.4px;
    height: 60px;
  }

  .menu {
    height: 135px !important;
  }

  .testo-articoli {
    font-size: 40px !important;
  }

  .riepilogo-frame {
    height: 4500px !important;
    /*
    zoom: 0.8 !important;
    */
  }

  .mat-dialog-container {
    margin-left: 0px !important;
  }

  .title-micro-section {
    font-size: 34px !important;
  }

  .header-macro-section {
    color: #1469b1 !important;
    font-size: 42px !important;
  }

  .mat-tab-label .mat-tab-label-content {
    color: #ffffff !important;
    font-size: 28px !important;
    margin-left: 10px !important;
  }

  .fa {
    width: 30px !important;
    height: 25px !important;
  }

  .fa-chevron-up:before {
    font-size: 30px !important;
  }

  .button-indietro {
    font-size: 23px !important;
    margin-right: 850px !important;
  }

  .footer-desc {
    font-size: 27px !important;
  }

  .article-header {
    font-size: 28px !important;
  }

  .article-body {
    font-size: 30px !important;
  }

  fieldset {
    margin-right: 8% !important;
  }

  .btn-group-vertical {
    margin-right: 0% !important;
  }

  .fb-share-button {
    zoom: 1 !important;
  }

  .rete-meteo {
  }

  .radar-sud {
    zoom: 0.95;
  }

  .radar-sardegna {
    width: 61% !important;
  }

  .radar-italia-windy {
    width: 85% !important;
  }

  .radar-protezione-civile {
    width: 85% !important;
  }

  .radar-centro-precipitazioni-windy {
    width: 85% !important;
  }

  .frame-notizie {
    min-height: 245px;
  }

  .img-slider {
    width: 1075px !important;
  }

  .radar-novolosita-sud {
    width: 63% !important;
    height: 500px !important;
  }

  .radar-sud-windy {
    width: 85% !important;
    height: 1550px !important;
  }

  div#aswift_1_host {
    display: block !important;
  }

  /*.grafici-noaa {
    height: 1150px !important;
  }*/

}

/*
@media screen and (min-width: 1000px) and (max-width: 1380px) {

  .zoom {
    padding: 50px;
    transition: transform .2s;
    width: 900px;
    height: 600px;
    margin: 0 auto;
  }

  .zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .btn-pulup {
    font-size: 24.3px !important;
  }


}
*/

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .btn-lg {
    height: 50px !important;
  }

  .menu {
  }

  .btn-pulup {
    font-size: 23.5px !important;
  }

  .dropdown-menu {
    min-width: unset !important;
  }

  html {
    zoom: 0.7 !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .btn-lg {
    height: 50px !important;
  }

  .bg_clouds {
    width: unset !important;
  }

  .btn-pulup {
    font-size: 23.9px !important;
  }

  .dropdown-menu {
    min-width: unset !important;
  }

  html {
    zoom: 0.9 !important;
  }
}

@media screen and (min-width: 5000px) {

  .menu {
    height: 120px !important;
  }

  .btn-pulup {
    font-size: 22px !important;
  }

  .dropdown-menu {
    min-width: unset !important;
  }

  html {
    zoom: 1.0 !important;
  }
}

/*
@media (min-width: 576px) {
  .main {
    max-width: 540px;
  }
}
*/
