html, body {
  height: 100%;
}

body {
  font: 10pt Arial, Helvetica, sans-serif;
  line-height: 18px;
  margin: 0;
  zoom: 0.8 !important;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

img {
  border: 0px;
}


.mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 100px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  margin-top: 15px;

}

.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  margin-top: 15px;
}

.mat-tab-body.mat-tab-body-active {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

button {
  cursor: pointer;
}

.fb-share-button {
  zoom: 1.2
}

td {
  font-size: 100%;
  padding-top: 0.15em;
  padding-right: 0.5em;
  padding-bottom: 0.15em;
  padding-left: 0.5em;
}

.bg_clouds {
  background: url(../img/bg_clouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  width: 1108px;
  margin: 0px auto;
  height: 100%;
}

.ident {
  width: 1000px;
  height: 80px;
}

.logo {
  padding: 40px 0px 0px 0px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  background: no-repeat;
  text-decoration: none;
}

.header {
  height: 330px;
  background: url(../img/campoli-verde-min.jpg) 23px top no-repeat #FFFFFF;
}

h1 {
  text-align: center !important;
  color: #337ab7 !important;
  font-style: italic !important;
  font-size: 36px !important;
}

h2 {
  font-weight: 100;
  line-height: normal;
}

h3 {
  font-size: 24px;
}

h4 {
  font-weight: 100;
  font-size: 18px;
  color: #000000;
  padding: 15px 0px 17px 0px;
}

.row {
  padding: 0px 0px 0px 38px;
}

.slider {
  display: block;
  margin-left: 20px !important;
}

.img-slider {
  width: 1108px;
  height: 330px;
}

.nivo-controlNav {
  position: absolute;
  left: 260px;
  bottom: -42px;
  display: none;
}

.nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  /*background: url(../img/bullets.png) no-repeat;*/
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

.nivo-controlNav a.active {
  background-position: 0 -22px;
}

.nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

.nivo-caption {
  text-shadow: none;
  font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}

.btn-primary {
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-pulup {
  color: #fff;
  background-color: #2d65c4;
  border-color: #2d65c4;
  font-size: 23.5px;
}

.btn-puldown {
  color: #fff;
  background-color: #2d65c4;
  border-color: #2d65c4;
  height: 36px;
}

.btn-group-vertical {
  display: inline-block;
  margin-top: 3.5px;
  width: auto;
}

.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:hover, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus, .btn-group > .btn:hover {
  z-index: 2;
  color: black;
}

.dropdown-menu {
  color: #fff;
  border-color: #026960;
}

.dropdown-toogle {
  content: none;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 13px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  /*font-weight: bold;*/
  color: white;
  white-space: nowrap;
  background-color: #2d65c4;
  height: 31px;
  font-size: 20px;
  border-radius: 10px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0F75CF;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 6px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.footer {
  color: #ffffff;
  text-align: center;
  padding: 10px 0px 5px 0px;
}

.footer a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
  font-size: 10px;
}

.footer-desc {
  width: 100%;
  font-family: helvetica;
  font-size: 21px;
  color: #fff
}

.webcam {
  width: 750px;
  height: 500px;
  max-width: 700px;
  border-radius: 20px;
  border: 4px;
  border-style: solid;
  border-color: #ffffff;
  padding: 2px;
  cursor: pointer;
}

.center {
  text-align: center;
}

.color-opaco {
  background-color: #eff3f4;
}

.row.bod {
  height: 5%;
  margin-left: 1px;
  margin-right: 0px;
}

.center {
  text-align: center;
}

.min-margin-left {
  margin-left: 8px;
}

.menu {
  background-color: #2d65c4;
  border-radius: 13px;
  border-style: solid;
  border-color: #ffffff;
  height: 105px;
  cursor: pointer;
}

.first-element-menu {
  left: -15px;
}

.arrow {
  font-size: 24px;
}

.content {
  border-radius: 100px;
  border-radius: 50px;
  border: 16px;
  border-style: solid;
  border-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px !important;
  min-height: 76vh;
  background: url(../img/content.png);
  color: #000000;
  text-align: center
}

.header {
  height: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  border-right: 25px;
  border-top: 25px;
  border-bottom: 25px;
  border-style: solid;
  border-color: #ffffff;
}

#slider {
  margin-left: 14.5px !important;
}

.grafico-stazione {
  width: 100%;
  height: 980px;
  border-radius: 25px;
  border: 8px;
  border-style: solid;
  border-color: #5da4ff;
}

.banner-temperature {
  border-radius: 25px;
  border: 6px;
  border-style: solid;
  border-color: #f6f2f2;
  height: 350px;
  width: 228px;
}

.banner-meteonetwork {
  border-radius: 25px;
  border: 6px;
  border-style: solid;
  border-color: #f6f2f2;
  height: 155px;
  width: 440px;
}

.header-regioni-temperature {
  border-radius: 6px;
  border: 2px;
  height: 45px;
  padding-top: 1.7px;
  border-style: solid;
  border-color: #f6f2f2;
  background-color: #337ab7;
  text-align: center;
  padding-bottom: 1px;
}

.webcam-script-header {
  text-align: Center;
  background-color: #d6e0fc;
  color: black;
  font-weight: Bold;
  width: 550px;
  padding: 1px;
  border: Solid 2px #070707;
  border-radius: 5px;
  font-size: 14px;
  font-family: Verdana;
  margin-top: 7px;
  margin-left: 262px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.header-webcam {
  border-radius: 30px;
  border: 7px;
  padding-top: 3px;
  height: 130px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #337ab7;
  text-align: center;
}

.radar {
  -webkit-user-select: none;
  cursor: -webkit-zoom-in;
  border-radius: 20px;
  border: 10px;
  border-style: solid;
  border-color: #ffffff;
  width: 95% !important;
  height: 850px !important;
}

.radar-sud {
  -webkit-user-select: none;
  cursor: -webkit-zoom-in;
  border-radius: 20px;
  border: 10px;
  border-style: solid;
  border-color: #ffffff;
  width: 712px !important;
  height: 850px !important;
}

.previsioni-frame {
  -webkit-user-select: none;
  cursor: -webkit-zoom-in;
  border-radius: 20px;
  border: 10px;
  border-style: solid;
  border-color: #ffffff;
  height: 650px;
  width: 95%;
}

.header-macro-section {
  text-align: center;
  color: #337ab7;
  font-style: italic;
  font-size: 36px;
}

.meteonetwork-sticker {
  width: 524px;
  height: 155px;
}

.molise-sticker {
  width: 190px;
  /* height: 350px; */
  margin-right: 20px !important;
}

.title-micro-section {
  font-size: 25px;
  color: #333642;
  font-style: italic;
  font-weight: bold;
}

.title-info {
  font-size: 23px;
  color: #333642;
  font-style: italic;
}


.mat-tab-header {
  /* display: flex; */
  overflow: hidden;
  /* position: relative; */
  /* flex-shrink: 0; */
  /* background-color: blue; */
  border-style: solid;
  border-color: #ffffff !important;
  background-color: #337ab7;
  border-radius: 30px;
  /* border: 10px; */
  /* padding-top: 3px; */
  height: 80px;
}

.mat-tab-body.mat-tab-body-active {
  overflow: hidden;
}

.mat-tab-nav-bar, .mat-tab-header {
  border: 7px solid rgba(0, 0, 0, .12);
}

.mat-tab-label .mat-tab-label-content {
  color: #ffffff;
  font-size: 21px;
  margin-left: 10px;
}

.mat-tab-label {
  opacity: unset !important;
  display: inline-block !important;
}

.mat-tab-labels {
  display: inline-block !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #164db6;
  height: 7px;
  margin-left: 10px;
  /* max-width: 154px; */
}

.mat-tab-group {
  display: inline-block !important;
}

.mat-tab-label-container {
  display: inline-block !important;
}

::ng-deep .mat-tab-body-content {
  overflow: visible !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.content-webcam-principal {
  font-size: 16px;
}

.fonte-webcam {
  font-size: 16px;
}

.mat-spinner {
  position: relative;
  margin-left: 45%;
  margin-right: 50%;
}


.mat-dialog-container {
  padding-left: 5px !important;
  border-radius: 20px;
  border: 8px;
  width: 100% !important;
  border-style: solid;
  border-color: white;
}

.image-gallery {
  width: 100%;
  height: 246px !important;
}

.terremoti-frame {
  width: 95%;
  height: 1240px;
  border-radius: 20px;
  border: 10px;
  border-style: solid;
  border-color: #ffffff;
}

.testo-articoli {
  text-align: justify;
  font-size: 21px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f7f4f4;
  border-radius: 20px;
  border: 20px;
  border-style: solid;
  border-color: #ffffff;
  padding: 8px 8px 8px 8px;
  line-height: 1.14;
}

.terremoti-mondo {
  border-radius: 20px;
  border: 18px;
  border-style: solid;
  border-color: #ffffff;
  width: 900px;
}

.button-indietro {
  text-align: left;
  cursor: pointer !important;
  margin-right: 880px;
  font-size: 18px;
}

.img-article {
  width: 274px;
  height: 200px;
}

.siti-preferiti {
  border-radius: 20px;
  border: 13px;
  border-style: solid;
  border-color: #ffffff;
  width: 20%;
  margin-right: 2%;
}

.effemeridi-schema {
  zoom: 1.2;
  height: 250px;
  border: none;
}

.rete-meteo {
  width: 100%;
  height: 1100px;
}

.bold {
  font-weight: bold;
}

.temp-ondata-caldo {
  font-weight: bold;
  color: #e93b3b;
}

.date-ondata-caldo {
  font-style: italic;
}

.riepilogo-frame {
  height: 3800px !important;
  width: 100% !important;
  zoom: 0.8 !important;
}

.red {
  color: red;
}

.hidden-element {
  display: none !important
}

.flex {
  flex-basis: auto;
}

