<strong><h3>Provincia Perugia</h3></strong>

<figure>
  <div class="webcam-script-header">
    <span class="content-webcam-principal">CASCIA (PG) 653 mT - </span>
    <span class="content-webcam-site"> www.meteoindiretta.it</span>
  </div>
  <a href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.bimcascia.it%2Fcurrent.jpg&w=630"
     data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.bimcascia.it%2Fcurrent.jpg&w=630"
    class="webcam"/></a>
</figure>
<figure>
  <div class="webcam-script-header">
    <span class="content-webcam-principal">GUALDO TADINO (PG) 455 mT</span>
    <span class="content-webcam-site"> www.meteoindiretta.it</span>
  </div>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fpalazzomancinelli.lineameteo.it%2Fwebcam2.php&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fpalazzomancinelli.lineameteo.it%2Fwebcam2.php&w=630"
    class="webcam"/></a>
</figure>

<figure>
  <div class="webcam-script-header">
    <span class="content-webcam-principal"> MONTELAGUARDIA (PG) 493 mT</span>
    <span class="content-webcam-site"> http://montelaguardia.altervista.org</span>
  </div>
  <a href="http://montelaguardia.altervista.org/gallery/albums/webcam/montelaguardia.jpg" data-rel="prettyPhoto"><img
    src="http://montelaguardia.altervista.org/gallery/albums/webcam/montelaguardia.jpg" class="webcam"/></a>
</figure>

<figure>
  <div class="webcam-script-header">
    <span class="content-webcam-principal"> NORCIA (PG) 604 mT</span>
    <span class="content-webcam-site"> http://webcam.casalenelparco.com</span>
  </div>
  <a href="http://webcam.casalenelparco.com/webcam.jpg" data-rel="prettyPhoto"><img
    src="http://webcam.casalenelparco.com/webcam.jpg" class="webcam"/></a>
</figure>
