<p class="title-micro-section">Provincia Perugia</p>
<webcam [luogo]="'CASTELLUCCIO DI NORCIA (PG)'"
        [altitudine]="'1452'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/castelluccio/image.jpg'"
>
</webcam>
<webcam [luogo]="'MONTELEONE DI SPOLETO (PG)'"
        [altitudine]="'937'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.monteleonedispoletoeventi.it%2FApp_themes%2FWebcams%2Fwebcam1%2Fwebcam1_PE.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'COLFIORITO (PG)'"
        [altitudine]="'762'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/31/1201548631/current/full/1201548631.jpg'"
>
</webcam>
<webcam [luogo]="'CASCIA (PG)'"
        [altitudine]="'653'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.bimcascia.it%2Fcurrent.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'GUALDO TADINO (PG)'"
        [altitudine]="'536'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.vololiberoserrasanta.it%2F123456.jpg&w=630\n'"
>
</webcam>
<webcam [luogo]="'SAN GIUSTINO (PG)'"
        [altitudine]="'531'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/32/1571308932/current/full/1571308932.jpg'"
>
</webcam>
<webcam [luogo]="'PERUGIA - NORD EST (PG)'"
        [altitudine]="'493'"
        [urlSite]="'www.perugiameteo.it'"
        [urlWebcam]="'https://images-webcams.windy.com/89/1615741389/current/full/1615741389.jpg'"
>
</webcam>
<webcam [luogo]="'PERUGIA (PG)'"
        [altitudine]="'432'"
        [urlSite]="'www.perugiameteo.it'"
        [urlWebcam]="'https://images-webcams.windy.com/32/1308908032/current/full/1308908032.jpg'"
>
</webcam>
<webcam [luogo]="'ASSISI - BASILICA (PG)'"
        [altitudine]="'360'"
        [urlSite]="'www.webcamtaxi.com'"
        [urlWebcam]="'https://images-webcams.windy.com/51/1553858151/current/full/1553858151.jpg'"
>
</webcam>
<webcam [luogo]="'PIEGARO (PG)'"
        [altitudine]="'322'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/07/1387223607/current/full/1387223607.jpg'"
>
</webcam>
<webcam [luogo]="'TODI (PG)'"
        [altitudine]="'310'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/todi-istituto-ciuffelli/image.jpg'"
>
</webcam>
<webcam [luogo]="'MAGIONE - MONTE DEL LAGO (PG)'"
        [altitudine]="'300'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/08/1650494408/current/full/1650494408.jpg'"
>
</webcam>
<webcam [luogo]="'FOLIGNO (PG)'"
        [altitudine]="'234'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/67/1647459667/current/full/1647459667.jpg'"
>
</webcam>
<webcam [luogo]="'SANTA MARIA DEGLI ANGELI (PG)'"
        [altitudine]="'217'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/40/1555610640/current/full/1555610640.jpg'"
>
</webcam>
