<p class="title-micro-section">Provincia di Aosta</p>
<webcam [luogo]="'MONTE BIANCO - PUNTA HELBRONNER (AO)'"
        [altitudine]="'3462'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_courma2.jpg'"
>
</webcam>
<webcam [luogo]="'ALAGNA - PASSO SALATI (VC)'"
        [altitudine]="'2971'"
        [urlSite]="'www.visitmonterosa.com'"
        [urlWebcam]="'https://www.visitmonterosa.com/phpwebcam/webcam.php?wid=2&ext=.jpg'"
>
</webcam>
<webcam [luogo]="'BREUIL CERVINIA (AO)'"
        [altitudine]="'2561'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_breuil.jpg'"
>
</webcam>
<webcam [luogo]="'VALTOURNENCHE (AO)'"
        [altitudine]="'2245'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_valtour.jpg'"
>
</webcam>
<webcam [luogo]="'LA THUILE - LES SOUCHES (AO)'"
        [altitudine]="'2200'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_lathuile.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO PICCOLO SAN BERNARDO - LA THUILE (AO)'"
        [altitudine]="'2188'"
        [urlSite]="'www.meteolathuile.com'"
        [urlWebcam]="'https://www.meteolathuile.com/montebianco.jpg'"
>
</webcam>
<webcam [luogo]="'CERVINIA (AO)'"
        [altitudine]="'2120'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.meteosystem.com/webcam/cervinia/cervinia.jpg'"
>
</webcam>
<webcam [luogo]="'CHAMOIS - LAGO DI LOD (AO)'"
        [altitudine]="'2018'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_chamois.jpg'"
>
</webcam>
<webcam [luogo]="'CHAMPOLUC - VEDUTA DAL CREST (AO)'"
        [altitudine]="'1935'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_champoluc.jpg'"
>
</webcam>
<webcam [luogo]="'COURMAYEUR (AO)'"
        [altitudine]="'1704'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.courmayeur-montblanc.com/themes/funivie/img/webcam/meteoeye04.jpg'"
>
</webcam>
<webcam [luogo]="'SAINT RHEMY - CREVACOL (AO)'"
        [altitudine]="'1632'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_crevacol.jpg'"
>
</webcam>
<webcam [luogo]="'COGNE - CATENA GRAN PARADISO (AO)'"
        [altitudine]="'1544'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_cogne.jpg'"
>
</webcam>
<webcam [luogo]="'BRUSSON (AO)'"
        [altitudine]="'1300'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_brusson.jpg'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Sondrio</p>
<webcam [luogo]="'PASSO GAVIA - VALFURVA (SO)'"
        [altitudine]="'2560'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/passogavia-rifugio-berni/image.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE VAGO (SO)'"
        [altitudine]="'1910'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/montevago/livigno.jpg'"
>
</webcam>
<webcam [luogo]="'LIVIGNO (SO)'"
        [altitudine]="'1800'"
        [urlSite]="'www.parkchaletvillage.com'"
        [urlWebcam]="'https://www.parkchaletvillage.com/webcam/WebCam02.jpg'"
>
</webcam>
<webcam [luogo]="'MADESIMO (SO)'"
        [altitudine]="'1534'"
        [urlSite]="'www.weathercam.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/madesimo/madesimo.jpg'"
>
</webcam>
<webcam [luogo]="'BORMIO (SO)'"
        [altitudine]="'1225'"
        [urlSite]="'www.webcam.valtline.it'"
        [urlWebcam]="'https://www.webcam.valtline.it/bormio.jpg'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Vicenza</p>
<webcam [luogo]="'OSSERVATORIO REGINA MARGHERITA - MONTE ROSA (VC)'"
        [altitudine]="'4556'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/monterosa-capanna-regina-margherita/image.jpg'"
>
</webcam>
<webcam [luogo]="'CAPANNA GNIFFETTI - MONTE ROSA (VC)'"
        [altitudine]="'3647'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/monterosa-capanna-gnifetti-nord/image.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO MANTOVA - MONTE ROSA (VC)'"
        [altitudine]="'3498'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/monterosa-rifugio-mantova/image.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO PASTORE - MONTE ROSA (VC)'"
        [altitudine]="'1575'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/monterosa-rifugio-pastore/image.jpg'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Torino</p>
<webcam [luogo]="'BARDONECCHIA (TO)'"
        [altitudine]="'1312'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.trinum.com/ibox/ftpcam/bardonecchia_melezet.jpg'"
>
</webcam>
<webcam [luogo]="'LIVIGNO (TO)'"
        [altitudine]="'1312'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.meteosystem.com/webcam/lagolivigno/livigno.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE MUSINE \' (TO)'"
        [altitudine]="'1150'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/caselette/musine.jpg'"
>
</webcam>
<webcam [luogo]="'LIMONE - RISERVA BIANCA (TO)'"
        [altitudine]="'590'"
        [urlSite]="'www.lovevda.it'"
        [urlWebcam]="'https://webcam.riservabianca.it/T5/'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Como</p>
<webcam [luogo]="'FALCHETTO BRUNATE - LAGO DI COMO (CO)'"
        [altitudine]="'1534'"
        [urlSite]="'www.weathercam.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/falchetto/falchetto.jpg'"
>
</webcam>
<hr>
<p class="title-micro-section">Provincia di Pavia</p>
<webcam [luogo]="'MONTE PENICE (PV)'"
        [altitudine]="'1430'"
        [urlSite]="'www.linkradio.it'"
        [urlWebcam]="'https://www.linkradio.it/WEBCAM/PENICE/penice.jpg'"
>
</webcam>
