<p class="title-micro-section">Nord Ovest</p>
<webcam [luogo]="'RIFUGIO MANTOVA - MONTE ROSA (VC)'"
        [altitudine]="'3498'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/monterosa-rifugio-mantova/image.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO GAVIA - VALFURVA (SO)'"
        [altitudine]="'2560'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/passogavia-rifugio-berni/image.jpg'"
>
</webcam>
<webcam [luogo]="'LA THUILE - LES SOUCHES (AO)'"
        [altitudine]="'2200'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.lovevda.it/Media/Cache/Webcam/big_lathuile.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO PICCOLO SAN BERNARDO - LA THUILE (SO)'"
        [altitudine]="'2188'"
        [urlSite]="'www.meteolathuile.com'"
        [urlWebcam]="'https://www.meteolathuile.com/montebianco.jpg'"
>
</webcam>
<webcam [luogo]="'CERVINIA (AO)'"
        [altitudine]="'2120'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.meteosystem.com/webcam/cervinia/cervinia.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE VAGO (SO)'"
        [altitudine]="'1910'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'https://www.meteoproject.it/ftp/webcam/montevago/livigno.jpg'"
>
</webcam>
<webcam [luogo]="'COURMAYEUR (AO)'"
        [altitudine]="'1704'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.courmayeur-montblanc.com/themes/funivie/img/webcam/meteoeye04.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO PASTORE - MONTE ROSA (VC)'"
        [altitudine]="'1575'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/monterosa3/images/rifugiopastore_fhd.jpg'"
>
</webcam>
<webcam [luogo]="'BARDONECCHIA (TO)'"
        [altitudine]="'1312'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.trinum.com/ibox/ftpcam/bardonecchia_melezet.jpg'"
>
</webcam>
<webcam [luogo]="'LIVIGNO (TO)'"
        [altitudine]="'1312'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.meteosystem.com/webcam/lagolivigno/livigno.jpg'"
>
</webcam>



