<p class="title-micro-section">Nord Ovest</p>
<webcam [luogo]="'CERVINIA (AO)'"
        [altitudine]="'2120'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'http://www.meteosystem.com/webcam/cervinia/cervinia.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO PASTORE - MONTE ROSA (VC)'"
        [altitudine]="'1575'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/monterosa3/images/rifugiopastore_fhd.jpg'"
>
</webcam>
<webcam [luogo]="'COURMAYEUR (AO)'"
        [altitudine]="'1704'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'http://www.courmayeur-montblanc.com/themes/funivie/img/webcam/meteoeye04.jpg'"
>
</webcam>
<webcam [luogo]="'LA THUILE - LES SOUCHES (AO)'"
        [altitudine]="'2200'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'http://www.lovevda.it/Media/Cache/Webcam/big_lathuile.jpg'"
>
</webcam>
<webcam [luogo]="'BARDONECCHIA (TO)'"
        [altitudine]="'1312'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'http://www.trinum.com/ibox/ftpcam/bardonecchia_melezet.jpg'"
>
</webcam>


