<div class="container" >
<p>Apllicazione creata grazie ad angular-cli (ng new "project"), scaricati i pacchetti bootstrap e fontawesome grazie ad npm,
  richiamati dentro il file .angular-cli.json, nella proprieta styles
  simulati i dati in un json simil-rest, richiamati grazie ai moduli NgForm (utilissimo), HttpClient (comunicazione server)
  .. e json-server (json-server --watch db.json) che deve essere lanciato cosi prima di ng serve (lancio app), per testare scaricarsi postman e fare chiamata GET localhost:3000/devices , per aggiungere un nuovo record esegui un POST con un nuovo record JSON </p>
<ul>
  <li>
    stili fontawesome inseriti dentro .angular-cli.json in styles
  </li>
  <li>
    Moduli iniettati dentro src/app.module.ts
  </li>

  <li>
    gestione inserita in home.component.ts (compresa servizio rest)
  </li>
  <li>
    gestione routing gestita, ogni volta due component, .html e .ts ,
    richiamato il modulo sia in app.module.ts che in xxx.component.ts, nell html mettere routerLink=".." e sotto router-outlet
  </li>
  <li>
    utilizziamo il Data Bindings, quelle espressioni che vengono elaborate per produrre html dinamico. E’ il
    sistema che Angular usa per associare i componenti HTML al suo corrispondente TypeScript. Le principali direttive native di Angular sono queste
   <br>
    ngClass Direttiva per assegnare una classe all’host (<b>  [ngClass]="geClasses(framework)" (va configuato anche ts e css)</b>)
    <br>
    ngStyle Direttiva per assegnare una regola di stile all’host (<b>  [ngStyle]="getInlineStyles(framework)" (va configuato anche ts e css)></b>)
    <br>
    ngIf Direttiva per eseguire valutazioni condizionali per il rendering dell’host (<b> *ngIf="condition" (all interno di un div</b>)
    <br>
    ngFor Direttiva che esegue un ciclo for next per il rendering dell’host (<b>   *ngFor="let item of getTodoItems();" </b>)
    <br>
    ngSwitch
    ngSwitchCase
    ngSwitchDefault
    Direttiva che esegue un case Switch per il rendering di blocchi html nell’host
   ( <b> [ngSwitch]="item.done" (in un td ad esempio)
       *ngSwitchCase="true">Yes (in uno span ad esempio)
       *ngSwitchDefault>No (in uno span  ad esempio)
    </b>)

    <br>
   <b> [direttiva]=”espressione” </b> Le parentesi quadre dicono ad angular che il
    databinding va fatto attraverso una direttiva e la
    valutazione di una espressione
    <br>
    <b>[(target)]=”espressione” </b> L’accoppiata quadre e tonde (dette anche a bananabox)
    dicono ad angular che il binding dei dati è
    bidirezionale e l’espressione deve aggiornare i dati
  </li>

</ul>
<br>
  <div id="bg_clouds">
<div id="main">
  <div id="ident">

    <app-header></app-header>
  </div>
  <app-menu></app-menu>

</div>


<app-slider></app-slider>


  <br />
  <br/>
  <router-outlet></router-outlet>
  </div>

</div>
