<articoli [titleArticle]="'Inquinamento dell\'aria e rimedi naturali'"
          [descArticle]="'L\'inquinamento dell\'aria sulle aree notoriamente piu soggette sta acquisendo sempre maggior\n'+
'            importanza..'"
          [srcImage]="'../../assets/img/articolo-inquinamento.png'"
          [routerArticle]="'meteo/inquinamento-rimedi'"
>
</articoli>

<articoli [titleArticle]="'Rosa dei venti'"
          [descArticle]="'La rosa dei venti è un diagramma che rappresenta la provenienza dei venti..'"
          [srcImage]="'../../assets/img/rosa-venti.png'"
          [routerArticle]="'meteo/rosa-venti'"
>
</articoli>


