<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
  <div class="row infos">
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
      <fieldset>
        <legend class="article-header">Inquinamento dell'aria e rimedi naturali</legend>
        <img src="../../assets/img/articolo-inquinamento.png" class="img-article" [hidden]="imageLoader"
             (load)="imageLoader = false;">
        <br>
        <div class="article-body">
          <a routerLink="meteo/inquinamento-rimedi">
            <b>L'inquinamento dell'aria sulle aree notoriamente piu soggette sta acquisendo sempre maggior
              importanza...</b>
          </a>
        </div>
      </fieldset>
    </div>
  </div>
</div>
