<br>
<p class="title-micro-section">Provincia Roma</p>

<webcam [luogo]="'MONTE GUADAGNOLO (RM)'"
        [altitudine]="'1218'"
        [urlSite]="'www.meteopalestrina.it'"
        [urlWebcam]="'https://www.webcampalestrina.altervista.org/daxedocu/webcam.php'"
>
</webcam>
<webcam [luogo]="'ROCCA PRIORA (RM)'"
        [altitudine]="'700'"
        [urlSite]="'www.meteoroccapriora.it'"
        [urlWebcam]="'https://www.meteoroccapriora.it/webcam/webcam.jpg'"
>
</webcam>
<webcam [luogo]="'ROCCA DI PAPA (RM)'"
        [altitudine]="'934'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'https://images-webcams.windy.com/69/1631220069/current/full/1631220069.jpg'"
>
</webcam>
<webcam [luogo]="'CAPRANICA PRENESTINA (RM)'"
        [altitudine]="'915'"
        [urlSite]="'www.capranicaprenestina.org'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1405004933/current/full/1405004933.jpg'"
>
</webcam>
<webcam [luogo]="'PALESTRINA (RM)'"
        [altitudine]="'450'"
        [urlSite]="'www.meteopalestrina.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.webcampalestrina.altervista.org%2F4e4964279964993%2Fwebcam.php&w=630'"
>
</webcam>
<webcam [luogo]="'CASTEL SAN PIETRO ROMANO - PALESTRINA (RM)'"
        [altitudine]="'499'"
        [urlSite]="'www.meteopalestrina.it'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1415113833/current/full/1415113833.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPEGLI - RIFUGIO (RM)'"
        [altitudine]="'1425'"
        [urlSite]="'www.meteo-lazio.it'"
        [urlWebcam]="'https://www.meteo-lazio.it/webcams/campaegli/FI9901EP_00626E8B72EB/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'MONTE LIVATA (RM)'"
        [altitudine]="'1350'"
        [urlSite]="'www.dovesciare.it'"
        [urlWebcam]="'https://www.dovesciare.it/sites/default/files/externals/16a7db993f2c16dd55103b4a23d00df9.jpg?upd=1639130227%20alt='"
>
</webcam>
<webcam [luogo]="'GENAZZANO (RM)'"
        [altitudine]="'337'"
        [urlSite]="'www.meteo.protezionecivile-genazzano.it'"
        [urlWebcam]="'https://images-webcams.windy.com/83/1393932183/current/full/1393932183.jpg'"
>
</webcam>
<webcam [luogo]="'VALLE DEL SACCO - GORGA (RM)'"
        [altitudine]="'806'"
        [urlSite]="'www.meteopalestrina.it'"
        [urlWebcam]="'https://stazioneclimaticagorga.altervista.org/osservatorio_gorga/webcam.php'"
>
</webcam>
<webcam [luogo]="'MACERE - MONTE ARMISIO (RM)'"
        [altitudine]="'343'"
        [urlSite]="'meteomacere.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/15/1519388015/current/full/1519388015.jpg'"
>
</webcam>
<webcam [luogo]="'CAVE (RM)'"
        [altitudine]="'390'"
        [urlSite]="'www.cavemeteo.com'"
        [urlWebcam]="'https://images-webcams.windy.com/97/1398595597/current/full/1398595597.jpg'"
>
</webcam>



