<strong><h3>Provincia Roma</h3></strong>


<figure>
  <figcaption>
    <strong>MONTE GUADAGNOLO (RM) 1218 mt</strong>
    <span>www.meteopalestrina.it </span>
  </figcaption>
  <a href="http://www.webcampalestrina.altervista.org/daxedocu/webcam.php" data-rel="prettyPhoto"><img
    src="http://www.webcampalestrina.altervista.org/daxedocu/webcam.php" class="webcam"
    style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>


<figure>
  <figcaption>
    <strong>ROCCA PRIORA (RM) 700 mT</strong>
    <span>www.meteoroccapriora.it</span>

  </figcaption>
  <a href="http://www.meteoroccapriora.it/webcam/webcam.jpg" data-rel="prettyPhoto"><img
    src="http://www.meteoroccapriora.it/webcam/webcam.jpg" class="webcam"
    style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>

<figure>
  <figcaption>
    <strong>CAPRANICA PRENESTINA (RM) 915 mT</strong>
    <span> www.meteopalestrina.it</span>
  </figcaption>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.capranicaprenestina.org%2Fwebcam%2F54fab28aaab0b062%2Fwebcam.php&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.capranicaprenestina.org%2Fwebcam%2F54fab28aaab0b062%2Fwebcam.php&w=630"
    class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>

<figure>
  <figcaption>
    <strong> MONTE COMPATRI (RM) 576 mT</strong>
    <span> www.meteocastelli.it</span>
  </figcaption>
  <a href="http://www.meteocastelli.it/webcamsansilvestro/cam.jpg" data-rel="prettyPhoto"><img
    src="http://www.meteocastelli.it/webcamsansilvestro/cam.jpg" class="webcam"
    style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>

<figure>
  <figcaption>
    <strong>ROCCA DI PAPA (RM) 680 mT</strong>
    <span> www.meteocastelli.it</span>

  </figcaption>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocastelli.it%2Fwebcamroccadipapa%2Fcam.jpg&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocastelli.it%2Fwebcamroccadipapa%2Fcam.jpg&w=630"
    class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>


<figure>
  <figcaption>
    <strong>CAMPEGLI (RM) 1053 mT</strong>
    <span> www.meteocampaegli.it</span>
  </figcaption>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocampaegli.it%2Fwebcam%2Fcurrent.jpg&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocampaegli.it%2Fwebcam%2Fcurrent.jpg&w=630"
    class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>


<figure>
  <figcaption>
    <strong> PALESTRINA (RM) 450 mT</strong>
    <span> www.meteopalestrina.it</span>
  </figcaption>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.webcampalestrina.altervista.org%2F4e4964279964993%2Fwebcam.php&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.webcampalestrina.altervista.org%2F4e4964279964993%2Fwebcam.php&w=630"
    class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>


<figure>
  <figcaption>
    <strong> CICILIANO (RM) 619 mT</strong>
    <span> www.paesaggiwebcam.it</span>
  </figcaption>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.paesaggiwebcam.it%2Fwebcam%2Fcurrent.jpg&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.paesaggiwebcam.it%2Fwebcam%2Fcurrent.jpg&w=630"
    class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>

<figure>
  <figcaption>
    <strong> VALLE DEL SACCO - GORGA (RM) 806 mT</strong>
    <span> www.meteopalestrina.it</span>
  </figcaption>
  <a href="http://stazioneclimaticagorga.altervista.org/osservatorio_gorga/webcam.php" data-rel="prettyPhoto"><img
    src="http://stazioneclimaticagorga.altervista.org/osservatorio_gorga/webcam.php" class="webcam"
    style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>

<figure>
  <figcaption>
    <strong> ROCCA DI CAVE (RM) 933 mT</strong>
    <span> www.roccadicave.rm.gov.it</span>
  </figcaption>
  <a href="http://webcampalestrina2.altervista.org/foicam/roccadicave/webcam.php" data-rel="prettyPhoto"><img
    src="http://webcampalestrina2.altervista.org/foicam/roccadicave/webcam.php" class="webcam"
    style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>

<figure>
  <figcaption>
    <strong> CASTEL SAN PIETRO (RM) 760 mT</strong>
    <span> www.meteoliri.it</span>
  </figcaption>
  <a href="http://www.meteoliri.it/stazione1/webcamRM.php" data-rel="prettyPhoto"><img
    src="http://www.meteoliri.it/stazione1/webcamRM.php" class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>


