<strong class="title-micro-section"><h3>Provincia Roma</h3></strong>


<figure>
  <div class="webcam-script-header">
							<span class="content-webcam-principal">MONTE GUADAGNOLO
								(RM) 1218 mt - </span> <span>www.meteopalestrina.it </span>
  </div>
  <a
    href="http://www.webcampalestrina.altervista.org/daxedocu/webcam.php"
    data-rel="prettyPhoto"><img
    src="http://www.webcampalestrina.altervista.org/daxedocu/webcam.php"
    class="webcam"/></a>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">ROCCA PRIORA (RM)
								700 mT - </span> <span>www.meteoroccapriora.it</span>
    </div>
    <a href="http://www.meteoroccapriora.it/webcam/webcam.jpg"
       data-rel="prettyPhoto"><img
      src="http://www.meteoroccapriora.it/webcam/webcam.jpg"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">CAPRANICA
								PRENESTINA (RM) 915 mT - </span> <span> www.meteopalestrina.it</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.capranicaprenestina.org%2Fwebcam%2F54fab28aaab0b062%2Fwebcam.php&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.capranicaprenestina.org%2Fwebcam%2F54fab28aaab0b062%2Fwebcam.php&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> MONTE COMPATRI
								(RM) 576 mT - </span> <span> www.meteocastelli.it</span>
    </div>
    <a href="http://www.meteocastelli.it/webcamsansilvestro/cam.jpg"
       data-rel="prettyPhoto"><img
      src="http://www.meteocastelli.it/webcamsansilvestro/cam.jpg"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">ROCCA DI PAPA (RM)
								680 mT - </span> <span> www.meteocastelli.it</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocastelli.it%2Fwebcamroccadipapa%2Fcam.jpg&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocastelli.it%2Fwebcamroccadipapa%2Fcam.jpg&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">CAMPEGLI (RM) 1053
								mT - </span> <span> www.meteocampaegli.it</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocampaegli.it%2Fwebcam%2Fcurrent.jpg&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocampaegli.it%2Fwebcam%2Fcurrent.jpg&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> PALESTRINA (RM)
								450 mT - </span> <span> www.meteopalestrina.it</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.webcampalestrina.altervista.org%2F4e4964279964993%2Fwebcam.php&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.webcampalestrina.altervista.org%2F4e4964279964993%2Fwebcam.php&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> CICILIANO (RM) 619
								mT - </span> <span> www.paesaggiwebcam.it</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.paesaggiwebcam.it%2Fwebcam%2Fcurrent.jpg&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.paesaggiwebcam.it%2Fwebcam%2Fcurrent.jpg&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> VALLE DEL SACCO -
								GORGA (RM) 806 mT - </span> <span> www.meteopalestrina.it</span>
    </div>
    <a
      href="http://stazioneclimaticagorga.altervista.org/osservatorio_gorga/webcam.php"
      data-rel="prettyPhoto"><img
      src="http://stazioneclimaticagorga.altervista.org/osservatorio_gorga/webcam.php"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> ROCCA DI CAVE (RM)
								933 mT - </span> <span> www.roccadicave.rm.gov.it</span>
    </div>
    <a
      href="http://webcampalestrina2.altervista.org/foicam/roccadicave/webcam.php"
      data-rel="prettyPhoto"><img
      src="http://webcampalestrina2.altervista.org/foicam/roccadicave/webcam.php"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> CASTEL SAN PIETRO
								(RM) 760 mT - </span> <span> www.meteoliri.it</span>
    </div>
    <a href="http://www.meteoliri.it/stazione1/webcamRM.php"
       data-rel="prettyPhoto"><img
      src="http://www.meteoliri.it/stazione1/webcamRM.php"
      class="webcam"/></a></figure>

