<h1> Riepilogo Stazione Meteo Campoli Cicerone - 915 mt </h1>
<br>
<p class="red">In allestimento </p>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader" *ngIf="isVisible">
  <div class="mat-elevation-z8 table-riepilogo-stazione-prato center">
    <!-- Selettore per il mese -->
    <!-- app.component.html -->
    <mat-form-field appearance="fill">
      <mat-label>Seleziona mese ed anno</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControl" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)"
                      (monthSelected)="chosenMonthHandler($event, picker)" panelClass="month-year-picker">
      </mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" class="esegui" (click)="filterData()">ESEGUI</button>

    <h2 class="title-micro-section">{{getMonthName(month) + " " + yearMonth}} </h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Data Ora Column -->
      <ng-container matColumnDef="giorno">
        <th class="riepilogo-giorno-header" mat-header-cell *matHeaderCellDef mat-sort-header> Giorno</th>
        <td class="riepilogo-giorno-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : '#e3dede'} "> {{(element?.giorno) ? element?.giorno : '-' }} </td>
      </ng-container>

      <!-- Profondita Column -->
      <ng-container matColumnDef="tempMin">
        <th class="riepilogo-temMin-header" mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Minima</th>
        <td class="riepilogo-temMin-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getCellColor(element?.tempMin)}"> {{(element?.tempMin) ? element?.tempMin + '°' : '-' }} </td>
      </ng-container>

      <!-- Zona Column -->
      <ng-container matColumnDef="tempMax">
        <th class="riepilogo-temMax-header" mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Massima</th>
        <td class="riepilogo-temMax-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getCellColor(element?.tempMax)}"> {{(element?.tempMax) ? element?.tempMax + '°' : '-' }} </td>
      </ng-container>

      <!-- Profondita Column -->
      <ng-container matColumnDef="tempMedia">
        <th class="riepilogo-temMedia-header" mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Media</th>
        <td class="riepilogo-temMedia-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getCellColor(element?.tempMedia)}"> {{(element?.tempMedia && element?.tempMedia !== 'NaN') ? element?.tempMedia + '°' : '-' }} </td>
      </ng-container>

      <!-- Magnitudo Column -->
      <ng-container matColumnDef="umidita">
        <th class="riepilogo-umidita-header" mat-header-cell *matHeaderCellDef mat-sort-header> Umidità Relativa Min-Max</th>
        <td class="riepilogo-umidita-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getUmiditaColor(element?.umiditaMax)}"> {{(element?.umiditaMin) ? element?.umiditaMin + ' - ' + element?.umiditaMax + ' %' : '-' }} </td>
      </ng-container>

      <!-- Magnitudo Column -->
      <ng-container matColumnDef="pioggia">
        <th class="riepilogo-pioggia-header" mat-header-cell *matHeaderCellDef mat-sort-header> Pioggia</th>
        <td class="riepilogo-pioggia-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getPioggiaColor(element?.pioggia)}"> {{(element?.pioggia) ? element?.pioggia + ' mm' : '0.0 mm' }} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell red" colspan="7">Nessun dato disponibile</td>
      </tr>
    </table>
    <mat-paginator [pageIndex]="currentPage" [hidePageSize]="true" [pageSize]="dataSource?.data?.length"
                   [showFirstLastButtons]="false"
                   (page)="pageEvent = handlePage($event)"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

<br>
<mat-spinner *ngIf="imageLoaderAnno" mode="indeterminate"></mat-spinner>
<div [hidden]="imageLoaderAnno" *ngIf="isVisibleAnno">
  <br>
  <br>
  <br>
  <div class="mat-elevation-z8 table-riepilogo-stazione-prato center">
    <!-- Selettore per il mese -->
    <!-- app.component.html -->
    <!--<mat-form-field appearance="fill">
      <mat-label>Seleziona anno</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControlAnnuale" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandlerAnnuale($event, picker)"
                      panelClass="year-picker">
      </mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" class="esegui" (click)="filterData()">ESEGUI</button>
    -->
    <br>
    <h2 class="title-micro-section">{{'Anno ' + year}} </h2>

    <table mat-table [dataSource]="dataSourceAnno" class="mat-elevation-z8" matSort>

      <!-- Profondita Column -->
      <ng-container matColumnDef="tempMin">
        <th class="riepilogo-temMin-header" mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Minima</th>
        <td class="riepilogo-temMin-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getCellColor(element?.tempMin)}"> {{(element?.tempMin) ? element?.tempMin + '°' : '-' }} </td>
      </ng-container>

      <!-- Zona Column -->
      <ng-container matColumnDef="tempMax">
        <th class="riepilogo-temMax-header" mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Massima</th>
        <td class="riepilogo-temMax-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getCellColor(element?.tempMax)}"> {{(element?.tempMax) ? element?.tempMax + '°' : '-' }} </td>
      </ng-container>

      <!-- Profondita Column -->
      <ng-container matColumnDef="tempMedia">
        <th class="riepilogo-temMedia-header" mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura Media</th>
        <td class="riepilogo-temMedia-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getCellColor(element?.tempMedia)}"> {{(element?.tempMedia && element?.tempMedia !== 'NaN') ? element?.tempMedia + '°' : '-' }} </td>
      </ng-container>

      <!-- Magnitudo Column -->
      <ng-container matColumnDef="pioggia">
        <th class="riepilogo-pioggia-header" mat-header-cell *matHeaderCellDef mat-sort-header> Pioggia</th>
        <td class="riepilogo-pioggia-body" mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element?.giorno === 'Mensile' ? 'rgb(159 153 153)' : getUmiditaColor(element?.pioggia)}"> {{(element?.pioggia) ? element?.pioggia + ' mm' : '0.0 mm' }} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsAnno"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAnno;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell red" colspan="7">Nessun dato disponibile</td>
      </tr>
    </table>
    <mat-paginator [pageIndex]="currentPageAnno" [hidePageSize]="true" [pageSize]="dataSourceAnno?.data?.length"
                   [showFirstLastButtons]="false"
                   (page)="pageEventAnno = handlePageAnno($event)"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
