<br>
<h1 class="header-macro-section">{{utility.titleMatTab}}</h1>
<br>
<h2 class="title-micro-section">Clicca sul nome delle stazioni per accedere ai dati completi</h2>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="GENERALI">
    <br>
    <ng-template matTabContent>
      <stazioni-generali></stazioni-generali>
    </ng-template>
  </mat-tab>
  <mat-tab label="CENTRO">
    <br>
    <ng-template matTabContent>
      <tab-centro-stazioni></tab-centro-stazioni>
    </ng-template>
  </mat-tab>
  <mat-tab label="NORD">
    <br>
    <ng-template matTabContent>
      <tab-nord-stazioni></tab-nord-stazioni>
    </ng-template>
  </mat-tab>
  <mat-tab label="SUD">
    <br>
    <ng-template matTabContent>
      <stazioni-sud-italia></stazioni-sud-italia>
    </ng-template>
  </mat-tab>
  <mat-tab label="ISOLE">
    <br>
    <ng-template matTabContent>
      <tab-isole-stazioni></tab-isole-stazioni>
    </ng-template>
  </mat-tab>
  <mat-tab label="RETE METEO">
    <br>
    <ng-template matTabContent>
      <stazioni-rete-meteo></stazioni-rete-meteo>
    </ng-template>
  </mat-tab>
  <!--<mat-tab label="MONTAGNA">
    <br>
    <a href="http://www.caputfrigoris.it/rete-meteo.htm" title="stazioni meteo caputfrigoris" target="_blank"></a>
  </mat-tab> -->
</mat-tab-group>
