<br>
<h1 class="header-macro-section">Stazioni Meteo - Temperature e Storico Dati </h1>
<br>
<p class="title-micro-section">Clicca sul nome delle stazioni per accedere ai dati completi</p>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="GENERALI">
    <br>
    <ng-template matTabContent>
      <stazioni-generali></stazioni-generali>
    </ng-template>
  </mat-tab>
  <mat-tab label="LAZIO">
    <br>
    <ng-template matTabContent>
      <stazioni-lazio></stazioni-lazio>
    </ng-template>
  </mat-tab>
  <mat-tab label="ABRUZZO">
    <br>
    <ng-template matTabContent>
      <stazioni-abruzzo></stazioni-abruzzo>
    </ng-template>
  </mat-tab>
  <mat-tab label="MOLISE">
    <br>
    <ng-template matTabContent>
      <stazioni-molise></stazioni-molise>
    </ng-template>
  </mat-tab>
  <mat-tab label="RETE METEO">
    <br>
    <ng-template matTabContent>
      <stazioni-rete-meteo></stazioni-rete-meteo>
    </ng-template>
  </mat-tab>
  <!--<mat-tab label="MONTAGNA">
    <br>
    <a href="http://www.caputfrigoris.it/rete-meteo.htm" title="stazioni meteo caputfrigoris" target="_blank"></a>
  </mat-tab> -->
</mat-tab-group>
