<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
<div class="center">
  <h2 class="title-micro-section">Lista aggiornata dei terremoti - fonte INGV</h2>
  <iframe src="http://cnt.rm.ingv.it/" frameborder="0" scrolling="si" style="margin-top: -235px;  margin-left: 0px"
          width="958" height="1800" class="terremoti-frame"
          (load)="imageLoader = false;"></iframe>
</div>
  <br>
  <h2 class="title-micro-section"> Mappa Sismica Italia</h2>
  <img src='./assets/img/mappa-sismica.png'
       alt="mappa rischio sismico">
  <br>
  <br>
  <button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>
