<div class="center">
  <em class="title-section">Terremoti Italia - Elenco</em>
  <!-- posts list -->
  <!-- posts list -->


  <i class="title-section">Lista aggiornata dei terremoti - fonte INGV</i>
  <div
    style='float:left; text-align:center; background:#EBEBE8; border:1px solid; border-radius:0.5em 0.5em 0.5em 0.5em; padding:5px 5px 0;'>
    <iframe src="http://meteocampoli.altervista.org/terremotiingv.html" width="928" height="1240" scrolling="No"
            frameborder="no" marginheight="0px" marginwidth="0px"></iframe>
  </div>
  <br>

  <br>

  <i class="title-micro-section"> Mappa Sismica Italia</i>
  <img src="http://meteocampoli.altervista.org/images/mappa-sismica-italia.jpg" width="528" height="580"
       alt="mappa rischio sismico">
  <br>

</div>


<br>
