<p class="header-macro-section">
  <button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()">&laquo; ARTICOLI</button>
  Nocciolo - Come prendersene cura
</p>
<br>
<br>
<div class="testo-articoli">
  <h2 class="title-micro-section center"><b>Informazioni generali</b></h2>
  Il nocciolo è una pianta tipica dell’Italia, lo si trova in particolare in <b>zone collinari</b> e di media montagna,
  sia del centro Italia che in settentrione. <br>
  La <b>coltivazione</b> delle piante di nocciolo avviene nel <b>periodo autunnale</b>. <br>
  Successivamente alla messa a dimora le piante di nocciolo inizieranno a produrre i loro <b>frutti dopo 3-4
  anni</b>.<br>
  Un nocciolo che riceve le adeguate cure può produrre frutti anche per <b> 40 anni</b>.<br>
  Per migliorare la <b>fertilità del terreno</b> nei primi anni si consiglia fortemente il <b>letame</b>, in quantità di
  circa 20-30 Kg per ogni pianta. <br>
  Se si coltiva in terreni abbastanza freschi le adacquature non sono necessarie. Tuttavia per le giovani piante, nel
  periodo più caldo , sono consigliati circa 20 litri ogni 15 giorni. <br>
  In genere raggiunge un’<b>altezza</b> di circa <b>4 metri</b>, anche se in forma libera può arrivare a 7-8. <br>
  Per la sua coltivazione l’albero di nocciole predilige un clima che non abbia troppi sbalzi stagionali. <br>
  Teme infatti il freddo intenso nella fase dell’impollinazione, con temperature che scendono sotto i -12 °C.
  Ma teme anche il caldo eccessivo, con temperature per molto tempo superiori ai 35 °C. <br>
  La <b>raccolta</b> del nocciolo si fa indicativamente per tutto il mese di <b>settembre</b>.
  <hr>
  <p class="title-micro-section center">Potatura</p>
  A partire dal <b>terzo anno</b> si possono iniziare gli interventi di <b>potatura</b> del nocciolo.<br>
  Nel periodo invernale si iniziano ad <b>eliminare i polloni</b> basali in eccesso, si eliminano quelli malati o
  secchi, in generale si da anche la forma alla chioma. <br>
  Una caratteristica dell’albero di nocciole è il <b>portamento a cespuglio</b>. <br>
  In linea generale, la potatura ha l’obiettivo di stabilire un rapporto di <b>equilibrio tra l’attività produttiva e
  quella vegetativa</b>, un po come per l'ulivo. <br>
  Il <b>periodo</b> migliore per potare l’albero di nocciole è quello <b>invernale</b>, tra la caduta delle foglie e la
  fioritura.<br>

</div>
<br>
<br>
<button class="btn btn-primary button-indietro" aria-label="bottone-indietro" title="Indietro" (click)="indietro()">
  &laquo; INDIETRO
</button>
