<p class="header-macro-section">Info e Curiosita</p>
<br>
<br>
<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Inquinamento dell'aria e rimedi naturali</legend>
      <img src="../../assets/img/articolo-inquinamento.png" width="244" height="170">
      <br>
      <div class="article-body">
        <a href="articoli/inquinamento-rimedi-naturali.html">
          <b>L'inquinamento dell'aria sulle aree notoriamente piu soggette sta acquisendo sempre maggior
            importanza...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Qualita dell'aria</legend>
      <img src="../../assets/img/articolo-qualita-aria.png" width="244" height="170">
      <br>
      <div class="article-body">
        <a href="http://pumpkin.aquila.infn.it/forechem/index_it.html">
          <b>Monitoraggio qualita dell'aria, tutti i dettagli dell' Universita dell'Aquila - CETEMPS</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Ondata Calore 2017</legend>
      <img src="../../assets/img/articolo-caldo-2017.png" width="244" height="170">
      <br>
      <div class="article-body">
        <a href="ondata-caldo-2017.html"><b>Riepilogo dati ondata storica estate 2017</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>

<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Monitoraggio Sole</legend>
      <img src="../../assets/img/monitoraggio-sole.png" width="244" height="170">
      <br>
      <div class="article-body">
        <a href="sole-monitoraggio.html"><b>Attivita solare attuale...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Effemeridi</legend>
      <img src="../../assets/img/effemeridi.png" width="244" height="170">
      <br>
      <div class="article-body">
        <a id="li-modal" href="../modal/effemeridi.html" data-toggle="modal" data-target="#theModal">
          <b>Orari di alba e tramonto locali</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Anomalie pioggia</legend>
      <img src="../../assets/img/anomalie.png" width="244" height="170">
      <br>
      <div class="article-body">
        <a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1cpnp1.png">
          <b>Grafico anomalie pioggia mese precedente</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<br>
<br>
