<br>
<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Qualita dell'aria</legend>
      <img src="../../assets/img/articolo-qualita-aria.png" class="img-article" width="274" height="200"
           alt="qualita aria">
      <br>
      <div class="article-body">
        <a href="http://pumpkin.aquila.infn.it/forechem/index_it.html" target="_blank" rel="noopener">
          <b>Monitoraggio qualita dell'aria, tutti i dettagli dell' Universita dell'Aquila - CETEMPS</b>
        </a>
      </div>
    </fieldset>
  </div>

  <articoli [titleArticle]="'Ondata Calore 2017'"
            [descArticle]="'Riepilogo dati ondata storica estate 2017'"
            [srcImage]="'./assets/img/articolo-caldo-2017.png'"
            [routerArticle]="'ondata-caldo-2017'"
  >
  </articoli>

  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Anomalie pioggia</legend>
      <img src="../../assets/img/anomalie.png" class="img-article" width="274" height="200" alt="anomalie pioggia">
      <br>
      <div class="article-body">
        <a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1cpnp1.png"
           target="_blank" rel="noopener">
          <b>Grafico anomalie pioggia mese precedente</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<div class="row infos">
  <!--
  <articoli [titleArticle]="'Rosa dei venti'"
            [descArticle]="'La rosa dei venti è un diagramma che rappresenta la provenienza dei venti..'"
            [srcImage]="'../../assets/img/rosa-venti.png'"
            [routerArticle]="'meteo/rosa-venti'"
  >
  </articoli>
-->
</div>


