<br>
<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Qualita dell'aria</legend>
      <img src="../../assets/img/articolo-qualita-aria.png" class="img-article" width="274" height="200"
           alt="qualita aria">
      <br>
      <div class="article-body">
        <a href="http://pumpkin.aquila.infn.it/forechem/index_it.html" target="_blank" rel="noopener">
          <b>Monitoraggio qualita dell'aria, tutti i dettagli dell' Universita dell'Aquila - CETEMPS</b>
        </a>
      </div>
    </fieldset>
  </div>

  <articoli [titleArticle]="'Ondata Calore 2017'"
            [descArticle]="'Riepilogo dati ondata storica estate 2017'"
            [srcImage]="'./assets/img/articolo-caldo-2017.png'"
            [routerArticle]="'ondata-caldo-2017'"
  >
  </articoli>

  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Anomalie pioggia</legend>
      <img src="../../assets/img/anomalie.png" class="img-article" width="274" height="200" alt="anomalie pioggia">
      <br>
      <div class="article-body">
        <a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1cpnp1.png"
           target="_blank" rel="noopener">
          <b>Grafico anomalie pioggia mese precedente</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<div class="row infos">
  <!--
  <articoli [titleArticle]="'Rosa dei venti'"
            [descArticle]="'La rosa dei venti è un diagramma che rappresenta la provenienza dei venti..'"
            [srcImage]="'../../assets/img/rosa-venti.png'"
            [routerArticle]="'meteo/rosa-venti'"
  >
  </articoli>
-->
</div>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="utilityService.scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
<br>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- meteocampoli-ads -->
<ins class="adsbygoogle"
     style="display:block;width:728px;height:90px"
     data-ad-client="ca-pub-6215193089819382"
     data-ad-slot="8463917998"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ng-adsense
  [adClient]="'ca-pub-6215193089819382'"
  [adSlot]="9724605079"
  [display]="'inline-block'"
  [width]="728"
  [height]="90"></ng-adsense>
<script>!function (d, l, e, s, c) {
  e = d.createElement("script");
  e.src = "//ad.altervista.org/js2.ad/size=728X90/?ref=" + encodeURIComponent(l.hostname + l.pathname) + "&r=" + Date.now();
  s = d.scripts;
  c = d.currentScript || s[s.length - 1];
  c.parentNode.insertBefore(e, c)
}(document, location)</script>
