<br>
<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Qualita dell'aria</legend>
      <img src="../../assets/img/articolo-qualita-aria.png" class="img-article">
      <br>
      <div class="article-body">
        <a href="http://pumpkin.aquila.infn.it/forechem/index_it.html" target="_blank">
          <b>Monitoraggio qualita dell'aria, tutti i dettagli dell' Universita dell'Aquila - CETEMPS</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Ondata Calore 2017</legend>
      <img src="../../assets/img/articolo-caldo-2017.png" class="img-article">
      <br>
      <div class="article-body">
        <a routerLink="ondata-caldo-2017"><b>Riepilogo dati ondata storica estate 2017</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Anomalie pioggia</legend>
      <img src="../../assets/img/anomalie.png" class="img-article">
      <br>
      <div class="article-body">
        <a href="http://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1cpnp1.png"
           target="_blank">
          <b>Grafico anomalie pioggia mese precedente</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Qualita dell'aria</legend>
      <img src="../../assets/img/articolo-qualita-aria.png" class="img-article">
      <br>
      <div class="article-body">
        <a href="http://pumpkin.aquila.infn.it/forechem/index_it.html" target="_blank">
          <b>Monitoraggio qualita dell'aria, tutti i dettagli dell' Universita dell'Aquila - CETEMPS</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
