<p class="title-micro-section">Provincia di Firenze</p>

<webcam [luogo]="'PASSO DELLA RATICOSA (FI)'"
        [altitudine]="'968 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'https://www.meteosestola.it/passoraticosa.jpg'"
></webcam>

<webcam [luogo]="'PIETRAPIANA (FI)'"
        [altitudine]="'500 '"
        [urlSite]="'www.reggelloambiente.it'"
        [urlWebcam]="'http://www.reggelloambiente.it/webcam/pietrapiana-ovest.jpg'"
></webcam>

<webcam [luogo]="'VALLE DEL DIATERNA - FIORENZUOLA (FI)'"
        [altitudine]="'770 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'https://www.meteosestola.it/diaterna.jpg'"
></webcam>




