<p class="title-micro-section">Provincia di Firenze</p>
<webcam [luogo]="'VALLOMBROSA (FI)'"
        [altitudine]="'1000 '"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.meteosystem.com/webcam/vallombrosa/vallombrosa.jpg'"
></webcam>
<webcam [luogo]="'PASSO DELLA RATICOSA (FI)'"
        [altitudine]="'968 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'https://www.meteosestola.it/passoraticosa.jpg'"
></webcam>
<webcam [luogo]="'MURAGLIONE (FI)'"
        [altitudine]="'907'"
        [urlSite]="'www.meteo-pedemontanaforlivese.it'"
        [urlWebcam]="'https://www.meteo-pedemontanaforlivese.it/webcam/muraglione/passo-muraglione.jpg'"
></webcam>
<webcam [luogo]="'PASSO DELLA FUTA (FI)'"
        [altitudine]="'903'"
        [urlSite]="'www.meteosystem.com'"
        [urlWebcam]="'https://www.meteosystem.com/webcam/passofuta/futa.jpg'"
></webcam>
<webcam [luogo]="'PIETRAPIANA (FI)'"
        [altitudine]="'500 '"
        [urlSite]="'www.reggelloambiente.it'"
        [urlWebcam]="'http://www.reggelloambiente.it/webcam/pietrapiana-ovest.jpg'"
></webcam>

<webcam [luogo]="'VALLE DEL DIATERNA - FIORENZUOLA (FI)'"
        [altitudine]="'770 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'https://www.meteosestola.it/diaterna.jpg'"
></webcam>




