<h2 class="title-micro-section">Provincia di Firenze</h2>

<webcam [luogo]="'PASSO DELLA RATICOSA (FI)'"
        [altitudine]="'968 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.meteosestola.it/passoraticosa.jpg'"
></webcam>

<webcam [luogo]="'PIETRAPIANA (FI)'"
        [altitudine]="'450 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="' http://www.reggelloambiente.it/webcam/pietrapiana-live.jpg'"
></webcam>

<webcam [luogo]="'VALLE DEL DIATERNA - FIORENZUOLA (FI)'"
        [altitudine]="'770 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.meteosestola.it/diaterna.jpg'"
></webcam>




