<br>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr072"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr072/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Perugia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr140"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr140/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Cerreto di Spoleto"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr046"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr046/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Città di castello"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr064"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr064/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Cerreto di Foligno"/></a></span>
    </td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr100"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr100/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Gubbio"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr092"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr092/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="mbr092"/></a></span>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr038"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr038/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Castiglione del Lago"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr093" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/mbr093/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155"
      alt="Stazione meteo di Città di Castello"/></a></span>
    </td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr001"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr001/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Palazzo Mancinelli - Gualdo Tadino"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr067"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr067/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Passignano Alta - Passignano sul Trasimeno"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr048"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr048/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Perugia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr037"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr037/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Piegaro"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr110"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr110/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Armenzano - Assisi"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr099"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr099/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Bastia Umbra"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr085"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr085/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Cascia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr094"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr094/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Petrelle"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr047"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr047/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Casalina - Deruta"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr084"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr084/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Campogrande - Città della Pieve"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr006"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr006/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Casalina - Deruta"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr067"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr095/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Osservatorio Meteo e Sismico Perugia ANCarabinieri - Marsciano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr131"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr131/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Massa Martana"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr096"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr096/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Nocera Umbra "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr119"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr119/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Norcia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr137"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr137/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Scheggia e Pascelupo "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr097"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr097/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Todi"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr122"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr122/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Ponte Nuovo di Torg. - Torgiano"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr114"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr114/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Umbertide "/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr101"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr101/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Casa Castalda - Valfabbrica"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr045"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr045/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Fabro"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr077"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr077/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Pornello - San Venanzo"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr059"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr059/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di San Gemini"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr050"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr050/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Fabro"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr028"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr028/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Orvieto "/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr129"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr129/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Terni"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/mbr107"
                  target="_blank" rel="noopener"><img style="border:none;"
                                                      [src]="'https://my.meteonetwork.it/station/mbr107/sticker-oriz1?v=' + preventCache"
                                                      class="meteonetwork-sticker" width="524"
                                                      height="155"
                                                      alt="Stazione meteo di Casigliano - Acquasparta"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/mbr120"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/mbr120/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524"
                                                     height="155"
                                                     alt="Stazione meteo di Corbara - Baschi"/></a></span>
    </td>
  </tr>
</table>


