<h2 class="title-micro-section">Provincia di Pisa</h2>

<webcam [luogo]="'VOLTERRA (PI)'"
        [altitudine]="'531 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'https://www.borgolacasaccia.it/uploadedfiles/immagini/dove-siamo/volterra.jpg'"
></webcam>

<webcam [luogo]="'SAN CASCIANO (PI)'"
        [altitudine]="'957 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'https://www.camperlife.it/sites/default/files/uploads/REGIONI/Toscana/siena/sancasciano_bagni/castello-fighine_san-casciano-bagni-camper.jpg'"
></webcam>




