<p class="title-micro-section">Provincia di Grosseto</p>

<webcam [luogo]="'MONTE AMIATA - PRATO DELLE MACINAIE (GR)'"
        [altitudine]="'1385 '"
        [urlSite]="'www.lemacinaie.it'"
        [urlWebcam]="'https://www.lemacinaie.it/webcam/CAM_MACINAIE/2022-11-15/001/jpg/09/05/04[R][0@0][0].jpg'"
></webcam>
<webcam [luogo]="'SELVENA (GR)'"
        [altitudine]="'685 '"
        [urlSite]="'zarameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/23/1556366223/current/full/1556366223.jpg'"
></webcam>
<!--<webcam [luogo]="'SATURNIA (GR)'"
        [altitudine]="'538 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.bellezzedellatoscana.it/photos/Saturnia/grandi/Saturnia_(GR)_www.bellezzedellatoscana.it_010.jpg'"></webcam>-->
