<p class="title-micro-section">Provincia di Grosseto</p>

<webcam [luogo]="'MONTE AMIATA - PARCHEGGIO (GR)'"
        [altitudine]="'1700 '"
        [urlSite]="'www.rifugiovetta.it'"
        [urlWebcam]="'https://www.rifugiovetta.it/webcam-parcheggi.php'"
></webcam>
<webcam [luogo]="'MONTE AMIATA - PRATO MACINAIE (GR)'"
        [altitudine]="'1385 '"
        [urlSite]="'www.lemacinaie.it'"
        [urlWebcam]="'https://www.lemacinaie.it/webcam-macinaie.php'"
></webcam>
<webcam [luogo]="'CASTELL \'AZZARA (GR)'"
        [altitudine]="'815 '"
        [urlSite]="'meteoaquesio.altervista.org'"
        [urlWebcam]="'https://meteoaquesio.altervista.org/zara/FI9901EP_00626E8BFD17/snap/webcam.php'"
></webcam>
<webcam [luogo]="'SELVENA (GR)'"
        [altitudine]="'685 '"
        [urlSite]="'zarameteo.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/23/1556366223/current/full/1556366223.jpg'"
></webcam>
<!--<webcam [luogo]="'SATURNIA (GR)'"
        [altitudine]="'538 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.bellezzedellatoscana.it/photos/Saturnia/grandi/Saturnia_(GR)_www.bellezzedellatoscana.it_010.jpg'"></webcam>-->
