<h2 class="title-micro-section">Provincia di Grosseto</h2>

<webcam [luogo]="'MONTE AMIATA (GR)'"
        [altitudine]="'1600 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.monte-amiata.eu/immagini_comuni/monte_amiata/Cultura/Paesi/Montegiovi/Montegiovi_vista_valle.jpg'"
></webcam>

<webcam [luogo]="'SATURNIA (GR)'"
        [altitudine]="'538 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.bellezzedellatoscana.it/photos/Saturnia/grandi/Saturnia_(GR)_www.bellezzedellatoscana.it_010.jpg'"></webcam>
