<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="CAMPANIA">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-campania></webcam-campania>
    </ng-template>
  </mat-tab>
  <mat-tab label="CALABRIA">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-calabria></webcam-calabria>
    </ng-template>
  </mat-tab>
  <mat-tab label="PUGLIA">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-puglia></webcam-puglia>
    </ng-template>
  </mat-tab>
  <mat-tab label="BASILICATA">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-basilicata></webcam-basilicata>
    </ng-template>
  </mat-tab>
</mat-tab-group>
