<h2 class="title-micro-section">Provincia di Frosinone</h2>

<webcam [luogo]="'VALICO DI FORCA D\'ACERO (FR)'"
        [altitudine]="'1538'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'https://www.meteoregionelazio.it/webcams/forca_acero/FI9900P_00626E9449B9/snap/webcam.php'"
></webcam>

<webcam [luogo]="'CAMPOCATINO (FR)'"
        [altitudine]="'1800'"
        [urlSite]="'www.campocatinometeo.it'"
        [urlWebcam]="'https://www.campocatinometeo.it/capture1.jpg'"
>
</webcam>
<webcam [luogo]="'ARPINO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteoliri.it'"
        [urlWebcam]="'http://www.meteoliri.it/webarpino/webcam.php'"
>
</webcam>
<webcam [luogo]="'ATINA (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'http://www.meteocomino.it/atinacam/cam-atina.php'"
>
</webcam>
<webcam [luogo]="'ALVITO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocomino.it%2Falvito_raspberry_cam%2Fcam-alvito.php&w=630'"
>
</webcam>
<webcam [luogo]="'PICINISCO (FR)'"
        [altitudine]="'700'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'http://www.meteoliri.it/stazione1/bannerino5.php'"
>
</webcam>
<!--
<webcam [luogo]="'GUARCINO (FR)'"
        [altitudine]="'600'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'http://www.campocatinometeo.it/capture2.jpg?1600244582'"
>
</webcam>-->
<webcam [luogo]="'PIGLIO (FR)'"
        [altitudine]="'620'"
        [urlSite]="'www.meteopalestrina.it'"
        [urlWebcam]="'http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwebcampiglio.altervista.org%2Ffoicam%2Fcam_piglio_fr%2Fwebcam.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'FILETTINO (FR)'"
        [altitudine]="'1063'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'http://www.meteofilettino.it/albanetti/filettino4.jpg'"
>
</webcam>
<webcam [luogo]="'COLLEPARDO (FR)'"
        [altitudine]="'554'"
        [urlSite]="'www.meteocollepardomontiernici.it'"
        [urlWebcam]="'http://www.meteoliri.it/collepardo/webcam1.php?1600244582'"
>
</webcam>
<webcam [luogo]="'CAMPOSTAFFI (FR)'"
        [altitudine]="'1806'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'https://www.meteoregionelazio.it/webcams/campo_staffi2/FI9928P_00626E871304/snap/webcam.php?1600243926'"
>
</webcam>
<webcam [luogo]="'ALATRI (FR)'"
        [altitudine]="'502'"
        [urlSite]="'www.alatrimeteo.altervista.org'"
        [urlWebcam]="'http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.alatrimeteo.altervista.org%2Fwebcam.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'TECCHIENA (FR)'"
        [altitudine]="'502'"
        [urlSite]="'www.meteotecchiena.com'"
        [urlWebcam]="'http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteotecchiena.com%2Fwebcam%2Fscatto%2Fcam.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'FERENTINO (FR)'"
        [altitudine]="'395'"
        [urlSite]="'ferentinomet.it'"
        [urlWebcam]="'http://www.ferentinomet.it/dahua/camera1.jpg'"
>
</webcam>









