<h2 class="title-micro-section">Provincia di Frosinone</h2>

<webcam [luogo]="'VALICO DI FORCA D\'ACERO (FR)'"
        [altitudine]="'1538'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'https://www.meteoregionelazio.it/webcams/forca_acero/FI9900P_00626E9449B9/snap/webcam.php'"
        [timeout]="true"
></webcam>

<webcam [luogo]="'CAMPOCATINO (FR)'"
        [altitudine]="'1800'"
        [urlSite]="'www.campocatinometeo.it'"
        [urlWebcam]="'https://cams.skigebiete-test.de/images/ecu/content/c_webcam/campo-catino-ski-resort--bar-ristorante-luciana_n2643576-72829-0_l.jpg'"
>
</webcam>
<!--<webcam [luogo]="'CAMPOSTAFFI (FR)'"
        [altitudine]="'1806'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'https://www.meteoregionelazio.it/webcams/campo_staffi2/FI9928P_00626E871304/snap/webcam.php?1600243926'"
>
</webcam>-->
<webcam [luogo]="'CAMPOSTAFFI - RIFUGIO VIPERELLA (FR)'"
        [altitudine]="'1806'"
        [urlSite]="'www.meteo-lazio.it'"
        [urlWebcam]="'https://www.meteo-lazio.it/webcams/campo_staffi_2021/FoscamCamera_00626EEF6572/snap/webcam.php'"
>
</webcam>
<!--<webcam [luogo]="'CAMPOSTAFFI - MONTE CONTENTO (FR)'"
        [altitudine]="'2015'"
        [urlSite]="'www.hellotelwifi.it'"
        [urlWebcam]="'http://www.hellotelwifi.it/campostaffi/webcamcampostaffi1.jpg'"
>
</webcam>-->
<webcam [luogo]="'FILETTINO (FR)'"
        [altitudine]="'1063'"
        [urlSite]="'www.meteofilettino.it'"
        [urlWebcam]="'https://www.meteofilettino.it/cam.jpg'"
>
</webcam>

<webcam [luogo]="'GUARCINO (FR)'"
        [altitudine]="'625'"
        [urlSite]="'www.campocatinometeo.it'"
        [urlWebcam]="'https://www.campocatinometeo.it/capture2.jpg'"
>
</webcam>

<webcam [luogo]="'COLLEPARDO (FR)'"
        [altitudine]="'586'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.hellotelwifi.it%2Fcollepardo%2Fwebcamcollepardo.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'ARPINO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'sre.altervista.org'"
        [urlWebcam]="'http://sre.altervista.org/webcam/webcam.php'"
>
</webcam>
<!--<webcam [luogo]="'ATINA (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.webcam-meteo.it'"
        [urlWebcam]="'http://www.webcam-meteo.it/webcam_img/LAZ-Atina1.jpg'"
>
</webcam>
<webcam [luogo]="'ALVITO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocomino.it%2Falvito_raspberry_cam%2Fcam-alvito.php&w=630'"
>
</webcam>-->
<webcam [luogo]="'FERENTINO (FR)'"
        [altitudine]="'395'"
        [urlSite]="'ferentinomet.it'"
        [urlWebcam]="'https://www.ferentinomet.it/dahua/camera1.jpg'"
>
</webcam>
<webcam [luogo]="'PICO (FR)'"
        [altitudine]="'620'"
        [urlSite]="'meteopiconline.altervista.org'"
        [urlWebcam]="'https://meteopiconline.altervista.org/webcam/webcam.php'"
>
</webcam>
<webcam [luogo]="'SERRONE - MONTE SCALAMBRA (FR)'"
        [altitudine]="'1073'"
        [urlSite]="'www.meteopalestrina.it'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1626104533/current/full/1626104533.jpg'"
>
</webcam>











