<p class="title-micro-section">Provincia di Frosinone</p>
<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div class="center" [hidden]="imageLoader">
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">CAMPOCATINO (FR)
								1800 mt - </span> <span> www.campocatinometeo.it</span>

    </div>
    <a href="http://www.campocatinometeo.it/capture1.jpg"
       data-rel="prettyPhoto"><img
      src="http://www.campocatinometeo.it/capture1.jpg" class="webcam" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> ARPINO (FR) 500 mT
								- </span> <span> www.meteoliri.it</span>
    </div>
    <a href="http://www.meteoliri.it/webarpino/webcam.php"
       data-rel="prettyPhoto"><img
      src="http://www.meteoliri.it/webarpino/webcam.php" class="webcam"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> ATINA (FR) 500 mT
								- </span> <span> www.meteocomino.it </span>
    </div>
    <a href="http://www.meteocomino.it/atinacam/cam-atina.php"
       data-rel="prettyPhoto"><img
      src="http://www.meteocomino.it/atinacam/cam-atina.php"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> ALVITO (FR) 500 mT
								- </span> <span> www.meteocomino.it </span>
    </div>
    <a
      href="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocomino.it%2Falvito_raspberry_cam%2Fcam-alvito.php&w=630"
      data-rel="prettyPhoto"><img
      src="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteocomino.it%2Falvito_raspberry_cam%2Fcam-alvito.php&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> PICINISCO (FR) 700
								mT - </span> <span> www.meteocomino.it </span>
    </div>
    <a href="http://www.meteoliri.it/stazione1/bannerino5.php"
       data-rel="prettyPhoto"><img
      src="http://www.meteoliri.it/stazione1/bannerino5.php"
      class="webcam" alt="webcam picinisco"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> PIGLIO (FR) 620 mT
								- </span> <span> www.meteopalestrina.it</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwebcampiglio.altervista.org%2Ffoicam%2Fcam_piglio_fr%2Fwebcam.jpg&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwebcampiglio.altervista.org%2Ffoicam%2Fcam_piglio_fr%2Fwebcam.jpg&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">FILETTINO (FR) 1063
								mt - </span> <span> www.meteoindiretta.it</span>
    </div>
    <a href="http://www.meteofilettino.it/albanetti/filettino4.jpg"
       data-rel="prettyPhoto"><img
      src="http://www.meteofilettino.it/albanetti/filettino4.jpg" class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">COLLEPARDO (FR) 438 mt
								- </span> <span> hellotelwifi.it</span>

    </div>
    <a href="http://www.hellotelwifi.it/collepardo/webcamcollepardo2.jpg"><img
      src="http://www.hellotelwifi.it/collepardo/webcamcollepardo2.jpg" class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">CAMPOSTAFFI (FR)
								1806 mt - </span> <span>www.meteoregionelazio.it</span>
    </div>
    <a href="http://www.meteoregionelazio.it/webcams/campo_staffi/FI9900P_00626E85D8AA/snap/webcam.php"
       data-rel="prettyPhoto"><img
      src="http://www.meteoregionelazio.it/webcams/campo_staffi/FI9900P_00626E85D8AA/snap/webcam.php"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal"> ALATRI (FR) 502 mT</span>
      <span> www.alatrimeteo.altervista.org</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.alatrimeteo.altervista.org%2Fwebcam.jpg&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.alatrimeteo.altervista.org%2Fwebcam.jpg&w=630"
      class="webcam"/></a></figure>
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> TECCHIENA (FR) 502
								mT</span> <span> www.meteotecchiena.com</span>
    </div>
    <a
      href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteotecchiena.com%2Fwebcam%2Fscatto%2Fcam.jpg&w=630"
      data-rel="prettyPhoto"><img
      src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteotecchiena.com%2Fwebcam%2Fscatto%2Fcam.jpg&w=630"
      class="webcam"/></a></figure>

  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal"> FERENTINO (FR) 395
								mT</span> <span> ferentinomet.it</span>
    </div>
    <a
      href="http://www.ferentinomet.it/dahua/camera1.jpg"
      data-rel="prettyPhoto"><img
      src="http://www.ferentinomet.it/dahua/camera1.jpg"
      class="webcam"/></a></figure>

</div>






