<div id="bg_clouds">
  <div id="main">
    <div id="ident">
      <header></header>
    </div>
    <app-menu></app-menu>
    <br>
    <slider></slider>
    <div id="content" style="text-align:center">
      <br>
      <app-modal></app-modal>
      <!--<breadcrumb #parent>
    <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
        <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
        <a mat-button *ngIf="route.terminal">{{ route.displayName }}</a>
    </span>
      </breadcrumb>-->
      <router-outlet></router-outlet>
    </div>
    <shinystat></shinystat>
  </div>
  <footer></footer>
</div>

