<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/cmp033" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/cmp033/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Buonabitacolo " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/cmp095" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/cmp095/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Castiglione del Genovesi"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/cmp096" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/cmp096/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Fisciano " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/cmp073" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/cmp073/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Oliveto Citra - località Acquara - Oliveto Citra"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/bsl023" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/bsl023/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Castelluccio Inferiore" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/bsl020" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/bsl020/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di lagonegro"/></a></span>
    </td>
  </tr>
</table>

<hr>

<br>
<h2 class="red">Altre stazioni disponibili ad inizio ottobre 2022</h2>
