<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz039" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz039/sticker-oriz1" [hidden]="imageLoader"
      (load)="imageLoader = false;"
      class="meteonetwork-sticker" alt="Stazione meteo di Sora"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz041" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz041/sticker-oriz1" class="meteonetwork-sticker"
      alt="Stazione meteo di Isola del Liri"/> </a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz036" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz036/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Ferentino"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz054" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz054/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Anagni"/></a></span>
    <td></td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz277" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz277/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Guarcino"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz042" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz042/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Guarcino"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz258"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz258/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Guarcino"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz099" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz099/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Alatri"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span>    <a href="http://my.meteonetwork.it/station/laz273"
                      target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                          src="http://my.meteonetwork.it/station/laz273/sticker-oriz1"
                                                          class="meteonetwork-sticker"
                                                          alt="Stazione meteo di Fontana Liri"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz144" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz144/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Alatri"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz216"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz216/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Pontecorvo"/></a>
</span>
    <td><span> <a href="http://my.meteonetwork.it/station/laz269"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz269/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Roccasecca"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz099" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz099/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Alatri"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz021" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz021/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Ceccano"/></a></span></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz214" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz214/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Ceprano"/></a>
</span></td>
    <td><span>    <a href="http://my.meteonetwork.it/station/laz162"
                     target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                         src="http://my.meteonetwork.it/station/laz162/sticker-oriz1"
                                                         class="meteonetwork-sticker" alt="Stazione meteo di Cervaro"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz188" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz188/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Pico"/></a>
</span>
    <td><span> <a href="http://my.meteonetwork.it/station/laz239" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz239/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Supino"/></a></span>
    </td>
  </tr>
</table>
<hr>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz169"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz169/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Ariccia"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz110"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz110/sticker-oriz1"
                                                     class="meteonetwork-sticker" alt="Stazione meteo di Rocca Priora"/></a></span>
    <td></td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz049"
                   target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                       src="http://my.meteonetwork.it/station/laz049/sticker-oriz1"
                                                       class="meteonetwork-sticker" alt="Stazione meteo di Anzio"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz056" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz056/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Roma"/></a></span>
    <td></td>
  </tr>
</table>


<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz179"
                   target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                       src="http://my.meteonetwork.it/station/laz179/sticker-oriz1"
                                                       class="meteonetwork-sticker"
                                                       alt="Stazione meteo di Anguillara Sabazia"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz135"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz135/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di Genazzano"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz156"
                   target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                       src="http://my.meteonetwork.it/station/laz156/sticker-oriz1"
                                                       class="meteonetwork-sticker"
                                                       alt="Stazione meteo di Guidonia Montecelio"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz248" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz248/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Cave"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz282"
                   target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                       src="http://my.meteonetwork.it/station/laz282/sticker-oriz1"
                                                       class="meteonetwork-sticker"
                                                       alt="Stazione meteo di Monterotondo"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz173"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz173/sticker-oriz1"
                                                     class="meteonetwork-sticker" alt="Stazione meteo di Morlupo"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz200"
                   target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                       src="http://my.meteonetwork.it/station/laz200/sticker-oriz1"
                                                       class="meteonetwork-sticker"
                                                       alt="Stazione meteo di Lariano"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz176"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz176/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di Olevano Romano"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz252"
                   target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                       src="http://my.meteonetwork.it/station/laz252/sticker-oriz1"
                                                       class="meteonetwork-sticker" alt="Stazione meteo di Palestrina"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz260"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz260/sticker-oriz1"
                                                     class="meteonetwork-sticker" alt="Stazione meteo di Pomezia"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz110"
                   target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                       src="http://my.meteonetwork.it/station/laz110/sticker-oriz1"
                                                       class="meteonetwork-sticker"
                                                       alt="Stazione meteo di Rocca Priora"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz177" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz177/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Tivoli"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz284" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz284/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Velletri"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz056" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz056/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Roma"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz226" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz226/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Roma"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz215" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz215/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Roma"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span> <a href="http://my.meteonetwork.it/station/laz203" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz203/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Roma"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz019" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz019/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Roma"/></a></span>
    <td></td>
  </tr>
</table>
<hr>

<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz166"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz166/sticker-oriz1"
                                                      class="meteonetwork-sticker" alt="Stazione meteo di Contigliano"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz201"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz201/sticker-oriz1"
                                                     class="meteonetwork-sticker" alt="Stazione meteo di Amatrice"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz184"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz184/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Pescorocchiano"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz166"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz166/sticker-oriz1"
                                                     class="meteonetwork-sticker" alt="Stazione meteo di Contigliano"/></a></span>
    <td></td>
  </tr>
</table>
<hr>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz092"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz092/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Acquapendente"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz059"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz059/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di Caprarola"/></a></span>
    <td></td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz026" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz026/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Marta"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz253"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz253/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di Montefiascone"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span>     <a href="http://my.meteonetwork.it/station/laz172"
                       target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                           src="http://my.meteonetwork.it/station/laz172/sticker-oriz1"
                                                           class="meteonetwork-sticker"
                                                           alt="Stazione meteo di Ronciglione"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz090"
                 target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                     src="http://my.meteonetwork.it/station/laz090/sticker-oriz1"
                                                     class="meteonetwork-sticker"
                                                     alt="Stazione meteo di San Lorenzo Nuovo"/></a></span>
    <td></td>
  </tr>
</table>
<hr>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz195" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz195/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Fondi"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz246" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz246/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Formia"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz286"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz286/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Cisterna di Latina"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz276" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz276/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Latina"/></a></span>
    <td></td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="http://my.meteonetwork.it/station/laz270"
                  target="_blank" rel="noopener"><img alt="stazione-meteo" style="border:none;"
                                                      src="http://my.meteonetwork.it/station/laz270/sticker-oriz1"
                                                      class="meteonetwork-sticker"
                                                      alt="Stazione meteo di Priverno"/></a>
</span></td>
    <td><span><a href="http://my.meteonetwork.it/station/laz211" target="_blank" rel="noopener"><img
      alt="stazione-meteo"
      style="border:none;" src="http://my.meteonetwork.it/station/laz211/sticker-oriz1"
      class="meteonetwork-sticker" alt="Stazione meteo di Sezze"/></a></span>
    <td></td>
  </tr>
</table>
<br>
<br>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
