<br>
<p class="header-macro-section">Immagini e WebCam - Meteo Campoli</p>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="IMMAGINI">
    <br>
    <immagini *ngIf="isImmagini"></immagini>
  </mat-tab>
  <mat-tab label="WEBCAM MONTAGNA">
    <br>
    <webcam-montagna *ngIf="isMontagna"></webcam-montagna>
  </mat-tab>
  <mat-tab label="WEBCAM LIMITROFE">
    <br>
    <div *ngIf="isLimitrofe">
      <webcam-limitrofe></webcam-limitrofe>
    </div>
  </mat-tab>
</mat-tab-group>
