<strong><h3>Provincia Campobasso</h3></strong>

<figure>
  <figcaption>
    <strong>SEPINO (CB) 650 mt</strong>
    <span> http://sepino.net</span>

  </figcaption>
  <a href="http://sepino.net/webcam/current.jpg" data-rel="prettyPhoto"><img src="http://sepino.net/webcam/current.jpg"
                                                                             class="webcam"
                                                                             style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>

<figure>
  <figcaption>
    <strong>CAMPITELLO MATESE (CB) 1450 MT</strong>
    <span>www.campanialive.it</span>

  </figcaption>
  <a href="http://www.campanialive.it/webcam/montagna/campitellomatese/pratone.jpg" data-rel="prettyPhoto"><img
    src="http://www.campanialive.it/webcam/montagna/campitellomatese/pratone.jpg" class="webcam"
    style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>


<p><em>Le immagini sono prese ad intervalli regolari</em></p>
<br>
<br>
<p><a href="webcam.htm"><img src="images/webcam.png" alt="Our WebCam" title="Web cam Montagna"/><br/>WebCam Montagna</a>
</p>
<br>


<br>
