<p class="title-micro-section">Provincia Campobasso</p>
<webcam [luogo]="'CAMPOBASSO (FR)'"
        [altitudine]="'701'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9901EP_00626E6E509A/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'CAMPITELLO MATESE (CB)'"
        [altitudine]="'1450'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.campanialive.it/webcam/montagna/campitellomatese/pratone.jpg'"
>
</webcam>
<webcam [luogo]="'CERCE MAGGIORE (CB)'"
        [altitudine]="'930'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E8643B8/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'CAMPODIPIETRA (CB)'"
        [altitudine]="'510'"
        [urlSite]="'https://www.meteoindiretta.it'"
        [urlWebcam]="'http://www.meteoinmolise.com/webcam/FI9900P_00626E931900/snap/webcam.php'"
>
</webcam>
