<p class="title-micro-section">Provincia di Campobasso</p>
<webcam [luogo]="'CAMPITELLO MATESE (CB)'"
        [altitudine]="'1450'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'https://www.campanialive.it/webcam/montagna/campitellomatese/pratone.jpg'"
>
</webcam>
<webcam [luogo]="'CERCE MAGGIORE (CB)'"
        [altitudine]="'930'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'https://www.meteoinmolise.com/webcam/FI9900P_00626E8643B8/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'TORRELLA DEL SANNIO (CB)'"
        [altitudine]="'823'"
        [urlSite]="'www.meteoplanet.it'"
        [urlWebcam]="'https://images-webcams.windy.com/37/1643462837/current/full/1643462837.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPOBASSO - PIAZZA VITTORIO EMANUELE II (CB)'"
        [altitudine]="'701'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'https://images-webcams.windy.com/57/1508685757/current/full/1508685757.jpg'"
>
</webcam>
<webcam [luogo]="'CASALCIPRANO (CB)'"
        [altitudine]="'664'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'https://www.meteoinmolise.com/webcam/FI9900P_00626E85DFC4/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'RIPABOTTONI (CB)'"
        [altitudine]="'632'"
        [urlSite]="'www.meteoinmolise.com'"
        [urlWebcam]="'https://www.meteoinmolise.com/webcam/FI9901EP_00626E6F7745/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'RIPABOTTONI (CB)'"
        [altitudine]="'612'"
        [urlSite]="'vedetta.org'"
        [urlWebcam]="'https://images-webcams.windy.com/45/1639422145/current/full/1639422145.jpg'"
>
</webcam>
<webcam [luogo]="'BONEFRO (CB)'"
        [altitudine]="'602'"
        [urlSite]="'vedetta.org'"
        [urlWebcam]="'https://images-webcams.windy.com/00/1639422000/current/full/1639422000.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPODIPIETRA (CB)'"
        [altitudine]="'510'"
        [urlSite]="'https://www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoinmolise.com/webcam/FI9900P_00626E931900/snap/webcam.php'"
>
</webcam>
