<h1 class="header-macro-section">Statistiche Meteo - Anomalie</h1>

<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader" class="center">
  <br>
  <br>
  <h2 class="title-micro-section">Anomalie Media Temperature Scorso Mese - Italia</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalie Media Temperature Scorso Mese Italia" rel="noreferrer"
       src="https://www.isac.cnr.it/~climstor/climate/latest_month_TMM.jpg"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>
  <h2 class="title-micro-section">Anomalie Termiche Scorsa Settimana - Europa</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalie Termiche Ultima Settimana Europa" rel="noreferrer"
       src="https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/wctan1.png" (load)="imageLoader = false;"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>
  <h2 class="title-micro-section">Anomalie Precipitazioni Scorsa Settimana - Europa</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalie Precipitazioni Scorsa Settimana Europa" rel="noreferrer"
       src="https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/wcpcp1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>

  <h2 class="title-micro-section">Anomalie Temperature Ultimo Mese - Europa</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalie Temperature Ultimo Mese Europa" rel="noreferrer"
       src="https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1cavg1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>
  <h2 class="title-micro-section">Anomalie Media Temperature Ultimo Mese - Europa</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalie Media Temperature Ultimo Mese Europa" rel="noreferrer"
       src="https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1ctan1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>
  <h2 class="title-micro-section">Anomalie Media Precipitazioni Ultimo Mese - Europa</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalie Media Precipitazioni Ultimo Mese Europa" rel="noreferrer"
       src="https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1cpnp1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>
  <h2 class="title-micro-section">Preciptazioni Ultimo Mese - Europa</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Preciptazioni Ultimo Mese Europa" rel="noreferrer"
       src="https://www.cpc.ncep.noaa.gov/products/analysis_monitoring/regional_monitoring/1cpcp1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>
  <h2 class="title-micro-section">Anomalia Di Temperatura Odierna - Mondo</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalia Di Temperatura Odierna Mondo" rel="noreferrer"
       src="https://climatereanalyzer.org/wx/todays-weather/input/gfs_world-wt_t2anom_d1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>
  <h2 class="title-micro-section">Anomalia Di Pressione Odierna - Mondo</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Anomalia Pressione Odierna Mondo" rel="noreferrer"
       src="https://climatereanalyzer.org/wx/todays-weather/input/gfs_world-wt_mslp-anomsd_d1.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <hr>

  <h2 class="title-micro-section">Trend temperature globali dal 1880</h2>
  <img class="previsioni-no-heigth" width="95%"  alt="Trend temperature globali" rel="noreferrer"
       src="https://data.giss.nasa.gov/gistemp/graphs/graph_data/Global_Mean_Estimates_based_on_Land_and_Ocean_Data/graph.png"
       (click)="toggleClass($event,'zoomed')"/>
  <br>
  <br>

</div>
