<p class="header-macro-section">
  <button class="btn btn-primary button-indietro" aria-label="bottone-indietro" title="Indietro" (click)="indietro()">
    &laquo; ARTICOLI
  </button>
  Fico - Come prendersene cura - Info Utili
</p>
<br>
<br>
<p class="testo-articoli">
</p>
<br>
<button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()" aria-label="bottone-indietro">
  &laquo; INDIETRO
</button>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
