<h1 class="header-macro-section">
  <button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()">&laquo; ARTICOLI</button>
  <p>Rosa dei venti</p>
</h1>
<br>
<br>
<div class="testo-articoli">La <b>rosa dei venti</b> rappresenta schematicamente la provenienza dei venti che insistono
  in una determinata regione,
  durante un periodo di tempo piuttosto lungo. La rosa dei venti più semplice è a quattro punte, le quali corrispondono
  ai quattro punti cardinali: Nord, Sud, Est e Ovest.
  <br>
  <br>
  <ul>
    <li><b>Nord (N 0°)</b> anche detto settentrione o mezzanotte e dal quale spira il vento detto <b>tramontana</b></li>
    <li><b>Est (E 90°)</b> anche detto oriente o levante e dal quale spira il vento detto <b>levante</b></li>
    <li><b>Sud (S 180°)</b> anche detto meridione e dal quale spira il vento detto <b>mezzogiorno</b> oppure
      <b>ostro</b></li>
    <li><b>Ovest (W 270°)</b> anche detto occidente o ponente e dal quale spira il vento detto <b>ponente</b></li>
  </ul>
  <br>
  Tra i quattro punti cardinali principali si possono fissare 4 punti intermedi:
  <br>
  <br>
  <ul>
    <li><b>Nord-Est (NE 45°)</b>, dal quale spira il vento di <b>grecale</b> (chiamato anche greco)</li>
    <li><b>Sud-Est (SE 135°)</b>, dal quale spira il vento di <b>scirocco</b> (garbino umido)</li>
    <li><b>Sud-Ovest (SW 225°)</b>, dal quale spira il vento di <b>libeccio</b> (garbino secco)</li>
    <li><b>Nord-Ovest (NW 315°)</b>, dal quale spira il vento di <b>maestrale</b> (carnasein)</li>
    <br>
  </ul>
  Anticamente ogni bussola recava, sullo sfondo, l'immagine di una rosa dei venti a 32 punte. L'orizzonte veniva così
  suddiviso in trentadue parti,
  che prendevano il nome di quarte; esse servivano come unità di misura approssimativa nelle manovre di accostamento
  (es: accosta due quarte a dritta).
  <br>
  I nomi dei venti che ancora oggi utilizziamo derivano dal fatto che <b>nelle prime rappresentazioni cartografiche la
    rosa dei venti veniva raffigurata
    al centro del Mar Ionio oppure vicino all’isola di Malta</b>.
  <br>
  Questo divenne pertanto sia il punto di riferimento per indicare la direzione di provenienza del vento, sia delle navi
  (che anticamente erano spinte solo dai venti portanti).
  <br>
  In quella posizione le navi che provenivano da NE giungevano approssimativamente dalla <b>Grecia</b>, da cui il nome
  <b>Grecale</b>;
  <br>
  da SE giungevano navi provenienti dalla <b>Siria</b>, da cui il nome <b>Scirocco</b>;
  <br>
  a SO vi è la <b>Libia</b> da cui il nome <b>Libeccio</b>.
  <br>
  Da NO giungevano invece le navi salpate da Roma (Magistra) ed essendo la via “maestra” quella che conduceva a Roma il
  vento proveniente da Nord-Ovest ha preso il nome di <b>Maestrale</b>.
  <br>

  Ai tempi in cui Venezia era la repubblica marinara dominante nel Mediterraneo orientale, la rosa dei venti era
  posizionata invece sull’isola greca di Zante. In questo caso la Tramontana proveniva dai monti dell’Albania e la <b>via
    maestra</b> che dà il nome al <b>Maestrale</b> indicava la via per Venezia.
  <br>
  Infine il nome <b>Ostro</b>, che indica il vento proveniente da sud, deriva dal latino <b>Auster (vento australe)</b>
  <br>
  <br>
  Ecco un esempio di rosa dei venti completa.
  <br>
  <br>
  <div class="center">
    <img src="./assets/img/rosa-venti-2.png" alt="rosa venti grande" width="437"
         height="454"> <img src="./assets/img/rosa-venti-completa.png" alt="rosa venti grande" width="557"
                            height="454">
  </div>
</div>
<br>
<br>
<button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()" aria-label="bottone-indietro">
  &laquo; INDIETRO
</button>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="utilityService.scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
