
<br>
<p class="title-info">Cliccare sulle immagini per zoom</p>
<br>
<satellite [titleImgRadar]="'Satellite Mondo - Americhe'"
           [srcImage]="'https://cdn.star.nesdis.noaa.gov/GOES16/ABI/FD/07/1808x1808.jpg?v=' + preventCache"
           [infoAlt]="'satellite mondo america'"
           [class]="'radar-mondo'"
></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Satellite Mondo - Europa e Africa'"
           [srcImage]="'https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSG_IR108Color_LowResolution.jpg?v=' + preventCache"
           [infoAlt]="'satellite mondo europa africa'"
           [class]="'radar-mondo'"
></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Satellite Mondo - Oceano Indiano e Medio Oriente'"
           [srcImage]="'https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSGIODC_IR108Color_LowResolution.jpg?v=' + preventCache"
           [infoAlt]="'satellite mondo oceano indiano medio oriente'"
           [class]="'radar-mondo'"
></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Satellite Mondo - Oceano Pacifico e Polinesia'"
           [srcImage]="'https://www.goes.noaa.gov/dimg/west/fd/vis/10.gif?v=' + preventCache"
           [infoAlt]="'satellite mondo oceano pacifico polinesia'"
           [class]="'radar-mondo'"
></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni USA - Animazione'"
           [srcImage]="'https://www.ilmeteo.it/altro/radar-usa.gif?v=' + preventCache"
           [infoAlt]="'radar precipitazioni USA satellite'"
           [class]="'radar-mondo'"
></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Satellite Mondo - Fulminazioni Nord America'"
           [srcImage]="'https://images.lightningmaps.org/blitzortung/america/index.php?map=north_middle_america'"
           [infoAlt]="'satellite mondo fulminazioni nord america'"
           [class]="'radar-mondo'"
></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Satellite Mondo - Fulminazioni Sud America'"
           [srcImage]="'https://images.lightningmaps.org/blitzortung/america/index.php?map=south_america'"
           [infoAlt]="'satellite mondo fulminazioni sud america'"
           [class]="'radar-mondo'"
></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Satellite Mondo - Fulminazioni Oceania'"
           [srcImage]="'https://images.lightningmaps.org/blitzortung/oceania/index.php?map=oceania_big&bo_t=27700711'"
           [infoAlt]="'satellite mondo fulminazioni oceania'"
           [class]="'radar-mondo'"
></satellite>
<br>
<br>

<h2 class="title-micro-section">Satellite Interattivo Mondo Live</h2>
<iframe id="frame-mov" class="radar-windy-mondo"
        src="https://embed.windy.com/embed2.html?lat=67.00&lon=-45.00&detailLat=67.00&detailLon=-45.00&width=500&height=500&zoom=1&level=surface&overlay=gust&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1"
        frameborder="0"></iframe>
<br>
<br>
<div>
  <h2 class="title-micro-section">Radar Precipitazioni Mondo</h2>
  <iframe class="radar-windy-mondo"
          src="https://embed.windy.com/embed2.html?lat=67.00&lon=-45.00&zoom=1&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=67.00&detailLon=-45.00&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite radar pecipitazioni"></iframe>
</div>
<br>
<br>
