<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<div [hidden]="imageLoader">
  <iframe src="https://retemeteo.lineameteo.it/index.php" (load)="this.imageLoader = false;"
          class="rete-meteo" title="rete meteo stazioni" rel="noopener"></iframe>
<br>
  <br>
  <button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
          (click)="utilityService.scrollToTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>
