<h2 class="title-micro-section">Provincia di Cosenza</h2>
<webcam [luogo]="'SAN GIOVANNI IN FIORE (CS)'"
        [altitudine]="'1089'"
        [urlSite]="'www.silanet.com'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1294900733/current/full/1294900733.jpg'"
>
</webcam>
<webcam [luogo]="'APRIGLIANO (CS)'"
        [altitudine]="'725'"
        [urlSite]="'meteocalabriacam'"
        [urlWebcam]="'https://images-webcams.windy.com/13/1609800113/current/full/1609800113.jpg'"
>
</webcam>
<webcam [luogo]="'SPEZZANO DELLA SILA (CS)'"
        [altitudine]="'459'"
        [urlSite]="'m.telemaconet.it'"
        [urlWebcam]="'https://images-webcams.windy.com/97/1646056997/current/full/1646056997.jpg'"
>
</webcam>
<webcam [luogo]="'ALTOMONTE (CS)'"
        [altitudine]="'459'"
        [urlSite]="'m.telemaconet.it'"
        [urlWebcam]="'https://images-webcams.windy.com/02/1646294302/current/full/1646294302.jpg'"
>
</webcam>
<webcam [luogo]="'COSENZA (CS)'"
        [altitudine]="'298'"
        [urlSite]="'m.telemaconet.it'"
        [urlWebcam]="'https://images-webcams.windy.com/93/1642985393/current/full/1642985393.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Catanzaro</h2>
<webcam [luogo]="'TAVERNA - LOC PANTANE (CZ)'"
        [altitudine]="'1265'"
        [urlSite]="'www.meteopresila.it'"
        [urlWebcam]="'https://images-webcams.windy.com/89/1486364489/current/full/1486364489.jpg'"
>
</webcam>
<webcam [luogo]="'PETRONA\' (CZ)'"
        [altitudine]="'877'"
        [urlSite]="'www.petronesinelmondo.webnode.it'"
        [urlWebcam]="'https://images-webcams.windy.com/07/1251386007/current/full/1251386007.jpg'"
>
</webcam>
