<p class="title-micro-section">Provincia Aquila</p>

<webcam [luogo]="'PESCASSEROLI (AQ)'"
        [altitudine]="'1167'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.meteoregioneabruzzo.it/webcams/pescasseroli_centro/FI9900P_00626E6E7207/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'OPI (AQ)'"
        [altitudine]="'1250'"
        [urlSite]="'www.prolocopi.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.prolocopi.it%2Fwebcamopi%2Fopi_borgo.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'OPI - EST MONTE MARSICANO (AQ)'"
        [altitudine]="'1220'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.meteoregioneabruzzo.it/webcam_opi/webcam.php'"
>
</webcam>
<webcam [luogo]="'VILLETTA BARREA - QUARTIERE CASTELLO (AQ)'"
        [altitudine]="'990'"
        [urlSite]="'www.mediamaint.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fipcam.witel.it%2Fimg%2Fvillettabarrea%2Fipcam%2F01%2Fhires%2Fsnapshot.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'VILLETTA BARREA - LAGO (AQ)'"
        [altitudine]="'900'"
        [urlSite]="'www.mediamaint.it'"
        [urlWebcam]="'http://www.mediamaint.it/webcambarrea/Panorama000M.jpg'"
>
</webcam>


<webcam [luogo]="'SCANNO (AQ) - PINETA'"
        [altitudine]="'1100'"
        [urlSite]="'sinetsrl.it'"
        [urlWebcam]="'http://sinetsrl.it/webcam/scanno/webcam.php?1609443793'"
>
</webcam>

<webcam [luogo]="'SCANNO - LAGO (AQ)'"
        [altitudine]="'930'"
        [urlSite]="'sinetsrl.it'"
        [urlWebcam]="'http://sinetsrl.it/webcam/lago/webcam.php'"
>
</webcam>

<webcam [luogo]="'CANISTRO SUPERIORE - VALLE ROVETO (AQ)'"
        [altitudine]="'818'"
        [urlSite]="'www.comunecanistro.it'"
        [urlWebcam]="'http://ipcam.witel.it/img/canistro/ipcam/06/hires/snapshot.jpg'"
>
</webcam>

<webcam [luogo]="'CIVITELLA ROVETO (AQ)'"
        [altitudine]="'528'"
        [urlSite]="'www.windy.com/'"
        [urlWebcam]="'https://images-webcams.windy.com/26/1646591926/current/full/1646591926.jpg'"
>
</webcam>

<webcam [luogo]="'CAMPOTOSTO - LAGO (AQ)'"
        [altitudine]="'1313'"
        [urlSite]="'www.comune.campotosto.aq.it'"
        [urlWebcam]="'https://www.comune.campotosto.aq.it/webcam/comune.jpg'"
>
</webcam>
<webcam [luogo]="'MARSIA (AQ)'"
        [altitudine]="'1410'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.meteoregioneabruzzo.it/webcams/marsia/FI9900P_00626E8664A2/snap/webcam.php'"
>
</webcam>

<webcam [luogo]="'OVINDOLI (AQ)'"
        [altitudine]="'1785'"
        [urlSite]="'www.ovindolimagnola.it'"
        [urlWebcam]="'http://ovindolimagnola.it/ovindolimagnola.it/webcam01/MMI_image_01.jpg'"
>
</webcam>

<webcam [luogo]="'SCANNO (AQ) - PASSO GODI'"
        [altitudine]="'1562'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.meteoregioneabruzzo.it/webcams/passo_godi/FI9900P_00626E6D233D/snap/webcam.php?1609443793'"
>
</webcam>

<webcam [luogo]="'ROCCA DI MEZZO (AQ)'"
        [altitudine]="'1329'"
        [urlSite]="'roccadimezzo.org'"
        [urlWebcam]="'https://images-webcams.windy.com/20/1610181320/current/full/1610181320.jpg'"
>
</webcam>
<webcam [luogo]="'AVEZZANO (AQ)'"
        [altitudine]="'700'"
        [urlSite]="'www.fabriziolombardi.altervista.org'"
        [urlWebcam]="'http://www.fabriziolombardi.altervista.org/FL/webcam.php'"
>
</webcam>

<webcam [luogo]="'ALTOPIANO DELLE CINQUE MIGLIA - VISTA MONTE ZURRONE (AQ)'"
        [altitudine]="'1250'"
        [urlSite]="'www.fabriziolombardi.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/74/1514182474/current/full/1514182474.jpg'"
>
</webcam>
<webcam [luogo]="'DUCA DEGLI ABRUZZI - RIFUGIO (AQ)'"
        [altitudine]="'2388'"
        [urlSite]="'www.rifugioducadegliabruzzi.it'"
        [urlWebcam]="'http://www.rifugioducadegliabruzzi.it/webcam/preview2.jpg'"
>
</webcam>


<webcam [luogo]="'CAMPO IMPERATORE (AQ)'"
        [altitudine]="'2138'"
        [urlSite]="'www.centrometeoitaliano.it'"
        [urlWebcam]="'http://109.239.247.74:86/snap.jpeg'"
>
</webcam>



<!--
<webcam [luogo]="'PIANI DI PEZZA (AQ)'"
        [altitudine]="'1450'"
        [urlSite]="'www.caputfrigoris.it'"
        [urlWebcam]="'https://www.caputfrigoris.it/rete-meteo/pezza/foscam/FI9900P_00626E86A160/snap/webcam.php'"
>
</webcam>

<webcam [luogo]="'TRASACCO (AQ)'"
        [altitudine]="'690'"
        [urlSite]="'www.caputfrigoris.it'"
        [urlWebcam]="'http://ipcam.witel.it/img/trasaccopellegrina/ipcam/02/hires/snapshot.jpg'"
>
</webcam>

<webcam [luogo]="'TAGLIACOZZO - POGGETELLO (AQ)'"
        [altitudine]="'814'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.meteoregioneabruzzo.it/webcams/poggetello/FI9900P_00626E85DF2C/snap/webcam.php'"
>
</webcam>

<!--<webcam [luogo]="'MAGLIANO DEI MARSI (AQ)'"
        [altitudine]="'740'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.caputfrigoris.it/rete-meteo/magliano/webcam/webcam.php'"
>
</webcam>-->

<webcam [luogo]="'CARSOLI (AQ)'"
        [altitudine]="'820'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.meteoregioneabruzzo.it/webcams/tufo_basso/webcam.php'"
>
</webcam>
<webcam [luogo]="'BISEGNA (AQ)'"
        [altitudine]="'1189'"
        [urlSite]="'www.witel.it'"
        [urlWebcam]="'https://images-webcams.windy.com/61/1422869761/current/full/1422869761.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPO FELICE (AQ) - PIAZZALE BRECCIARA'"
        [altitudine]="'1414'"
        [urlSite]="'www.campofelice.it'"
        [urlWebcam]="'https://webcam.witel.it/img/campofelice/ipcam/03/hires/snapshot.jpg'"
>
</webcam>

<webcam [luogo]="'CAMPO FELICE (AQ) - ARRIVO SEGGIOVIA BRECCIARA'"
        [altitudine]="'1727'"
        [urlSite]="'www.campofelice.it'"
        [urlWebcam]="'https://webcam.witel.it/img/campofelice/ipcam/02/hires/snapshot.jpg'"
>
</webcam>


<webcam [luogo]="'RIVISONDOLI (AQ)'"
        [altitudine]="'1300'"
        [urlSite]="'www.comune.rivisondoli.aq.it'"
        [urlWebcam]="'http://www.comune.rivisondoli.aq.it/fotowebcam/piazza.jpg'"
>
</webcam>

<webcam [luogo]="'ROCCARASO/RIVISONDOLI - SEGGIOVIA PALLOTTIERI (AQ)'"
        [altitudine]="'1682'"
        [urlSite]="'roccaraso.net'"
        [urlWebcam]="'http://roccaraso.net/webcam/aremogna.jpg'"
>
</webcam>


<webcam [luogo]="'CAMPO DI GIOVE (AQ)'"
        [altitudine]="'1064'"
        [urlSite]="'http://ipcam.witel.it'"
        [urlWebcam]="'https://www.dovesciare.it/sites/default/files/externals/460391faf3e6b671f5aed8fc1c22b2df.jpg?upd=1639067829%20alt='"
>
</webcam>

<webcam [luogo]="'CAPPADOCIA (AQ)'"
        [altitudine]="'1100'"
        [urlSite]="'www.caputfrigoris.it'"
        [urlWebcam]="'https://webcam.witel.it/img/cappadocia/ipcam/01/hires/snapshot.jpg'"
>
</webcam>
<webcam [luogo]="'L AQUILA - SAN GIACOMO (AQ)'"
        [altitudine]="'810'"
        [urlSite]="'bottinosrl.com'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.caputfrigoris.it%2Fwebcam%2Faq%2Fwebcam.php&w=630'"
>
</webcam>

<webcam [luogo]="'CIVITA DI BAGNO - VISUALE VALLE DELL\'ATERNO E GRAN SASSO (AQ)'"
        [altitudine]="'637'"
        [urlSite]="'meteoaquilano.it'"
        [urlWebcam]="'http://www.meteoaquilano.it/webcam/webcamcivita.jpg'"
>
</webcam>

<webcam [luogo]="'SULMONA (AQ)'"
        [altitudine]="'430'"
        [urlSite]="'www.meteoregioneabruzzo.it'"
        [urlWebcam]="'https://www.meteoregioneabruzzo.it/webcam_sulmona/webcam.php?1609443793'"
>
</webcam>





