
<strong><h3>Provincia Aquila</h3></strong>
<figure>
  <figcaption>
    <strong>PESCASSEROLI (AQ) 1167 mt</strong>
    <span> www.pescasserolionline.it/</span>

  </figcaption>
  <a href="http://www.pescasserolionline.it/webcam/webcamm.jpg" class="webcam" data-rel="prettyPhoto"  ><img src="http://www.pescasserolionline.it/webcam/webcamm.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>

</figure>


  <figure>
    <figcaption>
      <strong>OPI (AQ) 1250 mT</strong>
      <span>www.prolocopi.it</span>


    </figcaption>
    <a href="http://www.prolocopi.it/webcamopi/opi_borgo.jpg" data-rel="prettyPhoto"  ><img src="http://www.prolocopi.it/webcamopi/opi_borgo.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
  </figure>

<figure>
  <figcaption>
    <strong>Lago di Villetta Barrea (AQ) 900 mT</strong>
    <span>www.mediamaint.it</span>

  </figcaption>
  <a href="http://www.mediamaint.it/webcambarrea/Panorama000M.jpg" data-rel="prettyPhoto"  ><img src="http://www.mediamaint.it/webcambarrea/Panorama000M.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>LAGO DI CAMPOTOSTO (AQ) 1313 mT</strong>
    <span>www.comune.campotosto.aq.it </span>
  </figcaption>
  <a href="http://www.pescarameteo.net/campotosto/webcam.php" data-rel="prettyPhoto"  ><img src="http://www.pescarameteo.net/campotosto/webcam.php" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>Duca degli Abruzzi (AQ) 2388 mT</strong>
    <span>www.rifugioducadegliabruzzi.it</span>

  </figcaption>
  <a href="http://www.rifugioducadegliabruzzi.it/webcam/current.jpg" data-rel="prettyPhoto"  ><img src="http://www.rifugioducadegliabruzzi.it/webcam/current.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>Monte Selva di Cocullo (AQ) 1200 mT</strong>
    <span>www.caputfrigoris.it</span>

  </figcaption>
  <a href="http://ipcam.witel.it/img/monteselva/ipcam/01/hires/snapshot.jpg" data-rel="prettyPhoto"  ><img src="http://ipcam.witel.it/img/monteselva/ipcam/01/hires/snapshot.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>SCANNO (AQ) passo godi 1562 mt</strong>
    <span> www.caputfrigoris.it/</span>
  </figcaption>
  <a href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.caputfrigoris.it%2Fwebcam%2Fpassogodi%2Fwebcam.php&w=630" data-rel="prettyPhoto"  ><img src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.caputfrigoris.it%2Fwebcam%2Fpassogodi%2Fwebcam.php&w=630" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>AVEZZANO (AQ) 700 mt</strong>
    <span> www.fabriziolombardi.altervista.org </span>
  </figcaption>
  <a href="http://ipcam.witel.it/img/avezzano/ipcam/01/hires/snapshot.jpg" data-rel="prettyPhoto"  ><img src="http://ipcam.witel.it/img/avezzano/ipcam/01/hires/snapshot.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>Panoramica sul Fucino da Trasacco M. Alto</strong>
    <span>www.caputfrigoris.it</span>

  </figcaption>
  <a href="http://ipcam.witel.it/img/montealto/ipcam/01/hires/snapshot.jpg" data-rel="prettyPhoto"  ><img src="http://ipcam.witel.it/img/montealto/ipcam/01/hires/snapshot.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>Trasacco (AQ) 690 mT</strong>
    <span>www.caputfrigoris.it</span>

  </figcaption>
  <a href="http://ipcam.witel.it/img/trasaccopellegrina/ipcam/02/hires/snapshot.jpg" data-rel="prettyPhoto"  ><img src="http://ipcam.witel.it/img/trasaccopellegrina/ipcam/02/hires/snapshot.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>CASTEL DI SANGRO (AQ) 800 mt</strong>
    <span>www.castellometeo.altervista.org/wxindex.php</span>

  </figcaption>
  <a href="http://www.casteldisangrometeo.altervista.org/webcam/cam.jpg?85"  ><img src="http://www.casteldisangrometeo.altervista.org/webcam/cam.jpg?85" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>Tagliacozzo Gallo (AQ) 860 mT</strong>
    <span>www.galloditagliacozzo.it</span>

  </figcaption>
  <a href="http://www.galloditagliacozzo.it/webcam.php" data-rel="prettyPhoto"  ><img src="http://www.galloditagliacozzo.it/webcam.php" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>ROCCA DI MEZZO (AQ) 1320 mt</strong>
    <span> www.vivarovere.it/ </span>
  </figcaption>
  <a href="http://images.webcams.travel/preview/1321290965.jpg" data-rel="prettyPhoto"  ><img src="http://images.webcams.travel/preview/1321290965.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>CAMPO FELICE (AQ) 1715 mt</strong>
    <span>www.campofelice.it/</span>


  </figcaption>
  <a href="http://ipcam.witel.it/img/campofelice/ipcam/06/hires/snapshot.jpg" data-rel="prettyPhoto"  ><img src="http://ipcam.witel.it/img/campofelice/ipcam/06/hires/snapshot.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>OVINDOLI (AQ) 1450 mt</strong>
    <span> www.ovindolimagnola.it</span>


  </figcaption>
  <a href="http://www.ovindolimagnola.it/webcam/MMI_image_72.jpg" data-rel="prettyPhoto"  ><img src="http://www.ovindolimagnola.it/webcam/MMI_image_72.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>RIVISONDOLI (AQ) 1300 mt</strong>
    <span>www.comune.rivisondoli.aq.it/</span>


  </figcaption>
  <a href="http://www.comune.rivisondoli.aq.it/fotowebcam/piazza.jpg" data-rel="prettyPhoto"  ><img src="http://www.comune.rivisondoli.aq.it/fotowebcam/piazza.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>


<figure>
  <figcaption>
    <strong>L AQUILA 630 mt</strong>
    <span> www.meteoaquilano.it/ </span>
  </figcaption>
  <a href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteoaquilano.it%2Fwebcam%2Fwebcamcivita.jpg&w=630" data-rel="prettyPhoto"  ><img src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteoaquilano.it%2Fwebcam%2Fwebcamcivita.jpg&w=630" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>


<figure>
  <figcaption>
    <strong>SCOPPITO (AQ) 720 mt</strong>
    <span> www.meteoliri.it </span>
  </figcaption>
  <a href="http://www.meteoliri.it/stazione1/webcam.php" data-rel="prettyPhoto"  ><img src="http://www.meteoliri.it/stazione1/webcam.php" width="480" height="360" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>CAMPO TOSTO (AQ) 1450 mt</strong>
    <span> www.comune.campotosto.aq.it/ </span>
  </figcaption>
  <a href="http://www.comune.campotosto.aq.it/foto/foto/shot.jpg" data-rel="prettyPhoto"  ><img src="http://www.comune.campotosto.aq.it/foto/foto/shot.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>




<figure>
  <figcaption>
    <strong>Campo di Giove (AQ) 1100 mT</strong>
    <span>www.wildlifemajella.com</span>

  </figcaption>
  <a href="http://www.wildlifemajella.com/images/webcam/cdg/cdg.jpg" data-rel="prettyPhoto"  ><img src="http://www.wildlifemajella.com/images/webcam/cdg/cdg.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>





<figure>
  <figcaption>
    <strong>Cappadocia (AQ) 1100 mT</strong>
    <span>www.caputfrigoris.it</span>

  </figcaption>
  <a href="http://ipcam.witel.it/img/cappadocia/ipcam/01/hires/snapshot.jpg" data-rel="prettyPhoto"  ><img src="http://ipcam.witel.it/img/cappadocia/ipcam/01/hires/snapshot.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

