<br>
<em class="title-section">Immagini e WebCam - Meteo Campoli</em>


<br>
<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
  <a routerLink = "webcam-montagna"><img src="../../assets/img/webcam.png" alt="WebCam  Montagna" title="WebCam  Montagna"  /><br /><h5>WebCam Montagna</h5></a>
</div>
<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
  <a routerLink = "webcam-limitrofe"><img src="../../assets/img/webcam.png" alt="WebCam Limitrofe" title="WebCam Limitrofe"  /><br /><h5>WebCam Limitrofe</h5></a>
  <br>
  <br>
</div>
<br>
<br>

<tab-webcam></tab-webcam>

<em class="title-section">Cliccare sulle immagini per ingrandirle</em>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-5 col-xs-6 col-sm-5 col-lg-5">
      <a href="Internet/slides/1.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t1.jpg" alt="Pulpit Rock" style="width:507px;height:246px">
      </a>
    </div>
    <div class="col-md-5 col-xs-6 col-sm-5 col-lg-5">
      <a href="Internet/slides/2.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t2.jpg" alt="Moustiers Sainte Marie" style="width:507px;height:246px">
      </a>
    </div> -->
    <div class="col-md-5 col-xs-4 col-sm-4 col-lg-5">
      <a href="Internet/slides/1.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t1.jpg" alt="Pulpit Rock" style="width:557px;height:246px">
      </a>
    </div>
    <div class="col-md-5 col-xs-4 col-sm-4 col-lg-5">
      <a href="Internet/slides/2.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t2.jpg" alt="Moustiers Sainte Marie" style="width:557px;height:246px">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 hidden-md hidden-lg">
      <a href="Internet/slides/thumbs/campoli-appennino.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/campoli-appennino.jpg" alt="campoli appennino" style="width:557px;height:246px">
      </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-5 col-xs-4 col-sm-4 col-lg-5">
      <a href="Internet/slides/3.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t3.jpg" alt="Cinque Terre" style="width:507px;height:246px">
      </a>
    </div>
    <div class="col-md-5 col-xs-4 col-sm-4 col-lg-5">
      <a href="Internet/slides/4.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t4.jpg" alt="Pulpit Rock" style="width:507px;height:246px">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 hidden-md hidden-lg">
      <a href="Internet/slides/thumbs/vallone-lacerno.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/vallone-lacerno.jpg" alt="Pulpit Rock" style="width:507px;height:246px">
      </a>
    </div>
  </div>
  <div class="row">
    <br>
    <br>
    <div class="col-md-5 col-xs-4 col-sm-4 col-lg-5">
      <a href="Internet/slides/5.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t5.jpg" alt="Pulpit Rock" style="width:507px;height:246px">
      </a>
    </div>
    <div class="col-md-5 col-xs-4 col-sm-4 col-lg-5">
      <a href="Internet/slides/6.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/t6.jpg" alt="Pulpit Rock" style="width:507px;height:246px">
      </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 hidden-md hidden-lg">
      <a href="Internet/slides/thumbs/lacerno-cascata.jpg" class="thumbnail">
        <p></p>
        <img src="http://meteocampoli.altervista.org/Internet/slides/thumbs/lacerno-cascata.jpg" alt="Pulpit Rock" style="width:507px;height:246px">
      </a>
    </div>
  </div>
</div>

