<br>
<p class="header-macro-section">Terremoti - Meteo Campoli</p>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="ITALIA">
    <br>
    <ng-template matTabContent>
      <terremoti-italia></terremoti-italia>
    </ng-template>
  </mat-tab>
  <mat-tab label="MONDO">
    <br>
    <ng-template matTabContent>
      <terremoti-mondo></terremoti-mondo>
    </ng-template>
  </mat-tab>
  <mat-tab label="INFORMAZIONI">
    <br>
    <ng-template matTabContent>
      <terremoti-info></terremoti-info>
    </ng-template>
  </mat-tab>
</mat-tab-group>
