fieldset {
  padding: 0px;
  /*width: 250px;*/
  border: Solid 3px #000000;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  margin-right: 12%;
  border: 4px;
  border-style: solid;
  border-color: #ffffff;
}

legend {
  text-align: Center;
  background-color: #0046ff;
  color: #FFFFFF;
  font-weight: Bold;
  width: 200px;
  padding: 1px;
  border: Solid 1px #000000;
  font-size: 13px;
  font-family: Verdana;

}

.article-header {
  font-size: 20px;
  line-height: 1;
}

.article-header-coming {
  font-size: 17px;
  line-height: 1;
  color: red;
  width: 90px !important;
}

.article-body {
  font-size: 20px;
  color: black;
  padding-left: 7px;
  margin-top: 7px;
  margin-bottom: 2px;
  line-height: 1;
  text-align: initial;
}

.row.infos {
  height: 400px;
}
