<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Ulivo</legend>
      <img src="./assets/img/ulivi.png" routerLink="articoli/giardinaggio/ulivi" class="img-article">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/ulivi">
          <b>Ciclo di vita e potatura, tutto quello che bisogna sapere...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Vite</legend>
      <img src="./assets/img/vite.png" routerLink="articoli/giardinaggio/viti" class="img-article">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/viti">
          <b>Quando effettuare la potatura e tutti gli accorgimenti necessari...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Limone</legend>
      <img src="./assets/img/limone.png" routerLink="articoli/giardinaggio/limone" class="img-article">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/limone">
          <b>Quando effettuare la potatura e tutti gli accorgimenti necessari...</b>
        </a>
      </div>
    </fieldset>
  </div>

</div>
<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Pesco</legend>
      <img src="./assets/img/pesco.png" routerLink="articoli/giardinaggio/pesco" class="img-article">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/pesco">
          <b>Ciclo di vita e potatura, tutto quello che bisogna sapere...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Albicocco</legend>
      <img src="./assets/img/albicocco.png" routerLink="articoli/giardinaggio/albicocca" class="img-article">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/albicocca">
          <b>Ciclo di vita e potatura, tutto quello che bisogna sapere...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Fico</legend>
      <img src="./assets/img/fico.png" routerLink="articoli/giardinaggio/fico" class="img-article">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/fico">
          <b>Ciclo di vita e potatura, tutto quello che bisogna sapere...</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
