<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Ulivi</legend>
      <img src="../../../../assets/img/ulivi.png" routerLink="articoli/giardinaggio/ulivi" width="244" height="170"
           (click)="isUlivi=true">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/ulivi" (click)="isUlivi=true">
          <b>Ciclo di vita e potatura, tutto quello che bisogna sapere...</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<div class="row infos">
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Qualita dell'aria</legend>
      <img src="../../assets/img/articolo-qualita-aria.png" routerLink="articoli/giardinaggio/ulivi" width="244"
           height="170" (click)="isUlivi=true">
      <br>
      <div class="article-body">
        <a href="http://pumpkin.aquila.infn.it/forechem/index_it.html">
          <b>Monitoraggio qualita dell'aria, tutti i dettagli dell' Universita dell'Aquila - CETEMPS</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
