<div class="row infos">
  <articoli [titleArticle]="'Ulivo'"
            [descArticle]="'Ciclo di vita e potatura, tutto quello che bisogna sapere...'"
            [srcImage]="'./assets/img/ulivo.png'"
            [routerArticle]="'giardinaggio/ulivo'"
  >
  </articoli>
  <articoli [titleArticle]="'Vite'"
            [descArticle]="'La vite è una pianta arborea rampicante..'"
            [srcImage]="'./assets/img/vite.png'"
            [routerArticle]="'giardinaggio/vite'"
  >
  </articoli>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Limone</legend>
      <img src="./assets/img/limone.png" routerLink="articoli/giardinaggio/limone" class="img-article"
           alt="articolo limone">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/limone">
          <b class="red">disponibile a breve...</b>
        </a>
      </div>
    </fieldset>
  </div>

</div>
<div class="row infos">
  <articoli [titleArticle]="'Pesco'"
            [descArticle]="'Il pesco è un albero originario della cina...'"
            [srcImage]="'./assets/img/pesco.png'"
            [routerArticle]="'giardinaggio/pesco'"
  >
  </articoli>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Albicocco</legend>
      <img src="./assets/img/albicocco.png" routerLink="articoli/giardinaggio/albicocca" class="img-article"
           alt="articolo albicocco">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/albicocca">
          <b class="red">disponibile a breve...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Fico</legend>
      <img src="./assets/img/fico.png" routerLink="articoli/giardinaggio/fico" class="img-article" alt="articolo fico">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/fico">
          <b class="red">disponibile a breve...</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<div class="row infos">

  <articoli [titleArticle]="'Nocciolo'"
            [descArticle]="'La coltivazione delle piante di nocciolo avviene nel periodo autunnale...'"
            [srcImage]="'./assets/img/nocciolo.png'"
            [routerArticle]="'giardinaggio/nocciolo'"
  >
  </articoli>

  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Melo</legend>
      <img src="./assets/img/melo.png" routerLink="articoli/giardinaggio/melo" class="img-article" alt="articolo melo">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/melo">
          <b class="red">disponibile a breve...</b>
        </a>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Pero</legend>
      <img src="./assets/img/pero.png" routerLink="articoli/giardinaggio/pero" class="img-article"
           alt="articolo pero">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/pero">
          <b class="red">disponibile a breve...</b>
        </a>
      </div>
    </fieldset>
  </div>

</div>
<div class="row infos">

  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Ciliegio</legend>
      <img src="./assets/img/ciliegio.png" routerLink="articoli/giardinaggio/ciliegio" class="img-article"
           alt="articolo ciliegio">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/ciliegio">
          <b class="red">disponibile a breve...</b>
        </a>
      </div>
    </fieldset>
  </div>

  <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
    <fieldset>
      <legend class="article-header">Caco</legend>
      <img src="./assets/img/caco.png" routerLink="articoli/giardinaggio/caco" class="img-article" alt="articolo caco">
      <br>
      <div class="article-body">
        <a routerLink="articoli/giardinaggio/caco">
          <b class="red">disponibile a breve...</b>
        </a>
      </div>
    </fieldset>
  </div>
</div>
