<div class="center">
  <h2 class="title-micro-section"> Orari alba e tramonto locali</h2>
  <br>
  <iframe src="http://www.comuni-italiani.it/soleluna/gbox/?cod=060016" class="effemeridi-schema"></iframe>
</div>
<div class="testo-articoli">
<b>Dati Geografici di Riferimento</b>
<p>Latitudine 41°44'12" N, Longitudine 13°41'4" E, Altezza seicentocinquanta m.s.l.m., GMT+1 (Ora Legale), Zenith del
  sole Ufficiale (90°50')</p>
  <br>
  <p class="center"><b>Durata Media del Giorno per Campoli Appennino</b></p>
  <p><b>Gennaio:</b> nove ore e quarantadue minuti</p>
  <p><b>Febbraio:</b> dieci ore e quarantacinque minuti</p>
  <p><b>Marzo:</b> dodici ore e cinque minuti</p>
  <p><b>Aprile:</b> tredici ore e ventinove minuti</p>
  <p><b>Maggio:</b> quattordici ore e quarantadue minuti</p>
  <p><b>Giugno:</b> quindici ore e venti minuti</p>
  <p><b>Luglio:</b> quindici ore e due minuti</p>
  <p><b></b></p>
<p><b>Annuale:</b> dodici ore e ventidue minuti</p>
  <p><b>Agosto:</b> tredici ore e cinquantanove minuti</p>
  <p><b>Settembre:</b> dodici ore e trentotto minuti</p>
  <p><b>Ottobre:</b> undici ore e quindici minuti</p>
  <p><b>Novembre:</b> dieci ore ed un minuto</p>
  <p><b>Dicembre:</b> nove ore e ventitre minuti</p>
</div>
<br>
<br>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
