<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader" *ngIf="isVisible">
  <h2 class="title-micro-section"> Orari Alba e Tramonto Locali </h2>
  <div class="mat-elevation-z8 table-meteocampoli center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Data Ora Column -->
      <ng-container matColumnDef="giorno">
        <th class="effemeridi-giorno-header" mat-header-cell *matHeaderCellDef mat-sort-header> Giorno</th>
        <td class="effemeridi-giorno-body" mat-cell *matCellDef="let element"> {{element.giorno}} </td>
      </ng-container>

      <!-- Profondita Column -->
      <ng-container matColumnDef="durataGiorno">
        <th class="effemeridi-durata-header" mat-header-cell *matHeaderCellDef mat-sort-header> Durata Giorno</th>
        <td class="effemeridi-durata-body" mat-cell *matCellDef="let element"> {{element.dayLength}} </td>
      </ng-container>

      <!-- Zona Column -->
      <ng-container matColumnDef="alba">
        <th class="effemeridi-alba-header" mat-header-cell *matHeaderCellDef mat-sort-header> Alba</th>
        <td class="effemeridi-alba-body" mat-cell *matCellDef="let element"> {{element.sunset}} </td>
      </ng-container>

      <!-- Magnitudo Column -->
      <ng-container matColumnDef="tramonto">
        <th class="effemeridi-tramonto-header" mat-header-cell *matHeaderCellDef mat-sort-header> Tramonto</th>
        <td class="effemeridi-tramonto-body" mat-cell *matCellDef="let element"> {{element.sunrise}} </td>
      </ng-container>

      <ng-container matColumnDef="inizioCrepuscolo">
        <th class="effemeridi-inizio-crepuscolo-header" mat-header-cell *matHeaderCellDef mat-sort-header> Inizio Crepuscolo</th>
        <td class="effemeridi-inizio-crepuscolo-body" mat-cell *matCellDef="let element"> {{element.civilTwilightBegin}} </td>
      </ng-container>

      <ng-container matColumnDef="fineCrepuscolo">
        <th class="effemeridi-fine-crepuscolo-header" mat-header-cell *matHeaderCellDef mat-sort-header> Fine Crepuscolo</th>
        <td class="effemeridi-fine-crepuscolo-body" mat-cell *matCellDef="let element"> {{element.civilTwilightEnd}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br>
  <br>

<div class="testo-articoli">
  <p class="center"><b>Dati Geografici di Riferimento</b></p>
  <p>Latitudine: <b>41°44'12" N</b>, Longitudine: <b>13°41'4" E</b></p>
  <p>Altitudine paese: <b>650 m.s.l.m. </b></p>
  <p> Altitudine stazione meteo: <b>500 m.s.l.m.</b></p>
  <p><b>GMT+1</b> (Ora Legale), Zenith del sole Ufficiale (90°50')</p>
  <br>
  <p class="center"><b>Durata Media del Giorno per Campoli Appennino</b></p>
  <p><b>Gennaio:</b> nove ore e quarantadue minuti</p>
  <p><b>Febbraio:</b> dieci ore e quarantacinque minuti</p>
  <p><b>Marzo:</b> dodici ore e cinque minuti</p>
  <p><b>Aprile:</b> tredici ore e ventinove minuti</p>
  <p><b>Maggio:</b> quattordici ore e quarantadue minuti</p>
  <p><b>Giugno:</b> quindici ore e venti minuti</p>
  <p><b>Luglio:</b> quindici ore e due minuti</p>
  <p><b></b></p>
  <p><b>Annuale:</b> dodici ore e ventidue minuti</p>
  <p><b>Agosto:</b> tredici ore e cinquantanove minuti</p>
  <p><b>Settembre:</b> dodici ore e trentotto minuti</p>
  <p><b>Ottobre:</b> undici ore e quindici minuti</p>
  <p><b>Novembre:</b> dieci ore ed un minuto</p>
  <p><b>Dicembre:</b> nove ore e ventitre minuti</p>
</div>
</div>
<br>

