fieldset {
  padding: 0px;
  width: 250px;
  border: Solid 3px #000000;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1;
}

legend {
  text-align: Center;
  background-color: #0046ff;
  color: #FFFFFF;
  font-weight: Bold;
  width: 200px;
  padding: 1px;
  border: Solid 1px #000000;
  font-size: 13px;
  font-family: Verdana;

}

.article-header {
  font-size: 18px;
}

.article-body {
  font-size: 19px;
  color: black;
  padding-left: 7px;
  margin-top: 7px;
  margin-bottom: 2px;
}

.row.infos {
  height: 400px;
}
