<p class="title-micro-section">Sud</p>
<webcam [luogo]="'ARIANO IRPINO (AV)'"
        [altitudine]="'626'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/37/1378470737/current/full/1378470737.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPOLI DEL MONTE TABURNO (BV)'"
        [altitudine]="'432'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/12/1623669812/current/full/1623669812.jpg'"
>
</webcam>
<webcam [luogo]="'SAN BARTOLOMEO IN GALDO (BV)'"
        [altitudine]="'607'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/58/1544993958/current/full/1544993958.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE VULTURE (PZ)'"
        [altitudine]="'483'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/05/1424281105/current/full/1424281105.jpg'"
>
</webcam>
<webcam [luogo]="'FORENZA (PZ)'"
        [altitudine]="'806'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/01/1383615001/current/full/1383615001.jpg'"
>
</webcam>
<webcam [luogo]="'POTENZA (PZ)'"
        [altitudine]="'797'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/80/1634471580/current/full/1634471580.jpg'"
>
</webcam>
<webcam [luogo]="'PADULA (SA)'"
        [altitudine]="'690'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/33/1494437733/current/full/1494437733.jpg'"
>
</webcam>

<!--
<iframe loading="lazy" src="//www.skylinewebcams.com/webcam/italia/sicilia/catania/vulcano-etna.html?w=741" width="800" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="allowfullscreen"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">&#xFEFF;</span></iframe>
-->
<br>
<br>




