<div class="header">
  <div class="slider">
    <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      interval="4000"
      [keyboard]="false"
      [pauseOnHover]="false"
      [wrap]="true"
      [activeId]="'slide1'">
      <ng-template ngbSlide class="slider">
        <img src="../../assets/img/campoli-verde-min.jpg" class="img-slider" id="slide1">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/campoli-neve-min.jpg" class="img-slider" alt="Random second slide" id="slide2">
      </ng-template>
      <ng-template ngbSlide>
        <img src="./../assets/img/dolina-orso-min.jpg" class="img-slider" alt="Random second slide" id="slide3">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/dolina-alto-min.jpg" class="img-slider" alt="Random second slide" id="slide4">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/tartufi-min.jpg" class="img-slider" alt="Random second slide" id="slide5">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/dolina-neve-min.jpg" class="img-slider" alt="Random second slide" id="slide6">
      </ng-template>
    </ngb-carousel>
  </div>
</div>


