<div class="header">
  <div id="wrapper">
    <div id="slider-wrapper">
      <div id="slider" class="nivoSlider">
        <img src="../../assets/img/campoli-verde-min.jpg" alt="slide campoli 1" />
        <img src="../../assets/img/campoli-neve-min.jpg" alt="slide campoli 2"/>
        <img src="../../assets/img/dolina-orso-min.jpg" alt="slide campoli 3" />
        <img src="../../assets/img/dolina-alto-min.jpg" alt="slide campoli 4" />
        <img src="../../assets/img/tartufi-min.jpg" alt="slide campoli 5" />
        <img src="../../assets/img/dolina-neve-min.jpg" alt="slide campoli 6" />
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../assets/js/jquery-1.4.3.min.js"></script>
  <script type="text/javascript" src="../../assets/js/slider-min.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider();
    });
  </script>

</div>
<div style="height:15px"></div>

