<div class="header">
  <div class="slider">
    <ngb-carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      [interval]="5000"
      [keyboard]="false"
      [pauseOnHover]="false"
      [wrap]="true"
      [activeId]="'slide1'">
      <ng-template ngbSlide class="slider">
        <img src="../../assets/img/campoli-verde-min.jpg" loading="lazy" class="img-slider" alt="campoli verde"
             id="slide1" width="950"
             height="330">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/campoli-neve-min.jpg" loading="lazy" class="img-slider" alt="Random second slide"
             id="slide2"
             width="950" height="330">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/dolina-alto-min.jpg" loading="lazy" class="img-slider" alt="Random second slide"
             id="slide4"
             width="950" height="330">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/tartufi-min.jpg" loading="lazy" class="img-slider" alt="Random second slide"
             id="slide5" width="950"
             height="330">
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../assets/img/dolina-neve-min.jpg" loading="lazy" class="img-slider" alt="Random second slide"
             id="slide6"
             width="950" height="330">
      </ng-template>
    </ngb-carousel>
  </div>
</div>


