<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/tsc264" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc264/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Abetone rifugio le terrazze" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc238" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc238/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Val di Luce"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc240" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc240/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pracchia Pistoia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc246"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc246/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Sambuca pistoiese"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc126" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc126/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Via Campania 21 - Montecatini-Terme"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc169"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc169/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Candeglia"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc042" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc042/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pescia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc126"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc126/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di montecatini terme"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc195" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc195/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Caserana - Quarrata"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc220"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc220/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di lamporecchio"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc254" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc254/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Empoli"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc110"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc110/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Picille - Bagno a Ripoli"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc077" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc077/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di San Donnino - Campi Bisenzio"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc128"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc128/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Limite sull'Arno - Capraia e Limite "/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc103" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc103/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Stabbia - Cerreto Guidi"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc007"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc007/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Gavinana - Firenze "/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc100" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc100/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Fucecchio "/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc101"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc101/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Molino del Piano - Pontassieve "/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc179" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc179/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Reggello paese "/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc009"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc009/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Rignano Sull'Arno "/></a></span>
    </td>
  </tr>
</table>



<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc035" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc035/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Ponte alla chiassa - Arezzo"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc210"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc210/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di bibbiena"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc161" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc161/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pratarutoli - Castel San Niccolò"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc276"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc276/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Prato di Strada - Castel San Niccolò"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc070" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc070/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Localita' Neri - Cavriglia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc111"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc111/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Foiano della Chiana"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc036" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc036/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Loro Ciuffenna"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc111"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc111/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Foiano della Chiana"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc114" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc114/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Calci Santo Pietro"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc224"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc224/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Cascina "/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc218" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc218/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Castelfranco di Sotto"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc002"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc002/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Castelnuovo di Val di Cecina "/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc119" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc119/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di FAUGLIA"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc273"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc273/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Castelnuovo di Montopoli in Val d'Arno "/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc039" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc039/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pisa Sant'Antonio"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc026"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc026/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Castelnuovo di Valdera - Ponsacco "/></a></span>
    </td>
  </tr>
</table>



<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc221" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc221/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Migliana - Cantagallo"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc031"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc031/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Comeana - Carmignano"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc199" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc199/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Poggio a Caiano"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc268"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc268/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Galciana - Prato"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc158" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc158/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di San Ginese Di C.to - Capannori"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc249"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc249/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Passo delle Radici - Castiglione di Garfagnana"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc186" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc186/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Lucca Acquacalda"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc257"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc257/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Massarosa"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc180" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc180/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di San Martino in Freddana - Pescaglia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc257"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc257/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Massarosa"/></a></span>
    </td>
  </tr>
</table>


<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc205" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc205/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Badia D'ombrone - Castelnuovo Berardenga"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc239"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc239/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Fondovalle - Cetona"/></a></span>
    </td>
  </tr>
</table>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc162" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc162/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Chianciano Terme"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc204"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc204/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Avioclub Pian di feccia - Chiusdino"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc113" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc113/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Lago di Chiusi"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc185"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc185/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Montepulciano P.za Grande"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc107" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc107/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Vaticino - Castiglione della Pescaia"/></a>
</span></td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc118" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc118/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Nugola - Collesalvetti"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc265"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc265/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Calignaia - Livorno"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc228" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc228/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Borgata Poggetto - Piombino"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc004"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc004/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Rosignano Solvay - Rosignano Marittimo"/></a></span>
    </td>
  </tr>
</table>


<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc248" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc248/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Lago Paduli - Comano"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc132"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc132/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Ronchi - Massa"/></a></span>
    </td>
  </tr>
</table>




<br>
<h2 class="red">{{utilityService.messageStazioni}}</h2>
