<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/tsc264" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc264/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Abetone rifugio le terrazze" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc238" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc238/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Val di Luce"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc240" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc240/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pracchia Pistoia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc246"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc246/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Sambuca pistoiese"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc109" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc109/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di San Marcello pistoiese"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc169"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc169/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di Candeglia"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc042" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc042/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Pescia"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc126"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc126/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di montecatini terme"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc141" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc141/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Montale"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc220"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc220/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di lamporecchio"/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span><a href="https://my.meteonetwork.it/station/tsc254" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc254/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Empoli"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc183"
                 target="_blank" rel="noopener"><img style="border:none;"
                                                     [src]="'https://my.meteonetwork.it/station/tsc183/sticker-oriz1?v=' + preventCache"
                                                     class="meteonetwork-sticker" width="524" height="155"
                                                     alt="Stazione meteo di firenze piazza indipendenza"/></a></span>
    </td>
  </tr>
</table>
<br>
<h2 class="red">Altre stazioni disponibili ad inizio ottobre 2022</h2>
