<p class="title-micro-section">Webcam Limitrofe</p>
<webcam [luogo]="'SORA (FR)'"
        [altitudine]="'300'"
        [urlSite]="'www.meteoliri.it'"
        [urlWebcam]="'http://www.meteoliri.it/stazioneSO/bannerino.php'"
>
</webcam>
<webcam [luogo]="'ISOLA DEL LIRI loc Borgonuovo (FR)'"
        [altitudine]="'270'"
        [urlSite]="'www.meteoliri.it'"
        [urlWebcam]="'http://www.meteoliri.it/stazione1/bannerino1.php'"
>
</webcam>
<webcam [luogo]="'ISOLA DEL LIRI (FR)'"
        [altitudine]="'290'"
        [urlSite]="'www.meteoliri.it'"
        [urlWebcam]="'http://www.meteoliri.it/stazione1/bannerino.php'"
>
</webcam>
<webcam [luogo]="'ARPINO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteoliri.it'"
        [urlWebcam]="'http://www.meteoliri.it/webarpino/webcam.php'"
>
</webcam>
<webcam [luogo]="'ATINA (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'http://www.meteocomino.it/atinacam/cam-atina.php'"
>
</webcam>
<webcam [luogo]="'ALVITO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'http://www.meteocomino.it/alvitocam/cam-alvito.php'"
>
</webcam>
<webcam [luogo]="'ALVITO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'http://www.meteocomino.it/alvito_raspberry_cam/cam-alvito.php'"
>
</webcam>
<webcam [luogo]="'PICINISCO (FR)'"
        [altitudine]="'700'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'http://www.meteoliri.it/stazione1/bannerino5.php'"
>
</webcam>
<webcam [luogo]="'VALICO DI FORCA D ACERO (FR)'"
        [altitudine]="'1538'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'https://www.meteoregionelazio.it/webcams/forca_acero/FI9900P_00626E9449B9/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'PICO (FR)'"
        [altitudine]="'620'"
        [urlSite]="'http://meteopiconline.altervista.org'"
        [urlWebcam]="'http://meteopiconline.altervista.org/webcam/webcam.php'"
>
</webcam>
<webcam [luogo]="'FILETTINO (FR)'"
        [altitudine]="'1063'"
        [urlSite]="'www.meteoferentino.it'"
        [urlWebcam]="'http://www.meteofilettino.it/albanetti/filettino4.jpg'"
>
</webcam>
<webcam [luogo]="'BOVILLE ERNICA (FR)'"
        [altitudine]="'438'"
        [urlSite]="'www.meteoliri.it'"
        [urlWebcam]="'http://www.meteoliri.it/stazione1/webcamBE.php'"
>
</webcam>

<webcam [luogo]="'ALATRI (FR)'"
        [altitudine]="'502'"
        [urlSite]="'www.alatrimeteo.altervista.org'"
        [urlWebcam]="'http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.alatrimeteo.altervista.org%2Fwebcam.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'FROSINONE (FR)'"
        [altitudine]="'300??'"
        [urlSite]="'www.frosinonemeteo.it'"
        [urlWebcam]="'http://www.frosinonemeteo.it/webcam/webcam.php'"
>
</webcam>
<webcam [luogo]="'FERENTINO (FR)'"
        [altitudine]="'395'"
        [urlSite]="'ferentinomet.it'"
        [urlWebcam]="'http://www.meteoferentino.it/webcam/current.jpg'"
>
</webcam>
<webcam [luogo]="'M.S.G.CAMPANO (FR)'"
        [altitudine]="'400??'"
        [urlSite]="'ferentinomet.it'"
        [urlWebcam]="'http://85.94.215.8/jpg/1/image.jpg'"
>
</webcam>
<webcam [luogo]="'ARCE (FR)'"
        [altitudine]="'395??'"
        [urlSite]="'www.arcenews.net'"
        [urlWebcam]="'http://www.arcenews.net/cam_1.jpg'"
>
</webcam>
<webcam [luogo]="'CECCANO (FR)'"
        [altitudine]="'200'"
        [urlSite]="'ttps://www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteoceccano.it%2Fwebcam%2Findex.php&w=630'"
>
</webcam>
<webcam [luogo]="'COLLEPARDO (FR)'"
        [altitudine]="'586'"
        [urlSite]="'https://www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.hellotelwifi.it%2Fcollepardo%2Fwebcamcollepardo.jpg&w=630'"
>
</webcam>








