<div class="center">
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">SORA - </span>
      <span> www.meteoliri.it</span>
    </div>
    <a href="http://www.meteoliri.it/stazioneSO/bannerino.php"><img
      src="http://www.meteoliri.it/stazioneSO/bannerino.php" class="webcam" alt="webcam sora"/></a>
  </figure>

  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">ISOLA DEL LIRI loc Borgonuovo - </span>
      <span> www.meteoliri.it</span>

    </div>
    <a href="http://www.meteoliri.it/stazione1/bannerino1.php"><img
      src="http://www.meteoliri.it/stazione1/bannerino1.php" class="webcam" alt="webcam isola del liri borgonuovo"/></a>
  </figure>

  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">ISOLA DEL LIRI - </span>
      <span> www.meteoliri.it</span>

    </div>
    <a href="http://www.meteoliri.it/stazione1/bannerino.php"><img src="http://www.meteoliri.it/stazione1/bannerino.php"
                                                                   class="webcam" alt="webcam isola liri"/></a>
  </figure>

  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">ARPINO - </span>
      <span> www.meteoliri.it</span>

    </div>
    <a href="http://www.meteoliri.it/webarpino/webcam.php"><img src="http://www.meteoliri.it/webarpino/webcam.php"
                                                                class="webcam" alt="webcam arpino"/></a>
  </figure>

  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal"> ATINA (FR) 500 mT - </span>
      <span> www.meteocomino.it </span>
    </div>
    <a href="http://www.meteocomino.it/atinacam/cam-atina.php" data-rel="prettyPhoto"><img
      src="http://www.meteocomino.it/atinacam/cam-atina.php" class="webcam" alt="webcam atina"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal"> ALVITO (FR) 500 mT - </span>
      <span> www.meteocomino.it </span>
    </div>
    <a href="http://www.meteocomino.it/alvitocam/cam-alvito.php" data-rel="prettyPhoto"><img
      src="http://www.meteocomino.it/alvitocam/cam-alvito.php" class="webcam" alt="webcam alvito"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal"> ALVITO (FR) 500 mT - </span>
      <span> www.meteocomino.it </span>
    </div>
    <a href="http://www.meteocomino.it/alvito_raspberry_cam/cam-alvito.php" data-rel="prettyPhoto"><img
      src="http://www.meteocomino.it/alvito_raspberry_cam/cam-alvito.php" class="webcam" alt="webcam alvito"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal"> PICINISCO (FR) 700 mT - </span>
      <span> www.meteocomino.it </span>
    </div>
    <a href="http://www.meteoliri.it/stazione1/bannerino5.php" data-rel="prettyPhoto"><img
      src="http://www.meteoliri.it/stazione1/bannerino5.php" class="webcam" alt="webcam picinisco"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
                            <span class="content-webcam-principal">VALICO DI FORCA D'ACERO
 (FR) 1538 mt</span>
      <span>www.meteoregionelazio.it/</span>

    </div>
    <a href="https://www.meteoregionelazio.it/webcams/forca_acero/FI9900P_00626E9449B9/snap/webcam.php"
       data-rel="prettyPhoto" title="forca d'acero"><img
      src="https://www.meteoregionelazio.it/webcams/forca_acero/FI9900P_00626E9449B9/snap/webcam.php" class="webcam"
      class="webcam" alt="WebCam forca d'acero"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal"> PICO - </span>
      <span> http://meteopiconline.altervista.org </span>
    </div>
    <a href="http://meteopiconline.altervista.org/webcam/webcam.php" data-rel="prettyPhoto"><img
      src="http://meteopiconline.altervista.org/webcam/webcam.php" class="webcam" alt="webcam picinisco"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">BOVILLE ERNICA</span>
      <span> www.meteoliri.it</span>

    </div>
    <a href="http://www.meteoliri.it/stazione1/webcamBE.php"><img src="http://www.meteoliri.it/stazione1/webcamBE.php"
                                                                  class="webcam" alt="webcam boville"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">FERENTINO - </span>
      <span> www.meteoferentino.it</span>

    </div>
    <a href="http://www.meteoferentino.it/webcam/current.jpg"><img src="http://www.meteoferentino.it/webcam/current.jpg"
                                                                   class="webcam" alt="webcam ferentino"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">FROSINONE - </span>
      <span> www.frosinonemeteo.it</span>

    </div>
    <a href="http://www.frosinonemeteo.it/webcam/webcam.php"><img src="http://www.frosinonemeteo.it/webcam/webcam.php"
                                                                  class="webcam" alt="webcam frosinone"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">M.S.G.CAMPANO - </span>
      <span> </span>

    </div>
    <a href="http://85.94.215.8/jpg/1/image.jpg"><img src="http://85.94.215.8/jpg/1/image.jpg" class="webcam"
                                                      alt="webcam monte san giovanni campano"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">ARCE - </span>
      <span> www.arcenews.net</span>

    </div>
    <a href="http://www.arcenews.net/cam_1.jpg"><img src="http://www.arcenews.net/cam_1.jpg" class="webcam"
                                                     alt="webcam arce"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">COLLEPARDO 586Mt - </span>
      <span>https://www.meteoindiretta.it</span>
    </div>
    <a
      href="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.hellotelwifi.it%2Fcollepardo%2Fwebcamcollepardo.jpg&w=630"><img
      src="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.hellotelwifi.it%2Fcollepardo%2Fwebcamcollepardo.jpg&w=630"
      class="webcam" alt="webcam colfelice"/></a>
  </figure>
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal">CECCANO 200Mt - </span>
      <span>https://www.meteoindiretta.it</span>
    </div>
    <a
      href="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteoceccano.it%2Fwebcam%2Findex.php&w=630"><img
      src="https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteoceccano.it%2Fwebcam%2Findex.php&w=630"
      class="webcam" alt="webcam colfelice"/></a>
  </figure>

  <p><em>{{footerTitle}}</em></p>
</div>
