<br>
<div class="center">
  <p class="title-micro-section">Webcam Limitrofe</p>
  <webcam [luogo]="'SORA (FR)'"
          [altitudine]="'300'"
          [urlSite]="'www.meteoliri.it'"
          [urlWebcam]="'http://www.meteoliri.it/stazioneSO/bannerino.php'"
  >
  </webcam>
  <webcam [luogo]="'ISOLA DEL LIRI - DIREZIONE NORD - MONTI ERNICI (FR)'"
          [altitudine]="'270'"
          [urlSite]="'www.meteoliri.it'"
          [urlWebcam]="'http://meteoliri1.homepc.it/bannerino.php'"
  >
  </webcam>
  <webcam [luogo]="'ISOLA DEL LIRI - SORA E MONTI MARSICANI (FR)'"
          [altitudine]="'290'"
          [urlSite]="'www.meteoliri.it'"
          [urlWebcam]="'http://meteoliri1.homepc.it/bannerino1.php'"
  >
  </webcam>
  <webcam [luogo]="'ARPINO (FR)'"
          [altitudine]="'500'"
          [urlSite]="'sre.altervista.org'"
          [urlWebcam]="'http://sre.altervista.org/webcam/webcam.php'"
  >
  </webcam>
<webcam [luogo]="'ATINA (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'https://www.meteocomino.it/atinacam/cam-atina.php'"
>
</webcam>
<webcam [luogo]="'ALVITO (FR)'"
        [altitudine]="'500'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'https://www.meteocomino.it/alvito_raspberry_cam/cam-alvito.php'"
>
</webcam>
<webcam [luogo]="'PICINISCO (FR)'"
        [altitudine]="'700'"
        [urlSite]="'www.meteocomino.it'"
        [urlWebcam]="'http://www.meteoliri.it/stazione1/bannerino5.php'"
>
</webcam>
  <webcam [luogo]="'VALICO DI FORCA D ACERO (FR)'"
          [altitudine]="'1538'"
          [urlSite]="'www.meteoregionelazio.it'"
          [urlWebcam]="'https://www.meteoregionelazio.it/webcams/forca_acero/FI9900P_00626E9449B9/snap/webcam.php'"
  >
  </webcam>
  <webcam [luogo]="'ANAGNI - LOC PANTANELLO (FR)'"
          [altitudine]="'234'"
          [urlSite]="'www.meteoliri.it'"
          [urlWebcam]="'http://meteoliri1.homepc.it/weatherAN/webcam.php'"
  >
  </webcam>
  <webcam [luogo]="'PICO (FR)'"
          [altitudine]="'620'"
          [urlSite]="'meteopiconline.altervista.org'"
          [urlWebcam]="'http://meteopiconline.altervista.org/webcam/webcam.php'"
  >
  </webcam>
  <webcam [luogo]="'FILETTINO (FR)'"
          [altitudine]="'1063'"
          [urlSite]="'www.meteoferentino.it'"
          [urlWebcam]="'http://www.meteofilettino.it/albanetti/filettino4.jpg'"
>
</webcam>
<webcam [luogo]="'FROSINONE (FR)'"
        [altitudine]="'300'"
        [urlSite]="'www.frosinonemeteo.it'"
        [urlWebcam]="'http://www.frosinonemeteo.it/webcam/webcam.php'"
>
</webcam>
<webcam [luogo]="'FERENTINO (FR)'"
        [altitudine]="'395'"
        [urlSite]="'ferentinomet.it'"
        [urlWebcam]="'http://www.meteoferentino.it/webcam/current.jpg'"
>
</webcam>
<webcam [luogo]="'CECCANO (FR)'"
        [altitudine]="'200'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.meteoceccano.it%2Fwebcam%2Findex.php&w=630'"
>
</webcam>
  <webcam [luogo]="'COLLEPARDO (FR)'"
          [altitudine]="'586'"
          [urlSite]="'www.meteoindiretta.it'"
          [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.hellotelwifi.it%2Fcollepardo%2Fwebcamcollepardo.jpg&w=630'"
  >
  </webcam>
</div>
<br>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="utilityService.scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>







