<br>
<h2 class="title-micro-section">Radar precipitazioni animato in tempo reale</h2>
<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
  <iframe class="radar-sud" scrolling="No" frameborder="no" src="http://cdn-radar.ilmeteo.it/italy.gif?8757865"
          (load)="imageLoader = false;" title="radar pecipitazioni sud italia"></iframe>
  <br>
  <br>
  <button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
          (click)="scrollToTop()">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>
<br>
<br>
