<em class="title-micro-section"><b>Radar Precipitazioni Centro Italia Live</b></em>
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;"
     src="http://meteorema.aquila.infn.it/radarweb/home/realtime/WEB/spotVMI.gif" width="920" height="630"
     scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>
<em class="title-micro-section"><b>Radar Precipitazioni Lazio e Abruzzo</b></em>

<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;"
     src="http://satollo.aquila.infn.it/midia/ref/ultimo.6.png" width="920" height="630" scrolling="No" frameborder="no"
     marginheight="0px" marginwidth="0px">

<br>
<br>
<em class="title-micro-section"><b>Radar Fulmininazioni Centro Italia</b></em>
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;"
     src="http://radarweb.aquila.infn.it/cetempsite/fulmini.png" width="920" height="630" scrolling="No"
     frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>
<em class="title-micro-section"><b>Radar Precipitazioni Toscana</b></em>
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;"
     src="http://www.lamma.rete.toscana.it/radar/livorno/images/PPI_1080_0005_25.png" width="920" height="630"
     scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>

<em class="title-micro-section"><b>Radar precipitazioni ultime 3 ore Zoom</b></em>
<iframe src="radar_zoom_3h.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no"
        marginheight="0px" marginwidth="0px"></iframe>

<br>
<br>

<em class="title-micro-section"><b>Radar precipitazioni ultime 6 ore Zoom</b></em>
<iframe src="radar_zoom_6h.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no"
        marginheight="0px" marginwidth="0px"></iframe>

<br>
<br>

<em class="title-micro-section"><b>Radar precipitazioni ultime 24h Zoom</b></em>
<iframe src="radar_zoom_24h.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No"
        frameborder="no" marginheight="0px" marginwidth="0px"></iframe>


<br>
<br>


<em class="title-micro-section"><b>Radar precipitazioni in tempo reale Zoom</b></em>
<iframe src="radar_zoom.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no"
        marginheight="0px" marginwidth="0px"></iframe>


