<br>
<p class="title-info">Cliccare sulle immagini per zoom</p>
<br>

<div>
  <h2 class="title-micro-section">Radar Precipitazioni Centro Italia</h2>
  <iframe class="radar-centro-precipitazioni-windy" name="iframe1" id="iframe1"
          src="https://embed.windy.com/embed2.html?lat=42.75&lon=12.40&zoom=7.5&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=42.75&detailLon=12.40&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite radar pecipitazioni centro"></iframe>
</div>
<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni Centro italia - Animazione'"
           [srcImage]="'https://www.ilmeteo.it/altro/radar-centro.gif?' + preventCache"
           [infoAlt]="'radar precipitazioni centro italia in movimento'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Satellite Meteosat Immagine Italia'"
           [srcImage]="'https://www.sat24.com/image.ashx?country=it&0.6041513127274811?v=' + preventCache"
           [infoAlt]="'satellite meteosat immagine'"
           [class]="'radar'"
></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Monitoraggio Fulminazioni - Centro Sud'"
           [srcImage]="'https://www.abruzzometeo.org/immagini/ts.jpg?v=' + preventCache"
           [infoAlt]="'satellite fulminazioni italia centro sud'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Monitoraggio Fulminazioni - Animazione'"
           [srcImage]="'https://www.meteociel.fr/obs/foudre/anim2h_it.gif?v=' + preventCache"
           [infoAlt]="'satellite fulminazioni europa in movimento'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Sinottica Italia'"
           [srcImage]="'https://meteocentre.com/analysis/local/it.gif?' + preventCache"
           [infoAlt]="'sinottica italia'"
           [class]="''"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Totale Precipitazioni Centro Italia - Giornaliere'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/realtime_prec_centro.png?' + preventCache"
           [infoAlt]="'totale precipitazioni centro italia'"
           [class]="'radar-meteonetwork'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Totale Precipitazioni Centro Italia - Animazione Ultime 24 Ore'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/animazioni/centro/prec/mov_prec_centro.gif?v=1638446096?' + preventCache"
           [infoAlt]="'totale precipitazioni centro italia in movimento'"
           [class]="'radar-meteonetwork'"></satellite>
<br>
<br>

<ng-container *ngIf="!isHttps">
<satellite [titleImgRadar]="'Radar Fulmininazioni Centro Italia'"
           [srcImage]="'http://radarweb.aquila.infn.it/cetempsite/fulmini.png?' + preventCache"
           [infoAlt]="'radar fulminazioni centro italia'"
           [class]="'radar'"></satellite>

<br>
<br>

<!--<satellite [titleImgRadar]="'Radar Precipitazioni Toscana'"
           [srcImage]="'https://www.lamma.rete.toscana.it/radar/elba/images/PPI_1080_0005_25.png?1576413678950?' + preventCache"
           [infoAlt]="'radar precipitazioni toscana'"
           [class]="'radar'"></satellite>
<br>
<br>-->

<p class="title-micro-section">Radar precipitazioni ultime 3 ore Zoom</p>
<iframe class="radar" src="../../../assets/php/radar_zoom_3.html" alt="radar precipitazioni 3H zoom"
        title="radar pecipitazioni ultime 3h"></iframe>
<br>
<br>
<p class="title-micro-section">Radar precipitazioni ultime 6 ore Zoom</p>
<iframe class="radar" src="../../../assets/php/radar_zoom_6.html" alt="radar precipitazioni 6h zoom"
        title="radar pecipitazioni ultime 6h"></iframe>
<br>
<br>

<!--<p class="title-micro-section">Radar precipitazioni ultime 12 ore Zoom</p>
<iframe class="radar" src="../../../assets/php/radar_zoom_12.html" alt="radar precipitazioni 12h zoom"
        title="radar pecipitazioni ultime 12h"></iframe>-->
<satellite [titleImgRadar]="'Radar Precipitazioni Ultime 12 ore'"
           [srcImage]="'http://satollo.aquila.infn.it/midia/ref/ultimo_srt12h_noclass.png?v=' + preventCache"
           [infoAlt]="'radar precipitazioni ultime 12 ore'"
           [class]="'radar'"></satellite>

<br>
<br>
</ng-container>
<h2 class="title-micro-section">Temperature In Tempo Reale Centro Italia </h2>
<br>
<satellite [titleImgRadar]="''"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/realtime_temp_centro.png?v=' + preventCache"
           [infoAlt]="'temperature live centro italia'"
           [class]="'radar-zoomed-centro'"
           [zoom]="1.2"></satellite>

<br>
<br>
<br>
<br>
<satellite [titleImgRadar]="'Temperature Giornaliere Centro Italia - Animazione Ultime 24 Ore'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/animazioni/centro/temp/mov_temp_centro.gif?v=1638446096?v=' + preventCache"
           [infoAlt]="'temperature giornaliere centro italia in movimento'"
           [class]="'radar-meteonetwork'"
           [zoom]="1.2"></satellite>


<br>
<br>
<!--<p class="title-micro-section">Radar precipitazioni ultime 24h Zoom</p>
<iframe class="radar" src="../../../assets/php/radar_zoom_24.html" alt="radar precipitazioni 24h zoom"
        title="radar pecipitazioni ultime 24h"></iframe>
<br>
<br>
<p class="title-micro-section">Radar precipitazioni in tempo reale Zoom</p>
<iframe class="radar" src="../../../assets/php/radar_zoom.html" alt="radar precipitazioni zoom"
        title="radar pecipitazioni live maps"></iframe>-->




