<h1 class="header-macro-section">Info e Curiosita Generali - Articoli Meteo e Giardinaggio </h1>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="ARTICOLI">
    <br>
    <ng-template matTabContent>
      <articoli></articoli>
    </ng-template>
  </mat-tab>
  <mat-tab label="CURIOSITA">
    <br>
    <ng-template matTabContent>
      <curiosita></curiosita>
    </ng-template>
  </mat-tab>
  <mat-tab label="EFFEMERIDI">
    <br>
    <ng-template matTabContent>
      <br>
      <effemeridi></effemeridi>
    </ng-template>
  </mat-tab>
</mat-tab-group>
