<h2 class="title-micro-section">Provincia di Bari</h2>
<webcam [luogo]="'ALTAMURA (BA)'"
        [altitudine]="'467'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'https://images-webcams.windy.com/20/1619072420/current/full/1619072420.jpg'"
>
</webcam>
<webcam [luogo]="'NOCI (BA)'"
        [altitudine]="'411'"
        [urlSite]="'pugliawebcam.it'"
        [urlWebcam]="'https://images-webcams.windy.com/92/1391514392/current/full/1391514392.jpg'"
>
</webcam>
<webcam [luogo]="'SANT\' ERAMO IN COLLE (BA)'"
        [altitudine]="'384'"
        [urlSite]="'www.meteoplanet.it'"
        [urlWebcam]="'https://images-webcams.windy.com/78/1635093778/current/full/1635093778.jpg'"
>
</webcam>
<webcam [luogo]="'ACQUAVIVA DELLE FONTI (BA)'"
        [altitudine]="'303'"
        [urlSite]="'www.meteoacquaviva.it'"
        [urlWebcam]="'https://images-webcams.windy.com/99/1389105499/current/full/1389105499.jpg'"
>
</webcam>
<webcam [luogo]="'BARI - MOLA (BA)'"
        [altitudine]="'18'"
        [urlSite]="'www.meteomola.com'"
        [urlWebcam]="'https://images-webcams.windy.com/66/1425377566/current/full/1425377566.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Lecce</h2>
<webcam [luogo]="'LECCE (LE)'"
        [altitudine]="'50'"
        [urlSite]="'www.ivancapirola.com'"
        [urlWebcam]="'https://images-webcams.windy.com/68/1425650668/current/full/1425650668.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Taranto</h2>
<webcam [luogo]="'MARTINA FRANCA (TA)'"
        [altitudine]="'431'"
        [urlSite]="'www.meteovalleditria.it'"
        [urlWebcam]="'https://images-webcams.windy.com/15/1579682315/current/full/1579682315.jpg'"
>
</webcam>
<webcam [luogo]="'CRISPIANO (TA)'"
        [altitudine]="'243'"
        [urlSite]="'www.meteorete24'"
        [urlWebcam]="'https://images-webcams.windy.com/59/1578713059/current/full/1578713059.jpg'"
>
</webcam>
<webcam [luogo]="'MARUGGIO (TA)'"
        [altitudine]="'4'"
        [urlSite]="'vedetta.org'"
        [urlWebcam]="'https://images-webcams.windy.com/19/1650493719/current/full/1650493719.jpg'"
>
</webcam>
<h2 class="title-micro-section">Provincia di Brindisi</h2>
<webcam [luogo]="'OSTUNI (BR)'"
        [altitudine]="'218'"
        [urlSite]="'www.meteovalleditria.it'"
        [urlWebcam]="'https://images-webcams.windy.com/26/1579681626/current/full/1579681626.jpg'"
>
</webcam>
<webcam [luogo]="'FASANO (BR)'"
        [altitudine]="'111'"
        [urlSite]="'stazioni.meteovalleditria.it'"
        [urlWebcam]="'https://images-webcams.windy.com/66/1648822866/current/full/1648822866.jpg'"
>
</webcam>
<webcam [luogo]="'BRINDISI (BR)'"
        [altitudine]="'28'"
        [urlSite]="'stazionemeteobrindisi.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/30/1638890730/current/full/1638890730.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Barletta Andria Trani</h2>
<webcam [luogo]="'BARLETTA (LE)'"
        [altitudine]="'15'"
        [urlSite]="'meteoborgovillabarletta.altervista.org'"
        [urlWebcam]="'https://images-webcams.windy.com/52/1606918052/current/full/1606918052.jpg'"
>
</webcam>
<br>
<hr>
<h2 class="title-micro-section">Provincia di Foggia</h2>
<webcam [luogo]="'VIESTE (FG)'"
        [altitudine]="'32'"
        [urlSite]="'vieste.it'"
        [urlWebcam]="'https://vieste.it/foto/cam.jpg'"
>
</webcam>
<webcam [luogo]="'LUCERA (FG)'"
        [altitudine]="'250'"
        [urlSite]="'pugliawebcam.it'"
        [urlWebcam]="'https://images-webcams.windy.com/50/1610179450/current/full/1610179450.jpg'"
>
</webcam>
<br>
<hr>
