<h1 class="header-macro-section">
  <button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()">&laquo; ARTICOLI</button>
  Inquinamento aria - rimedi naturali
</h1>
<br>
<br>
<p class="testo-articoli">L'inquinamento dell'aria sulle aree notoriamente più soggette sta acquisendo sempre
  maggior importanza.
  <br>
  La pianura padana è in assoluto il territorio italiano dove il problema si presenta in modo più consistente, ma
  anche altre zone orografichamente soggette ne risentono in tutta la penisola.
  <br>
  Un forte contributo arriva direttamente dalle condizioni meteorologiche <b>(stabilità e scarso rimescolamento della
    bassa troposfera)</b>.
  <br>
  L'accumulo di inquinanti deriva - come detto - <b>da uno scarso o nullo rimescolamento dell'aria nei primi 600-1000m
    di colonna d'aria </b>, quindi in bassa troposfera. E' il tipico caso delle <b>situazioni anticicloniche</b> (tante
  giornate con clima stabile consecutive).
  <br>
  Un provvidenziale rimescolamento può arrivare grazie all'incremento della ventilazione nei bassi strati che quindi
  aiuta a "rompere il tappo" che di fatto va ad imprigionare gli inquinanti negli strati troposferici prossimi al
  suolo (quindi dove noi viviamo).
  <br>
  Se il rimescolamento avviene tramite <b>ventilazione</b> ma in un contesto comunque asciutto e senza precipitazioni,
  allora il problema tornerebbe velocemente a ripresentarsi se nei giorni successivi subentrasse nuovamente una figura
  di alta pressione che andrebbe a "richiudere il tappo", determinando la nuova risalita delle concentrazioni di
  polveri sottili.
  <br>
  Ecco perchè <b> la pioggia rappresenta senza alcun dubbio un fenomeno ben più risolutore</b> . Il motivo risiede nel
  cosiddetto "dilavamento" degli inquinanti verso il suolo, determinato proprio dall'azione piovosa. Le particelle di
  inquinanti verrebbero infatti inglobate nel processo di condensazione e formazione delle gocce di pioggia. Ma non
  solo: la pioggia stessa - nella sua caduta - aiuterebbe ancor più al dilavamento delle particelle inquinanti verso
  il suolo. Si tratta quindi di un processo di rimozione efficace e soprattutto definitivo.
  <br>
  Non solo la pioggia, ma anche la neve. Anzi, da questo punto di vista <b>la neve rappresenta un metodo ancora più
    efficace</b>, perchè riesce ad "acchiappare" un numero ancora maggiore di particelle, ripulendo benissimo la
  colonna d'aria dagli inquinanti.
  <br>
  Ecco l'elenco dei capoluoghi italiani piu inquinati
</p>
  <br>
<div class="center">
  <img src="https://citynews-today.stgy.ovh/~media/43861334588437/1-72-53.jpg">
</div>

<br>
<button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()">&laquo; INDIETRO</button>
<button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
