<p class="title-micro-section">Nord Est</p>
<webcam [luogo]="'PASSO DELLO STELVIO (BZ)'"
        [altitudine]="'1167'"
        [urlSite]="'www.nordestmeteo.it'"
        [urlWebcam]="'http://jpeg.popso.it/webcam/webcam_online/stelviolive_04.jpg'"
>
</webcam>
<webcam [luogo]="'ORTISEI (BZ)'"
        [altitudine]="'1236'"
        [urlSite]="'www.nordestmeteo.it'"
        [urlWebcam]="'https://www.val-gardena.net/webcams/cam2/webcam.jpg'"
>
</webcam>
<webcam [luogo]="'CAVALESE (TN)'"
        [altitudine]="'1000'"
        [urlSite]="'www.nordestmeteo.it'"
        [urlWebcam]="'https://www.meteocavalese.it/cavalese.jpg?rnd=90709'"
>
</webcam>
<webcam [luogo]="'FELTRE (BL)'"
        [altitudine]="'650'"
        [urlSite]="'www.arifeltre.it'"
        [urlWebcam]="'http://www.arifeltre.it/webcam/fiere.jpg'"
>
</webcam>
