<p class="title-micro-section">Nord Est</p>
<webcam [luogo]="'PASSO DELLO STELVIO (BZ)'"
        [altitudine]="'2700'"
        [urlSite]="'www.nordestmeteo.it'"
        [urlWebcam]="'https://jpeg.popso.it/webcam/webcam_online/stelviolive_04.jpg'"
>
</webcam>
<webcam [luogo]="'RIFUGIO LAGAZUOI - VISTA TOFANA (BL)'"
        [altitudine]="'2690'"
        [urlSite]="'www.montagnaitalia.it'"
        [urlWebcam]="'https://www.montagnaitalia.it/webcam/original/TofanaRozes.jpg?61dd34a3-b67f-49ec-9e00-ece7082d360b'"
>
</webcam>
<webcam [luogo]="'TRE CIME DI LAVAREDO - SESTO (BZ)'"
        [altitudine]="'2438'"
        [urlSite]="'api.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/rifugiolocatelli-tre-cime-lavaredo/image.jpg'"
>
</webcam>
<webcam [luogo]="'SASSOLUNGO (TN)'"
        [altitudine]="'2413'"
        [urlSite]="'panodata.panomax.com'"
        [urlWebcam]="'https://panodata.panomax.com/cams/1343/sassolungo_e_sella.jpg'"
>
</webcam>
<webcam [luogo]="'PISTA TONDI DI FALORIA (BL)'"
        [altitudine]="'2120'"
        [urlSite]="'webcam.faloriacristallo.it'"
        [urlWebcam]="'https://webcam.faloriacristallo.it/img/rfaloria.jpg?3764c398-a4c0-469a-bc69-7fad3c3d8efb'"
>
</webcam>
<webcam [luogo]="'RIFUGIO GALASSI (BL)'"
        [altitudine]="'2018'"
        [urlSite]="'www.meteoproject.it'"
        [urlWebcam]="'http://www.meteoproject.it/ftp/webcam/rifugiogalassi/rifugiogalassi.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO DEL TONALE (BS)'"
        [altitudine]="'1884'"
        [urlSite]="'www.neveitalia.it'"
        [urlWebcam]="'https://real.adamelloski.com/adamelloski/tonale.jpg'"
>
</webcam>
<webcam [luogo]="'MADONNA DI CAMPIGLIO (TN)'"
        [altitudine]="'2500'"
        [urlSite]="'www.campiglio.it'"
        [urlWebcam]="'https://www.ski.it/files/getbyid/4733.jpg'"
>
</webcam>


<webcam [luogo]="'LIVIGNO (SO)'"
        [altitudine]="'1800'"
        [urlSite]="'www.parkchaletvillage.com'"
        [urlWebcam]="'https://www.parkchaletvillage.com/webcam/WebCam02.jpg'"
>
</webcam>
<webcam [luogo]="'CORTINA D AMPEZZO (BL)'"
        [altitudine]="'1224'"
        [urlSite]="'www.montagnaitalia.it'"
        [urlWebcam]="'https://www.montagnaitalia.it/webcam/original/cortina.jpg'"
>
</webcam>
<webcam [luogo]="'CORTINA D AMPEZZO - CINQUE TORRI (TN)'"
        [altitudine]="'2092'"
        [urlSite]="'www.dolomitisuperski.com'"
        [urlWebcam]="'https://live-image.panomax.com/cams/2883/5torri.jpg?69fb4d30-50a8-4b08-aa75-d472ef6480cb'"
>
</webcam>
<webcam [luogo]="'BORMIO (SO)'"
        [altitudine]="'1225'"
        [urlSite]="'www.webcam.valtline.it'"
        [urlWebcam]="'https://www.webcam.valtline.it/bormio.jpg'"
>
</webcam>
<webcam [luogo]="'CANAZEI (TN)'"
        [altitudine]="'1520'"
        [urlSite]="'www.dolomitiwebcam.com'"
        [urlWebcam]="'https://www.dolomitiwebcam.com/penia/mega.jpg'"
>
</webcam>
<webcam [luogo]="'DOBBIACO - LAGO DI DOBBIACO (BZ)'"
        [altitudine]="'1259'"
        [urlSite]="'altapusteria.it-wms.com'"
        [urlWebcam]="'https://altapusteria.it-wms.com/huge_current29.jpg'"
>
</webcam>
<webcam [luogo]="'SAN CANDIDO (BZ)'"
        [altitudine]="'1200'"
        [urlSite]="'altapusteria.it-wms.com'"
        [urlWebcam]="'https://altapusteria.it-wms.com/big_panorama5.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO GARDENA (BZ)'"
        [altitudine]="'2122'"
        [urlSite]="'www.altabadia.org'"
        [urlWebcam]="'https://wtvhspt.feratel.com/hotspot/37/6322/1.jpeg?design=v3'"
>
</webcam>

<webcam [luogo]="'BORCA DI CADORE (BL)'"
        [altitudine]="'1834'"
        [urlSite]="'www.dolomitiwebcam.com'"
        [urlWebcam]="'https://www.rifuginrete.com/rifugio/carestiato/webcam/cam.jpg'"
>
</webcam>
<webcam [luogo]="'VALLE DI TRAFOI - GHIACCIAI ORTLES (BZ)'"
        [altitudine]="'2090'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/trafoi/current/400.jpg?1673010297895'"
>
</webcam>
<webcam [luogo]="'RIFUGIO BICCHIERE - VAL RIDANNA (BZ)'"
        [altitudine]="'3195'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/becherhaus/current/400.jpg?1673009960'"
>
</webcam>
<webcam [luogo]="'VAL MARTELLO - GHIACCIAI DEL CEVEDALE (BZ)'"
        [altitudine]="'3300'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/langenferner/current/400.jpg?1673010052'"
>
</webcam>
<webcam [luogo]="'PIZ CHAVALTSCH (BZ)'"
        [altitudine]="'2763'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/chavalatsch/current/400.jpg?1673010009'"
>
</webcam>
<webcam [luogo]="'PLAN DE CORONES (BZ)'"
        [altitudine]="'2275'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/kronplatz/current/400.jpg?1673010001'"
>
</webcam>
<webcam [luogo]="'GHIACCIAIO PRESENA (TN)'"
        [altitudine]="'2756'"
        [urlSite]="'www.pontedilegnotonale.com'"
        [urlWebcam]="'https://real.adamelloski.com:8100/Jpeg/0?authToken=23f6de9e-82a8-4c85-95cf-8b9b8aed6090&1673012156056'"
>
</webcam>
<webcam [luogo]="'GHIACCIAIO DI FONTANA BIANCA - VAL D ULTIMO (BZ)'"
        [altitudine]="'2955'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/weissbrunnferner/current/400.jpg?1673010020'"
>
</webcam>
<webcam [luogo]="'SAN CASSIANO (BZ)'"
        [altitudine]="'1530'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/st-kassian/current/400.jpg?1673010896868'"
>
</webcam>
<webcam [luogo]="'MONGUELFO TESIDO (BZ)'"
        [altitudine]="'1320'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/taisten/current/400.jpg?1673009998'"
>
</webcam>
<webcam [luogo]="'MERANO (BZ)'"
        [altitudine]="'780'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/meran/current/400.jpg?1673010005'"
>
</webcam>
<webcam [luogo]="'APPIANO (BZ)'"
        [altitudine]="'620'"
        [urlSite]="'www.foto-webcam.eu'"
        [urlWebcam]="'https://www.foto-webcam.eu/webcam/eppan-berg/current/400.jpg?1673009996'"
>
</webcam>
<br>
<br>




