<p class="title-micro-section">Nord Est</p>
<webcam [luogo]="'PASSO DELLO STELVIO (BZ)'"
        [altitudine]="'2700'"
        [urlSite]="'www.nordestmeteo.it'"
        [urlWebcam]="'https://jpeg.popso.it/webcam/webcam_online/stelviolive_04.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO DEL TONALE (BS)'"
        [altitudine]="'1884'"
        [urlSite]="'www.neveitalia.it/'"
        [urlWebcam]="'https://real.adamelloski.com/adamelloski/tonale.jpg'"
>
</webcam>
<webcam [luogo]="'MADONNA DI CAMPIGLIO (TN)'"
        [altitudine]="'1500'"
        [urlSite]="'www.panoramawebcam.it'"
        [urlWebcam]="'https://www.panoramawebcam.it/live/campiglio-montanara/800.php'"
>
</webcam>

<webcam [luogo]="'TRE CIME DI LAVAREDO - SESTO (BZ)'"
        [altitudine]="'2438'"
        [urlSite]="'api.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/rifugiolocatelli-tre-cime-lavaredo/image.jpg'"
>
</webcam>
<webcam [luogo]="'SASSOLUNGO (TN)'"
        [altitudine]="'2413'"
        [urlSite]="'panodata.panomax.com'"
        [urlWebcam]="'https://panodata.panomax.com/cams/1343/sassolungo_e_sella.jpg'"
>
</webcam>
<webcam [luogo]="'LIVIGNO (SO)'"
        [altitudine]="'1800'"
        [urlSite]="'www.parkchaletvillage.com'"
        [urlWebcam]="'https://www.parkchaletvillage.com/webcam/WebCam02.jpg'"
>
</webcam>
<webcam [luogo]="'CORTINA D AMPEZZO (BL)'"
        [altitudine]="'1224'"
        [urlSite]="'www.montagnaitalia.it'"
        [urlWebcam]="'https://www.montagnaitalia.it/webcam/original/cortina.jpg'"
>
</webcam>
<webcam [luogo]="'CORTINA D AMPEZZO - CINQUE TORRI (TN)'"
        [altitudine]="'2137'"
        [urlSite]="'www.skylinewebcams.com'"
        [urlWebcam]="'https://cdn.skylinewebcams.com/live889.webp'"
>
</webcam>
<webcam [luogo]="'BORMIO (SO)'"
        [altitudine]="'1225'"
        [urlSite]="'www.webcam.valtline.it'"
        [urlWebcam]="'https://www.webcam.valtline.it/bormio.jpg'"
>
</webcam>
<webcam [luogo]="'CANAZEI (TN)'"
        [altitudine]="'1520'"
        [urlSite]="'www.dolomitiwebcam.com'"
        [urlWebcam]="'https://www.dolomitiwebcam.com/penia/mega.jpg'"
>
</webcam>
<webcam [luogo]="'DOBBIACO - LAGO DI DOBBIACO (BZ)'"
        [altitudine]="'1259'"
        [urlSite]="'altapusteria.it-wms.com'"
        [urlWebcam]="'https://altapusteria.it-wms.com/huge_current29.jpg'"
>
</webcam>
<webcam [luogo]="'SAN CANDIDO (BZ)'"
        [altitudine]="'1200'"
        [urlSite]="'altapusteria.it-wms.com'"
        [urlWebcam]="'https://altapusteria.it-wms.com/big_panorama5.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO GARDENA (BZ)'"
        [altitudine]="'2122'"
        [urlSite]="'www.altabadia.org'"
        [urlWebcam]="'https://wtvhspt.feratel.com/hotspot/37/6322/1.jpeg?design=v3'"
>
</webcam>

<webcam [luogo]="'BORCA DI CADORE (BL)'"
        [altitudine]="'1834'"
        [urlSite]="'www.dolomitiwebcam.com'"
        [urlWebcam]="'https://www.rifuginrete.com/rifugio/carestiato/webcam/cam.jpg'"
>
</webcam>
<br>
<br>




