<br>
<p class="title-info">Cliccare sulle immagini per zoom</p>
<br>
<div>
  <h2 class="title-micro-section">Radar Precipitazioni Nord Italia </h2>
  <iframe class="radar-nord-windy"
          src="https://embed.windy.com/embed2.html?lat=45.40&lon=10.70&zoom=7.5&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=45.40&detailLon=10.70&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite radar pecipitazioni nord italia" rel="noreferrer"></iframe>
</div>

<br>

<satellite [titleImgRadar]="'Radar Precipitazioni Nord Italia - Animazione'"
           [srcImage]="'https://cdn4.3bmeteo.com/images/radar/SWI_animation.gif?' + preventCache"
           [infoAlt]="'Radar Precipitazioni Nord Italia in movimento'"
           [class]="'radar'"></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni Nord Est'"
           [srcImage]="'https://www.arpa.veneto.it/bollettini/meteo/radar/imgs/teolo/1_BASE.jpg?' + preventCache"
           [infoAlt]="'Radar Precipitazioni Nord Est'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni Trentino Alto Adige'"
           [srcImage]="'https:///www.provinz.bz.it/hydro/radarN_now_i.jpg?' + preventCache"
           [infoAlt]="'Radar Precipitazioni  Trentino Alto Adige'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni Nord Ovest in movimento'"
           [srcImage]="'https:///sc05.arpa.piemonte.it/previ/last_movie_compa.gif?' + preventCache"
           [infoAlt]="'Radar Precipitazioni Nord Ovest in movimento'"
           [class]="'radar'"></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Monitoraggio Fulminazioni - Centro Nord'"
           [srcImage]="'https://www.meteosestola.it/public/fulmini.php?v=' + preventCache"
           [infoAlt]="'monitoraggio fulminazioni centro nord'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Monitoraggio Fulminazioni - Nord Ovest'"
           [srcImage]="'http://www.astrogeo.va.it/fulmini/fulmini.jpg?v=' + preventCache"
           [infoAlt]="'satellite fulminazioni nord ovest'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Totale Precipitazioni Nord Italia - Giornaliere'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/realtime_prec_nord.png?' + preventCache"
           [infoAlt]="'totale precipitazioni nord italia'"
           [class]="'radar-meteonetwork'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Totale Precipitazioni Nord Italia - Animazione Ultime 24 Ore'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/animazioni/nord/prec/mov_prec_nord.gif?v=1638446096?v=1638446096?' + preventCache"
           [infoAlt]="'totale precipitazioni nord italia in movimento'"
           [class]="'radar-meteonetwork'"></satellite>

<br>
<br>
<h2 class="title-micro-section">Temperature In Tempo Reale Nord Italia</h2>
<satellite [titleImgRadar]="''"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/realtime_temp_nord.png?v=' + preventCache"
           [infoAlt]="'temperature live nord italia'"
           [class]="'radar-zoomed-nord'"
           [zoom]="1.2"></satellite>

<br>
<br>
<br>
<br>
<satellite [titleImgRadar]="'Temperature Giornaliere Nord Italia - Animazione Ultime 24 Ore'"
           [srcImage]="'https://cdn1.meteonetwork.it/models/malawi/wnetwork/mappe_realtime/animazioni/nord/temp/mov_temp_nord.gif?v=1638446096?v=' + preventCache"
           [infoAlt]="'temperature giornaliere nord italia in movimento'"
           [class]="'radar-meteonetwork'"
           [zoom]="1.0"></satellite>


<br>
<br>

<!--
<h2 class="title-micro-section">Radar precipitazioni ultime 24H Zoom</h2>
<iframe class="radar" src="https:///www.vallemuricana.it/veneto_teolo250km.php"
        alt="Radar Precipitazioni Nord ultime 24H Zoom"></iframe>-->

