<p class="title-micro-section">Radar Precipitazioni Emilia Romagna</p>
<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
<img class="radar" src="http://www.arpa.emr.it/sim/datiiningresso/Immagini/Radar/nowcast.png"
     alt="Radar Precipitazioni Emilia Romagna" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"
     [hidden]="imageLoader" (load)="imageLoader = false;">
<br>
<br>
<p class="title-micro-section">Radar Precipitazioni centro-nord</p>
<img class="radar" src="http://servizi-meteoliguria.arpal.gov.it/MSG6H/NORD.jpg" alt="Radar Precipitazioni centro-nord"
     scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">
<br>
<br>
<p class="title-micro-section">Radar Precipitazioni Trentino Alto Adige</p>
<img class="radar" src="http://www.provinz.bz.it/hydro/radarN_now_i.jpg" alt="Radar Precipitazioni  Trentino Alto Adige"
     scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">
<br>
<br>
<p class="title-micro-section">Radar Precipitazioni Nord Ovest in movimento</p>
<img class="radar" src="http://sc05.arpa.piemonte.it/previ/last_movie_compa.gif"
     alt="Radar Precipitazioni Nord Ovest in movimento" scrolling="No" frameborder="no" marginheight="0px"
     marginwidth="0px">
<br>
<br>
<p class="title-micro-section">Radar precipitazioni ultime 24H Zoom</p>
<iframe class="radar" src="http://www.vallemuricana.it/veneto_teolo250km.php"
        alt="Radar Precipitazioni Nord ultime 24H Zoom" scrolling="No" frameborder="no" marginheight="0px"
        marginwidth="0px"></iframe>
</div>
<br>
<br>
