<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="LAZIO">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-lazio></webcam-lazio>
    </ng-template>
  </mat-tab>
  <mat-tab label="ABRUZZO">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-abruzzo></webcam-abruzzo>
    </ng-template>
  </mat-tab>
  <mat-tab label="MOLISE">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-molise></webcam-molise>
    </ng-template>
  </mat-tab>
  <mat-tab label="UMBRIA">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-umbria></webcam-umbria>
    </ng-template>
  </mat-tab>
  <mat-tab label="MARCHE">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-marche></webcam-marche>
    </ng-template>
  </mat-tab>
  <mat-tab label="TOSCANA">
    <br>
    <ng-template matTabContent>
      <br>
      <webcam-toscana></webcam-toscana>
    </ng-template>
  </mat-tab>
</mat-tab-group>
