<br>

<div>
  <h2 class="title-micro-section">Radar Precipitazioni Sardegna - Animazione </h2>
  <iframe class="radar-sardegna-windy"
          src="https://embed.windy.com/embed2.html?lat=40.05&lon=09.15&zoom=7.5&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=40.05&detailLon=09.15&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite radar pecipitazioni sardegna"></iframe>
</div>

<br>
<br>

<satellite [titleImgRadar]="'Totale Precipitazioni Sardegna - Giornaliere'"
           [srcImage]="'http://www.centrometeo.com/stations/lmt/station_rain_sardegna.png?time=1639947919978?time=1639947919981?' + preventCache"
           [infoAlt]="'totale precipitazioni Sardegna'"
           [class]="'radar-meteonetwork'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Temperature In Tempo Reale Sardegna'"
           [srcImage]="'http://www.centrometeo.com/stations/lmt/station_temp_sardegna.png?time=1639947919978?time=1639947919981?v=' + preventCache"
           [infoAlt]="'temperature live Sardegna'"
           [class]="'radar-meteonetwork'"
           [zoom]="1.2"></satellite>

<br>
<br>
<br>
<br>
<br>
<satellite [titleImgRadar]="'Pressione  Sardegna - Live'"
           [srcImage]="'http://www.centrometeo.com/stations/lmt/station_press_sardegna.png?time=1639947919978?time=1639947919982?v=' + preventCache"
           [infoAlt]="'pressione sardegna'"
           [class]="'radar-meteonetwork'"
           [zoom]="1.2"></satellite>

<br>
<br>
<br>
<br>
<br>
<satellite [titleImgRadar]="'Satellite - Nuvolosità'"
           [srcImage]="'https://media.ilmeteo.it/sat/sat-ita.gif?v=' + preventCache"
           [infoAlt]="'satellite nuvolosità sud'"
           [class]="'radar-meteonetwork'"
           [zoom]="1.1"></satellite>


