<ng-container class="main">
<div id="modal-content-wrapper">
  <header id="modal-header">
    <h1 id="modal-title"><span class="hidden-lg hidden-md">Cliccare sull'immagine per zoom</span>
      <img mat-button class="close image-close" (click)="modalClose()" src="../../assets/img/close-icon.png"/></h1>
  </header>
  <section id="modal-body">
    <p><img
      [src]="url" class="image-modal" (click)="toggleClass($event,'zoomed')"></p>
  </section>
  <footer id="modal-footer">
  </footer>
</div>
</ng-container>
