<strong><h3>Provincia Viterbo</h3></strong>

<figure>
  <div class="webcam-script-header">
							<span class="content-webcam-principal">CAPRAROLA (VT) 520
								mT - </span> <span> www.meteocaprarola.altervista.org</span>
  </div>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fmeteocaprarola.altervista.org%2Fcentro_storico%2Fwebcam.php&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fmeteocaprarola.altervista.org%2Fcentro_storico%2Fwebcam.php&w=630"
    class="webcam"/></a></figure>
<figure>
  <div class="webcam-script-header">
							<span class="content-webcam-principal"> VALENTANO (VT) 538
								mT - </span> <span> www.valentano.net</span>
  </div>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.valentano.net%2Fwebcam%2Fvalentano_live.jpg&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.valentano.net%2Fwebcam%2Fvalentano_live.jpg&w=630"
    class="webcam"/></a></figure>
