<strong><h3>Provincia Viterbo</h3></strong>

<figure>
  <figcaption>
    <strong>CAPRAROLA (VT) 520 mT</strong>
    <span> www.meteocaprarola.altervista.org</span>
  </figcaption>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fmeteocaprarola.altervista.org%2Fcentro_storico%2Fwebcam.php&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fmeteocaprarola.altervista.org%2Fcentro_storico%2Fwebcam.php&w=630"
    class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>


<figure>
  <figcaption>
    <strong> VALENTANO (VT) 538 mT</strong>
    <span> www.valentano.net</span>
  </figcaption>
  <a
    href="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.valentano.net%2Fwebcam%2Fvalentano_live.jpg&w=630"
    data-rel="prettyPhoto"><img
    src="http://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.valentano.net%2Fwebcam%2Fvalentano_live.jpg&w=630"
    class="webcam" style="padding:5px; border:2px solid #5DB4D9"/></a>
</figure>
