<br>
<p class="title-micro-section">Provincia di Viterbo</p>
<webcam [luogo]="'CAPRAROLA - MONTI CIMINI/LAGO DI VITO (VT)'"
        [altitudine]="'700'"
        [urlSite]="'monticimini.com'"
        [urlWebcam]="'https://assets1.webcam.io/w/z2DKm9/latest_hd.jpg'"
>
</webcam>
<webcam [luogo]="'VALENTANO (VT)'"
        [altitudine]="'538'"
        [urlSite]="'www.meteocaprarola.altervista.org'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Fwww.valentano.net%2Fwebcam%2Fvalentano_live.jpg&w=630'"
>
</webcam>
