<p class="header-macro-section">
  <button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()" aria-label="bottone-indietro">
    &laquo; ARTICOLI
  </button>
  Vite - Come prendersene cura - Info Utili
</p>
<br>
<br>
<p class="testo-articoli">
</p>
<br>
<button class="btn btn-primary button-indietro" title="Indietro" (click)="indietro()" aria-label="bottone-indietro">
  &laquo; INDIETRO
</button>
<button class="btn btn-primary scroll-top" data-scroll="up" type="button" (click)="scrollToTop()"
        aria-label="scroll-top">
  <i class="fa fa-chevron-up"></i>
</button>
