<br>
<h2 class="title-micro-section">Radar Protezione Civile</h2>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
  <div class="center">
    <iframe class="radar"
            src="http://www.protezionecivile.gov.it/radar-dpc/?update=4ffff06b-5c34-77ca-2792-4fed1a26382c#/pages/dashboard"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            (load)="imageLoader = false;" title="satellite protezione civile"></iframe>
    <br>
    <br>
    <button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
            (click)="scrollToTop()">
      <i class="fa fa-chevron-up"></i>
    </button>
  </div>
</div>
