<p class="title-micro-section">Provincia Ascoli</p>
<webcam [luogo]="'ARQUATA DEL TRONTO (AP)'"
        [altitudine]="'777'"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2Flh9440.myfoscam.org%3A88%2Fcgi-bin%2FCGIProxy.fcgi%3Fcmd%3DsnapPicture2%26usr%3Dguest%26pwd%3Dguest1%21%26t%3D1565100971&w=630'"
>
</webcam>
<webcam [luogo]="'PRETARE (AP)'"
        [altitudine]="'920'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/pretare/images/image.jpg'"
>
</webcam>
