td{
    font-size: 21px;
  padding-top: 0.2em!important;
  padding-bottom: 0.2em!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

table{
  margin-right: 1px;
  margin-left: 29px;
  font-size: 17px;
  max-width: 1024px;
  width: 1024px;
  width: 97%;
}

.previsioni-europa{
  /*
  margin-left: 55px!important;
  */
}
