
<br>
<p class="title-info">Cliccare sulle immagini per zoom</p>
<br>
<div>
  <h2 class="title-micro-section">Radar Precipitazioni Europa</h2>
  <iframe class="radar"
          src="https://embed.windy.com/embed2.html?lat=50.00&lon=14.50&zoom=4&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=42.11&detailLon=13.30&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite radar pecipitazioni"></iframe>
</div>
<br>
<br>
<satellite [titleImgRadar]="'Satellite Infrarossi Europa - Animazione'"
           [srcImage]="'https:///www.meteo60.fr/satellites/animation-satellite-ir-france.gif?v=' + preventCache"
           [infoAlt]="'satellite infrarossi europa movimento'"
           [class]="'radar'"
></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Nuvolosità Europa - Animazione'"
           [srcImage]="'https://www1.niederschlagsradar.de/onweer/loop_onweer.gif?v=' + preventCache"
           [infoAlt]="'novolosità europa animazione'"
           [class]="'radar'"></satellite>


<br>
<br>
<satellite [titleImgRadar]="'Satellite Europa'"
           [srcImage]="'https://www.sat24.com/image.ashx?country=eu&type=zoom&format=640x480001001&rnd=610703?v=' + preventCache"
           [infoAlt]="'satellite europa'"
           [class]="'radar'"
></satellite>
<br>
<br>

<h2 class="title-micro-section">Satellite Interattivo Europa Live</h2>
<iframe id="frame-mov" class="radar"
        src="https://embed.windy.com/embed2.html?lat=49.500&lon=12.651&detailLat=49.500&detailLon=12.512&width=500&height=500&zoom=4&level=surface&overlay=gust&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1"
        frameborder="0"></iframe>
<br>
<br>

<satellite [titleImgRadar]="'Satellite Fulminazioni Europa'"
           [srcImage]="'https://www.blitzortung.org/en/Images/image_b_fr.png?t=27701165?v=' + preventCache"
           [infoAlt]="'satellite fulminazioni'"
           [class]="'radar'"></satellite>
<br>
<br>

<satellite [titleImgRadar]="'Monitoraggio Fulminazioni Europa - Animazione'"
           [srcImage]="'https://images.lightningmaps.org/blitzortung/europe/index.php?animation=5&t=5462912?v=' + preventCache"
           [infoAlt]="'satellite fulminazioni europa in movimento'"
           [class]="'radar'"></satellite>



<satellite [titleImgRadar]="'Sinottica Europa al suolo (aggiornamento orario)'"
           [srcImage]="'https:///meteocentre.com/analyse/local/eur.gif?v=' + preventCache"
           [infoAlt]="'sinottica europa suolo'"
           [class]="'radar'"></satellite>
<br>
<satellite [titleImgRadar]="'Sinottica Europa con minimi e massimi barometrici'"
           [srcImage]="'https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/bwk_bodendruck_na_ana.png?v=' + preventCache"
           [infoAlt]="'sinottica europa pressione'"
           [class]="'radar'"></satellite>

<br>
<br>


<satellite [titleImgRadar]="'Temperature Europa Live'"
           [srcImage]="'https://www.meteociel.fr/cartes_obs/temp_eur2.png?v=' + preventCache"
           [infoAlt]="'temperature europa live'"
           [class]="'radar-no-heigth'"></satellite>

<br>
<br>
<h2 class="title-micro-section">Previsioni Precipitazioni Europa</h2>
<table  class="radar-precipitazioni-europa">
  <tr>
    <td colspan="24" bgcolor="#34639B" >Precipitazioni</td>
  </tr>
  <tr>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_6.png" target="iframe1">06</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_12.png" target="iframe1">12</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_18.png" target="iframe1">18</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_24.png" target="iframe1">24</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_30.png" target="iframe1">30</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_36.png" target="iframe1">36</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_42.png" target="iframe1">42</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_48.png" target="iframe1">48</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_54.png" target="iframe1">54</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_60.png" target="iframe1">60</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_66.png" target="iframe1">66</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_72.png" target="iframe1">72</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_78.png" target="iframe1">78</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_84.png" target="iframe1">84</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_90.png" target="iframe1">90</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_96.png" target="iframe1">96</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_102.png" target="iframe1">102</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_108.png" target="iframe1">108</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_114.png" target="iframe1">114</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_120.png" target="iframe1">120</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_126.png" target="iframe1">126</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_132.png" target="iframe1">132</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_138.png" target="iframe1">138</a></td>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_144.png" target="iframe1">144</a></td>
  </tr>
  <tr>
    <td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_150.png" target="iframe1">150</a></td
    ><td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_156.png" target="iframe1">156</a></td
  ><td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_162.png" target="iframe1">162</a></td
  ><td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_168.png" target="iframe1">168</a></td
  ><td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_174.png" target="iframe1">174</a></td
  ><td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_180.png" target="iframe1">180</a></td
  ><td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_186.png" target="iframe1">186</a></td
  ><td   bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_192.png" target="iframe1">192</a></td
  >
    <td colspan="16"  bgcolor="#F0CD8B"><a href="https://www.meteonetwork.it/models/malawi/GFS/ur700hPa_eu_192.png" target="iframe1"></a></td
    >
  </tr>
</table>
<iframe class="previsioni-europa" src="https://www.meteonetwork.it/models/malawi/GFS/prec_eu_6.png" height="820"width="1020" name="iframe1" scrolling="no" frameborder="0"></iframe>
