
<br>
<p class="title-info">Cliccare sulle immagini per zoom</p>
<br>
<div>
  <h2 class="title-micro-section">Radar Precipitazioni Europa</h2>
  <iframe class="radar"
          src="https://embed.windy.com/embed2.html?lat=50.00&lon=14.50&zoom=4&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=42.11&detailLon=13.30&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite radar pecipitazioni"></iframe>
</div>
<br>
<br>
<h2 class="title-micro-section">Precipitazioni Europa - Animazione</h2>
<iframe id="frame-europ-mov" class="radar-no-heigth"
        src="https://cdn.fmi.fi/demos/eumetnet-web-site-radar-animator" width="100%" height="1195"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>



<br>
<br>
<satellite [titleImgRadar]="'Satellite Europa'"
           [srcImage]="'https://www.sat24.com/image.ashx?country=eu&type=zoom&format=640x480001001&rnd=610703?v=' + preventCache"
           [infoAlt]="'satellite europa'"
           [class]="'radar'"
></satellite>

<br>
<br>
<satellite [titleImgRadar]="'Satellite Infrarossi Europa - Animazione Giornaliera'"
           [srcImage]="'https://www.meteosatonline.it/anim2022/espana_infra.php?v=' + preventCache"
           [infoAlt]="'satellite infrarossi europa movimento'"
           [class]="'radar'"
></satellite>
<br>
<br>



<satellite [titleImgRadar]="'Satellite Infrarossi Europa - Animazione'"
           [srcImage]="'https:///www.meteo60.fr/satellites/animation-satellite-ir-france.gif?v=' + preventCache"
           [infoAlt]="'satellite infrarossi europa movimento'"
           [class]="'radar'"
></satellite>

<br>
<br>

<satellite [titleImgRadar]="'Nuvolosità Europa e Fulminazioni - Animazione 2H'"
           [srcImage]="'https://www1.niederschlagsradar.de/onweer/loop_onweer.gif?v=' + preventCache"
           [infoAlt]="'novolosità europa animazione'"
           [class]="'radar'"></satellite>


<br>
<br>


<h2 class="title-micro-section">Satellite Interattivo Europa Live</h2>
<iframe id="frame-mov" class="radar"
        src="https://embed.windy.com/embed2.html?lat=49.500&lon=12.651&detailLat=49.500&detailLon=12.512&width=500&height=500&zoom=4&level=surface&overlay=gust&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1"
        frameborder="0"></iframe>
<br>
<br>

<satellite [titleImgRadar]="'Satellite Fulminazioni Europa'"
           [srcImage]="'https://images.blitzortung.org/Images/image_b_eu.png'"
           [infoAlt]="'satellite fulminazioni europa'"
           [class]="'radar'"></satellite>
<br>
<br>
<!--
<satellite [titleImgRadar]="'Satellite Fulminazioni Europa'"
           [srcImage]="'https://images.lightningmaps.org/blitzortung/europe/index.php?map=0'"
           [infoAlt]="'satellite fulminazioni europa'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Monitoraggio Fulminazioni Europa - Animazione'"
           [srcImage]="'https://images.lightningmaps.org/blitzortung/europe/index.php?animation=5&t=5462912?v=' + preventCache"
           [infoAlt]="'satellite fulminazioni europa in movimento'"
           [class]="'radar'"></satellite>
-->



<satellite [titleImgRadar]="'Sinottica Europa al suolo (aggiornamento orario)'"
           [srcImage]="'https:///meteocentre.com/analyse/local/eur.gif?v=' + preventCache"
           [infoAlt]="'sinottica europa suolo'"
           [class]="'radar'"></satellite>
<br>
<satellite [titleImgRadar]="'Sinottica Europa con minimi e massimi barometrici'"
           [srcImage]="'https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/bwk_bodendruck_na_ana.png?v=' + preventCache"
           [infoAlt]="'sinottica europa pressione'"
           [class]="'radar'"></satellite>

<br>
<br>


<satellite [titleImgRadar]="'Temperature Europa Live'"
           [srcImage]="'https://www.meteociel.fr/cartes_obs/temp_eur2.png?v=' + preventCache"
           [infoAlt]="'temperature europa live'"
           [class]="'radar-no-heigth'"></satellite>
<br>
<br>


<satellite [titleImgRadar]="'Previsioni Europa Oggi'"
           [srcImage]="'https://www.dwd.de/DWD/wetter/aktuell/welt/bilder/wx_europa_akt.jpg?v=' + preventCache"
           [infoAlt]="'Previsioni Europa Oggi'"
           [class]="'radar-no-heigth'"></satellite>

