<p class="title-micro-section">Provincia di Siena</p>

<webcam [luogo]="'MONTEPULCIANO (SI)'"
        [altitudine]="'293 '"
        [urlSite]="'www.osservatorioadstatuas.it'"
        [urlWebcam]="'https://images-webcams.windy.com/41/1642540141/current/full/1642540141.jpg'"
></webcam>
<webcam [luogo]="'CHIUSI - LAGO (SI)'"
        [altitudine]="'253'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/34/1615655934/current/full/1615655934.jpg'"
></webcam>



