<p class="title-micro-section">Provincia di Siena</p>

<!--<webcam [luogo]="'MONTEPULCIANO (SI)'"
        [altitudine]="'293 '"
        [urlSite]="'www.osservatorioadstatuas.it'"
        [urlWebcam]="'https://images-webcams.windy.com/41/1642540141/current/full/1642540141.jpg'"
></webcam>-->
<webcam [luogo]="'ABBADIA SAN SALVATORE (SI)'"
        [altitudine]="'855'"
        [urlSite]="'www.meteoamiata.it'"
        [urlWebcam]="'https://www.meteoamiata.it/webcam/FI9900P_00626E923A3D/snap/webcam.php'"
></webcam>




