<br>
<p class="title-micro-section">Provincia Pescara</p>
<webcam [luogo]="'CARAMANICO TERME (PE)'"
        [altitudine]="'650'"
        [urlSite]="'locandadelbarone.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=http%3A%2F%2F82.104.87.176%2Fcgi-bin%2Fimage.jpg&w=630'"
>
</webcam>
<webcam [luogo]="'ROCCACARAMANICO (PE)'"
        [altitudine]="'867'"
        [urlSite]="'locandadelbarone.it'"
        [urlWebcam]="'http://www.associazioneroccacaramanico.it/images/webcam/camroccacaramanico_1.jpg'"
>
</webcam>
