<br>

<h2 class="title-micro-section">0H - 6H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_0_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_6_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">12H - 18H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_12_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_18_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">24H - 30H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_24_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_30_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">36H - 42H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_36_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_42_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">48H - 54H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_48_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_54_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">60H - 66H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_60_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_66_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">72H - 78H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_72_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_78_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">84H - 90H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_84_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_90_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">96H - 102H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_96_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_102_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">108H - 114H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_108_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_114_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">120H - 126H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_120_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_126_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">132H - 138H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_132_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_138_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">144H - 150H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_144_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_150_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr><h2 class="title-micro-section">156H - 162H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_156_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_162_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">168H - 174H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_168_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_174_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr><h2 class="title-micro-section">180H - 186H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_180_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_186_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">192H - 198H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_192_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_198_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">204H - 210H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_204_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_210_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">216H - 222H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_216_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_222_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">228H - 236H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_228_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_234_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     width="529" height="430">
<hr>
<h2 class="title-micro-section">240H</h2>
<img class="modelli" (click)="toggleClass($event,'zoomed')"
     src="https://www.wetterzentrale.de/maps/{{modello}}OPEU{{modelsRun}}_240_{{tipoModelloQuery}}.png"
     rel="noreferrer" alt="'modello 500Hpa" title="modello 500Hpa"
     height="430">
<hr>

