<p class="title-micro-section">Sardegna</p>
<webcam [luogo]="'BRUNCU SPINA (NU)'"
        [altitudine]="'1550'"
        [urlSite]="'prohu.altervista.org'"
        [urlWebcam]="'http://prohu.altervista.org/bruncuspina/bruncuspina.php'"
>
</webcam>
<webcam [luogo]="'SEPARADORGIU (NU)'"
        [altitudine]="'1440'"
        [urlSite]="'prohu.altervista.org'"
        [urlWebcam]="'http://prohu.altervista.org/FI9900P_00626E85DA19/snap/lellei.php'"
>
</webcam>
<webcam [luogo]="'MONTE LUSEI  (SU)'"
        [altitudine]="'1116'"
        [urlSite]="'www.seuimeteo.it'"
        [urlWebcam]="'http://www.seuimeteo.it/lusei.jpg'"
>
</webcam>
<webcam [luogo]="'PASSO GENNA SILANA (NU)'"
        [altitudine]="'1017'"
        [urlSite]="'www.meteosilana.it'"
        [urlWebcam]="'http://www.meteosilana.it/FI9901EP_00626EA2EF15/snap/silana.php'"
>
</webcam>
<webcam [luogo]="'FONNI (NU)'"
        [altitudine]="'1000'"
        [urlSite]="'www.sardegna-clima.it'"
        [urlWebcam]="'https://www.sardegna-clima.it/Fonni/fonni.php'"
>
</webcam>
<webcam [luogo]="'OLLONAI (NU)'"
        [altitudine]="'960'"
        [urlSite]="'www.ollolaimeteo.it'"
        [urlWebcam]="'http://www.ollolaimeteo.it/FI9900P_00626EA285F1/snap/ollolai.php'"
>
</webcam>
<webcam [luogo]="'GAVOI (NU)'"
        [altitudine]="'740'"
        [urlSite]="'prohu.altervista.org'"
        [urlWebcam]="'https://prohu.altervista.org/FI9900P_00626EA7D7F6/snap/Gavoi_cam.php'"
>
</webcam>
<webcam [luogo]="'OSIDDA - ALTOPIANO BITTI (NU)'"
        [altitudine]="'670'"
        [urlSite]="'www.webcamsardinia.com'"
        [urlWebcam]="'https://www.webcamsardinia.com/osidda/webcam.php'"
>
</webcam>
<webcam [luogo]="'ILLORAI (SS)'"
        [altitudine]="'860'"
        [urlSite]="'www.meteoillorai.it'"
        [urlWebcam]="'https://www.meteoillorai.it/iscuvude/webcam.php'"
>
</webcam>
<webcam [luogo]="'NULE (SS)'"
        [altitudine]="'650'"
        [urlSite]="'www.webcamsardinia.com'"
        [urlWebcam]="'https://www.webcamsardinia.com/nule/webcam.php'"
>
</webcam>
<webcam [luogo]="'OSILO (SS)'"
        [altitudine]="'620'"
        [urlSite]="'www.osilometeo.it'"
        [urlWebcam]="'https://www.osilometeo.it/FI9900EP_00626ED82036/snap/osilo.php'"
>
</webcam>
<webcam [luogo]="'PEDRA BIANCA (SS)'"
        [altitudine]="'620'"
        [urlSite]="'www.padrumeteo.it'"
        [urlWebcam]="'http://www.padrumeteo.it/pedrabianca.jpg'"
>
</webcam>
<webcam [luogo]="'SEUI (SU)'"
        [altitudine]="'820'"
        [urlSite]="'www.seuimeteo.it'"
        [urlWebcam]="'http://www.seuimeteo.it/cuccaioni.jpg'"
>
</webcam>
<webcam [luogo]="'PRANU SANGUNI (SU)'"
        [altitudine]="'656'"
        [urlSite]="'www.gerreimeteo.it'"
        [urlWebcam]="'http://www.gerreimeteo.it/FI9901EP_00626EA78DB6/snap/sanguni.php'"
>
</webcam>
<webcam [luogo]="'SADALI (SU)'"
        [altitudine]="'740'"
        [urlSite]="'www.webcamsardinia.com'"
        [urlWebcam]="'https://www.webcamsardinia.com/sadali/webcam.php'"
>
</webcam>
<webcam [luogo]="'SERRI (SU)'"
        [altitudine]="'640'"
        [urlSite]="'www.meteoserri.it'"
        [urlWebcam]="'http://www.meteoserri.it/FI9901EP_00626E88B33F/snap/serri.php'"
>
</webcam>
<webcam [luogo]="'ISILI M.TREMPU (CA)'"
        [altitudine]="'703'"
        [urlSite]="'www.webcamsardinia.com'"
        [urlWebcam]="'https://www.webcamsardinia.com/isili/webcam.php'"
>
</webcam>
