
<br>
<mat-tab-group [selectedIndex]="id" >
<!--  <img src="../../assets/img/webcam.png" alt="WebCam Limitrofe" title="WebCam Limitrofe"  /><br /> -->
  <mat-tab label="WebCam Montagna">
    <br>
    <!-- <webcam-montagna></webcam-montagna> -->
  </mat-tab>
  <mat-tab label="WebCam Lazio">
    <br>
    <webcam-lazio></webcam-lazio>
  </mat-tab>
  <mat-tab label="WebCam Abruzzo">
    <br>
    <webcam-abruzzo></webcam-abruzzo>

  </mat-tab>
  <mat-tab label="WebCam Molise">
    <br>
    <webcam-molise></webcam-molise>
  </mat-tab>

</mat-tab-group>
