<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="WebCam Montagna">
    <br>
    <!-- <webcam-montagna></webcam-montagna> -->
  </mat-tab>
  <mat-tab label="WebCam Lazio">
    <br>
    <webcam-lazio *ngIf="isLazio"></webcam-lazio>
  </mat-tab>
  <mat-tab label="WebCam Abruzzo">
    <br>
    <webcam-abruzzo *ngIf="isAbruzzo"></webcam-abruzzo>
  </mat-tab>
  <mat-tab label="WebCam Molise">
    <br>
    <webcam-molise *ngIf="isMolise"></webcam-molise>
  </mat-tab>
</mat-tab-group>
