<strong><h3>Provincia Isernia</h3></strong>


<figure>
  <figcaption>
    <strong>CAPRACOTTA (IS) 1421 mt</strong>
    <span>www.capracotta.com/</span>

  </figcaption>
  <a href="http://www.capracotta.com/files/cams/mcampo/8BY1QvaT.jpg"  ><img src="http://www.capracotta.com/files/cams/mcampo/8BY1QvaT.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>






<figure>
  <figcaption>
    <strong>ACQUAVIVA D'ISERNIA  (IS) 730 mt</strong>
    <span> www.comune.acquavivadisernia.is.it</span>

  </figcaption>
  <a href="http://www.comune.acquavivadisernia.is.it/cam:21/cus.jpg" data-rel="prettyPhoto"  ><img src="http://www.comune.acquavivadisernia.is.it/cam:21/cus.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>MIRANDA (IS) 900 mt</strong>
    <span> www.mirandaisernia.it</span>

  </figcaption>
  <a href="http://www.mirandaisernia.it/webcam1/miranda001M.jpg" data-rel="prettyPhoto"  ><img src="http://www.mirandaisernia.it/webcam1/miranda001M.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>PESCOPENNATTARO (IS) 1229 mt</strong>
    <span> www.pescopennataro.com</span>

  </figcaption>
  <a href="http://www.pescopennataro.com/image.jpg" data-rel="prettyPhoto"  ><img src="http://www.pescopennataro.com/image.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>ISERNIA 425 mt</strong>
    <span> www.eurowebcamsite.com</span>

  </figcaption>
  <a href="http://www.eurowebcamsite.com/webcams/collevecchio/cam_maxres.jpg" data-rel="prettyPhoto"  ><img src="http://www.eurowebcamsite.com/webcams/collevecchio/cam_maxres.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>RIONERO SANNITICO (IS) 1000 MT</strong>
    <span> www.campanialive.it </span>
  </figcaption>
  <a href="http://www.campanialive.it/webcam/montagna/rionerosannitico/rionerosannitico.jpg" data-rel="prettyPhoto"  ><img src="http://www.campanialive.it/webcam/montagna/rionerosannitico/rionerosannitico.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>
