<h1 class="header-macro-section">{{utility.titleMatTab}}</h1>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="GENERALE">
    <br>
    <ng-template matTabContent>
      <satellite-generale></satellite-generale>
    </ng-template>
  </mat-tab>
  <mat-tab label="CENTRO">
    <br>
    <ng-template matTabContent>
      <satellite-centro></satellite-centro>
    </ng-template>
  </mat-tab>
  <mat-tab label="NORD">
    <br>
    <ng-template matTabContent>
      <satellite-nord></satellite-nord>
    </ng-template>
  </mat-tab>
  <mat-tab label="SUD">
    <br>
    <ng-template matTabContent>
      <satellite-sud></satellite-sud>
    </ng-template>
  </mat-tab>
  <mat-tab label="ITALIA">
    <br>
    <ng-template matTabContent>
      <satellite-italia></satellite-italia>
    </ng-template>
  </mat-tab>
  <mat-tab label="EUROPA">
    <br>
    <ng-template matTabContent>
      <satellite-europa></satellite-europa>
    </ng-template>
  </mat-tab>
  <!--
  <mat-tab label="TEST">
    <br>
    <ng-template matTabContent>
      <satellite-test></satellite-test>
    </ng-template>
  </mat-tab>
  -->
</mat-tab-group>
