<p class="header-macro-section">Satellite Precipitazioni - Meteo Campoli</p>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="GENERALE">
    <br>
    <ng-template matTabContent>
      <satellite-generale></satellite-generale>
    </ng-template>
  </mat-tab>
  <mat-tab label="CENTRO">
    <br>
    <ng-template matTabContent>
      <satellite-centro></satellite-centro>
    </ng-template>
  </mat-tab>
  <mat-tab label="NORD">
    <br>
    <ng-template matTabContent>
      <satellite-nord></satellite-nord>
    </ng-template>
  </mat-tab>
  <mat-tab label="SUD">
    <br>
    <ng-template matTabContent>
      <satellite-sud></satellite-sud>
    </ng-template>
  </mat-tab>
  <mat-tab label="PROTEZIONE CIVILE">
    <br>
    <ng-template matTabContent>
      <satellite-protezione-civile></satellite-protezione-civile>
    </ng-template>
  </mat-tab>
</mat-tab-group>
