<br>
<p class="header-macro-section">Stazioni Meteo Principali - Temperature</p>
<br>
<p class="title-micro-section">Clicca sul nome delle stazioni per accedere ai dati completi</p>
<br>
<mat-tab-group [selectedIndex]="id" (selectedIndexChange)="tabSelectionChanged($event)">
  <mat-tab label="GENERALI">
    <br>
    <stazioni-meteo></stazioni-meteo>
  </mat-tab>
  <mat-tab label="LAZIO">
    <br>
    <stazioni-lazio *ngIf="isLazio"></stazioni-lazio>
  </mat-tab>
  <mat-tab label="ABRUZZO">
    <br>
    <stazioni-abruzzo *ngIf="isAbruzzo"></stazioni-abruzzo>
  </mat-tab>
  <mat-tab label="MOLISE">
    <br>
    <stazioni-molise *ngIf="isMolise"></stazioni-molise>
  </mat-tab>
  <mat-tab label="RETE METEO">
    <br>
    <stazioni-rete-meteo *ngIf="isReteMeteo"></stazioni-rete-meteo>
  </mat-tab>
  <mat-tab label="CAPUTFRIGORIS">
    <br>
    <stazioni-rete-meteo></stazioni-rete-meteo>
  </mat-tab>
</mat-tab-group>
