<br>
<p class="header-macro-section">Stazioni Meteo Principali - Temperature</p>
<br>
<p class="title-micro-section">Clicca sul nome delle stazioni per accedere ai dati completi</p>
<br>
<mat-tab-group [selectedIndex]="id">
  <mat-tab label="GENERALI">
    <br>
    <ng-template matTabContent>
      <stazioni-meteo></stazioni-meteo>
    </ng-template>
  </mat-tab>
  <mat-tab label="LAZIO">
    <br>
    <ng-template matTabContent>
      <stazioni-lazio></stazioni-lazio>
    </ng-template>
  </mat-tab>
  <mat-tab label="ABRUZZO">
    <br>
    <ng-template matTabContent>
      <stazioni-abruzzo></stazioni-abruzzo>
    </ng-template>
  </mat-tab>
  <mat-tab label="MOLISE">
    <br>
    <ng-template matTabContent>
      <stazioni-molise></stazioni-molise>
    </ng-template>
  </mat-tab>
  <mat-tab label="RETE METEO">
    <br>
    <ng-template matTabContent>
      <stazioni-rete-meteo></stazioni-rete-meteo>
    </ng-template>
  </mat-tab>
  <mat-tab label="CAPUTFRIGORIS">
    <br>
    <ng-template matTabContent>
      <stazioni-rete-meteo></stazioni-rete-meteo>
    </ng-template>
  </mat-tab>
</mat-tab-group>
