<p class="title-micro-section">Provincia di Pistoia</p>
<webcam [luogo]="'MONTE GOMITO (PT)'"
        [altitudine]="'1891 '"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/abetone/abetone.jpg'"
></webcam>
<webcam [luogo]="'ABETONE (PT)'"
        [altitudine]="'1450 '"
        [urlSite]="'www.escursioniapuane.com'"
        [urlWebcam]="'http://www.escursioniapuane.com/public/itinerariextra/Fabio/16LAF.jpg'"
></webcam>

<webcam [luogo]="'ABETONE - VAL DI LUCE (PT)'"
        [altitudine]="'1510 '"
        [urlSite]="'www.abetonemeteo.it'"
        [urlWebcam]="'https://www.abetonemeteo.it/webcam/valdiluce.jpg'"
></webcam>

<webcam [luogo]="'DOGANACCIA (PT)'"
        [altitudine]="'1530 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'https://www.doganaccia2000.it/webcam/netcam.jpg'"
></webcam>
<webcam [luogo]="'RIFUGIO PAGDEI (PR) - EMILIA ROMAGNA'"
        [altitudine]="'1250 '"
        [urlSite]="'www.bitlineftp.com'"
        [urlWebcam]="'http://www.bitlineftp.com/lagdei/webcam.php'"
></webcam>
