<h2 class="title-micro-section">Provincia di Pistoia</h2>

<webcam [luogo]="'ABETONE (PT)'"
        [altitudine]="'1711 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.gamp-pt.net/webcam/osservatorio.jpg'"
></webcam>

<webcam [luogo]="'ABETONE (PT)'"
        [altitudine]="'1388 '"
        [urlSite]="'www.meteoindiretta.it'"
        [urlWebcam]="'https://www.meteoindiretta.it/get_webcam.php?src=https%3A%2F%2Fwww.abetone.com%2Fwebcam3%2Fwebcam.aspx&w=630'"
></webcam>

<webcam [luogo]="'DOGANACCIA (PT)'"
        [altitudine]="'1530 '"
        [urlSite]="'www.meteowebcam.eu'"
        [urlWebcam]="'http://www.doganaccia2000.it/webcam/netcam.jpg'"
></webcam>

