<p class="title-micro-section">Provincia di Pistoia</p>
<webcam [luogo]="'MONTE GOMITO (PT)'"
        [altitudine]="'1891 '"
        [urlSite]="'www.meteosestola.it'"
        [urlWebcam]="'https://www.meteosestola.it/abetone/abetone.jpg'"
></webcam>
<webcam [luogo]="'DOGANACCIA (PT)'"
        [altitudine]="'1530 '"
        [urlSite]="'www.meteoplanet.it'"
        [urlWebcam]="'https://embed.skylinewebcams.com/media.php?id=1427&w=450'"
></webcam>
<webcam [luogo]="'ABETONE - VAL DI LUCE (PT)'"
        [altitudine]="'1430 '"
        [urlSite]="'paesaggidigitali.it'"
        [urlWebcam]="'https://paesaggidigitali.it/webcam/valdiluce-small.jpg'"
></webcam>
<webcam [luogo]="'ABETONE - PIAZZALE (PT)'"
        [altitudine]="'1388 '"
        [urlSite]="'paesaggidigitali.it'"
        [urlWebcam]="'https://paesaggidigitali.it/webcam/abetone-small.jpg'"
></webcam>


