<br>
<p class="title-info">Cliccare sulle immagini per zoom</p>
<br>
<satellite [titleImgRadar]="'Satellite Infrarossi in movimento'"
           [srcImage]="'https:///www.meteo60.fr/satellites/animation-satellite-ir-france.gif?v=' + utilityService.preventCache"
           [infoAlt]="'satellite infrarossi movimento'"
           [class]="'radar'"
></satellite>

<satellite [titleImgRadar]="'Satellite Meteosat Immagine Italia'"
           [srcImage]="'https://www.sat24.com/image.ashx?country=it&0.6041513127274811?v=' + utilityService.preventCache"
           [infoAlt]="'satellite meteosat immagine'"
           [class]="'radar'"
></satellite>

<satellite [titleImgRadar]="'Monitoraggio Fulminazioni Europa in movimento'"
           [srcImage]="'https://www.meteociel.fr/obs/foudre/anim2h_it.gif?v=' + utilityService.preventCache"
           [infoAlt]="'satellite fulminazioni europa movimento'"
           [class]="'radar'"></satellite>

<satellite [titleImgRadar]="'Satellite Fulminazioni Europa'"
           [srcImage]="'http://images.blitzortung.org/Images/image_b_eu.png?t=22640732?v=' + utilityService.preventCache"
           [infoAlt]="'satellite fulminazioni'"
           [class]="'radar'"></satellite>


<satellite [titleImgRadar]="'Monitoraggio Fulminazioni Centro Italia'"
           [srcImage]="'http:///radarweb.aquila.infn.it/cetempsite/fulmini.png?v=' + utilityService.preventCache"
           [infoAlt]="'satellite fulminazioni centro italia'"
           [class]="'radar'"></satellite>

<iframe id="frame-mov" class="radar-windy"
        src="https://embed.windy.com/embed2.html?lat=41.874&lon=12.651&detailLat=41.890&detailLon=12.512&width=500&height=500&zoom=5&level=surface&overlay=gust&product=ecmwf&menu=&message=true&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1"
        frameborder="0"></iframe>

<div>
  <h2 class="title-micro-section">Satellite Precipitazioni in movimento</h2>
  <iframe class="radar"
          src="https://embed.windy.com/embed2.html?lat=41.40&lon=13.37&zoom=8&level=surface&overlay=radar&menu=&message=true&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=41.40&detailLon=13.37&metricWind=&metricTemp=&radarRange=-1"
          frameborder="0" title="satellite pecipitazioni"></iframe>
</div>
<satellite [titleImgRadar]="'Sinottica al suolo (aggiornamento orario)'"
           [srcImage]="'http:///meteocentre.com/analyse/local/eur.gif?v=' + utilityService.preventCache"
           [infoAlt]="'sinottica suolo'"
           [class]="'radar'"></satellite>
<br>
<satellite [titleImgRadar]="'Sinottica con minimi e massimi barometrici'"
           [srcImage]="'http:///www.meteomin.it/Dig_Atm_Jpg/Front_map_G.jpg?v=' + utilityService.preventCache"
           [infoAlt]="'sinottica'"
           [class]="'radar'"></satellite>

<br>
<br>

<satellite [titleImgRadar]="'Temperature in tempo reale calcolate'"
           [srcImage]="'https://meteo-lazio.it/interpolate/radar/temp.png?v=' + utilityService.preventCache"
           [infoAlt]="'temperature calcolate'"
           [class]="'radar-zoomed'"
           [zoom]="1.2"></satellite>

<br>
<br>
<br>
<br>

<satellite [titleImgRadar]="'Radar Precipitazioni Ultime 3 ore'"
           [srcImage]="'http:///satollo.aquila.infn.it/midia/ref/ultimo_srt3h_noclass.png?v=' + utilityService.preventCache"
           [infoAlt]="'radar precipitazioni'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni Ultime 6 ore'"
           [srcImage]="'http:///satollo.aquila.infn.it/midia/ref/ultimo_srt6h_noclass.png?v=' + utilityService.preventCache"
           [infoAlt]="'radar precipitazioni'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni Ultime 24 ore'"
           [srcImage]="'http:///satollo.aquila.infn.it/midia/ref/ultimo_srt24h_giornaliero_cetcest_noclass.png?v=' + utilityService.preventCache"
           [infoAlt]="'radar precipitazioni'"
           [class]="'radar'"></satellite>
<br>
<br>
<satellite [titleImgRadar]="'Radar Precipitazioni Live'"
           [srcImage]="'http:///satollo.aquila.infn.it/midia/ref/ultimo.15.png?v=' + utilityService.preventCache"
           [infoAlt]="'radar precipitazioni live'"
           [class]="'radar'"></satellite>
<br>
<br>
<p class="title-micro-section">Radar precipitazioni in tempo reale Zoom</p>
<iframe class="radar" src="../../../assets/php/radar_zoom.html" alt="radar precipitazioni zoom"
        title="radar pecipitazioni live"></iframe>

<br>
<br>
<p class="title-micro-section">Radar precipitazioni 24h Zoom</p>
<iframe class="radar" src="../../../assets/php/radar_zoom_24.html" alt="radar precipitazioni zoom"
        title="radar pecipitazioni ultime 24h"></iframe>

<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="utilityService.scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
