


<br>

<accordion [showArrows]="true" [closeOthers]="false" [expandAll]="false">
  <accordion-group heading="  Temperatura 2m in tempo reale" class="title-micro-section" (click)="toggle()" >
    <img class="flex"  src="http://www.meteo60.fr/satellites/animation-satellite-ir-france.gif" width="920" height="630" alt="temperature suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />
    <br>
    <br>
  </accordion-group>
  <accordion-group heading="  Contacts" (click)="test2()">
    <img class="flex"  src="http://img.meteo.it/forecastimg/realtime/12/today_temperatura.jpg" width="920" height="630" alt="satellite infrarossi movimento" style="padding:5px; border:2px solid #5DB4D9;" /><br />
  </accordion-group>

</accordion>

<em class="title-micro-section"(click)="toggle()">{{buttonName}} Temperatura 2m in tempo reale </em>
<img class="flex" *ngIf="show1" src="http://img.meteo.it/forecastimg/realtime/12/today_temperatura.jpg" width="920" height="630" alt="temperature suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />
<br>
<br>

<br>
<br>

<em class="title-micro-section" (click)="toggle()">Satellite Infrarossi in movimento</em>
<img *ngIf="show2" src="http://www.meteo60.fr/satellites/animation-satellite-ir-france.gif" width="920" height="630" alt="satellite infrarossi movimento" style="padding:5px; border:2px solid #5DB4D9;" /><br />

<em class="title-micro-section">Satellite Fulminazioni Europa</em>
<img src="http://images.blitzortung.org/Images/image_b_eu.png?t=22640732" width="920" height="630" alt="satellite fulminazioni" style="padding:5px; border:2px solid #5DB4D9" /><br />

<em class="title-micro-section">Monitoraggio Fulminazioni Europa in movimento</em>
<img src="http://www.meteociel.fr/obs/foudre/anim_it.gif" width="920" height="630" alt="satellite fulminazioni europa movimento" style="padding:5px; border:2px solid #5DB4D9" /><br />

<em class="title-micro-section">Monitoraggio Fulminazioni Centro Italia</em>
<img src="http://radarweb.aquila.infn.it/cetempsite/fulmini.png" width="920" height="630" alt="satellite fulminazioni centro italia" style="padding:5px; border:2px solid #5DB4D9" /><br />

<em class="title-micro-section">Satellite Precipitazioni</em>
<span style="color: red;"> &nbsp &nbsp Se l immagine sottostante non si aggiorna premere F5 o CTRL+F5 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Orario Italia UTC+1</span>
<img src="http://www.protezionecivile.gov.it/images/rete_radar/VMI/VMI.JPEG" width="920" height="630" alt="satellite precipitazioni" style="padding:5px; border:2px solid #5DB4D9" /><br />

<em class="title-micro-section">Satellite Meteosat Immagine Italia</em>
<img src="http://www.sat24.com/image.ashx?country=it&0.6041513127274811" width="920" height="630" alt="satellite meteosat immagine" style="padding:5px; border:2px solid #5DB4D9"/><br />

<br>
<em class="title-micro-section">Sinottica al suolo (aggiornamento orario)</em>
<img src="http://meteocentre.com/analyse/local/eur.gif" width="920" height="630" alt="sinottica suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />

<br>
<em class="title-micro-section">Sinottica in quota [500 Hpa] (aggiornamento step 12/H)</em>
<img src="http://meteocentre.com/analyses/local/eur_500.gif?1422238524" width="920" height="630" alt="sinottica quota" style="padding:5px; border:2px solid #5DB4D9"/><br />

<br>
<br>
<em class="title-micro-section">Temperatura 2m in tempo reale</em>
<img src="http://img.meteo.it/forecastimg/realtime/12/today_temperatura.jpg" width="920" height="630" alt="temperature suolo" style="padding:5px; border:2px solid #5DB4D9"/><br />

<!--
<br>
<br>
<font color="#23252C"><em><b><h3><center>Satellite Meteosat Italia</center></h3></b></em></font>
<iframe src="test-2m-zoom.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"></iframe>
-->

<br>
<br>
<em class="title-micro-section">Radar Precipitazioni Lazio</em>
<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://img.meteo.it/forecastimg/realtime/12/today_pioggia.jpg" width="920" height="630" alt="radar precipitazioni lazio" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

<br>
<br>



  <br>
  <br>
  <em class="title-micro-section">Radar Precipitazioni Ultime 3 ore</em>
  <img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://satollo.aquila.infn.it/midia/ref/ultimo_srt3h_noclass.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">
  <br>
  <br>
  <em class="title-micro-section">Radar Precipitazioni Ultime 6 ore</em>
  <img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://satollo.aquila.infn.it/midia/ref/ultimo_srt6h_noclass.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

  <br>
  <br>
  <em class="title-micro-section">Radar Precipitazioni Ultime 24 ore</em>
  <img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://satollo.aquila.infn.it/midia/ref/ultimo_srt24h_giornaliero_cetcest_noclass.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

  <br>
  <br>



  <em class="title-micro-section">Radar Precipitazioni Live</em>
  <img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://radarweb.aquila.infn.it/imgmm/ultimo_vmi_120km.png" width="920" height="630" alt="radar precipitazioni" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px">

  <br>
  <br>







<em class="title-micro-section">Radar precipitazioni in tempo reale Zoom</em>
<iframe src="../../../assets/php/radar_zoom.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"></iframe>

<br>
<br>
<em class="title-micro-section">Radar precipitazioni 24h Zoom</em>
<iframe src="../../../assets/php/radar_zoom.php" width="920" height="630" alt="radar precipitazioni zoom" scrolling="No" frameborder="no" marginheight="0px" marginwidth="0px"></iframe>


