<h1>
  <button class="btn btn-primary button-indietro" aria-label="bottone-indietro" title="Indietro" (click)="indietro()">
    &laquo; ARTICOLI
  </button>
  Olivo - Come prendersene cura - Info Utili
</h1>
<br>
<br>
<div class="testo-articoli">
  <h2 class="title-micro-section center">Informazioni generali</h2>
  L’olivo è una pianta che predilige i climi temperato-caldi con poche precipitazioni; ama moltissimo la <b>luce del
  sole</b>, non ama la siccità eccessiva (specie per piante nuove) e le temperature rigidi invernali che si protraggono
  troppo a lungo, tollera male anche i ristagni idrici.
  <br>
  La <b>pioggia</b> è consigliata nell periodo della ripresa vegetativa (fine inverno), quello che segue immediatamente
  l'allegagione e più tardi quando si ha l'accrescimento dei frutti dopo l'indurimento del nòcciolo.
  <br>
  Il periodo piu critico è quello che segue la fioritura, con l'estate che avanza e il pericolo siccità molto piu alto.
  <br>
  Non è consigliata nel periodo di fioritura perche ostacolano l'impollinazione.
  <br>
  Pur adattandosi a qualsiasi tipo di terreno, predilige un <b>suolo sciolto o a
  medio impasto</b>.
  <br>
  La <b>concimazione</b> (ove prevista) deve essere effettuata quando inizia la ripresa vegetativa.
  <br>
  In quanto a <b>produzione</b> la pianta di olivo produrrà un anno una quantità notevole di olive, mentre l’anno
  successivo la produzione sarà decisamente scarsa, problema questo soggetto a numerosi studi ma ancora irrisolto.
  <br>
  <hr>
  <p class="title-micro-section center">Ciclo di maturazione </p>
  1) <b>Mignolatura</b>
  E’ la formazione delle infiorescenze a grappolo, le mignole (ognuna delle quali, pur contando da 5 a 60 fiori, annate
  molto favorevoli a parte), che interessa parte delle gemme.
  <br>
  Durante questa fase la <b>temperatura interiore ai 10 gradi non è tollerata</b>.
  <br>
  Tendenzialmente prima avviene maggiore è la possibilità di un annata vigorosa.
  <br>
  <img src="./assets/img/mignolatura.png" class="img-article" alt="mignolatura ulivo" width="361" height="240">
  <br>
  <br>
  2) <b>Fioritura</b>
  Avviene in maggio-giugno, secondo la latitudine, e dura una decina di giorni. I fiori sono poco appariscenti, con
  quattro piccoli petali di colore bianco e antere gialle, così che da lontano l’olivo assume l’aspetto di una nuvola
  color crema. Dalle nostre parti c'è un detto
  degli anziani che dice.."<b>fioritura ad aprile, olio a barile</b>, maggio ne tanto ne quanto, giugno non ti fa
  sporcare neanche il muso.
  <br>
  <img src="./assets/img/fioritura.png" class="img-article" alt="fioritura ulivo" width="361" height="240">
  <br>
  <br>
  3)<b>Allegagione</b>
  Si forma il frutto. Dei numeroissimi fiori, solo una piccola parte è destinata ad allegare, essendo molto alta
  l’incidenza dell’ aborto e dell’ovario e relativamente difficile l’impollinazione.
  <br>
  A parte poche varietà fertili, la
  maggioranza degli olivi (autosterili) viene fecondata per impollinazione incrociata al vento (e non agli insetti).
  Condizioni metereologiche (<b>tempo asciutto e ventilato, temperatura intorno ai 15°c</b>) sono determinati per un
  buon
  risultato.
  <br>
  Appena allegati, i frutti iniziano ad aumentare di peso e dimensioni con ritmo regolare (rallentando in caso di
  siccità) fino alla fine di novembre. In precedenza,tra luglio e agosto, quasi sempre si è verificata una certa cascola
  di frutti che può essere accentuata dall’arsura, incidendo significativamente sul raccolto.
  <br>
  <img src="./assets/img/allegazione.png" class="img-article" alt="allegazione ulivo" width="361" height="240">
  <br>
  <br>
  4)<b>Invaiatura</b>
  Siamo intorno a settembre/ottobre in base alla qualità delle olive, inizia il mutamento del colore, dal verde al
  giallo al viola scuro. I vari stadi sono indicati come “ingiallimento”,”invaiatura superficiale”e ” invaiatura
  profonda”.
  <br>
  <img src="./assets/img/invaiatura.png" class="img-article" alt="invaiatura ulivo" width="361" height="240">
  <br>
  <hr>
  <p class="title-micro-section center">Lavorazione</p>
  Le <b>radici</b> sono poste in superficie, proprio per questo le <b>lavorazioni</b> del terreno, nel periodo di
  risveglio vegetativo devono essere leggere, cioè raggiungere una profondità massima di 10-15 cm.
  <br>
  Una lavorazione più profonda (per rompere la suola compatta che impedisce ad acqua ed aria di penetrare) può essere
  effettuata a fine stagione, in autunno (anche per interrare i concimi organici ove previsti),
  in questo periodo la rottura delle radici è meno dannosa, la pianta farà in tempo a ricostruirne gran parte prima
  della ripresa vegetativa.
  <br>
  <hr>
  <p class="title-micro-section center">Potatura</p>
  Di norma la <b>potatura</b> dell'olivo viene effettuata tra la fine della stagione invernale e la fioritura, ovvero,
  generalmente, nel periodo che va da marzo a maggio e deve essere annuale.
  <br>
  L'ulivo ha bisogno di una<b> buona illuminazione ed aerazione</b> di tutta la chioma. Infatti una buona illuminazione
  favorisce la fotosintesi e la produzione di carboidrati che saranno poi utilizzati
  per la crescita di frutti e germogli, l’induzione e la differenziazione delle gemme a fiore e l’inolizione nei frutti.
  proprio per questo è indispensabile mantenerlo libero da <b>succhioni</b> con un <b>taglio raso</b> (possono essere
  tolti anche a luglio-agosto) ed evitare di avere troppi rami che ostruiscono luce e tolgono forza.
  <br>
  Nel caso <b>di potatura drastica</b> e di ristrutturazione il periodo migliore è quello del riposo vegetativo della
  pianta (invernale, tendenzialmente piu avanti con il periodo per evitare fortissime gelate).
  <br>
  Interventi a fine autunno infatti stimolano una risposta vegetativa in piante non ancora acclimatate rendendole più
  sensibili al <b>freddo invernale</b>, per cui vanno evitati nelle zone a rischio di forti abbassamenti di temperatura.
  <br>
  Rimandare la potatura dopo la ripresa vegetativa comporta però uno spreco di risorse per la pianta in quanto con i
  tagli vengono portate via parti di chioma verso le quali erano già state indirizzate le risorse,
  con conseguenti risposte vegetative e produttive inferiori alle aspettative.
  <br>
  Può accadere che a seguito di potature eccessive la pianta emetta numerosi succhioni, in questo caso è opportuno non
  eliminarli tutti, ma solo quelli più vigorosi, in modo da recuperare abbastanza rapidamente <b>l’equilibrio
  vegeto-produttivo</b>.
  <br>
  Un olivo non potato tende a sviluppare forza solo in alto nella chioma, lasciando spoglia per molti tratti la parte
  basale del ramo e favorisce un invecchiamento precoce dei rami.
  <br>
</div>
<br>
<br>
<button class="btn btn-primary button-indietro" aria-label="bottone-indietro" title="Indietro" (click)="indietro()">
  &laquo; INDIETRO
</button>
<button class="btn btn-primary scroll-top" aria-label="scroll-top" data-scroll="up" type="button"
        (click)="scrollToTop()">
  <i class="fa fa-chevron-up"></i>
</button>
