<p class="title-micro-section">Provincia Macerata</p>
<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div [hidden]="imageLoader">
<figure>
  <figcaption>
    <strong> CINGOLI (MC) 631 mT</strong>
    <span> www.cingolimeteo.com</span>
  </figcaption>
  <a href="http://www.cingolimeteo.com/24h/webcam.jpg" data-rel="prettyPhoto"><img
    src="http://www.cingolimeteo.com/24h/webcam.jpg" class="webcam" [hidden]="imageLoader"
    (load)="imageLoader = false;"/></a>
</figure>
</div>
