<p class="title-micro-section">Provincia Macerata</p>
<webcam [luogo]="'LA CAPANNINA - SASSOTETTO (MC)'"
        [altitudine]="'1420'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/sassotetto/image.jpg'"
>
</webcam>
<webcam [luogo]="'CASTEL MANARDO - BOLOGNOLA (MC)'"
        [altitudine]="'1320'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/bolognola-castel-manardo/image.jpg'"
>
</webcam>
<webcam [luogo]="'PONTE DI BERRO - BOLOGNOLA (MC)'"
        [altitudine]="'1510'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/bolognola-porte-berro/image.jpg'"
>
</webcam>
<webcam [luogo]="'USSITA - PIAZZA DEI CAVALLARI (MC)'"
        [altitudine]="'744'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/ussita/image.jpg'"
>
</webcam>
<webcam [luogo]="'PIANI DI RAGNOLO - ACQUACANINA (MC)'"
        [altitudine]="'1530'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/piani-ragnolo/image.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPO SCUOOLA SCOIATTOLO - BOLOGNOLA (MC)'"
        [altitudine]="'1340'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/bolognola-camposcuola/image.jpg'"
>
</webcam>
<webcam [luogo]="'SARNANO (MC)'"
        [altitudine]="'1414'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/64/1644943164/current/full/1644943164.jpg'"
>
</webcam>
<webcam [luogo]="'FRONTIGNANO - MONTI SIBILLINI (MC)'"
        [altitudine]="'1560'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/frontignano-saliere/image.jpg'"
>
</webcam>
<webcam [luogo]="'FRONTIGNANO - MONTE TORRONE (MC)'"
        [altitudine]="'1350'"
        [urlSite]="'www.scenaridigitali.com'"
        [urlWebcam]="'https://api.scenaridigitali.com/media/frontignano/image.jpg'"
>
</webcam>
<webcam [luogo]="'FIASTRA (MC)'"
        [altitudine]="'690'"
        [urlSite]="'www.windy.com'"
        [urlWebcam]="'https://images-webcams.windy.com/02/1647709902/current/full/1647709902.jpg'"
>
</webcam>



