<h2 class="title-micro-section">Provincia Macerata</h2>
<webcam [luogo]="'LA CAPANNINA - SASSOTETTO (MC)'"
        [altitudine]="'1420'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/sassotetto/images/sassotetto.jpg?d=20210109042316'"
>
</webcam>
<webcam [luogo]="'CASTEL MANARDO - BOLOGNOLA (MC)'"
        [altitudine]="'1320'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/bolognola1/images/bolognolaski_01.jpg'"
>
</webcam>
<webcam [luogo]="'PONTE DI BERRO - BOLOGNOLA (MC)'"
        [altitudine]="'1510'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/bolognola2/images/bolognola_fhd.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE TORRONE USSITA (MC)'"
        [altitudine]="'1350'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/frontignano/images/image.jpg'"
>
</webcam>
<webcam [luogo]="'USSITA (MC)'"
        [altitudine]="'744'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/ussita/images/image.jpg'"
>
</webcam>
<webcam [luogo]="'PIANI DI RAGNOLO - ACQUACANINA (MC)'"
        [altitudine]="'1530'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/acquacanina/images/image.jpg'"
>
</webcam>
<webcam [luogo]="'CAMPO SCUOOLA SCOIATTOLO - BOLOGNOLA (MC)'"
        [altitudine]="'1340'"
        [urlSite]="'tl.scenaridigitali.com'"
        [urlWebcam]="'https://tl.scenaridigitali.com/bolognola4/images/bolognola.jpg'"
>
</webcam>

