<p class="title-micro-section">Provincia di Arezzo</p>
<webcam [luogo]="'PRATOMAGNO (AR)'"
        [altitudine]="'1400'"
        [urlSite]="'www.firenzemeteo.it'"
        [urlWebcam]="'https://www.firenzemeteo.it/webcam/appennino/toscana/img/webcam-pratomagno_ant.webp'"
></webcam>
<webcam [luogo]="'PASSO DELLA CONSUMA (AR)'"
        [altitudine]="'1050'"
        [urlSite]="'www.passodellaconsuma.it'"
        [urlWebcam]="'https://www.passodellaconsuma.it/images/consuma000M.jpg'"
></webcam>
<webcam [luogo]="'BADIA PRATAGLIA - RISTORANTE IL CAPANNO (AR)'"
        [altitudine]="'1010'"
        [urlSite]="'www.meteobibbiena.it'"
        [urlWebcam]="'https://www.meteobibbiena.it/webcam_badia/webcam.php'"
>
</webcam>
<webcam [luogo]="'MONTEMIGNAIO (AR)'"
        [altitudine]="'739'"
        [urlSite]="'www.firenzemeteo.it'"
        [urlWebcam]="'https://www.firenzemeteo.it/webcam/appennino/toscana/img/webcam-montemignaio_ant.webp'"
>
</webcam>
<webcam [luogo]="'RAGGIOLO (AR)'"
        [altitudine]="'610'"
        [urlSite]="'www.firenzemeteo.it'"
        [urlWebcam]="'https://www.firenzemeteo.it/webcam/appennino/toscana/img/webcam-raggiolo_ant.webp'"
>
</webcam>
<webcam [luogo]="'PRATOVECCHIO (AR)'"
        [altitudine]="'440'"
        [urlSite]="'www.firenzemeteo.it'"
        [urlWebcam]="'https://www.firenzemeteo.it/webcam/appennino/toscana/img/webcam-pratovecchio_ant.webp'"
>
</webcam>
<webcam [luogo]="'REGGELLO (AR)'"
        [altitudine]="'400'"
        [urlSite]="'www.firenzemeteo.it'"
        [urlWebcam]="'https://www.firenzemeteo.it/webcam/appennino/toscana/img/webcam-reggello_ant.webp'"
>
</webcam>




