<h1>RadioSondaggi</h1>
<br>
<p class="title-micro-section">Radiosondaggi Europa, clicca su LIRE per report pratica di mare</p>
<iframe class="radar" src="http://weather.uwyo.edu/upperair/europe.html" alt="radiosondaggi italia"
        title="radar pecipitazioni ultime 24h" scrolling="no"></iframe>
<!--<br>
<br>
<p class="title-micro-section">Radiosondaggio Pratica di Mare</p>
<iframe class="radiosondaggio"  [src]=link alt="radar precipitazioni zoom"
        title="radar pecipitazioni ultime 24h"  scrolling="no"></iframe>-->

