<h1>RadioSondaggi</h1>
<br>
<p class="testo-articoli">
  I radiosondaggi sono osservazioni di alcune variabili o parametri meteorologici prelevati attraverso una
  strumentazione di misura agganciata ad un pallone sonda che viene rilasciato in atmosfera.
  <br>
  La strumentazione comunica con il centro meteo posto a terra tramite segnali radio ovvero una radiocomunicazione.<br>
  Questi assumono il nome di messaggi TEMP e sono costituiti per lo più da stringhe di numeri decifrabili manualmente o
  con l'utilizzo di un elaboratore.<br>
  Il pallone sonda è a perdere. Il radiosondaggio analizza principalmente il profilo verticale dell'atmosfera,
  cioè il cambiamento di alcuni valori quali la temperatura e la pressione al variare della quota, in libera
  atmosfera.<br>
  Il tempo di rilascio standard avviene alle cosiddette "ore sinottiche", in modo da poter confrontare i dati anche sul
  piano orizzontale,
  fra stazioni di rilascio diverse.</p>
<br>
<p class="title-micro-section">Radiosondaggi Europa, clicca su LIRE per ultimo report pratica di mare
  <!--<a href="http://weather.uwyo.edu/cgi-bin/sounding?region=europe&TYPE=TEXT%3ALIST&YEAR={{this.year}}&MONTH={{this.month}}&FROM={{this.day}}12&TO={{this.day}}12&STNM=16245" target="_blank" rel="noopener">
    <b>QUI</b>
  </a>--></p>
<iframe class="radiosondaggio-europa" src="http://weather.uwyo.edu/upperair/europe.html" alt="radiosondaggi europa"
        title="radiosondaggi europa" scrolling="no"></iframe>
<br>
<br>
<p class="title-micro-section">Grafico Radiosondaggio Pratica di Mare</p>
<img src='http://www.lamma.rete.toscana.it/models/mol02gfs/snd/last/snd_Roma_3.png' alt="radiosondaggio pratica di mare"
     title="radiosondaggio pratica di mare" scrolling="no">
<!--<p class="title-micro-section">Radiosondaggio Pratica di Mare</p>

  <img class="radiosondaggio"  [src]=link alt="radiosondaggio pratica di mare"
       title="radiosondaggio pratica di mare"  scrolling="no">
<iframe class="radiosondaggio"  src="http://weather.uwyo.edu/cgi-bin/sounding?region=europe&TYPE=TEXT%3ALIST&YEAR={{this.year}}&MONTH={{this.month}}&FROM={{this.day}}12&TO={{this.day}}12&STNM=16245" alt="radiosondaggio pratica di mare"
        title="radiosondaggio pratica di mare"  scrolling="no"></iframe>
&lt;!&ndash;<iframe class="radiosondaggio"  src="http://weather.uwyo.edu/cgi-bin/sounding?region=europe&TYPE=TEXT%3ALIST&YEAR=2021&MONTH=01&FROM=1212&TO=1212&STNM=16245" alt="radiosondaggio pratica di mare"
        title="radiosondaggio pratica di mare"  scrolling="no"></iframe>&ndash;&gt;-->


