<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div class="center" [hidden]="imageLoader">
  <figure>
    <div class="webcam-script-header">
      <span class="content-webcam-principal"><span class="hidden">WebCam </span>{{luogo}} |
        {{altitudine}} m.s.l.m. | </span> <a (click)="redirect()" target="_blank"
                                             rel="noopener"><span class="mouse-pointer">{{ urlSite }}</span> </a>

    </div>
    <a (click)="openModal(urlWebcam)" data-rel="prettyPhoto"><img
      [src]="urlWebcam" alt="webcam {{luogo}}" [hidden]="imageLoader"
      (load)="imageLoader = false;" (error)="errorHandler(timeout)" width="85%" height="100%" class="webcam"/></a>
  </figure>
</div>






