<mat-spinner [hidden]="!imageLoader" mode="indeterminate"></mat-spinner>
<br>
<div class="center" [hidden]="imageLoader">
  <figure>
    <div class="webcam-script-header">
							<span class="content-webcam-principal">{{luogo}}
								{{altitudine}} mt - </span> <span> {{urlSite}}</span>

    </div>
    <a (click)="openModal(urlWebcam)" data-rel="prettyPhoto"><img
      [src]="urlWebcam" class="webcam" [hidden]="imageLoader"
      (load)="imageLoader = false;" (error)="errorHandler()"/></a>
  </figure>
</div>






