<br>
<p class="title-micro-section">Provincia Rieti</p>
<!--<webcam [luogo]="'TERMINILLO (RI)'"
        [altitudine]="'1825'"
        [urlSite]="'meteoregionelazio.it'"
        [urlWebcam]="'https://wterm.netsons.org/foscam/FoscamCamera_00626EECBADA/snap/webcamlogo.php'"
>
</webcam>-->
<webcam [luogo]="'MONTE TERMINILLO (RI)'"
        [altitudine]="'1683'"
        [urlSite]="'www.meteoterminillo.it'"
        [urlWebcam]="'https://images-webcams.windy.com/23/1632557523/current/full/1632557523.jpg'"
>
</webcam>
<webcam [luogo]="'MONTE TERMINILLO - PIAZZALE PIAN DE VALLI (RI)'"
        [altitudine]="'1620'"
        [urlSite]="'www.neveitalia.it'"
        [urlWebcam]="'https://wterm.netsons.org/foscam/C1_00626E860FF7/snap/webcamlogo.php'"
>
</webcam>

<webcam [luogo]="'LEONESSA - LOCALITA FONTENOVA (RI)'"
        [altitudine]="'1456'"
        [urlSite]="'admin.meteobridge.com'"
        [urlWebcam]="'https://images-webcams.windy.com/79/1624377379/current/full/1624377379.jpg'"
>
</webcam>
<webcam [luogo]="'LEONESSA (RI)'"
        [altitudine]="'880'"
        [urlSite]="'www.meteo-lazio.it'"
        [urlWebcam]="'https://www.meteo-lazio.it/webcams/vallunga_leonessa/FI9902P_00626EA7BF64/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'FIAMIGNANO (RI)'"
        [altitudine]="'975'"
        [urlSite]="'www.prolocofiamignano.it'"
        [urlWebcam]="'https://images-webcams.windy.com/14/1467056214/current/full/1467056214.jpg'"
>
</webcam>
<webcam [luogo]="'NESCE (RI)'"
        [altitudine]="'840'"
        [urlSite]="'www.meteoregionelazio.it'"
        [urlWebcam]="'https://www.meteoregionelazio.it/webcams/nesce/FI9900P_00626E9318F2/snap/webcam.php'"
>
</webcam>
<webcam [luogo]="'POGGIO BUSTONE - PIANO DI RIETI (RI)'"
        [altitudine]="'750'"
        [urlSite]="'www.meteo-lazio.it'"
        [urlWebcam]="'https://images-webcams.windy.com/21/1591003621/current/full/1591003621.jpg'"
>
</webcam>

