<strong><h3>Provincia Rieti</h3></strong>


<figure>
  <figcaption>
    <strong>NESCE (RI) 850 mt  </strong>
    <span> www.kappu86.altervista.org/</span>


  </figcaption>
  <a href="http://www.kappu86.altervista.org/webcam.php" data-rel="prettyPhoto"  ><img src="http://www.kappu86.altervista.org/webcam.php" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>

<figure>
  <figcaption>
    <strong>TERMINILLO (RI) 1800 mT</strong>
    <span> www.lapiccolabaita.com</span>


  </figcaption>
  <a href="http://www.terminilloriders.com/images/webcam/webcam.jpg" data-rel="prettyPhoto"  ><img src="http://www.terminilloriders.com/images/webcam/webcam.jpg" class="webcam" style="padding:5px; border:2px solid #5DB4D9" /></a>
</figure>
