<br>
<mat-spinner *ngIf="imageLoader" mode="indeterminate"></mat-spinner>
<div class="scroll-view"></div>
<br>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero174" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero174/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Bora del Musso - Castelnovo ne' Monti" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero614" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero614/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Casale di Rivalta - RE - Reggio Emilia"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero521" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero521/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Ramiseto" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero245" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero245/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Via Braglia Pantano - Carpineti"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero608" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero608/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Rifugio Segheria - Villa Minozzo" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero512" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero512/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Febbio - Villa Minozzo "/></a></span>
    </td>
  </tr>
</table>
<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/tsc238" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc238/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Val di Luce - Abetone" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc109" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc109/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Campotizzoro - San Marcello Pistoiese"/></a></span>
    </td>

  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/tsc195" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc195/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Caserana - Quarrata" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/tsc200" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/tsc200/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Pistoia"/></a></span>
    </td>
  </tr>
</table>
<hr>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero536" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero536/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Lago Pratignano - Fanano" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero514" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero514/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Montese "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero480" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero480/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di sestola" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero519" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero519/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di serramazzoni"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero001" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero001/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Frassinoro " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero560" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero560/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Guiglia "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero232" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero232/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Enrico Cialdini - Modena " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero246" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero246/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Montefiorino  "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero130" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero130/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Prignano sulla Secchia " [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero068" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero068/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Novi di Modena  "/></a></span>
    </td>
  </tr>
</table>

<hr>

<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero506" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero506/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Montegroppo - Albareto" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero559" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero559/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Frassineto - Bardi"/></a></span>
    </td>

  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero552" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero552/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Casalporino - Bedonia" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero526" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero526/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Stazione meteo di Casaselvatica - Berceto"/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero558" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero558/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Valdena - Borgo Val di Taro" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero508" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero508/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Bosco di Corniglio - Corniglio "/></a></span>
    </td>
  </tr>
</table>
<table border="0">
  <tr>
    <td> <span> <a href="https://my.meteonetwork.it/station/ero202" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero202/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="155" alt="Stazione meteo di Belforte - Parma" [hidden]="imageLoader"
      (load)="imageLoader = false;"/></a>
</span></td>
    <td><span><a href="https://my.meteonetwork.it/station/ero153" target="_blank" rel="noopener"><img
      style="border:none;" [src]="'https://my.meteonetwork.it/station/ero153/sticker-oriz1?v=' + preventCache"
      class="meteonetwork-sticker" width="524" height="tsc238" alt="Bosco di Centro - Fidenza "/></a></span>
    </td>
  </tr>
</table>
<br>
<h2 class="red">{{ utilityService.messageStazioni }}</h2>
